<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ region }}</title>
</head>
<body>
<style type="text/css">table {border-collapse: collapse} td, th {border: 1px solid grey; padding: 5px; margin: 0px; text-align: center;} </style>
<h2>{{ region }}</h2>

<table><tr>
{% for site in sites %}
    <th>{{ site }}</th>
{% endfor %}
</tr>
</table>
{#{{ items }}#}
{% for key, value in items %}
    [ {{ key }} ]
    [ {{ items.key }} ]

{% endfor %}


<!--
    tables = '%s %s' % (tables, th)
    for item in new_items:
        td = '<tr><td>%s</td>' % item
        for site in sites[region]:
            try:
                price = '<a href="%s" target="_blank">%s</a>' % (new_items[item][region][site]['url'], new_items[item][region][site]['price'])
                td = '%s<td>%s</td>' % (td, price)
            except:
                # td = '%s<td>%s</td>' % (td, '--')
                try:
                    td = '%s<td>%s</td>' % (td, new_items[item][region][site]['price'])
                except:
                    td = '%s<td>%s</td>' % (td, '-')
        td = '%s</tr>' % td
        tables = '%s%s' % (tables, td)

    tables = '%s%s' % (tables, '</table>')

-->
</body>
</html>