<script type="text/javascript" src="/media/3dpr/swfobject.js"></script>

<style media="screen" type="text/css">

    body{
        margin: 0;
        padding: 0;
    }

</style>

<script type="text/javascript">

    var pbase = '/media/3dpr/';
    var path = pbase + 'Triton.swf';
    var models = pbase + 'Models/src/a3d/';

    // For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection.
    var swfVersionStr = "11.3.0";
    // To use express install, set to playerProductInstall.swf, otherwise the empty string.
    var xiSwfUrlStr = "playerProductInstall.swf";

    //<param name="flashVars" value="xml=http://www.3tn.ru/sites/default/files/3dsaves/1_1380014834.dat&regionId=28&regionName=Москва&userId=1&site=moscow3tn.ru&scriptHome=http://www.3tn.ru/3d"\/>\

    var flashvars = {
        {% if save_3d.save_data_filename %}
            xml: '{{ save_3d.save_data_filename.url }}',
        {% endif %}
        siteMode: true,
        modelsPath: '/media/3dpr/Models/src/a3d/',
        site: '{{ current_site.site.domain }}',
        regionName: '',
        siteBase: '{{ current_site.site.domain }}',
        userId: '{{ current_user.id }}',
        scriptHome: '/media/3dpr'

    };

    var params = {};

    params.quality = "high";
    params.wmode = "direct";
    params.bgcolor = "FFFFFF";
    params.allowscriptaccess = "always";
    params.allowfullscreen = "true";


    var attributes = {};
    attributes.id = "Triton";
    attributes.name = "triton";
    attributes.align = "middle";

    swfobject.embedSWF(
            path, "tride_flash",
            "100%", "97%",
            swfVersionStr, xiSwfUrlStr,
            flashvars, params, attributes);
    // JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.
</script>


<div id="tride_flash" style=""></div>
