<div class="flash_3d" ng-show="global.tride_show">
    <div class="close" ng-click="global.tride_show=0;"></div>
    {#        {% include 'tride/3d.html' %}#}
    <iframe src="/3d" frameborder="0" class="flash_3d_iframe"></iframe>
</div>