<h2>Здравствуйте, <strong>{{ data.name }}</strong>!</h2>

<h2>Заказ #{{ data.im_id }}:</h2>


Сумма к оплате:
{% if not data.order_sum_amount %}
    ({{ data.prepay }}) {{ data.prepay_sum }}
{% else %}
    {{ data.additional_sum }}
{% endif %}
руб.
<br><br>
Оплатите ваше заказ по ссылке <a href="http://{{ data.site }}/pay{{ data.hash }}">{{ data.site }}/pay{{ data.hash }}</a>

