<h2>Здравствуйте, <strong>{{ data.name }}</strong>!</h2>

<h2>Статус вашего заказ {{ data.im_id }} изменен на: {{ data.get_status_display }}</h2>

<h2>Информация о заказе:</h2>


{% for orderitem in data.order_items.all %}
    <p style="margin-bottom: 20px">
    <h4 style="margin-bottom: 0">{{ orderitem.product.title }}</h4>
    <div>{{ orderitem.product.price }} {{ data.current_site.currency }}</div>

    <strong>Опции:</strong>
    {% for option in orderitem.options.all %}
        <div>{{ option.option.name }} +{{ option.price }} {{ data.current_site.currency }}</div>
    {% endfor %}
{#    <h4>Всего:</h4>#}

    </p>
{% endfor %}

<h2>Общая цена заказа: {{ data.price }} {{ data.current_site.currency }}</h2>


<h2>Информация:</h2>

<h4>Адрес доставки</h4>
<p>
    {{ data.address }}
</p>

<h4>Контакты</h4>
<p>{{ data.phone }} <br/> {{ data.email }}</p>

{% if data.delivery %}
    <h4>Способ доставки</h4>
    <p>{{ data.delivery }}</p>
{% endif %}

{% if data.pay_type %}
    <h4>Форма оплаты</h4>
    <p>{{ data.pay_type }}</p>
{% endif %}

{% if data.comment %}
    <h4>Комментарий автора:</h4>
    <p>{{ data.comment }}</p>
{% endif %}
