<h2>Заказ <b>{{ data.im_id }}</b> от <b>{{ data.pub_date }}</b></h2>
На имя: <b>{{ data.name }}</b> <br/>

<hr>

{#{% for orderitem in data.order_items.all %}#}
{#    <p style="margin-bottom: 20px">#}
{#    <h4 style="margin-bottom: 0"><a#}
{#            href="http://{{ data.site.domain }}/{{ orderitem.product.dot_slug }}">{{ orderitem.product.title }}</a> {{ orderitem.product.price }} руб</h4>#}
{#    <br/><br/>#}
{##}
{#    {% if orderitem.options.all %}#}
{#        <strong>Опции:</strong>#}
{#        {% for option in orderitem.options.all %}#}
{#            <div>{{ option.option.name }} +{{ option.price }} руб</div>#}
{#        {% endfor %}#}
{#    {% endif %}#}
{##}
{#    </p>#}
{#{% endfor %}#}

<h2>
    <div class="your_price">Цена: <span class="value">{{ data.price }} руб</span></div>
</h2>
{#<div class="total_price">Без скидки: <span class="value">{{ data.cart_sum_end }} руб</span></div>#}
{#<div class="your_discount">Cкидка: <span class="value">{{ data.discount }}% = {{ data.discount_value }}#}
{#    руб</span></div>#}

<hr>

{% if data.prepay %}
    <h4>Предоплата</h4>
    <p>{{ data.prepay }} = {{ data.prepay_sum }} руб</p>
{% endif %}



{% if data.pay_type %}
    <h4>Форма оплаты</h4>
    <p>{{ data.pay_type }}</p>
{% endif %}
<hr>

<h2>Доставка:</h2>

{% if data.delivery %}
    <p>{{ data.delivery }} {{ data.delivery_sum }} руб</p>
{% endif %}

<h4>Адрес доставки</h4>
<p>
    {{ data.address }}
</p>

<h4>Контакты</h4>
<p>{{ data.name }} <br/> {{ data.phone }} <br/> {{ data.email }}</p>

<hr/>


{% if data.comment %}
    <h4>Комментарий автора:</h4>
    <p>{{ data.comment }}</p>
{% endif %}

<hr/>

<h2>Товар</h2>

{% for orderitem in data.order_items.all %}

    <table class="ui table" style="border: 1px solid black;">
        <tr>
            <td colspan="3">
                <div class="ui header">{{ orderitem.product }} </div>
            </td>
        </tr>
        {% for sku in orderitem.product.skus.all %}
            <tr>
                <td></td>
                <td>{{ sku.sku }} </td>
                <td class="right aligned">{{ sku.price }} </td>
            </tr>
        {% endfor %}

        <tr>
            <td colspan="3">
                <div class="ui header">Опции</div>
            </td>
        </tr>
        {% for option in orderitem.options.all %}
            <tr>

                <td>{{ option }} </td>
                <td>{{ option.sku_names }}</td>
                <td class="right aligned">{{ option.price }}</td>
            </tr>
        {% endfor %}
    </table>

{% endfor %}