<h2>Внимание!</h2>


<strong>{{ data.name }}</strong> сделал/ла заказ на сайте {{ data.site.name }}.<br/>
<a href="http://{{ data.site.domain }}/admin_tri_ua/products/order/{{ data.id }}/">admin/products/order/{{ data.id }}/</a>

<br/><br/>
Заказ расположен по ссылке <a href="http://{{ data.site.domain }}/order{{ data.hash }}">{{ data.site }}/order{{ data.hash }}</a>

<h2>Заказ IM-{{ data.id }}:</h2>


{% for orderitem in data.order_items.all %}
    <p style="margin-bottom: 20px">
    <h4 style="margin-bottom: 0">{{ orderitem.product.title }}</h4>
    <div>{{ orderitem.product.price }} {{ current_site.currency }}</div>

    <strong>Опции:</strong>
    {% for option in orderitem.options.all %}
        <div>{{ option.option.name }} +{{ option.price }} {{ current_site.currency }}</div>
    {% endfor %}
{#    <h4>Всего:</h4>#}

    </p>
{% endfor %}

<h2>Общая цена заказа: {{ data.price }} {{ current_site.currency }}</h2>


<h2>Информация:</h2>

<h4>Адрес доставки</h4>
<p>
    {{ data.address }}
</p>

<h4>Контакты</h4>
<p>{{ data.phone }} <br/> {{ data.email }}</p>

{% if data.delivery %}
    <h4>Способ доставки</h4>
    <p>{{ data.delivery }}</p>
{% endif %}

{% if data.pay_type %}
    <h4>Форма оплаты</h4>
    <p>{{ data.pay_type }}</p>
{% endif %}

{% if data.comment %}
    <h4>Комментарий автора:</h4>
    <p>{{ data.comment }}</p>
{% endif %}
