<h2>Внимание!</h2>

<strong>{{ form.name }}</strong> БЫСТРО заказал {{ product.title }}. <br/>
<a href="http://triton.webfactional.com/admin/products/order/{{ order.id }}/">admin/products/order/{{ order.id }}/</a>


<h4>Адрес доставки</h4>
<p>
    {{ form.address }}
</p>

<h4>Контакты</h4>
<p>{{ form.phone }} <br/> {{ form.email }}</p>

{% if form.delivery  %}
    <h4>Способ доставки</h4>
    <p>{{ form.delivery }}</p>
{% endif %}

{% if form.pay_type %}
    <h4>Форма оплаты</h4>
    <p>{{ form.pay_type }}</p>
{% endif %}

{% if form.comment %}
    <h4>Комментарий автора:</h4>
    <p>{{ form.comment }}</p>
{% endif %}
