/* line 4, ../sass/old_product.scss */
.product-node #header {
  background-color: white;
}
/* line 15, ../sass/old_product.scss */
.product-node #top-content {
  position: relative;
  left: 20px;
  height: 200px;
}
/* line 22, ../sass/old_product.scss */
.product-node #content {
  position: relative;
  height: 600px;
  margin-top: -80px;
  overflow: hidden;
  transition-property: all;
  transition-duration: 0.5s;
}
/* line 31, ../sass/old_product.scss */
.product-node .likes {
  position: absolute;
  left: 10px;
  bottom: 0px;
  background-color: #cfcfcf;
  padding: 0px;
  text-align: left;
  white-space: nowrap;
  width: auto;
  height: 40px;
  min-width: 200px;
  transition-property: all;
  transition-duration: 0.5s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 45, ../sass/old_product.scss */
.product-node .likes.show {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 49, ../sass/old_product.scss */
.product-node .price {
  z-index: 99;
  position: absolute;
  right: 0;
  top: 20px;
  width: 290px;
}
/* line 56, ../sass/old_product.scss */
.product-node #sidebar {
  position: absolute;
  padding-left: 10px;
}
/* line 69, ../sass/old_product.scss */
.product-node .product_parts_wrap {
  width: 1120px;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0px;
  overflow: hidden;
}
/* line 77, ../sass/old_product.scss */
.product-node .product_parts_wrap .scroll {
  width: 100%;
  height: 100%;
  display: inline-block;
  overflow: auto;
}
/* line 83, ../sass/old_product.scss */
.product-node .product_parts_wrap .top_grad {
  display: inline-block;
  width: 1120px;
  height: 100px;
  background: url(../images/bgs/top_grad.png) repeat-x 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 19;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 96, ../sass/old_product.scss */
.product-node .product_part {
  z-index: 0;
  padding: 0 20px;
  height: auto;
}
/* line 101, ../sass/old_product.scss */
.product-node .product_part .block_title {
  margin-bottom: 10px;
}
/* line 104, ../sass/old_product.scss */
.product-node .product_part.product_part-photo {
  padding: 0;
}
/* line 108, ../sass/old_product.scss */
.product-node .product_part.product_part-video {
  margin-left: -20px;
  margin-bottom: -30px;
  height: 600px;
}
/* line 117, ../sass/old_product.scss */
.product-node .product_part.product_part-body {
  padding-top: 120px;
  padding-bottom: 80px;
  font-size: 1.2em;
}
/* line 130, ../sass/old_product.scss */
.product-node .product_part.product_part-chars img {
  margin-bottom: -60px;
}
/* line 134, ../sass/old_product.scss */
.product-node .product_part.product_part-same_category_products {
  padding-top: 100px;
}
/* line 137, ../sass/old_product.scss */
.product-node .product_part.product_part-same_size_products {
  padding-top: 100px;
}
/* line 140, ../sass/old_product.scss */
.product-node .product_part.product_part-comments {
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 10px;
}
/* line 144, ../sass/old_product.scss */
.product-node .product_part.product_part-comments .comments {
  z-index: 15;
  position: relative;
}
/* line 148, ../sass/old_product.scss */
.product-node .product_part.product_part-comments form {
  z-index: 15;
  position: relative;
}
/* line 151, ../sass/old_product.scss */
.product-node .product_part.product_part-comments form textarea {
  height: 30px;
}
/* line 156, ../sass/old_product.scss */
.product-node .product_part.product_part-history {
  padding-top: 100px;
}
/* line 162, ../sass/old_product.scss */
.product-node .field_chars_img {
  height: 600px;
}
/* line 166, ../sass/old_product.scss */
.product-node .big_block {
  position: absolute;
  top: 0;
  left: 0;
  width: 1120px;
  height: 600px;
  background-color: white;
}
/* line 173, ../sass/old_product.scss */
.product-node .big_block.relative {
  position: relative;
}
/* line 178, ../sass/old_product.scss */
.product-node .field_price {
  position: relative;
  font-size: 3em;
  font-family: Georgia, 'Times New Roman', Times;
}
/* line 183, ../sass/old_product.scss */
.product-node .field_price .currency {
  font-size: .5em;
}
/* line 186, ../sass/old_product.scss */
.product-node .field_price .price_sum {
  font-size: .3em;
}
/* line 192, ../sass/old_product.scss */
.product-node #page-title,
.product-node .page-title {
  margin-bottom: 10px;
}
/* line 199, ../sass/old_product.scss */
.product-node .product_thumbs {
  margin: 0;
  overflow: hidden;
  position: absolute;
  z-index: 25;
  width: 290px;
  height: 160px;
  right: 0;
  top: 120px;
  overflow: hidden;
  transition-property: all;
  transition-duration: 0.5s;
}
/* line 214, ../sass/old_product.scss */
.product-node #content[video_status~="vjs-playing"] .product_thumbs,
.product-node #content.vjs-playing .product_thumbs {
  right: -300px;
}
/* line 217, ../sass/old_product.scss */
.product-node #content[video_status~="vjs-playing"] .product_chars,
.product-node #content.vjs-playing .product_chars {
  left: 1130px;
}
/* line 221, ../sass/old_product.scss */
.product-node .field_main_img {
  position: relative;
}
/* line 226, ../sass/old_product.scss */
.product-node .field_main_img img {
  max-height: 600px;
  width: auto;
}
/* line 233, ../sass/old_product.scss */
.product-node .product_desc {
  padding-right: 300px;
}
/* line 243, ../sass/old_product.scss */
.product-node .product_chars {
  position: relative;
  left: 830px;
  top: 340px;
  z-index: 20;
  background-color: white;
  padding: 10px;
  width: 235px;
  border: 1px solid #2aa4e9;
  transition-property: all;
  transition-duration: 0.5s;
}
/* line 254, ../sass/old_product.scss */
.product-node .product_chars div {
  margin-right: 20px;
}
/* line 258, ../sass/old_product.scss */
.product-node .product_chars .field_value {
  font-weight: bold;
}
/* line 262, ../sass/old_product.scss */
.product-node .field_thumb {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 10px;
  margin-bottom: 5px;
  border: 1px solid;
  border-color: white;
  border-color: #b5dff7;
  transition-property: border-color;
  transition-duration: 0.5s;
  cursor: pointer;
}
/* line 276, ../sass/old_product.scss */
.product-node .field_thumb:hover {
  border-color: #2aa4e9;
}
/* line 279, ../sass/old_product.scss */
.product-node .field_thumb .play_thumb {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 100%;
  height: 100%;
  background: url(../images/icons/play.png) no-repeat center center;
}
/* line 290, ../sass/old_product.scss */
.product-node .product_video {
  height: 100px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  border-bottom: 1px solid;
}
/* line 296, ../sass/old_product.scss */
.product-node .block.product_list {
  border-bottom: none;
}

/* line 301, ../sass/old_product.scss */
.product-node .product_thumbs[tab='photo'] {
  height: 360px;
}

/* line 305, ../sass/old_product.scss */
.product_3d {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  position: absolute;
  top: 100px;
  left: 20px;
  z-index: 26;
}

/* line 315, ../sass/old_product.scss */
.cart_sidebar_block .total_price,
.price_block .total_price {
  font-size: 1em;
}
/* line 317, ../sass/old_product.scss */
.cart_sidebar_block .total_price .value,
.price_block .total_price .value {
  text-decoration: line-through;
}
/* line 321, ../sass/old_product.scss */
.cart_sidebar_block .discounts_block,
.price_block .discounts_block {
  position: absolute;
  right: 300px;
  width: 300px;
  top: 10px;
  text-align: right;
}
/* line 330, ../sass/old_product.scss */
.cart_sidebar_block .your_price,
.price_block .your_price {
  font-size: 4rem;
  color: #2aa4e9;
  clear: left;
}
/* line 336, ../sass/old_product.scss */
.cart_sidebar_block .agree_make_review,
.cart_sidebar_block .take_discount,
.price_block .agree_make_review,
.price_block .take_discount {
  margin-bottom: 20px;
}
/* line 340, ../sass/old_product.scss */
.cart_sidebar_block .buttons_wrap,
.price_block .buttons_wrap {
  position: absolute;
  height: 30px;
  margin-bottom: 0;
  right: 0;
  display: inline-block;
  top: 17px;
  text-align: right;
}
/* line 349, ../sass/old_product.scss */
.cart_sidebar_block .buttons_wrap .buttons,
.price_block .buttons_wrap .buttons {
  margin-right: 0;
}

/* line 356, ../sass/old_product.scss */
.price_block .agree_make_review {
  font-size: .7em;
}

/* line 374, ../sass/old_product.scss */
.block_options {
  left: 420px;
  z-index: 15;
  position: relative;
  top: 100px;
  -moz-columns: 200px 2;
  -webkit-columns: 200px 2;
  columns: 200px 2;
  width: 680px;
}
/* line 381, ../sass/old_product.scss */
.block_options .group {
  margin-left: 10px;
}
/* line 384, ../sass/old_product.scss */
.block_options .product_option {
  font-size: 1em;
  margin-bottom: 3px;
  position: relative;
}
/* line 388, ../sass/old_product.scss */
.block_options .product_option input {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
/* line 394, ../sass/old_product.scss */
.block_options .product_option .option_desc {
  width: 250px;
  padding: 10px;
  overflow: hidden;
  z-index: 100;
  transition-property: all;
  transition-duration: 0.5s;
  position: absolute;
  background: none repeat scroll 0% 0% white;
  top: 0px;
  left: 0px;
  border: 1px solid;
}
/* line 411, ../sass/old_product.scss */
.block_options .product_option:hover .option_desc {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 415, ../sass/old_product.scss */
.block_options .product_option .group_name {
  font-weight: bold;
  margin-bottom: 3px;
}
/* line 419, ../sass/old_product.scss */
.block_options .product_option .option_name {
  width: 200px;
  cursor: pointer;
}
/* line 425, ../sass/old_product.scss */
.block_options .product_option .option_value {
  cursor: pointer;
  overflow: hidden;
  padding-left: 10px;
  margin-left: -10px;
}
/* line 432, ../sass/old_product.scss */
.block_options .product_option .option_value:hover {
  color: #2aa4e9;
}
/* line 435, ../sass/old_product.scss */
.block_options .product_option .option_value.active_true {
  color: #2aa4e9;
  background: url(../images/icons/select_icons/active_small.png) no-repeat left center;
}
/* line 440, ../sass/old_product.scss */
.block_options .product_option .option_value.load_true {
  background: url(../images/misc/small_loader.gif) no-repeat left center;
}
/* line 443, ../sass/old_product.scss */
.block_options .product_option .option_value.available_false {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: default;
  display: block;
}
/* line 447, ../sass/old_product.scss */
.block_options .product_option .option_value.available_false:hover {
  color: black;
}
/* line 449, ../sass/old_product.scss */
.block_options .product_option .option_value.available_false:hover .div {
  color: black !important;
}
/* line 455, ../sass/old_product.scss */
.block_options .product_option .option_price {
  text-align: right;
  cursor: pointer;
  font-weight: bold;
  float: right;
}
/* line 461, ../sass/old_product.scss */
.block_options .product_option .option_price:hover {
  color: #58b8ee;
}
/* line 465, ../sass/old_product.scss */
.block_options .product_option.active_true {
  font-weight: bold;
}
/* line 470, ../sass/old_product.scss */
.block_options .product_option.active_true .option_value, .block_options .product_option.active_true .option_price {
  font-weight: bold;
  color: #2aa4e9;
}

/* line 479, ../sass/old_product.scss */
.product_menu {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 100;
  width: 100%;
  float: right;
  margin-right: 0;
  background: #cfcfcf;
}
/* line 487, ../sass/old_product.scss */
.product_menu ul.menu {
  padding: 0 0px;
  width: 100%;
  float: right;
  margin-right: 0;
  margin: 0;
  left: 0px;
  position: relative;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 496, ../sass/old_product.scss */
.product_menu ul.menu li.menu_item {
  margin: 0;
  float: left;
  list-style-type: none;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  transition-property: all;
  transition-duration: 0.5s;
}
/* line 504, ../sass/old_product.scss */
.product_menu ul.menu li.menu_item a {
  padding: 3px;
  border-left: 1px solid white;
  line-height: 50px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 1.1em;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 100%;
  height: 100%;
}
/* line 518, ../sass/old_product.scss */
.product_menu ul.menu li.menu_item a:hover {
  color: #595959;
}
/* line 523, ../sass/old_product.scss */
.product_menu ul.menu li.menu_item:first-child a {
  border-left: none;
}
/* line 526, ../sass/old_product.scss */
.product_menu ul.menu li.menu_item.active {
  background-color: #86cbf3;
}

/* line 534, ../sass/old_product.scss */
.block_option_desc .video-js {
  margin-top: -80px;
  z-index: 1 !important;
}

/* line 539, ../sass/old_product.scss */
#product_video,
.block_option_desc .video-js {
  z-index: 15;
}
/* line 542, ../sass/old_product.scss */
#product_video div, #product_video div:before,
.block_option_desc .video-js div,
.block_option_desc .video-js div:before {
  text-shadow: none !important;
  color: #f07222;
}
/* line 555, ../sass/old_product.scss */
#product_video div.vjs-big-play-button,
.block_option_desc .video-js div.vjs-big-play-button {
  background-color: #f07222 !important;
  border-radius: 0;
  border: none;
  width: 25px;
  height: 25px;
  line-height: 25px;
  top: 505px;
  left: 15px;
  margin: 0;
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
}
/* line 569, ../sass/old_product.scss */
#product_video div.vjs-big-play-button:before,
.block_option_desc .video-js div.vjs-big-play-button:before {
  color: white;
  font-size: 0.5em;
  line-height: 25px;
  text-shadow: none !important;
  left: 2px;
}
/* line 576, ../sass/old_product.scss */
#product_video div.vjs-big-play-button:hover,
.block_option_desc .video-js div.vjs-big-play-button:hover {
  background-color: #fdece1;
}
/* line 579, ../sass/old_product.scss */
#product_video div.vjs-big-play-button:focus,
.block_option_desc .video-js div.vjs-big-play-button:focus {
  border: none;
  background-color: #fdece1;
}
/* line 584, ../sass/old_product.scss */
#product_video .vjs-control-bar,
.block_option_desc .video-js .vjs-control-bar {
  position: absolute;
  top: 504px;
  padding-bottom: 10px;
  background-color: transparent;
  display: block;
}
/* line 605, ../sass/old_product.scss */
#product_video .vjs-control-bar .vjs-progress-control,
.block_option_desc .video-js .vjs-control-bar .vjs-progress-control {
  top: 31px;
}
/* line 612, ../sass/old_product.scss */
#product_video .vjs-control-bar .vjs-volume-control .vjs-volume-bar,
.block_option_desc .video-js .vjs-control-bar .vjs-volume-control .vjs-volume-bar {
  height: 0.5em;
}
/* line 627, ../sass/old_product.scss */
#product_video.vjs-fullscreen .vjs-control-bar,
.block_option_desc .video-js.vjs-fullscreen .vjs-control-bar {
  top: 100%;
  margin-top: -100px;
}

/* line 634, ../sass/old_product.scss */
#node_video {
  z-index: 15;
}
/* line 636, ../sass/old_product.scss */
#node_video div, #node_video div:before {
  text-shadow: none !important;
  color: #f07222;
}
/* line 649, ../sass/old_product.scss */
#node_video div.vjs-big-play-button {
  background-color: #f07222 !important;
  border-radius: 0;
  border: none;
  width: 25px;
  height: 25px;
  line-height: 25px;
  bottom: 505px;
  left: 15px;
  margin: 0;
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
}
/* line 663, ../sass/old_product.scss */
#node_video div.vjs-big-play-button:before {
  color: white;
  font-size: 0.5em;
  line-height: 25px;
  text-shadow: none !important;
  left: 2px;
}
/* line 670, ../sass/old_product.scss */
#node_video div.vjs-big-play-button:hover {
  background-color: #fdece1;
}
/* line 673, ../sass/old_product.scss */
#node_video div.vjs-big-play-button:focus {
  border: none;
  background-color: #fdece1;
}
/* line 678, ../sass/old_product.scss */
#node_video .vjs-control-bar {
  position: absolute;
  padding-bottom: 10px;
  background-color: transparent;
  display: block;
}
/* line 699, ../sass/old_product.scss */
#node_video .vjs-control-bar .vjs-progress-control {
  top: 31px;
}
/* line 706, ../sass/old_product.scss */
#node_video .vjs-control-bar .vjs-volume-control .vjs-volume-bar {
  height: 0.5em;
}
/* line 721, ../sass/old_product.scss */
#node_video.vjs-fullscreen .vjs-control-bar {
  top: 100%;
  margin-top: -100px;
}

/* line 730, ../sass/old_product.scss */
.product_parts_wrap .mCSB_scrollTools {
  height: 520px;
}

/* line 736, ../sass/old_product.scss */
.product_edit {
  display: inline-block;
  text-align: right;
  width: 100%;
  margin-top: 1rem;
}

/* line 745, ../sass/old_product.scss */
.product-node h1#page-title, .product-node h2#page-second-title {
  display: none;
}
/* line 748, ../sass/old_product.scss */
.product-node .page-title {
  padding-right: 250px;
}
/* line 751, ../sass/old_product.scss */
.product-node .to_cart_button {
  background-color: #f07222 !important;
}

/* line 757, ../sass/old_product.scss */
.visor {
  position: relative;
  top: 10px;
  margin-bottom: -20px;
}
