/* line 7, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities-legacy.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities-legacy.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities-legacy.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities-legacy.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities-legacy.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities-legacy.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities-legacy.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities-legacy.scss */
a img {
  border: none;
}

/* line 35, ../sass/print.scss */
body.bp {
  overflow-x: hidden;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 80%;
}
/* line 41, ../sass/print.scss */
body.bp.front {
  margin-top: -20px;
}
/* line 44, ../sass/print.scss */
body.bp #container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  position: relative;
}
/* line 12, ../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
body.bp #container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 54, ../sass/print.scss */
#header {
  height: 50px;
}

/* line 58, ../sass/print.scss */
body.bp ol {
  list-style: decimal;
}

/* line 62, ../sass/print.scss */
body.bp .logo {
  height: 45px;
  width: 300px;
  margin-bottom: 5em;
  display: inline-block;
  top: 2em;
  position: relative;
}

/* line 71, ../sass/print.scss */
body.bp .h3 {
  font-size: 1.5em;
  font-family: Georgia, 'Times New Roman', Times;
  margin-bottom: 1em;
}

/* line 77, ../sass/print.scss */
body.bp .block {
  margin: 2em 0;
}

/* line 81, ../sass/print.scss */
body.bp p {
  margin: 0 0 1em 0;
}

/* line 85, ../sass/print.scss */
#page-title,
.page-title {
  font-size: 2em;
  margin: 10px 0 10px 0;
  font-family: Georgia, 'Times New Roman', Times;
  position: relative;
  z-index: 1;
  line-height: 1em;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
/* line 94, ../sass/print.scss */
#page-title .search_query,
.page-title .search_query {
  font-weight: normal;
}
/* line 97, ../sass/print.scss */
#page-title .small,
.page-title .small {
  font-size: .3em;
}

/* line 102, ../sass/print.scss */
.to_top,
.accounts_block,
.main_menu,
#page-title a.small,
.overdue_projects,
.filter,
.orders,
.project_buttons,
.show_more,
footer,
.admin_panel,
.breadcrumbs,
.print,
.site-slogan,
#header,
project.views_row .requirements {
  display: none;
}

/* line 122, ../sass/print.scss */
.constructors-part .main_phone {
  display: none;
}

/* line 127, ../sass/print.scss */
.site-title {
  text-indent: -10000px;
  height: 50px;
}

/* line 132, ../sass/print.scss */
project.views_row {
  padding-bottom: 1em;
  border-bottom: 1px solid;
  width: 100%;
  display: inline-block;
  margin-bottom: 1em;
}
/* line 138, ../sass/print.scss */
project.views_row a.title {
  color: black;
  text-decoration: none;
  font-size: 1.4em;
  clear: both;
  display: inline-block;
  width: 100%;
  float: right;
  margin-right: 0;
}
/* line 146, ../sass/print.scss */
project.views_row .project_more,
project.views_row .teaser {
  display: inline-block !important;
  margin: 0 0;
}
/* line 150, ../sass/print.scss */
project.views_row .project_more .requirement,
project.views_row .teaser .requirement {
  display: list-item;
}
/* line 152, ../sass/print.scss */
project.views_row .project_more .requirement .title,
project.views_row .teaser .requirement .title {
  font-size: 1em;
}

/* line 159, ../sass/print.scss */
div.status.futured,
.project_content .dates {
  float: left;
  margin-right: 10px;
}
