.product-node #header {
  background-color: white;
}
.product-node #top-content {
  position: relative;
  left: 0px;
  height: 200px;
}
@media only screen and (max-width: 991px) {
  .product-node #top-content {
    height: 160px;
  }
}
.product-node #content {
  position: relative;
  margin-top: -80px;
  transition-property: all;
  transition-duration: 0.5s;
}
@media only screen and (max-width: 991px) {
  .product-node #content {
    margin-top: 150px;
  }
}
.product-node .likes {
  position: absolute;
  left: 10px;
  bottom: 0px;
  background-color: #cfcfcf;
  padding: 0px;
  text-align: left;
  white-space: nowrap;
  width: auto;
  height: 40px;
  min-width: 200px;
  transition-property: all;
  transition-duration: 0.5s;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.product-node .likes.show {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.product-node .price {
  z-index: 20;
  position: absolute;
  right: 0;
  top: 20px;
  width: 290px;
}
@media only screen and (max-width: 991px) {
  .product-node .price {
    position: relative;
    top: 0;
    width: auto;
  }
}
.product-node #sidebar {
  position: absolute;
  padding-left: 10px;
}
.product-node .product_parts_wrap {
  width: 1120px;
  top: 0;
  left: 0;
  margin-top: 10px;
}
.product-node .product_parts_wrap .top_grad {
  display: inline-block;
  width: 1120px;
  height: 100px;
  background: url(../images/bgs/top_grad.png) repeat-x 0 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 19;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
.product-node .product_part.product_part-slideshow {
  height: 650px;
}
@media only screen and (max-width: 991px) {
  .product-node .product_part.product_part-slideshow {
    height: auto;
  }
  .product-node .product_part.product_part-slideshow #product_video {
    width: 200vw !important;
    position: absolute;
    left: 50%;
    margin-left: -100vw;
    height: auto !important;
    min-height: 250px;
    max-height: initial;
    max-width: initial;
  }
}
.product-node .product_part {
  z-index: 0;
  padding: 0 20px;
  height: auto;
}
.product-node .product_part .block_title {
  margin-bottom: 10px;
}
.product-node .product_part.product_part-photo {
  padding: 0;
}
.product-node .product_part.product_part-video {
  margin-left: -20px;
  margin-bottom: -30px;
  height: 600px;
}
.product-node .product_part.product_part-action_products .block_title {
  font-family: Georgia, 'Times New Roman', Times;
  color: #e90a47 !important;
  font-size: 3rem !important;
}
@media only screen and (max-width: 991px) {
  .product-node .product_part.product_part-options .options_top .title_part {
    width: 100% !important;
  }
}
@media only screen and (max-width: 991px) {
  .product-node .product_part.product_part-options .options_top .complectations {
    width: 100% !important;
    text-align: center;
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 991px) and (max-width: 991px) {
  .product-node .product_part.product_part-options .options_top .complectations .ui.compact.menu {
    width: 100%;
  }
}

.product-node .product_part.product_part-solutions {
  padding: 2rem 0rem;
}
.product-node .product_part.product_part-solutions .block {
  display: inline-block;
  width: 100%;
}
@media only screen and (max-width: 991px) {
  .product-node .product_part.product_part-solutions {
    padding: 1rem;
  }
}
@media only screen and (max-width: 991px) {
  .product-node .product_part.product_part-body {
    padding: 1rem;
  }
}
.product-node .product_part.product_part-chars img {
  margin-bottom: -60px;
}
.product-node .product_part.product_part-same_category_products {
  padding-top: 1rem;
}
.product-node .product_part.product_part-same_size_products {
  padding-top: 1rem;
}
.product-node .product_part.product_part-comments {
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 10px;
}
@media only screen and (max-width: 991px) {
  .product-node .product_part.product_part-comments .register_or_enter {
    text-align: center;
  }
}
.product-node .product_part.product_part-comments .comments {
  z-index: 15;
  position: relative;
}
.product-node .product_part.product_part-comments form {
  z-index: 15;
  position: relative;
}
.product-node .product_part.product_part-comments form textarea {
  height: 30px;
}
.product-node .product_part.product_part-history {
  padding-top: 100px;
}
@media only screen and (max-width: 991px) {
  .product-node .product_part.product_part-history {
    padding: 1rem;
  }
}
.product-node .field_chars_img {
  height: 600px;
}
.product-node .big_block {
  position: absolute;
  top: 0;
  left: 0;
  width: 1120px;
  height: 600px;
  background-color: white;
}
.product-node .big_block.relative {
  position: relative;
}
.product-node .field_price {
  position: relative;
  font-size: 3em;
  font-family: Georgia, 'Times New Roman', Times;
}
@media only screen and (max-width: 991px) {
  .product-node .field_price {
    position: relative;
    padding: 0 1rem;
  }
}
.product-node .field_price .currency {
  font-size: .5em;
}
.product-node .field_price .price_sum {
  font-size: .3em;
}
.product-node #page-title,
.product-node .page-title {
  margin-bottom: 10px;
}
.product-node .product_slide {
  display: inline-block;
  width: 100%;
  text-align: center;
}
@media only screen and (max-width: 991px) {
  .product-node .product_slide {
    height: 250px;
  }
}
.product-node .product_slide.index_0 {
  position: relative;
}
.product-node .product_slide.index_0 img {
  width: 100vw;
  position: absolute;
  left: 50%;
  margin-left: -50vw;
  height: auto;
}
@media only screen and (max-width: 991px) {
  .product-node .product_slide.index_0 img {
    width: 200vw;
    position: absolute;
    left: 50%;
    margin-left: -100vw;
    height: auto;
    min-height: 250px;
    max-height: initial;
    max-width: initial;
  }
}
.product-node .product_slide.index_0 .grad {
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
}
.product-node .product_slide .reel {
  position: absolute;
  left: 50%;
  margin-left: -400px;
}
@media only screen and (max-width: 991px) {
  .product-node .product_slide .reel {
    left: auto;
    margin-left: 0;
    width: 100% !important;
    height: 250px !important;
  }
  .product-node .product_slide .reel img {
    width: 100%;
    height: auto;
    left: 0;
    margin-left: 0;
  }
}
@media only screen and (max-width: 991px) {
  .product-node .product_slide img {
    width: auto;
    max-height: 250px;
    max-width: 100%;
  }
}
.product-node .product_thumbs {
  margin: 0;
  overflow: hidden;
  z-index: 20;
  text-align: center;
  width: 100%;
  bottom: 0px;
  overflow: hidden;
  transition-property: all;
  transition-duration: 0.5s;
}
.product-node #content[video_status~="vjs-playing"] .product_thumbs,
.product-node #content[video_status~="vjs-playing"] .product_chars,
.product-node #content.vjs-playing .product_thumbs,
.product-node #content.vjs-playing .product_chars {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
.product-node .field_main_img {
  position: relative;
}
.product-node .field_main_img img {
  max-height: 600px;
  width: auto;
}
.product-node .product_desc {
  padding-right: 300px;
}
@media only screen and (max-width: 991px) {
  .product-node .product_download_models {
    display: none;
  }
}
.product-node .product_chars {
  z-index: 20;
  font-size: 1.2rem;
  padding: 10px;
  transition-property: all;
  transition-duration: 0.5s;
}
@media only screen and (max-width: 991px) {
  .product-node .product_chars {
    font-size: .8rem;
    padding: 0;
    margin: 0;
  }
  .product-node .product_chars .field_label {
    display: block;
  }
}
.product-node .product_chars .field_value {
  font-weight: bold;
}
.product-node .field_thumb {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  margin-right: 10px;
  margin-bottom: 5px;
  border: 1px solid;
  border-color: white;
  border-color: #b5dff7;
  transition-property: border-color;
  transition-duration: 0.5s;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .product-node .field_thumb img {
    width: 20vw;
  }
}
.product-node .field_thumb:hover {
  border-color: #2aa4e9;
}
.product-node .field_thumb .play_thumb {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 100%;
  height: 100%;
  background: url(../images/icons/play.png) no-repeat center center;
}
.product-node .product_video {
  height: 100px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  border-bottom: 1px solid;
}
.product-node .block.product_list {
  border-bottom: none;
}

.ui.grid.short_advantages {
  color: #2aa4e9;
  margin: 0 !important;
  font-size: .8rem;
}
@media only screen and (max-width: 991px) {
  .ui.grid.short_advantages {
    display: none;
  }
}
.ui.grid.short_advantages i {
  float: left;
}
.ui.grid.short_advantages .column {
  padding: 0 !important;
}

.ui.segment.product_part-top {
  margin-top: -13px;
}
@media only screen and (max-width: 991px) {
  .ui.segment.product_part-top {
    margin-top: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 100%);
    z-index: 800;
    padding-top: 2rem;
  }
}

@media only screen and (min-width: 991px) {
  .bottom_scroll.product-node .price_block {
    position: fixed;
    top: 30px;
    padding: 0px 0px 20px 20px;
    z-index: 989;
    width: 330px;
    right: 10px;
  }
}

.product-node .product_thumbs[tab='photo'] {
  height: 360px;
}

.product_3d {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}

@media only screen and (max-width: 991px) {
  .clear_all_options {
    display: block;
    font-size: 1rem;
    color: #e90a47 !important;
  }
}

@media only screen and (max-width: 991px) {
  body.cart
  .cart_sidebar_block {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
}

@media only screen and (max-width: 991px) {
  .cart_sidebar_block,
  .price_block {
    width: 100%;
  }
}
.cart_sidebar_block .price_bg,
.price_block .price_bg {
  position: absolute;
  left: -50px;
  top: 0px;
}
@media only screen and (max-width: 991px) {
  .cart_sidebar_block .price_bg,
  .price_block .price_bg {
    display: none;
  }
}
.cart_sidebar_block .total_price,
.price_block .total_price {
  font-size: 1em;
}
.cart_sidebar_block .total_price .value,
.price_block .total_price .value {
  text-decoration: line-through;
}
.cart_sidebar_block .discounts_block,
.price_block .discounts_block {
  width: 300px;
  top: 10px;
  font-size: 1rem;
}
@media only screen and (max-width: 991px) {
  .cart_sidebar_block .discounts_block,
  .price_block .discounts_block {
    font-size: 1.75rem;
    top: 0;
    width: auto;
    overflow: hidden;
    top: 30px;
    position: relative;
    display: none;
  }
}
.cart_sidebar_block .your_price,
.price_block .your_price {
  font-size: 4rem;
  color: #2aa4e9;
  clear: left;
}
.cart_sidebar_block .agree_make_review,
.price_block .agree_make_review {
  margin-bottom: 20px;
  margin-top: 1rem;
}
@media only screen and (max-width: 991px) {
  .cart_sidebar_block .agree_make_review,
  .price_block .agree_make_review {
    display: none;
  }
}
.cart_sidebar_block .take_discount,
.price_block .take_discount {
  top: 72px;
  right: 0;
  position: absolute;
  font-size: .8rem;
}
@media only screen and (max-width: 991px) {
  .cart_sidebar_block .take_discount,
  .price_block .take_discount {
    display: none;
  }
}
.cart_sidebar_block .buttons_wrap,
.price_block .buttons_wrap {
  position: absolute;
  height: 30px;
  margin-bottom: 0;
  right: 0;
  display: inline-block;
  top: 17px;
  text-align: right;
}
@media only screen and (max-width: 991px) {
  .cart_sidebar_block .buttons_wrap,
  .price_block .buttons_wrap {
    right: 2rem;
  }
}
.cart_sidebar_block .buttons_wrap .buttons,
.price_block .buttons_wrap .buttons {
  margin-right: 0;
}

.price_block .agree_make_review {
  font-size: .7em;
}

.block_options {
  z-index: 15;
  -moz-columns: 200px 2;
  -webkit-columns: 200px 2;
  columns: 200px 2;
}
@media only screen and (max-width: 991px) {
  .block_options {
    -moz-columns: 3;
    -webkit-columns: 3;
    columns: 3;
  }
}
.block_options .group {
  margin-left: 10px;
}
@media only screen and (max-width: 991px) {
  .block_options .group {
    margin-left: 0px;
  }
}
.block_options .product_option {
  font-size: 1rem;
  margin-bottom: 3px;
  position: relative;
}
@media only screen and (max-width: 991px) {
  .block_options .product_option {
    font-size: .8rem;
    position: relative;
    width: 28vw;
    height: 28vw;
    padding: 1rem;
    text-align: center;
    border: 5px solid #2aa4e9;
    margin-bottom: 1rem;
    display: inline-block;
  }
}
.block_options .product_option input {
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
.block_options .product_option .option_desc {
  width: 250px;
  padding: 10px;
  overflow: hidden;
  z-index: 100;
  transition-property: all;
  transition-duration: 0.5s;
  position: absolute;
  background: none repeat scroll 0% 0% white;
  top: 0px;
  left: 0px;
  border: 1px solid;
}
.block_options .product_option:hover .option_desc {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.block_options .product_option .group_name {
  font-weight: bold;
  margin-bottom: 3px;
}
.block_options .product_option .option_name {
  width: 200px;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .block_options .product_option .show_help {
    border: none;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    z-index: 20;
    width: 100%;
    height: 100%;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }
}
.block_options .product_option .option_value {
  cursor: pointer;
  overflow: hidden;
  padding-left: 10px;
  margin-left: -10px;
}
@media only screen and (max-width: 991px) {
  .block_options .product_option .option_value {
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    left: -5px;
    top: -5px;
    width: 28vw;
    height: 28vw;
    margin: 0;
    padding: 1rem;
    line-height: 1rem;
  }
}
.block_options .product_option .option_value.active_true {
  color: #2aa4e9;
  background: url(../images/icons/select_icons/active_small.png) no-repeat left center;
}
@media only screen and (max-width: 991px) {
  .block_options .product_option .option_value.active_true {
    color: white;
    background: #2aa4e9 none;
  }
}
.block_options .product_option .option_value.load_true {
  background: url(../images/misc/small_loader.gif) no-repeat left center;
}
.block_options .product_option .option_value.available_false {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: default;
  display: block;
}
.block_options .product_option .option_price {
  text-align: right;
  cursor: pointer;
  font-weight: bold;
  float: right;
}
@media only screen and (max-width: 991px) {
  .block_options .product_option .option_price {
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    float: right;
    position: absolute;
    bottom: 1rem;
    width: 28vw;
    left: 0;
  }
}
.block_options .product_option .option_price:hover {
  color: #58b8ee;
}
.block_options .product_option.active_true {
  font-weight: bold;
}
.block_options .product_option.active_true .option_value, .block_options .product_option.active_true .option_price {
  font-weight: bold;
  color: #2aa4e9;
}

.product_menu {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 100;
  width: 100%;
  float: right;
  margin-right: 0;
  background: #cfcfcf;
}
.product_menu ul.menu {
  padding: 0 0px;
  width: 100%;
  float: right;
  margin-right: 0;
  margin: 0;
  left: 0px;
  position: relative;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.product_menu ul.menu li.menu_item {
  margin: 0;
  float: left;
  list-style-type: none;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  transition-property: all;
  transition-duration: 0.5s;
}
.product_menu ul.menu li.menu_item a {
  padding: 3px;
  border-left: 1px solid white;
  line-height: 50px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 1.1em;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 100%;
  height: 100%;
}
.product_menu ul.menu li.menu_item a:hover {
  color: #595959;
}
.product_menu ul.menu li.menu_item:first-child a {
  border-left: none;
}
.product_menu ul.menu li.menu_item.active {
  background-color: #86cbf3;
}

.block_option_desc .page-title {
  padding: 1rem;
}
.block_option_desc .desc {
  padding: 1rem;
}
.block_option_desc .video-js {
  width: 100% !important;
  height: auto !important;
}
.block_option_desc .video-js div.vjs-big-play-button {
  top: 450px !important;
}
.block_option_desc .video-js .vjs-control-bar {
  top: 455px !important;
}

.video-js .vjs-tech {
  position: relative;
  height: auto;
  width: 100%;
}

#product_video,
.block_option_desc .video-js {
  z-index: 15;
  overflow: hidden;
}
#product_video div, #product_video div:before,
.block_option_desc .video-js div,
.block_option_desc .video-js div:before {
  text-shadow: none !important;
  color: #f07222;
}
#product_video .vjs-poster,
.block_option_desc .video-js .vjs-poster {
  position: absolute;
  top: 0;
}
#product_video div.vjs-big-play-button,
.block_option_desc .video-js div.vjs-big-play-button {
  background-color: #f07222 !important;
  border-radius: 0;
  border: none;
  width: 25px;
  height: 25px;
  line-height: 25px;
  top: 575px;
  left: 15px;
  margin: 0;
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
}
#product_video div.vjs-big-play-button:before,
.block_option_desc .video-js div.vjs-big-play-button:before {
  color: white;
  font-size: 0.5em;
  line-height: 25px;
  text-shadow: none !important;
  left: 2px;
}
#product_video div.vjs-big-play-button:hover,
.block_option_desc .video-js div.vjs-big-play-button:hover {
  background-color: #fdece1;
}
#product_video div.vjs-big-play-button:focus,
.block_option_desc .video-js div.vjs-big-play-button:focus {
  border: none;
  background-color: #fdece1;
}
#product_video .vjs-control-bar,
.block_option_desc .video-js .vjs-control-bar {
  position: absolute;
  top: 574px;
  padding-bottom: 10px;
  background-color: transparent;
  display: block;
}
#product_video .vjs-control-bar .vjs-progress-control,
.block_option_desc .video-js .vjs-control-bar .vjs-progress-control {
  top: 31px;
}
#product_video .vjs-control-bar .vjs-volume-control .vjs-volume-bar,
.block_option_desc .video-js .vjs-control-bar .vjs-volume-control .vjs-volume-bar {
  height: 0.5em;
}
#product_video.vjs-fullscreen .vjs-control-bar,
.block_option_desc .video-js.vjs-fullscreen .vjs-control-bar {
  top: 100%;
  margin-top: -100px;
}

#node_video {
  z-index: 15;
}
#node_video div, #node_video div:before {
  text-shadow: none !important;
  color: #f07222;
}
#node_video div.vjs-big-play-button {
  background-color: #f07222 !important;
  border-radius: 0;
  border: none;
  width: 25px;
  height: 25px;
  line-height: 25px;
  bottom: 505px;
  left: 15px;
  margin: 0;
  cursor: pointer;
  text-align: center;
  border-radius: 50px;
}
#node_video div.vjs-big-play-button:before {
  color: white;
  font-size: 0.5em;
  line-height: 25px;
  text-shadow: none !important;
  left: 2px;
}
#node_video div.vjs-big-play-button:hover {
  background-color: #fdece1;
}
#node_video div.vjs-big-play-button:focus {
  border: none;
  background-color: #fdece1;
}
#node_video .vjs-control-bar {
  position: absolute;
  padding-bottom: 10px;
  background-color: transparent;
  display: block;
}
#node_video .vjs-control-bar .vjs-progress-control {
  top: 31px;
}
#node_video .vjs-control-bar .vjs-volume-control .vjs-volume-bar {
  height: 0.5em;
}
#node_video.vjs-fullscreen .vjs-control-bar {
  top: 100%;
  margin-top: -100px;
}

.product_parts_wrap .mCSB_scrollTools {
  height: 520px;
}

.product_edit {
  display: inline-block;
  text-align: right;
  width: 100%;
  margin-top: 1rem;
}

.product-node h1#page-title, .product-node h2#page-second-title {
  display: none;
}
.product-node .page-title {
  padding-right: 250px;
}
@media only screen and (max-width: 991px) {
  .product-node .page-title {
    padding-right: 0;
  }
}
