/* line 5, ../sass/triton_admin.scss */
table thead th {
  width: 60px;
  white-space: normal;
}
/* line 12, ../sass/triton_admin.scss */
table tbody tr td {
  transition-property: background-color;
  transition-duration: 0.5s;
}
/* line 15, ../sass/triton_admin.scss */
table tbody tr td.changed {
  background-color: #e0ffd8;
}
/* line 18, ../sass/triton_admin.scss */
table tbody tr td input[type="text"] {
  width: 60px;
}
/* line 21, ../sass/triton_admin.scss */
table tbody tr td .option_sku {
  margin-top: 5px;
  font-size: .8em;
}
