body.zavatarro .pusher {
  background-color: transparent;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  color: #CED3CF;
}
body.zavatarro .ui.header {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
}
body.zavatarro .ui.inverted.segment,
body.zavatarro .ui.primary.inverted.segment {
  background-color: black;
  color: rgba(206, 211, 207, 0.7);
}
body.zavatarro .ui.form .field input {
  border-radius: 0;
  background-color: transparent;
  border: 1px solid;
  color: #2aa4e9;
}
body.zavatarro .ui.button {
  border-radius: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
body.zavatarro h2.ui.header {
  font-weight: 100;
  font-size: 4rem;
  margin-bottom: 3rem;
  font-family: 'Roboto', sans-serif;
}
body.zavatarro .segment.top {
  height: 960px;
  overflow: hidden;
}
body.zavatarro img.city {
  position: relative;
  top: -410px;
  margin-bottom: -410px;
}
body.zavatarro img.bottom_city {
  position: relative;
  top: -600px;
  margin-bottom: -600px;
}
body.zavatarro .logo {
  margin-top: 5rem;
  margin-bottom: 10rem;
}
body.zavatarro footer {
  border-top: none;
}
body.zavatarro .to_top {
  position: absolute;
}
body.zavatarro .segment {
  overflow: hidden;
  padding: 5rem 0;
}
body.zavatarro .segment .header {
  position: relative;
  z-index: 1;
}
body.zavatarro .segment .teaser {
  position: relative;
  z-index: 1;
}
body.zavatarro .segment .buy {
  position: relative;
  z-index: 1;
}
body.zavatarro .segment .image.bottom {
  position: relative;
  z-index: 0;
}
body.zavatarro .segment.top .buy {
  position: fixed;
  right: 2rem;
  top: 2rem;
}
body.zavatarro .segment.top .spectrum {
  position: fixed;
  left: 2rem;
  top: 2rem;
  z-index: 100;
}
body.zavatarro .spectrum .sp-replacer {
  border: none;
  width: 50px;
  height: 50px;
  padding: 0;
  background: none;
}
body.zavatarro .spectrum .sp-preview {
  background: none;
  border: none;
}
body.zavatarro .spectrum .sp-preview-inner {
  background-color: #000;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
body.zavatarro .spectrum .sp-dd {
  display: none;
}
body.zavatarro .sp-container {
  border: none;
  background: transparent;
}
body.zavatarro .sp-container .sp-picker-container {
  border: none;
}
body.zavatarro .sp-container .sp-picker-container .sp-button-container {
  display: none;
}
body.zavatarro .sp-container .sp-color {
  border-radius: 20px;
  border: none;
}
body.zavatarro .sp-container .sp-sat {
  border-radius: 20px;
  border: none;
}
body.zavatarro .sp-container .sp-val {
  border-radius: 20px;
  border: none;
}
body.zavatarro .sp-container .sp-dragger {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  border: none;
  background-color: white;
  box-shadow: 0px 0px 10px;
}
body.zavatarro .sp-container .sp-hue {
  border: none;
  border-radius: 10px;
}
body.zavatarro .sp-container .sp-slider {
  box-shadow: 0px 0px 10px;
  height: 8px;
  border: none;
  border-radius: 5px;
}
body.zavatarro .bottom_poetry {
  position: absolute;
  text-align: left;
  font-style: italic;
  font-family: Times;
  font-size: 1.5rem;
  line-height: 2rem;
  top: 20rem;
  left: 10rem;
  color: #2aa4e9;
}
