{#{% load flatblocks %}#}
{% load cache %}
{% load thumbnail %}


{% cache 36000 'eburg' 'map' %}
    {% include "triton_ua/blocks/map.html" %}
{% endcache %}


{% block first_footer %}
    {% if sale_places %}
        <div id="first_footer">
            {% include "triton_ua/blocks/saleplaces.html" %}
        </div>
    {% endif %}


{% endblock first_footer %}

{% block second_footer %}
    <div id="second_footer">
        {#            {% include "triton_ua/blocks/menu.html" %}#}
        {% include "triton_ua/blocks/social/socials.html" %}

        <div>
            <a href="/sitemap">Карта сайта</a> | <a href="/2011-11-10-08-51-32">Юридическая информация</a> |
            <a href="/skidka">Скидки</a> | <a href="/media/catalogs/katalog_mebel-2014.pdf">Каталог мебели</a>

        </div>

        {% include "triton_ua/blocks/footer/www.eburg3tn.ru/counters.html" %}
    </div>

    <div class="copyright">
        <img src="/static/images/small_logo.png" alt=""/><br/>

        © 2011-2016. Акриловые ванны в Екатеринбурге<br/>
    </div>
{% endblock second_footer %}


