{% load i18n %}
{% load thumbnail %}

<div class="news_view view">
    {% for news in news_list %}

        <div class="news {% if  forloop.first %}first_news{% else %} simple_news {% endif %}">

            {% if  forloop.first %}
                <div class="news_img">
                    {% if news.photo %}

                        {% thumbnail news.photo "230x160" crop="center" as im %}
                            <a href="{% url 'nodes:node' news.dot_slug %}">
                                <img width="230px" height="160px" src="{{ im.url }}" alt="{{ photo.alt }}" title="{{ photo.title }}"/>
                            </a>
                        {% endthumbnail %}
                    {% else %}
                        <div style="width: 230px; height: 160px;"></div>
                    {% endif %}
                </div>
            {% else %}
                <div class="news_img">
                    {% if news.photo %}

                        {% thumbnail news.photo "75x75" crop="center" as im %}
                            <a href="{% url 'nodes:node' news.dot_slug %}">
                                <img width="75px" height="75px" src="{{ im.url }}" alt="{{ photo.alt }}" title="{{ photo.title }}"/>
                            </a>
                        {% endthumbnail %}
                    {% else %}
                        <div style="width: 75px; height: 75px;"></div>
                    {% endif %}
                </div>

            {% endif %}




            <div class="pub_date">{{ news.pub_date|timesince }} назад</div>
            <div class="field_title"><a href="{% url 'nodes:node' news.dot_slug %}">{{ news.title }}</a></div>

            {% if  forloop.first %}
                <div class="teaser">{{ news.teaser }}</div>{% endif %}

                <div class="status status_{{ news.node_type.slug }}">{{ news.node_type.name }}</div>

        </div>
    {% endfor %}</div>