<div class="news view">
    {% for news_one in news %}
        <div class="news_one {{ news_one.get_status_display }} row triple {% cycle 'fisrt' '' 'last' %}">
            <h3><span class="title">{{ news_one.title }}</span> <span class="date">{{ news_one.pub_date }}</span> </h3>
            <div class="body">
                {% if all_news != "False" %}
                    {{ news_one.body }}
                {% else %}
                    {{ news_one.body }}
                {% endif %}
            </div>

            {% if user.is_superuser %}
                <a href="/admin/games/news/{{ news_one.id }}/" class="small edit_node">Edit</a>
            {% endif %}
        </div>
    {% endfor %}

    {% if all_news != "False" %}
        <a href="/news" class="see_all">Все новости</a>
    {% else %}
        {% include "triton_ua/lib/paginator.html" with items=news core_url="/news/" %}
    {% endif %}

</div>