{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block title %}Коттедж «{{ cottage.title }}» | {% trans "Мишино" %} | {% trans "жилой квартал" %}{% endblock %}

{% block body_classes %}not-front cottage cottage-{{ cottage.slug }} w_header_img{% endblock %}


{% block intro %}
{% endblock %}

{% block pagetitle %}Коттедж «{{ cottage.title }}»{% endblock %}

{% block top_content %}
    <div class="header_img">
        <img src="{{ cottage.header_img.url }}" class="" alt="">
        <div class="box_shadow_inset"></div>
    </div>
{% endblock %}

{% block content %}

<div class="body">
    {{ cottage.body }}
</div>

<h3>Планировки котеджа «{{ cottage.title }}»</h3>
{% include "triton_ua/gallery/block.html" with gallery=cottage.buildingplan_set gallery_id="plans" thumb_size="x300" %}


<h3>Фотографии коттеджа «{{ cottage.title }}»</h3>
{% include "triton_ua/gallery/block.html" with gallery=cottage.buildingphoto_set gallery_id="gallery" thumb_size="150x100"%}

{% endblock %}