{% load i18n %}
{% load thumbnail %}
{#{% load flatblocks %}#}



{% flatblock "teaser.cotteges" %}



<div class="view cottages_view">

    {% for cottage in cottages %}
        <div class="views_row cottage">
            {% thumbnail cottage.icon "217x145"  crop="left" as im %}
                <a href="/cottage/{{ cottage.slug }}" class="views_field_img"><img src="{{ im.url }}" alt="" width="217px" height="145px" /></a>
            {% endthumbnail %}

            <h3 class="views_field_title"><a href="/cottage/{{ cottage.slug }}">{{ cottage.title }}</a></h3>
            <div class="views_field_desc" >{{ cottage.body }}</div>
            <div class="chars" >
                <div class="common_area">Общая площадь: <strong>{{ cottage.common_area }}</strong> м<sup>2</sup></div>
                <div class="floors">Этажей: <strong>{{ cottage.floors }}</strong></div>
                <div class="bedrooms">Спален: <strong>{{ cottage.bedrooms }}</strong></div>
                <div class="wcs">Санузлов: <strong>{{ cottage.wcs }}</strong></div>
            </div>
        </div>
    {% endfor %}


</div>

