{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}
{#{% load flatblocks %}#}

{% block title %}Таунхаусы | {% trans "Мишино" %} | {% trans "жилой квартал" %}{% endblock %}

{% block body_classes %}not-front townhouses{% endblock %}


{% block intro %}
{% endblock %}

{% block pagetitle %}Таунхаусы{% endblock %}

{% block top_content %}
    {% flatblock "teaser.townhouse" %}
{% endblock %}



{% block content %}

<div class="view townhouse_view">

{% for townhouse in townhouses %}
    <div class="views_row townhouse">
        {% thumbnail townhouse.icon "217x145"  crop="left" as im %}
            <a href="/townhouse/{{ townhouse.slug }}" class="views_field_img"><img src="{{ im.url }}" alt="" width="217px" height="145px" /></a>
        {% endthumbnail %}

        <h3 class="views_field_title"><a href="/townhouse/{{ townhouse.slug }}">{{ townhouse.title }}</a></h3>
        <div class="views_field_desc" >{{ townhouse.body }}</div>

    </div>
{% endfor %}


</div>

{% endblock %}