{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block title %}Таунхаус «{{ townhouse.title }}» | {% trans "Мишино" %} | {% trans "жилой квартал" %}{% endblock %}

{% block body_classes %}not-front townhouse townhouse-{{ townhouse.slug }} w_header_img{% endblock %}


{% block intro %}
{% endblock %}

{% block pagetitle %}Таунхаус «{{ townhouse.title }}»{% endblock %}

{% block top_content %}
    <div class="header_img">
        <img src="{{ townhouse.header_img.url }}" class="" alt="">
        <div class="box_shadow_inset"></div>
    </div>
{% endblock %}

{% block content %}

<div class="body">
    {{ townhouse.body }}
</div>


<h3>Фотографии таунхауса «{{ townhouse.title }}»</h3>
{% include "triton_ua/gallery/block.html" with gallery=townhouse.buildingphoto_set gallery_id="gallery" thumb_size="150x100"%}

{% endblock %}