{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load hramik_tags %}


{% block body_classes %}questions not-front two-col {% endblock %}
{% block title %}Неприкаянные коменты | {% trans "Triton" %} | {% trans "продажа ванн" %} {% endblock %}
{% block pagetitle %}Неприкаянные коменты{% endblock %}

{% if current_user.is_staff %}

    {% block controller %}
        ng-controller="questionCtrl"
    {% endblock %}


    {% block content %}

        <div class="questions_view">

            {% include "questions/parts/questions_view.html" with homeless=True %}

        </div>

    {% endblock %}



    {% block sidebar %}


        <div class="block tags_block">

            <div class="questions_right_view">

                {% for question in last_questions %}
                        {% include "questions/parts/simple_question_base.html" %}
                {% endfor %}
            </div>


        </div>


    {% endblock %}
{% endif %}
