{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load hramik_tags %}

{% block meta_title %}{% if page_title %}{{ page_title }}{% else %}{{ seo_metaseo_meta.page_title }}{% endif %}: {{ current_tag.name }} {% endblock %}

{% block body_classes %}questions not-front two-col {% endblock %}
{#{% block title %}Вопрос-ответ | {% trans "Triton" %} | {% trans "продажа ванн" %} {% endblock %}#}
{% block pagetitle %}Вопрос-ответ

    <span class="current_tag" ng-show="global.current_tag" {% if current_tag %}ng-init="global.current_tag = '{{ current_tag.name }}'"{% endif %}>
        {? global.current_tag ?}
    <a class="tag_close"
       ng-controller="tagCtrl"
       ng-click="load_tag();"
       ng-init="slug=''; name='';"
            ></a>
    </span>
{% endblock %}


{% block controller %}
    ng-controller="questionCtrl"
{% endblock %}


{% block content %}
{##}
{#    <div class="red" style="margin-bottom: 2em;">#}
{#        Уважаемые клиенты! Компания Тритон искренне поздравляет Вас с наступающим Новым годом и Рождеством! Желаем добра, счастья, взаимопонимания, надежных друзей и веселых#}
{#        каникул! На все вопросы о нашей продукции мы с удовольствием ответим 12.01.2015 г. До встречи в Новом 2015 году.#}
{#    </div>#}

    {% include "questions/forms/question_form.html" with form=question_form name_form="question_form" submit_text="Задать вопрос" submit_click=True controller="questionCtrl" submit_images=True %}

    {% if current_user.is_staff %}
        <div class="info" style="margin-top: 20px;">
            <div class="unpubliched_count">Неопубликовано:
                <a ng-controller="tagCtrl"
                   ng-click="load_tag();"
                   ng-init="slug='unpubliched'; name='Неопубликовано';"
                        >{{ unpublished_nodes.count }}</a></div>
            <div class="uncommented_nodes">Неотвечено:
                <a ng-controller="tagCtrl"
                   ng-click="load_tag();"
                   ng-init="slug='uncommented'; name='Неотвечено';"
                        >{{ uncommented_nodes.count }}</a></div>
        </div>
    {% endif %}
    {#        {% include "partials/register_or_enter.html" with text=", чтоб задать вопрос" %}#}


    <div class="questions_view" hr-scroll-load=".questions_view">

{#        {% include "questions/parts/questions_view.html" %}#}

    </div>

{% endblock %}



{% block sidebar %}


    <div class="block tags_block">
        <div class="questions_right_view">
            {% for question in last_questions %}
                {#                {% include "questions/partials/simple_question_base§.html" %}#}
            {% endfor %}
        </div>


        {% if history_tags %}
            <h3>Теги для вас</h3>
            {% include "questions/parts/tags.html" with tags=history_tags %}
        {% endif %}

        <h3>Основные теги</h3>
        {% include "questions/parts/tags.html" with sidebar=True %}

    </div>

    <div class="block tags_block">
        <h3>Поиск по тегам</h3>
        {% include "questions/parts/tags.html" with tags=all_tags  filter=True %}
    </div>

{% endblock %}