{% if current_site.is_shop %}

    <div class="ui basic center aligned segment">
        <div class="ui left labeled huge button" tabindex="0" ng-show="!in_cart">
            <div class="ui basic right pointing grey label">
                <s>{? global.current_price.cart_sum ?}&nbsp;<span class="currency">{{ current_site.currency }}</span></s>
            </div>

            <div class="ui basic right pointing orange  label">
                {? global.current_price.discount_cart_sum ?}&nbsp;<span class="currency">{{ current_site.currency }}</span>
            </div>

            <div class="ui orange huge button" ng-click="addCart(); in_cart=1;">В корзину</div>

        </div>

        <div class="ui orange huge basic button" ng-show="!in_cart"
             ng-click="global.quick_order_form_modal_show=1; global.quick_product.title='{{ product.title }}';  global.quick_order.product_id='{{ product.id }}';  global.quick_product.im_url='{{ product.photo.url }}';  global.quick_product.parameters='{{ product.length }} x {{ product.width }} x {{ product.height }} мм'; global.quick_product.price='{{ product.price }}';reachYandexGoal('OPEN_ONE_CLICK_BUY_FORM'); reachGoogleGoal('Oneclick', 'Open', 'Open Product In One Click');">
            Купить в 1 клик
        </div>

        <div class="ui orange huge basic button"
             ng-click="global.callback_form_modal_show=1; global.callback.product_id='{{ product.id }}'; global.quick_product.title='{{ product.title }}'; global.quick_product.im_url='{{ product.photo.url }}';  global.quick_product.parameters='{{ product.length }} x {{ product.width }} x {{ product.height }} мм'; global.quick_product.price='{{ product.price }}'; reachYandexGoal('OPEN_ADVICE_FORM'); reachGoogleGoal('Advice', 'Open', 'Open Advice Form');">
            Консультация
        </div>


        <div class="ui left labeled huge button" tabindex="0" ng-show="in_cart">
            <div class="ui basic right pointing grey label">
                <s>{? global.current_price.cart_sum ?}&nbsp;<span class="currency">{{ current_site.currency }}</span></s>
            </div>

            <div class="ui basic right pointing red label">
                {? global.current_price.discount_cart_sum ?}&nbsp;<span class="currency">{{ current_site.currency }}</span>
            </div>

            <div class="ui red huge button" ng-click="deleteFromCart(); in_cart=0;">Удалить из корзины</div>

        </div>
    </div>

{% endif %}