{% if current_site.site.domain == 'www.moscow3tn.ru' %}
    <a class="ui red basic label" da-modal=".modal.fake_warning">
        <i class="ui icon warning"></i> Опасайтесь подделок
    </a>

    {% include "products/modals/fake.html" %}

{% endif %}