{% if no_region %}
    <div class="red small" style="margin-bottom: 1rem;"><i class="ui red warning circle icon"></i> Внимание! Указанная цена действительна для <b>Москвы и Московской области</b>. Для получения информации о ценах в других регионах звоните по телефону <b>{{ current_region.phone }}</b>
    </div>
{% endif %}