<div class="ui basic modal approve">
    <i class="close icon"></i>

    <div class="header">
        Delete Task
    </div>
    <div class="content">
        <div class="image">
            <i class="{? global.aprove_icon ?} icon"></i>
        </div>
        <div class="description">
            {? global.aprove_title ?}</p>
        </div>
    </div>
    <div class="actions">
        <div class="two fluid ui inverted buttons">
            <div class="ui green basic inverted cancel button">
                No
            </div>
            <div class="ui red basic inverted ok button">
                Yes
            </div>
        </div>
    </div>
</div>