{% extends "triton_ua/tri_base.html" %}
{% load i18n %}


{% block title %}Заказ оплачен | {% trans "Triton" %} | {% trans "продажа ванн" %}{% endblock %}
{% block body_classes %} page page-order-success not-front{% endblock %}


{% block pagetitle %}
    {{ message }}
{% endblock %}

{% block content %}

    <div class="ui positive icon message">
        <i class="checkmark icon"></i>

        <div class="content">
            ID заказа: {{ order.id }} <br/>
            Имя: {{ order.name }} <br/>
            Телефон: {{ order.phone }} <br/>
            E-mail: {{ order.email }} <br/>
            <div class="" style="font-size: 2rem;">Сумма: {{ order.price }}</div>
        </div>
    </div>



{% endblock %}
