{% load i18n %}
{% load static %}
{% load compress %}
{% load hramik_tags %}


{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"#}
{#        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<!DOCTYPE HTML PUBLIC  "-//W3C//DTD HTML 4.01 Transitional//EN" "www.w3.org/TR/html4/loose.dtd">#}
<html>
<head>

    {% block tophead %}{% endblock %}

    <meta http-equiv="Accept-Language" сontent="ru"/>
    {#        <meta name="viewport" content="width=1000">#}
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">


    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    {#    <meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT"/>#}
    {#    <meta http-equiv="Pragma" content="no-cache"/>#}


    {% if current_site.fake_seo %}
        <title>Тритон</title>
    {% else %}
        <title>{% block meta_title %}{% if page_title %}{{ page_title }}{% else %}{{ seo_meta.page_title }}{% endif %}{% endblock %}</title>
        <meta name="description" content="{% block meta_description %}{% if meta_desc %}{{ meta_desc }}{% else %}{{ seo_meta.meta_desc }}{% endif %}{% endblock %}"/>

        {% if seo_meta.noindex or noindex %}
            <meta name="robots" content="noindex"/>
        {% else %}
            <meta name="Robots" content="INDEX, FOLLOW"/>
        {% endif %}

        <meta name="keywords"
              content="{% block meta_keywords %}{% if meta_keywords %}{{ meta_keywords }}{% else %}{{ seo_meta.meta_keywords }}{% endif %}{% endblock %}"/>
    {% endif %}

    {% block canonical %}{% endblock %}

    {#    {% block meta %}#}
    {#    {% endblock %}#}

    <script type="text/javascript" src="/static/bower_components/jquery/jquery.min.js"></script>
    <script type='text/javascript' src='/static/js/canvas-masking/canvasmask.js'></script>

    <script type="text/javascript" src="/static/js/swfobject.js"></script>


    {% compress css %}

        <link href="/static/stylesheets/print.css" media="print" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="/static/fonts/fonts.css" rel="stylesheet" type="text/css"/>
        <link href="/static/stylesheets/triton_colorbox/triton_colorbox.css" media="screen, projection" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="/static/js/angular-slider/slider.css"/>


    {% endcompress %}

    <link rel="stylesheet" href="/static/js/video-js/video-js.min.css"/>
    <link rel="stylesheet" href="/static/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css"/>

    <link rel="stylesheet" type="text/css" href="/static/bower_components/semantic/dist/semantic.min.css">


    {#    <script type='text/javascript' src='/static/js/django-dynamic-formset/src/jquery.formset.js'></script>#}

    {#    <script type="text/javascript" src="/static/js/validation-engine/js/languages/jquery.validationEngine-ru.js"></script>#}
    {#    <script type="text/javascript" src="/static/js/validation-engine/js/jquery.validationEngine.js"></script>#}


    <!--[if lt IE 10]>
        <script type="text/javascript" src="/static/js/PIE.js"></script>
    <![endif]-->


    {#    {% dajaxice_js_import %}#}
    {#    <link rel="stylesheet" href="/static/js/validation-engine/css/validationEngine.jquery.css">#}
    {#    <link rel="stylesheet" href="/static/js/slideme/slideme.css"/>#}
    {#    <link rel="stylesheet" type="text/css" href="/static/bower_components/angular-datepicker/dist/index.css">#}
    {#    <link rel="stylesheet" type="text/css" href="/static/bower_components/angular-bootstrap-datepicker/dist/angular-bootstrap-datepicker.css">#}
    {#        <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/2.0.4/css/bootstrap.min.css">#}


    <style type="text/css">
        {% if current_site.magazine_ornament%}
            body .magazin_ornament {
                background: white url("{{ current_site.magazine_ornament.url }}") !important;
                background-repeat: repeat;
                background-position: center center;
            }

            body.bp .product_view .views_row.is_pc_True:hover {
                background: white url("{{ current_site.magazine_ornament.url }}") !important;
                background-repeat: repeat;
                background-position: center center;
            }


        {% endif %}
    </style>


    {% block head %}


        <meta name='wmail-verification' content='1d1f1f93624db8cb'/>
        <meta name="google-site-verification" content="-44p5vX91W724AXQSHepT2UO2w6HZ4x_tPpgH-se0hY"/>


        {% if current_site.is_shop %}
            <link rel="icon" type="image/png" href="/static/images/shop_favicon_16.png">
            <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/shop_favicon_144.png">
            <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/shop_favicon_114.png">
            <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/shop_favicon_72.png">
        {% else %}
            <link rel="icon" type="image/png" href="/static/images/favicon_16.png">
            <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/favicon_144.png">
            <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/favicon_114.png">
            <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/favicon_72.png">
        {% endif %}

        <link href="/static/stylesheets/triton_ua.min.css" media="screen, projection" rel="stylesheet" type="text/css"/>


    {% endblock %}


    <!--[if lt IE 8]>
		    <link href="/static//stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<![endif]-->


</head>

<body id="body" class="bp visibility  {% if current_site.is_shop %}is_shop{% else %}non_shop{% endif %} {% if current_user.is_staff %}is_staff{% else %}not-staff{% endif %}
site_{{ current_site.site.id }} {{ current_site.site.domain | class_value }} {{ current_host | class_value }}
        {% block body_classes %}{% endblock %}




        {% block body_ng %}{% endblock %} online_o_{{ current_site.json.online }} touch_{{ request.user_agent.is_touch_capable }} is_pc_{{ request.user_agent.is_pc }} is_mobile_{{ request.user_agent.is_mobile }} is_tablet_{{ request.user_agent.is_tablet }} is_bot_{{ request.user_agent.is_bot }}"
      style="{% block body_style %}{% endblock %}"
      ng-app="daApp"
      ng-controller="appCtrl"
      ng-init="
      {% if current_site.is_shop %}is_shop=true;{% endif %};
      site_json={{ current_site.clear_json }};"
      ng-keypress="logKeys($rootScope,$event)"
      {% block body_tag %}{% endblock %}
      ng-cloak ontouchstart>


{{ seo_meta.top_text | safe }}

{% block tag_manager %}
{% endblock %}

{% block in_body %}
{% endblock %}


<div class="pusher">
    <div class="full height">

        <div id="container"
             class=""
                {% block controller %} ng-controller="pageCtrl"{% endblock %}
             ng-init="
        global.cart_ids='{{ cart_ids }}';
        global.comparsion_ids='{{ comparsion_ids }}';
        global.favorite_ids='{{ favorite_ids }}';
        "
        >

            {% include 'partials/to_top.html' %}


            <header>
                <div id="header">

                    {% block header %}
                    {% endblock %}

                </div>
            </header>

            <errors>
                <div id="errors">
                    {% block errors %}
                        {% if errors %}
                            {{ errors }}
                        {% endif %}
                    {% endblock %}
                </div>
            </errors>

            {% if message %}
                <message>
                    <div id="message">{{ message|safe }}</div>
                </message>
            {% endif %}

            <message class="" style="display: none;">
                <div id="message">{? global.message ?}</div>
            </message>

            <div id="top-content">


                {% block top_content %}
                {% endblock %}

            </div>
            <!--/#top-content-->


            <content>

                <!--<ul class="tags">
            {% block tags %}{% endblock %}
        </ul>-->

                {% block intro %}
                {% endblock %}

                <div id="content">

                    {% block content %}{% endblock %}
                </div>
                <!--/#content-->
            </content>

            <sidebar>
                <div id="sidebar">
                    {% block sidebar %}{% endblock %}
                </div>
                <!--/#right-column-->
            </sidebar>


            <footer>
                <div id="footer">

                    {% block footer %}{% endblock %}


                </div>
                <!--/#footer-->
            </footer>


        </div>
    </div>
</div>

<!--#wrapper-->



{% if current_user.is_superuser and not front and not noindex %}
    {#        <div class="admin_panel " ng-class="{'minimized': !global.admin_panel_open }" ng-controller="adminCtrl" ng-init="global.admin_panel_open=0;">#}




    <div class="ui left vertical left inverted very wide segment sidebar seo" ng-controller="adminCtrl">

        {#        <div class="misc_icons-big_bigger icon_button" ng-click="global.admin_panel_open=1;" ng-hide="global.admin_panel_open"></div>#}
        <div class="ui icon button" ng-click="global.admin_panel_open=0;" ng-show="global.admin_panel_open">
            <i class="chevron right icon"></i>
        </div>

        <div
                ng-controller="seoCtrl"
                {% if node.page_title %}
                ng-init="seo_page_title='{{ node.page_title }}'"
                {% endif %}
                class="ui basic segment"
        >
            <div class="ui inverted header h3">SEO</div>
            {% include "triton_ua/forms/form_base.html" with form=meta_form name_form="meta_form" submit_text="Сохранить" submit_click=True inverted=True %}
        </div>
    </div>

    <div class="ui black fixed attached launch right button seo">
        <i class="content icon"></i>
        <span class="text">SEO</span>
    </div>

{% endif %}

{% if not user.is_authenticated %}
    {% include "triton_ua/accounts/login_block.html" with modal_name='login' %}
{% endif %}

{% block extra_body %}
{% endblock extra_body %}


<link href="/static/bower_components/spectrum/spectrum.css" media="screen, projection" rel="stylesheet" type="text/css"/>


{#{% compress js %}#}

{#<script src="http://api-maps.yandex.ru/2.1/?coordorder=longlat&lang=ru_RU&onload=init_map" type="text/javascript"></script>#}

{# JQUERY PART#}

<script type="text/javascript" src="/static/bower_components/jquery-ui/jquery-ui.min.js"></script>

<script type='text/javascript' src='/static/js/video-js/video.js'></script>
<script type='text/javascript' src='/static/js/videojs-youtube-master/vjs.youtube.js'></script>

<script type="text/javascript" src="/static/js/jquery.scrollTo-1.4.2/jquery.scrollTo-min.js"></script>
{#    <script type="text/javascript" src="/static/js/jquery.reel-min.js"></script>#}
<script type="text/javascript" src="/static/js/pisi-Reel-0415396/jquery.reel-min.js"></script>
<script type="text/javascript" src="/static/js/hram_selectors.js"></script>
<script type="text/javascript" src="/static/js/colorbox/jquery.colorbox-min.js"></script>
{#    <script type="text/javascript" src="/static/bower_components/paralaxJS/deploy/jquery.parallax.min.js"></script>#}

{#    <script type="text/javascript" src="/static/js/Slides/source/slides.min.jquery.js"></script>#}
{#    <script type="text/javascript" src="/static/js/SlidesJS/source/jquery.slides.min.js"></script>#}
{#    <script type="text/javascript" src="/static/js/slideme/jquery.slideme2.js"></script>#}
{#<script type="text/javascript" src="/static/js/iscroll-master/build/iscroll.js"></script>#}
{#<script type='text/javascript' src='http://rawgithub.com/cubiq/iscroll/v4/src/iscroll.js'></script>#}
<script type='text/javascript' src='/static/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js'></script>
<script type='text/javascript' src='/static/js/jquery.maskedinput.min.js'></script>

<script src="/static/bower_components/semantic/dist/semantic.min.js"></script>
<script src="/static/bower_components/moment/min/moment-with-locales.min.js"></script>

{# ANGULAR PART#}

<script type="text/javascript" src="/static/js/angular-libs/angular.min.js"></script>
<script type="text/javascript" src="/static/js/angular-libs/angular-resource.min.js"></script>
<script type="text/javascript" src="/static/js/angular-libs/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/static/js/angular-libs/angular-touch.min.js"></script>
{#<script type="text/javascript" src="/static/js/angular-libs/angular-animate.min.js"></script>#}
{#<script type="text/javascript" src="/static/js/angular-libs/angular-route.min.js"></script>#}

<script type="text/javascript" src="/static/js/ngInfiniteScroll-1.0.0/build/ng-infinite-scroll.js"></script>
<script type="text/javascript" src="/static/js/angular-file-upload-master/angular-file-upload.min.js"></script>

{#<script type="text/javascript" src="/static/js/bootstrap-custom/ui-bootstrap-custom-tpls-0.5.0.min.js"></script>#}
<script type="text/javascript" src="/static/js/bootstrap-custom/ui-bootstrap-custom-0.5.0.min.js"></script>

<script type="text/javascript" src="/static/bower_components/spectrum/spectrum.js"></script>
<script type="text/javascript" src="/static/bower_components/angular-spectrum-colorpicker/dist/angular-spectrum-colorpicker.min.js"></script>

{#<script type="text/javascript" src="/static/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>#}
{#<script type="text/javascript" src="/static/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>#}
{#<script type="text/javascript" src="/static/bower_components/angular-datepicker/dist/index.js"></script>#}
{#<script type="text/javascript" src="/static/bower_components/angular-bootstrap-datepicker/dist/angular-bootstrap-datepicker.min.js"></script>#}
{#<script type="text/javascript" src="/static/bower_components/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>#}

{#<script src="/static/bower_components/webcomponentsjs/webcomponents.js"></script>#}


{#<script type="text/javascript" src="/static/js/angular-yandex-map-master/ya-map.min.js"></script>#}
<script type="text/javascript" src="/static/js/ng-iScroll-master/src/ng-iscroll.min.js"></script>
<script type="text/javascript" src="/static/js/angular-elastic-master/elastic.js"></script>
<script type="text/javascript" src="/static/js/angular-slider/slider.js"></script>
<script type="text/javascript" src="/static/js/ngInfiniteScroll-1.0.0/build/ng-infinite-scroll.js"></script>
<script type="text/javascript" src="/static/js/angular-da-slideshow/da-slideshow.js"></script>

{#<script type="text/javascript" src="/static/bower_components/videogular/videogular.min.js"></script>#}


<script type="text/javascript" src="/static/js/angular/app.js"></script>
{#{% compress js %}#}

<script type="text/javascript" src="/static/js/angular/services.js"></script>
<script type="text/javascript" src="/static/js/angular/controllers.js"></script>
<script type="text/javascript" src="/static/js/angular/directives.js"></script>
<script type="text/javascript" src="/static/js/angular/filters.js"></script>

<script type="text/javascript" src="/static/js/angular/product_directives.js"></script>
{#    <script type="text/javascript" src="/static/js/angular/magazine_directives.js"></script>#}
<script type="text/javascript" src="/static/js/angular/magazine_controllers.js"></script>

<script type="text/javascript" src="/static/js/angular/da-tabor.js"></script>

<script type="text/javascript" src="/static/js/triton_ua.js"></script>

{#{% endcompress %}#}
{#{% endcompress %}#}

<script type="text/javascript">
    function reachYandexGoal(name) {
        {% if current_site.json.yandex_counter_id and not is_test %}
            try {
                yaCounter{{ current_site.json.yandex_counter_id }}.reachGoal(name);
            } catch (err) {
                console.log(err);
            }
        {% endif %}

        {% if is_test %}
            console.log('yaCounter{{ current_site.json.yandex_counter_id }}', name);
        {% endif %}
    }

    function reachGoogleGoal(category, event, label) {
        {% if not is_test %}
            try {
                ga('send', 'event', category, event, label);
            } catch (err) {
                console.log(err);
            }
            {#            dataLayer.push({'gaProperty':{{ current_site.json.ga_tag_manager_id }}, 'GAcategory': category, 'GAaction': action, 'GAlabel': label, 'GAValue': value});#}
        {% endif %}

        {% if is_test %}
            console.log('ga', category, event, label);
        {% endif %}
    }
</script>

</body>

</html>