<h2>{{ type.admin_subject }}</h2>

<strong>{{ data.user }}</strong> задал вопрос. <br/>
<a href="{% url 'admin:questions_question_change'  data.pk %}">{% url 'admin:questions_question_change'  data.pk %}</a>


<h4>Вопрос</h4>
<p>
    {{ data.body }}
</p>
