<p><b>{{ data.user_profile.user.first_name }} {{ data.user_profile.user.last_name }} ({{ data.user_profile.user.username }})</b> оставил заявку на получение статуса "Дилер".</p><br/>

<p>Указанные данные:</p>
<p>Регион:
    {% for region in data.region.all %}
        {{ region }}
    {% endfor %}
</p>

<p>Название дилерского центра: {{ data.dealer_point_name }}</p>
<p>Адрес дилерского центра: {{ data.dealer_point_address }}</p>
<p>Телефон(ы):
    {% for phone in data.phones.all %}
        {{ phone.phone }}
    {% endfor %}
</p><br/>

<p>Перейдите в <a href="http://3tn.ru/profile">личный кабинет</a>, чтобы просмотреть/активировать/удалить заявку.</p>
