{% extends "da_mailer/mail_base.html" %}

{% load cache %}
{% load thumbnail %}
{% load hramik_tags %}


{% block content %}

        <tr style="">
            <td>
                date: {{ data.date }} <br/><br/>

                site_id: {{ data.site_id }} <br/> <br/>
                current_site: {{ data.current_site }} <br/>
                get_current_site: {{ data.get_current_site }} <br/><br/>

                current_host: {{ data.current_host }} <br/>
                get_host: {{ data.get_host }} <br/><br/>
                current_ip: {{ data.current_ip }} <br/>
                path: {{ data.path }} <br/>
            </td>
        </tr>
{% endblock %}