{% load cache %}
{% load thumbnail %}
{% load hramik_tags %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Документ без названия</title>
    <meta name="robots" content="noindex, nofollow"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body bgcolor="#fffff4" style="margin:0; padding:0;" link="#e13b00">
<table class="wrapper" width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="padding:0 5px;" bgcolor="#e5d8b3">

                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding:0 5px; background=" http:
        //www.3tn.ru/media/subscribes/images/ornament_1.png" ">
        <table class="flexible" width="900" align="center" style="margin:0 auto;" cellpadding="0" cellspacing="0">
            <!-- header -->
            <tr>
                <td class="header" style="padding:20px 24px;">
                    <table class="flexible" width="632" align="center" cellpadding="0" cellspacing="0"
                           style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
                        <tr>
                            <td mc:edit="block-03" align="center" style="padding:0px;">
                                <h1><img alt="image" src="http://3tn.ru/media/subscribes/images/logo_1.png"></h1>

                                {% block header %}
                                {% endblock %}


                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- content -->
            {#            <tr>#}
            {#                <td class="hide" style="padding:5px 6px; background:url(http://www.3tn.ru/media/subscribes/images/bg.png) repeat-x">&nbsp;</td>#}
            {#            </tr>#}

            <tr style="height: 3em;">
                <td>

                </td>
            </tr>


            {% block content %}
            {% endblock %}


            <!-- footer -->
            <tr>
                <td mc:edit="block-41" align="center" style="font:12px/24px Helvetica, Arial, sans-serif; color:#838076; padding:2rem;">
                    2015 &copy; &laquo;Тритон&raquo;, <a target="_blank" style="" href="http://www.3tn.ru/">www.3tn.ru</a><br/>



                    {% block footer %}
                    {% endblock %}


                </td>
            </tr>
        </table>
        </td>
    </tr>
</table>
</td>
</tr>
</table>
</body>
</html>