<p><b>{{ data.user_profile.user.username }}</b> оставил заявку на получение статуса "Дилер".</p><br/>

<p>Указанные данные:</p>
<p>Регион:
        {{ data.region }}
</p>

<p>Перейдите в <a href="http://3tn.ru/profile">личный кабинет</a>, чтобы просмотреть/активировать/удалить заявку.</p>
