<p><b>{{ data.user_profile.user.username }}</b> оставил заявку на получение статуса "Фрилансер".</p><br/>

<p>Указанные данные:</p>
<p>Образование:{{ data.education }}
</p>
<p>Профессия: {{ data.profession }}</p>
<p>Тип занятости: {{ data.get_employment_display }}</p>
<p>Платежные реквезиты: {{ data.payment }}</p>
<p>
    {% if data.come_enable %}
        Может приехать на замеры
    {% else %}
        Не может приехать на замеры
    {% endif %}
</p>

<p>Перейдите в <a href="http://www.3tn.ru/profile">личный кабинет</a>, чтобы просмотреть/активировать/удалить заявку.</p>
