<p>{{ data.user_profile.user.first_name }} {{ data.user_profile.user.last_name }} (<b>{{ data.user_profile.user.username }}</b>) оставил заявку на получение статуса "Продавец".</p><br/>

<p>Указанные данные:</p>
<p>Регион:
        {{ data.region }}
</p>
<p>Город: {{ data.sellerCity }}</p>
<p>Способ вознаграждения: {{ data.get_award_method_display }}</p>
<p>Должность: {{ data.position }}</p>
<p>Торговый представитель: {{ data.repres_first_name }} {{ data.repres_last_name }} ({{ data.repres }})</p>

<p>Перейдите в <a href="http://3tn.ru/profile">личный кабинет</a>, чтобы просмотреть/активировать/удалить заявку.</p>
