<p>{{ data.seller.user_profile.user.first_name }} {{ data.seller.user_profile.user.second_name }} <b>({{ data.seller.user_profile.user.username }})</b> отправил новый отчет о продаже.</p><br/>

Товар: {{ data.product }}<br/>
Цена: {{ data.price }} руб.<br/>
Сумма к выплате: {{ data.payout }}

<p>Перейдите в <a href="http://3tn.ru/profile">личный кабинет</a>, чтобы подтвердить отчет.</p>
