{% extends "da_mailer/mail_base.html" %}

{% load cache %}
{% load thumbnail %}
{% load hramik_tags %}


{% block content %}

        <tr style="">
            <td>
                <h3>Уважаемый {{ data.user.first_name }}.</h3>
                Ваш логин на сайте 3tn.ru: {{ data.user.username }} <br/>
                Вам временно назначен пароль: {{ data.password }} <br/>
                При первой возможности зайдите в свой <a href="http://3tn.ru/profile">личный кабинет</a> и замените его
            </td>
        </tr>
{% endblock %}