{% extends "da_mailer/mail_base.html" %}

{% load cache %}
{% load thumbnail %}
{% load hramik_tags %}


{% block header %}
    <p>Онлайн Журнал Triton. Интересные дизайнерские решения и советы.</p>
{% endblock %}


{% block content %}


    {% for item in data %}
        <tr style="background:url(http://www.3tn.ru/media/subscribes/images/ornament_1.png);">

            <td style="">
                <a href="http://www.triton3tn.ru/{{ item.dot_slug }}" style="text-decoration: none">
                    <img src="http://www.triton3tn.ru{{ item.photo.url }}" alt="{{ item.photo.alt }}" title="{{ item.photo.title }}"
                         style="width: 500px; height: auto; float: {% cycle 'left' 'right' %}; margin-{% cycle 'right' 'left' %}: 2rem;"/>

                    <h2 style="font-family: Georgia, 'Times New Roman', Times; color: {{ item.color }}; padding: 0 1rem;">{{ item.title }}</h2>

                    <div class="field_teaser" style="padding: 0 1rem;">
                        {% if item.teaser %}
                            {{ item.teaser|safe|removetags:"img a"|urlize }}
                        {% else %}
                            {{ item.body|safe|removetags:"img"|truncatewords_html:20|urlize }}
                        {% endif %}
                    </div>
                </a>
            </td>
        </tr>

        <tr style="height: 3em;">
            <td>

            </td>
        </tr>
        <!-- footer-block -->


    {% endfor %}


{% endblock %}


{% block footer %}

    <p>Нажмите <a href="http://www.3tn.ru/profile?tab=subscribe">сюда</a>, чтобы войти в личный кабинет и отписаться от рассылки.</p>


{% endblock %}
