{% load i18n %}
{% load thumbnail %}

<div class="comments_block block">

    <h3 class="block_title">Комментарии</h3>

    {% if current_user.is_authenticated %}
        <div class="button send_comment_button hide top" ng-click="global.comment_form_show=1;">
            Оставить свой комментарий
        </div>
    {% else %}
        {% include "partials/register_or_enter.html" with text=", чтоб оставить комментарий" %}
    {% endif %}

    {% if not comments %}
        Нет комментариев. Вы можете быть <a ng-click="global.comment_form_show=1;">первым</a>.
    {% endif %}

    <div class="view comments_view">

        {% for comment in comments %}
            {% include "triton_ua/blocks/products_block/parts/product_comment_base.html" %}
        {% endfor %}


    </div>

    {% if comments %}
        {% if current_user.is_authenticated %}
            <div class="button send_comment_button hide bottom" ng-click="global.comment_form_show=1;">
                Оставить свой комментарий
            </div>
        {% else %}
            {% include "partials/register_or_enter.html" with text=", чтоб оставить комментарий" %}
        {% endif %}
    {% endif %}
</div>

{% if current_user.is_authenticated %}
    {% include "triton_ua/blocks/forms/comment_form.html" with form=comment_form %}
{% endif %}
