<div class="product_list block">

    <h3 class="block_title">Популярные ванны <small>в случайном порядке</small></h3>
    <a href="/baths" class="more">все ванны</a>

    {% include "products/list.html" %}

</div>