<div class="block block_filter block_products_filter"
     ng-controller="filterCtrl"
     ng-init="cats='{{ cats|length }}';">

    {#    <h3 class="block_title"></h3>#}

    {% if is_action %}
        <div class="filter_group" ng-controller="itemCtrl">
            <div class="filter_group_title red" style="cursor: pointer;"
                 ng-click="global.filter.action = !global.filter.action"
                 ng-class="['active_'+global.filter.action]">Акция
            </div>
        </div>
    {% endif %}

    {% for cat_type in categories_types %}
        {% include 'triton_ua/blocks/products_block/parts/filter_group_select_new.html' with cat_type=cat_type filter_group_id=cat_type.id filter_items=cat_type.category_set.all %}
    {% endfor %}

    {% if entity.slug == 'mebel' or entity_slug == 'mebel' %}
        <div class="filter_group"
             ng-init="  global.filter.min_width='100';
                        global.filter.max_width='1200';">
            <div class="filter_group_title">По ширине</div>
            <slider floor="100" ceiling="1200" step="50" precision="2" ng-model-low="global.filter.min_width"
                    ng-model-high="global.filter.max_width"></slider>
        </div>
    {% elif entity.slug == 'bath' or entity_slug == 'bath' %}
        <div class="filter_group"
             ng-init="  global.filter.min_length='800';
                        global.filter.max_length='2100';">
            <div class="filter_group_title">По длине</div>
            <slider floor="800" ceiling="2100" step="50" precision="2" ng-model-low="global.filter.min_length"
                    ng-model-high="global.filter.max_length"></slider>
        </div>
    {% endif %}

    {% if entity.slug == 'bath' or entity_slug == 'bath' %}
        <div class="filter_group" ng-controller="itemCtrl">
            <div class="filter_group_title" style="cursor: pointer;"
                 ng-click="global.filter.hydromassage = !global.filter.hydromassage"
                 ng-class="['active_'+global.filter.hydromassage]">Гидромассаж
            </div>
        </div>
    {% endif %}

    {% if current_site.is_shop %}
        <div class="filter_group"
                {% if current_site.site.id == 81 %}
             ng-init="  global.filter.min_price='150000';
                        global.filter.max_price='25000000';">
                {% else %}
                    ng-init="  global.filter.min_price='500';
                    global.filter.max_price='200000';">
                {% endif %}
        <div class="filter_group_title">По цене</div>
        {% if current_site.site.id == 81 %}
            <slider floor="150000" ceiling="25000000" step="500000" precision="2" ng-model-low="global.filter.min_price"
                    ng-model-high="global.filter.max_price"></slider>
        {% else %}
            <slider floor="500" ceiling="200000" step="500" precision="2" ng-model-low="global.filter.min_price"
                    ng-model-high="global.filter.max_price"></slider>
        {% endif %}
        </div>
    {% endif %}


    {#    {% include 'oblaka/blocks/products_block/partials/filter_group_select.html' with filter_group_title="Фильтр" filter_group_id="category" filter_items=product_categories %}#}


    {#    {% include 'oblaka/blocks/products_block/partials/filter_group_select.html' with filter_group_title="По стилю" filter_group_id="style" filter_items=bath_styles %}#}
    {#    {% include 'oblaka/blocks/products_block/partials/filter_group_select.html' with filter_group_title="По форме" filter_group_id="form" filter_items=bath_form %}#}
    {#    {% include 'oblaka/blocks/products_block/partials/filter_group_select.html' with filter_group_title="По материалу"  filter_group_id="material" filter_items=bath_material %}#}


    {#    <form action="." method="get" style="display: none">#}
    {#        {{ baths.form.as_p }}#}
    {#        {% for field in baths.form %}#}
    {#            <div class="field_wrapper field_{{ field.name }} {% if field.errors %}error{% endif %} {% cycle 'even' 'odd' %}">#}
    {#                {{ field.errors }}#}
    {#                {{ field.label_tag }} {{ field }}#}
    {##}
    {#            </div>#}
    {#        {% endfor %}#}
    {#        <input type="submit" value="Показать"/> <span class="button_link">или <a href="." class="">сбросить#}
    {#        фильтр</a></span>#}
    {#    </form>#}
</div>