{#<div class="small_cart" ng-show="global.cart.cart_count" ng-controller="orderCtr">#}
<div class="small_cart" ng-controller="orderCtr">

{#    <div class="cart_count">В вашей корзине <strong ng-bind="global.cart.cart_count"></strong> товара на</div>#}
    <!--<div class="cart_sum"><span ng-class="{line_through: global.cart.discount != '0'}">{? global.cart.cart_sum ?} {{ current_site.currency }}</span> <span ng-show="global.cart.discount != '0'">{? global.cart-->
{#        .discount_cart_sum ?} {{ current_site.currency }}<span></div>#}
    <a href="/cart" class="white" style="color: white; margin-right: 10px; font-size: .9em; line-height: 20px;">Перейти в корзину</a>
    <a href="/cart" class="to_cart" ng-bind="global.cart.cart_count"></a>

</div>