<div class="block form_block credit_order_form last" ng-controller="creditCtr" ng-show="global.credit_order_form_show"
     ng-init="gracie=0;">

    <div class="close" ng-click="global.credit_order_form_show=0;">Закрыть</div>

    <div class="block_inner">

        <div class="block_title">Заявка на кредит, не выходя из дома</div>

        {#        <div class="recall form_teaser">Закажите в один клик</div>#}

        <div class="gracie" ng-show="gracie">
            <div class="wrap">
                Спасибо! <br>Наш менеджер перезвонит вам в ближайшее время.
            </div>
            <div class="wrap_100 center">
                <div ng-click="global.credit_order_form_show=0; gracie=0;" class="button">OK</div>
            </div>
        </div>

        <div class="order_item" ng-show="!gracie">
            <div class="field_img"><img ng-src="{? global.quick_product.im_url ?}"
                                        width="120px" height="120px"/></div>
            <h4 class="field_title">{? global.quick_product.title ?}</h4>

            <div class="field_parameters">{? global.quick_product.parameters ?}</div>
            <div class="field_price">{? global.quick_product.price ?}</div>
        </div>


        {#    <form action="javascript:Dajaxice.mi.callback(Dajax.process,{'form':$('#call_back_form').serialize(true)});" method="post" id ="call_back_form">{% csrf_token %}#}
        <form method="post" id="call_back_form" ng-show="!gracie">{% csrf_token %}
            {% comment %}{{ form_callbacks }}{% endcomment %}
            {% for field in form %}
                <div class="field_wrapper field_{{ field.name }} {% if field.errors %}error{% endif %} {% cycle 'even' 'odd' %}">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}

                </div>
            {% endfor %}
            <div class="wrap_100 right">
                <div ng-click="loader=1;send_form();" class="button positive form-submit">Отправить заявку</div>
                <div class="loader" ng-show="loader"></div>
            </div>
        </form>

        <div class="desc" ng-show="!gracie">
            <small>В сумму включена единоразовая комиссия за оформление кредита – 5% от стоимости товара. В случае
                выбора рассрочки комиссия не взимается. БЕЗ СКРЫТЫХ КОМИССИЙ И ПЛАТЫ ЗА ВЫДАЧУ.
            </small>

            <ol>
                <li><h6>Я выбрал товар и хочу приобрести его в кредит.</h6>
                    Заполните кредитную заявку и нажмите кнопку «Отправить заявку».
                </li>
                <li><h6>Я заполнил и отправил кредитную заявку на сайте интернет-магазина. Что дальше?</h6>
                    В течение часа ваша заявка будет обработана, после чего с вами свяжется кредитный менеджер.
                    Вам нужно будет ответить на несколько стандартных вопросов и подтвердить свои паспортные данные.
                </li>
                <li><h6>Кредитный менеджер позвонил мне.</h6>
                    После звонка ваша заявка будет рассматриваться банком.
                    Решение будет сообщено вам в течение 2-х часов.
                </li>
                <li><h6>Мне позвонили и сообщили, что банк одобрил мою заявку. Что дальше?</h6>
                    Вам позвонит кредитный менеджер и договорится о времени приезда к вам для подписания платежных
                    документов.
                    После подписания договора Вы ожидаете доставки вашей покупки и при получении оплачиваете
                    первоначальный
                    взнос.
                </li>
            </ol>
            <small>Заявки, принятые после 19:00 рабочего дня и в выходные, обрабатываются с 10:00 первого рабочего
                дня.
            </small>
        </div>

    </div>

</div>