{% load i18n %}
{% load thumbnail %}

<div class="block form_block quick_order_form last" ng-controller="orderCtr" ng-show="global.quick_order_form_show">

    <div class="close" ng-click="global.quick_order_form_show=0;">Закрыть</div>

    <div class="block_inner">

        <h2 class="block_title">{% if block_title %}
            {{ block_title }}
        {% else %}
            Быстрый заказ
        {% endif %} </h2>

        {#        <div class="recall form_teaser">Закажите в один клик</div>#}

        {% if cart_order %}
            {% include "products/blocks/cart_block.html" %}
        {% else %}
            <div class="order_item" ng-hide="gracie">
                <div class="field_img"><img src="{? global.quick_product.im_url ?}"
                                            width="120px" height="120px"/></div>
                <h4 class="field_title">{? global.quick_product.title ?}</h4>

                <div class="field_parameters">{? global.quick_product.parameters ?}</div>
                <div class="field_price">{? global.quick_product.price ?}</div>
            </div>
        {% endif %}

        <div class="gracie" ng-show="gracie">
            <div class="wrap">
                Спасибо, {{ username }}! <br>Наш менеджер перезвонит вам в ближайшее время.
            </div>
            <div class="wrap_100 center">
                <div ng-click="global.quick_order_form_show=0; gracie=0;" class="button">OK</div>
            </div>
        </div>

        {#    <form action="javascript:Dajaxice.mi.callback(Dajax.process,{'form':$('#call_back_form').serialize(true)});" method="post" id ="call_back_form">{% csrf_token %}#}
        <form method="post" id="quick_order_form" name="quick_order_form" ng-hide="gracie" ng-keyup="quick_order.product=global.quick_product.id">{% csrf_token %}
            {% comment %}{{ form_callbacks }}{% endcomment %}
            {% for field in form %}
                <div class="field_wrapper field_{{ field.name }} {% if field.errors %}error{% endif %} {% cycle 'even' 'odd' %}">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}

                    <div ng-show="quick_order_form.{{ field.name }}.$dirty && quick_order_form.{{ field.name }}.$invalid"
                         class="form_error">
                        <span ng-show="quick_order_form.{{ field.name }}.$error.required ">Заполните поле.</span>
                        <span ng-show="quick_order_form.{{ field.name }}.$error.email">Это поле должно быть адресом электронной почты.</span>
                    </div>

                </div>
            {% endfor %}
            <div class="wrap_100 right">
                <div ng-click="send_quick_order_form();" ng-disabled="quick_order_form.$invalid"  class="button positive form-submit">Заказать</div>
            </div>
        </form>

    </div>

</div>