{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load hramik_tags %}


{% block title %}{% trans "Triton" %} | {% if is_order %}Заказ #{{ order.id }}{% else %}Корзина{% endif %}{% endblock %}
{% block meta %}

{% endblock %}

{#{% block meta_desc %}{% endblock %}#}

{% block body_classes %}no-front {% if not request.user_agent.is_mobile %}two-col{% endif %} cart{% endblock %}
{% block pagetitle %}
    {% if is_order %}
        Заказ {{ order.im_id }}
    {% else %}
        Корзина
    {% endif %}

    {#    {% if current_user.is_staff and is_order %}#}
    {#        &nbsp;<a class="small" href="{% url 'tri:to_prepay' order.id %}" style="position:#}
    {#            absolute;">отправить на предоплату</a>#}
    {#    {% endif %}#}
{% endblock %}
{% block page_second_title %}{{ product.second_title }}{% endblock %}

{% block head %}
    {{ block.super }}
    <link href="/static/stylesheets/product.min.css" media="screen, projection" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block intro %}
{% endblock %}

{% block controller %}
    ng-controller="productsCtrl"
    ng-init="global.order_form_show=1; global.is_hydromassage={{ is_hydromassage }}; "
{% endblock %}

{% block content %}

    {% if request.user_agent.is_mobile %}
        {% include "products/parts/price_block.html" %}
        {% include "products/parts/pay_block.html" %}
    {% endif %}

    {#     ACTIONS FOR STAFF#}
    {% if current_user.is_staff and is_order  %}

        {% if add_products and order.can_edit %}
            <div class="ui white large modal add_products" ng-controller="addProductCtrl">
                <i class="ui close icon"></i>
                <div class="content">
                    <div class="ui pointing stackable compact menu">
                        <a class="item" ng-click="global.loadProducts('{{ order.id }}','bath');">Ванны</a>
                        <a class="item" ng-click="global.loadProducts('{{ order.id }}','mebel');">Мебель</a>
                        <a class="item" ng-click="global.loadProducts('{{ order.id }}','bathcab');">Душевые кабины</a>
                        <a class="item" ng-click="global.loadProducts('{{ order.id }}','mixer');">Смесители</a>
                    </div>

                    <div id="add_products"></div>
                </div>
            </div>
        {% endif %}

        {% include "products/blocks/admin_action_in_cart.html" %}
    {% endif %}

    {#     MESSAGE FOR CLIENT#}
    {% if not current_user.is_staff and is_order %}
        <p style="font-size: 1.5rem;">Проверте данные заказа и оплатите заказ выбранным вами способом.</p>
    {% endif %}


    {% include 'products/parts/discounts.html' with modal_name="discount_desc" block_title="Получить скидку" %}

    {% if is_order %}
        {% if current_user.is_staff %}
            <div class="nine ui tiny basic buttons" ng-controller="orderCtr" ng-init="global.order_id={{ order.id }}; order_id={{ order.id }}; order_status=
            '{{ order.get_status_display }}'; global
            .get_order('{{ order.id }}');">
                {% for id, label in order_statuses %}
                    <button style="" class="ui basic tiny button" ng-click="change_status('{{ id }}'); order_status='{{ label }}'" ng-class="{green:
                    order_status == '{{ label }}'}"
                    >{{ label }}</button>
                {% endfor %}
            </div>
        {% endif %}
        <div class="ui divider"></div>
    {% endif %}

    {% if is_order %}

        {% include "triton_ua/forms/pay_form.html" with form=pay_form block_title="Оплатить заказ"  modal_name="pay_form" name_form="pay_form" submit_text="Оплатить заказ" cart_order=True controller="orderCtr" button_class="huge" action="https://money.yandex.ru/eshop.xml" %}
    {% else %}
        {% include "triton_ua/forms/order_form.html" with form=quick_order_form block_title="Оформить заказ"  modal_name="quick_order_form" name_form="quick_order_form" submit_text="Оформить заказ" cart_order=True controller="orderCtr" submit_click=True button_class="huge" %}
    {% endif %}

    {% if request.user_agent.is_mobile %}
        {% include "products/blocks/cart_block.html" with cart=cart_with_options %}
    {% endif %}



{% endblock %}


{% block sidebar %}

    {% include "products/parts/price_block.html" %}

    {% include "products/parts/pay_block.html" %}

    <div ng-show="global.order_form_show" class="block" id="order_list">
                {% include "products/blocks/cart_block.html" with cart=cart_with_options %}
    </div>





{% endblock %}

{% block extra_body %}
    {% if is_order and current_user.is_staff %}
        <div class="ui white large modal options">
            <i class="ui close icon"></i>

            <div class="content"
                 ng-controller="productCtrl"
            >
                {{ global.complectation_loading }}
                <div class="ui vertical segment block basic product_part product_part-options block" ng-class="{loading: global.complectation_loading}">
                    {% include "products/blocks/options.html" %}
                </div>
            </div>

            {#                {% include "triton_ua/blocks/products_block/product_options.html" with product_options=product.optionprices.all options_session=order_item.options_ids %}#}
        </div>
    {% endif %}
{% endblock %}
