<div class="cart_pane"
     ng-class="{show: block_options_hover}"
     ng-mouseenter="block_options_hover = true"
     ng-mouseleave="block_options_hover = false"
        >

    <div class="inner">

        {% if current_site.is_shop %}
            <div class="current_price cart_pane_part">
                {% include "products/parts/price.html" %}
            </div>

            <div class="cart cart_pane_part"
                 ng-show="global.cart.cart_count">{% include "triton_ua/blocks/products_block/small_cart.html" with products=cart %}
            </div>
        {% endif %}


        <div class="tride cart_pane_part tride_cart_pane_part">
            <div class="change_size misc_icons-bigger" ng-click="bigger3D(); bigger=1;" ng-hide="bigger"
                 ng-init="bigger=0;"></div>
            <div class="change_size misc_icons-smaller" ng-click="smaller3D(); bigger=0;" ng-show="bigger"></div>
            {% include "products/blocks/m3d.html" %}
        </div>
    </div>

</div>