{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block title %}{% trans "Triton" %} | Сравнение{% endblock %}
{% block meta %}

{% endblock %}

{#{% block meta_desc %}{% endblock %}#}

{% block body_classes %}no-front comparsion page {% endblock %}
{% block pagetitle %}Сравнение{% endblock %}
{% block page_second_title %}{{ product.second_title }}{% endblock %}


{% block intro %}
{% endblock %}

{% block controller %}
    ng-controller="productsCtrl"
{% endblock %}

{% block content %}


    <div class="view comparsion_view">

    {% if not comparsion %}
        <p>Нет объектов для сравнения.</p>
    {% endif %}

        {% for product in comparsion %}



            <div class="views_row"
                 ng-class="{out_comparsion_view: global.{{ product.slug }}_in_comparsion_view==0}"
                 ng-class="{in_comparsion_view: global.{{ product.slug }}_in_comparsion_view==1}"
                 ng-init="global.{{ product.slug }}_in_comparsion_view=1;"
                 ng-show="global.{{ product.slug }}_in_comparsion_view">

                <div class="field_img">
                    {% thumbnail product.photo "160x160" format="PNG" as im %}
                        <a href="/{{ product.dot_slug }}">
                            <img src="{{ im.url }}" alt="{{ photo.alt }}"
                                 title="{{ photo.title }}" width="160px"
                                 height="160px" ng-init="{{ product.slug }}_img_url='{{ im.url }}'"/>
                        </a>
                    {% endthumbnail %}
                </div>

                <h4 class="field_title field">
                    <a href="/{{ product.dot_slug }}">{{ product.title }}</a>

                <span class="delete_from_comparsion"
                      ng-click="deleteComparsion({{ product.id }}); global.{{ product.slug }}_in_comparsion_view=0;">

                    Убрать из сравнения
                </span>
                </h4>

                <div class="field_parameters field">{{ product.length }} x {{ product.width }} x {{ product.height }} мм</div>

                <div class="field_teaser field">{{ product.teaser }}</div>


            </div>
        {% endfor %}
    </div>


{% endblock %}


{% block sidebar %}


{% endblock %}