{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load cache %}
{% load hramik_tags %}

{% block head %}

    {{ block.super }}

    <link href="/static/stylesheets/product.min.css" media="screen, projection" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block canonical %}
    <link rel="canonical" href="http://{{ current_site.site.domain }}{{ request.META.PATH_INFO }}"/>
{% endblock %}



{% block body_classes %}no-front product-node product-part product_slug_{{ product.entity.slug }} {% if product.action %}action action-product{% endif %}{% endblock %}



{% if product.entity == 'bath' %}
    {% block name %}
        <div class="page-title {% if not product.publish %}red{% endif %}">
            {{ product.title }}

        </div>

        <div class="page-second-title">{{ product.second_title }}</div>
        {% if current_user.is_staff %}
            <a class="small" href="{% url 'admin:products_product_change' product.pk %}" style="position:
            absolute;">редактировать товар</a>
        {% endif %}

        {% if request.user_agent.is_mobile %}
            {% include "products/parts/chars.html" %}
        {% endif %}
    {% endblock %}
{% endif %}


{% block intro %}

{% endblock %}

{% block controller %}
    ng-controller="productsCtrl"
{% endblock %}

{% block content %}

    {% if product.action %}
        <div class="action_line">Акция</div>
    {% endif %}

    <product
            class="id_{{ product.id }} {% for foo in product.tags.all %}tag_{{ foo.slug }} {% endfor %}"
            ng-init="
            id = '{{ product.id }}';
            global.current_product_id = '{{ product.id }}';
            slug = '{{ product.slug }}';
            {% if product in cart %}in_cart=1; {% else %} in_cart=0;{% endif %}
            get_price();
            "
            ng-controller="productCtrl"
    >
        {#        {% cache 3600 product_detail product.id %}#}

        <div class="ui vertical segment basic product_part-top">

            {% if product.soon %}
                <a href="{{ current_region.site }}/?cid3tn={{ product.nid }}"
                   target="_blank"
                   ng-mouseover="show_hint=1;"
                   ng-mouseleave="show_hint=0;">
                    <div class="soon small_soon">Скоро в продаже</div>
                </a>
            {% endif %}


            {% if current_site.is_shop %}
                <div class="price price_block ng-cloak">

                    <span style="z-index: 1;">
                        {% include "products/parts/price.html" %}
                    </span>
                    <img src="/static/images/bgs/price_gradient.png" class="price_bg" style="z-index: -1;">
                </div>
            {% else %}

                {% if current_region.site and request.user_agent.is_mobile %}
                    <div class="to_shop">
                        <div class="hint" ng-show="show_hint" ng-animate="'fade'">Вы можете узнать о стоимости выбранного товара, доставке, установке и оформлении заказа в
                            официальном
                            интернет магазине «Тритон»
                        </div>

                        {% if current_region.phone %}
                            {% if current_region.site == 'http://www.moscow3tn.ru' %}
                                <div class="region_phone">+7 (495) 589-54-16</div>
                            {% else %}
                                <div class="region_phone">{{ current_region.phone }}</div>
                            {% endif %}
                        {% endif %}
                        <a href="{{ current_region.site }}/?cid3tn={{ product.nid }}"
                           target="_blank"
                           ng-mouseover="show_hint=1;"
                           ng-mouseleave="show_hint=0;">Перейти в магазин</a>
                    </div>
                {% endif %}
            {% endif %}

        </div>


        <div class="top_grad"></div>

        {#    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------#}
        {#    SLIDESHOW #}
        {#    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------#}

        <div class="ui vertical segment basic product_part product_part-slideshow">
            {% if product.additionalvideos_set.all %}
                <div class="product_slide" ng-show="current_slide=='video'">
                    {% cache 3600 product_video product.id %}
                        {% include "triton_ua/blocks/video.html" %}
                    {% endcache %}
                </div>
            {% endif %}


            {% if product.visor_set.all %}
                {% for visor in product.visor_set.all %}
                    <div class="product_slide" ng-show="current_slide=='visor_{{ forloop.counter }}'">
                        {% cache 3600 product_video product.id visor.id %}
                            {% include "triton_ua/blocks/visor.html" with visor_url=visor width=visor.width height=visor.height frames=visor_frames|keyvalue:visor noscript=True %}
                        {% endcache %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if product.additionalvideos_set.all %}
                {% for video in product.additionalvideos_set.all|slice:"1" %}
                    <div class="product_slide index_0" ng-show="current_slide=='photo_0'">
                        <img src="{{ video.video_poster.url }}" class="centered image mask"
                             ng-click="current_slide='photo_{{ forloop.counter|add:"1" }}'"
                             ng-swipe-left="current_slide='photo_{{ forloop.counter|add:"1" }}'"
                             ng-click="current_slide='photo_1'"
                             ng-swipe-left="current_slide='photo_1'"
                             data-mask="/static/images/bgs/product_grad.png"
                        />
                        {#                    <div class="grad"></div>#}
                    </div>
                {% endfor %}
            {% endif %}

            {% for photo in product.additionalphoto_set.all %}
                <div class="product_slide index_{{ forloop.counter }}" ng-show="current_slide=='photo_{{ forloop.counter }}'">
                    <img src="{{ photo.photo.url }}" class="centered image"
                            {% if not forloop.last %}
                         ng-click="current_slide='photo_{{ forloop.counter|add:"1" }}'"
                         ng-swipe-left="current_slide='photo_{{ forloop.counter|add:"1" }}'"
                            {% else %}
                         ng-click="current_slide='photo_0'"
                         ng-swipe-left="current_slide='photo_0'"

                                {#                                {% if  product.additionalvideos_set.all %}#}
                                {#                         ng-swipe-left="current_slide='video'"#}
                                {#                                {% elif product.visor_set.all %}#}
                                {#                         ng-swipe-left="current_slide='photo_1'"#}
                                {#                                {% else %}#}
                                {#                         ng-swipe-left="current_slide='photo_1'"#}
                                {#                                {% endif %}#}
                            {% endif %}

                            {% if not forloop.first %}
                         ng-swipe-right="current_slide='photo_{{ forloop.counter|add:"-1" }}'"
                            {% else %}
                         ng-swipe-right="current_slide='photo_{{ product.additionalphoto_set.all.count }}'"
                                {#                                {% if  product.visor_set.all %}#}
                                {#                         ng-swipe-right="current_slide='visor_{{ product.visor_set.all.count }}'"#}
                                {#                                {% elif product.additionalvideos_set.all %}#}
                                {#                         ng-swipe-right="current_slide='video'"#}
                                {#                                {% else %}#}
                                {#                         ng-swipe-right="current_slide='photo_{{ product.additionalphoto_set.all.count }}'"#}
                                {#                                {% endif %}#}
                            {% endif %}
                    />
                </div>
            {% endfor %}
        </div>

        {#    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------#}
        {#    THUMBS #}
        {#    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------#}

        <div class="ui vertical segment basic product_part-thumbs">
            <thumbs ng-init="global.thumb_count = {{ product.additionalphoto_set.all|length }} + {{ product.visor_set.all|length }} + {{ product.additionalvideos_set.all|slice:"1"|length }}">
                {% include "products/parts/thumbs.html" %}
            </thumbs>
        </div>

        {#    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------#}
        {#    CHARS #}
        {#    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------#}

        {% if not request.user_agent.is_mobile %}
            {% include "products/parts/chars.html" %}
        {% endif %}

        {#    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------#}
        {#    FAKE WARNING FOR MOSCOW#}
        {#    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------#}

        {% if current_site.site.domain == 'www.moscow3tn.ru' %}
            <div class="ui vertical segment medium basic product_part product_part-warning">
                {% include "products/helpers/fake_warning.html" %}
            </div>
        {% endif %}


        {#        <div class="ui vertical segment medium basic product_part-teaser">#}
        {#            {% if product.teaser %}#}
        {#                <div class="field_teaser">{{ product.teaser|safe|urlize }}</div>#}
        {#            {% endif %}#}
        {#            {% include "products/helpers/buy_button.html" %}#}
        {#        </div>#}
        <!-- .product_part-top -->

        {#    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------#}
        {#    OPTIONS #}
        {#    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------#}

        <div class="ui divider"></div>

        <div class="ui vertical segment block basic product_part product_part-options block" ng-class="{loading: global.complectation_loading}">

            {% include "products/blocks/options.html" %}

            <div class="ui divider"></div>
        </div>


        {#    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------#}
        {#    BODY #}
        {#    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------#}


        <div class="ui vertical segment block basic product_part product_part-body">

            {% if product.body %}
                <div class="field_body">{{ product.body|safe|urlize }}</div>
            {% endif %}

            {% if product.char_photo %}
                <img class="ui centered image" src="{{ product.char_photo.url }}"/>
            {% endif %}


        </div>

        <div class="ui divider"></div>

        {% if not product.action %}

            {#    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------#}


            {% if product_actions %}
                <noindex>
                    <div class="product_part product_part product_part-action_products action_products action">

                        {% include "products/blocks/custom_list.html" with products=product_actions title="Акция" title_class="centered" class="action_products" without_filter=True nocache=True %}
                    </div>
                </noindex>

                <div class="ui divider"></div>
            {% endif %}


            {#    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------#}
            {#    SOLUTIONS #}
            {#    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------#}

            {% if product_solutions %}
                <div class="ui vertical segment block medium basic product_part product_part-solutions">

                    <div class="block_title centered">Готовые решения с {{ product.title }}</div>
                    <div style="display: inline-block">
                        {% if product_solutions.count > 2 %}
                            {% include "triton_ua/magazine/three.html" with  items=product_solutions %}
                        {% else %}
                            {% for solution in product_solutions %}
                                <div class="last_article block">
                                    {% include "triton_ua/magazine/short_article.html" with item=solution width=600 height=300 geometry="600x300" %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                <div class="ui divider"></div>
            {% endif %}




            {#    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------#}


            <div class="ui vertical segment basic  product_part product_part-comments block">
                {#                {% include "triton_ua/blocks/products_block/comments.html" %}#}
                <h3 class="block_title">Отзывы о продукции «{{ product.title }}»</h3>
                {% include "questions/parts/product_comments.html" with node=product form_last=True %}

            </div>

            <div class="ui divider"></div>


            {#    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------#}


            {% if same_category_products %}
                <noindex>
                    <div class="product_part product_part product_part-same_category_products">

                        {% include "products/blocks/custom_list.html" with products=same_category_products title="Похожие" title_class="centered"  class="same_category_products" without_filter=True nocache=True %}
                    </div>
                </noindex>

            {% endif %}


            <div class="ui divider"></div>
            {#    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------#}


            {% if same_size_products %}
                <noindex>
                    <div class="ui vertical segment basic  product_part-same_size_products">

                        {% include "products/blocks/custom_list.html" with products=same_size_products title="Тот же размер" title_class="centered" class="same_size_products" without_filter=True  nocache=True %}
                    </div>
                </noindex>
            {% endif %}

            <div class="ui divider"></div>

            {#    ---------------------------------------------------------------------------------------------------------------------------------------------------------------------#}
            {#        {% endcache %}#}


            {% if product_history %}
                <noindex>
                    <div class="ui vertical segment basic  product_part product_part-history">
                        {% include "products/blocks/custom_list.html" with products=product_history without_filter=True  title="Последние просмотренные товары" class="history_view"  nocache=True %}
                    </div>
                </noindex>
            {% endif %}



            {% if product.high_model %}
                <div class="product_download_models">
                    <a href="{{ product.high_model }}"><i class="ui icon download"></i>Скачать 3D модель {{ product }} </a>
                </div>
            {% endif %}


            {% if not current_site.is_shop %}<a ng-click="show_embed=1; "><i class="ui icon refresh"></i>Установить анимацию на свой сайт</a>
                <textarea id="embed_reel" style="font-size: 1.6rem;" ng-show="show_embed" onclick="this.focus();this.select()" readonly="readonly">
                    <iframe frameborder="0" src="http://www.3tn.ru/visor?visor_url={{ product.nid }}"></iframe>
                </textarea>
            {% endif %}
            {#        {% if cart %}#}
            {#            {% include "triton_ua/blocks/products_block/baths_cart.html" with products=cart %}#}
            {#        {% endif %}#}

        {% endif %}

    </product>
    {#    {% include "products/cart_pane.html" %}#}


{% endblock %}


{% block extra_body %}
    {{ block.super }}
{% endblock extra_body %}

