{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load cache %}


{% block head %}
    <link href="/static/stylesheets/product.min.css" media="screen, projection" rel="stylesheet" type="text/css"/>
{% endblock %}



{% block body_classes %}no-front product-node product-part product_slug_{{ product.entity.slug }}{% endblock %}


{% if product.entity == 'bath' %}
    {% block name %}
        <div class="page-title {% if not product.publish %}red{% endif %}">{{ product.title }}</div>
        <div class="page-second-title">{{ product.second_title }}</div>
        {% if current_user.is_staff %}
            <a class="small" href="{% url 'admin:products_product_change' product.pk %}" style="position:
            absolute;">редактировать
                товар</a>
        {% endif %}

    {% endblock %}
{% endif %}


{% block intro %}
{% endblock %}

{% block controller %}
    ng-controller="productsCtrl"
{% endblock %}

{% block content %}



    <product
            ng-init="
            id = '{{ product.id }}';
            global.current_product_id = '{{ product.id }}';
            slug = '{{ product.slug }}';
            {% if product in cart %}in_cart=1; {% else %} in_cart=0;{% endif %}
            get_price();
            "
    >

        {% if product.soon %}
            <a href="{{ current_region.site }}/?cid3tn={{ product.nid }}"
               target="_blank"
               ng-mouseover="show_hint=1;"
               ng-mouseleave="show_hint=0;">
                <div class="soon small_soon">Скоро в продаже</div>
            </a>
        {% endif %}


        {% if current_site.is_shop %}
            <div class="price price_block">{% include "products/parts/price.html" %}</div>
        {% else %}

            {% if current_region.site %}
                <div class="to_shop">
                    <div class="hint" ng-show="show_hint" ng-animate="'fade'">Вы можете узнать о стоимости выбранного товара, доставке, установке и оформлении заказа в официальном
                        интернет магазине «Тритон»
                    </div>

                    {% if current_region.phone %}
                        {% if current_region.site == 'http://www.moscow3tn.ru' %}
                            <div class="region_phone">+7 (495) 589-54-16</div>
                        {% else %}
                            <div class="region_phone">{{ current_region.phone }}</div>
                        {% endif %}
                    {% endif %}
                    <a href="{{ current_region.site }}/?cid3tn={{ product.nid }}"
                       target="_blank"
                       ng-mouseover="show_hint=1;"
                       ng-mouseleave="show_hint=0;">Перейти в магазин</a>
                </div>
            {% endif %}
        {% endif %}



        <thumbs
                ng-show="global.current_product_menu=='photo' || global.current_product_menu=='video' || global.current_product_menu=='desc'"
                ng-init="global.thumb_count = {{ product.additionalphoto_set.all|length }} + {{ product.visor_set.all|length }}">

            {% include "products/parts/thumbs.html" %}
        </thumbs>



        {% if product.length or product.width or product.height or product.depth or product.value %}
            <div class="product_chars" ng-cloak
                 ng-show="(global.current_product_menu=='photo' && global.thumb_count < 7) || global.current_product_menu=='video' || global.current_product_menu=='desc'">
                {% if product.length %}
                    <div class="field_length">
                        <span class="field_label">Длина:</span>
                        <span class="field_value">{{ product.length }} мм</span>
                    </div>
                {% endif %}

                {% if product.width %}
                    <div class="field_width">
                        <span class="field_label">Ширина:</span>
                        <span class="field_value">{{ product.width }} мм</span>
                    </div>
                {% endif %}

                {% if product.height %}
                    <div class="field_height">
                        <span class="field_label">Высота:</span>
                        <span class="field_value">{{ product.height }} мм</span>
                    </div>
                {% endif %}

                {% if product.depth %}
                    <div class="field_depth">
                        <span class="field_label">Глубина:</span>
                        <span class="field_value">{{ product.depth }} мм</span>
                    </div>
                {% endif %}

                {% if product.value %}
                    <div class="field_value">
                        <span class="field_label">Объем, не менее:</span>
                        <span class="field_value">{{ product.value }} л</span>
                    </div>
                {% endif %}

            </div>
        {% endif %}

        <div class="product_parts_wrap">
            {#            <div class="top_grad"#}
            {#                 ng-show="global.current_product_menu=='same_size_products' || global.current_product_menu=='comments' || global.current_product_menu=='product_desc' || global.current_product_menu=='options' || global.current_product_menu=='same_category_products' ">#}
            {#            </div>#}

            <div class="top_grad"></div>


            {#       3D OPTIONS #}
            <div class="product_3d" ng-show="global.current_product_menu=='options'">
                {% include "products/blocks/m3d.html" %}
            </div>

            <div class="scroll">

                {% if product.additionalvideos_set.all %}
                    {% cache 3600 product_video product.id %}
                        <div class="field_video product_part product_part-video"
                             ng-show="global.current_product_menu=='video'">
                            {% include "triton_ua/blocks/video.html" %}
                        </div>
                    {% endcache %}
                {% endif %}

                {#            {% cache 3600 product_photo_3 product.id %}#}
                <div ng-show="global.current_product_menu=='photo'" class="product_part product_part-photo">
                    {% if product.visor_set.all %}
                        {% for visor in product.visor_set.all %}
                            {% include "triton_ua/blocks/visor.html" with visor_url=visor width=visor.width height=visor.height frames=visor.frames noscript=True %}
                        {% endfor %}
                    {% endif %}


                    <div class="big_block {% if not product.visor_set.all %}relative{% endif %}" ng-show="show_big_block">
                        {#                    {% if product.additionalvideos_set.all %}#}
                        {#                        {% for first_video in product.additionalvideos_set.all|slice:":1" %}#}
                        {#                            <img src="{{ first_video.video_poster.url }}" alt=""/>#}
                        {#                        {% endfor %}#}
                        {#                    {% endif %}#}
                        {% for photo in product.additionalphoto_set.all|slice:"1" %}
                            <div class="field_main_img" ng-init="big_block_photo_url='{{ photo.photo.url }}'">
                                {#                            {% thumbnail photo.photo "x600" as im %}#}
                                <img ng-src="{?big_block_photo_url?}"/>
                                {#                            {% endthumbnail %}#}
                            </div>
                        {% endfor %}
                    </div>

                </div>
                {#            {% endcache %}#}


                <div ng-show="global.current_product_menu=='options'" class="product_part product_part-options">
                    {% include "triton_ua/blocks/products_block/blocks/product_options.html" %}
                </div>

                {#            {% if product.sku %}#}
                {#                <div class="field_scu">#}
                {#                    <span class="field_label">Артикул:</span>#}
                {#                    <span class="field_value">{{ product.sku }}</span>#}
                {#                </div>#}
                {#            {% endif %}#}


                <div class="product_desc product_part product_part-body" ng-show="global.current_product_menu=='desc'">
                    {#            {% if product.teaser %}#}
                    {#                <div class="field_teaser">{{ product.teaser|safe|urlize }}</div>#}
                    {#            {% endif %}#}
                    {% if product.body %}
                        <div class="field_body">{{ product.body|safe|urlize }}</div>
                    {% endif %}
                    {% if product.high_model %}
                        <div class="product_download_models">
                            <a href="{{ product.high_model }}"><i class="ui icon download"></i>Скачать 3D модель {{ product }} </a>
                        </div>
                    {% endif %}


                    {% if not current_site.is_shop %}<a ng-click="show_embed=1; "><i class="ui icon refresh"></i>Установить
                        анимацию на свой сайт</a>

                        <textarea id="embed_reel" style="font-size: 1.6rem;" ng-show="show_embed" onclick="this.focus();this.select()" readonly="readonly"><iframe frameborder="0"
                                                                                                                                                                   src="http://www.3tn.ru/visor?visor_url={{ product.nid }}"></iframe></textarea>{% endif %}
                </div>

                {% if product.char_photo %}
                    <div class="product_part product_part-chars"
                         ng-show="global.current_product_menu=='chars'">
                        <div class="field_chars_img">
                            {#                            {% thumbnail photo.photo "x600" as im %}#}
                            <img src="{{ product.char_photo.url }}"/>
                            {#                            {% endthumbnail %}#}
                        </div>
                    </div>
                {% endif %}

                {% if same_category_products %}
                    <noindex>
                        <div class="product_part product_part-same_category_products"
                             ng-show="global.current_product_menu=='same_category_products'">

                            {% include "products/blocks/custom_list.html" with products=same_category_products title="Похожие" class="same_category_products" without_filter=True nocache=True %}
                        </div>
                    </noindex>

                {% endif %}


                {% if same_size_products %}
                    <noindex>
                        <div ng-show="global.current_product_menu=='same_size_products'"
                             class="product_part product_part-same_size_products">

                            {% include "products/blocks/custom_list.html" with products=same_size_products title="Тот же размер" class="same_size_products" without_filter=True  nocache=True %}
                        </div>
                    </noindex>
                {% endif %}

                <div class="product_part product_part-comments" ng-show="global.current_product_menu=='comments'"
                     infinite-scroll="next_comment()" infinite-scroll-distance="2">
                    {#                {% include "triton_ua/blocks/products_block/comments.html" %}#}
                    {% include "questions/parts/product_comments.html" with node=product form_first=True %}

                </div>

                {% if product_history %}
                    <noindex>
                        <div ng-show="global.current_product_menu=='history'" class="product_part product_part-history">
                            {% include "products/blocks/custom_list.html" with products=product_history without_filter=True  title="Последние просмотренные товары" class="history_view"  nocache=True %}
                        </div>
                    </noindex>
                {% endif %}

            </div>
            <!--.scroll-->


            <div class="product_menu"
                    {% if part %}
                 ng-init="global.current_product_menu = '{{ part }}'"
                    {% elif product.additionalvideos_set.all %}
                 ng-init="global.current_product_menu = 'video'"
                    {% else %}
                 ng-init="global.current_product_menu = 'photo'"
                    {% endif %}>

                <menu>
                    {% if product.additionalvideos_set.all %}
                        <menuitem href="" class="menu_item_video product_menu_icons-video" rel="video"
                                  ng-class="{active:global.current_product_menu=='video'}"
                                  ng-click="global.current_product_menu = 'video';">Видео
                        </menuitem>
                    {% endif %}

                    {% if product.additionalphoto_set.all %}
                        <menuitem href="" class="menu_item_photo product_menu_icons-photo" rel="photo"
                                  ng-class="{active:global.current_product_menu=='photo'}"
                                  ng-click="menu_click('photo');">Фото
                        </menuitem>
                    {% endif %}

                    {% if product.body %}
                        <menuitem rel="desc" class="menu_item_desc product_menu_icons-desc"
                                  ng-class="{active:global.current_product_menu=='desc'}"
                                  ng-click="menu_click('desc');">Описание
                        </menuitem>
                    {% endif %}

                    {% if product.char_photo %}
                        <menuitem rel="chars" class="menu_item_chars product_menu_icons-chars"
                                  ng-class="{active:global.current_product_menu=='chars'}"
                                  ng-click="menu_click('chars');">Характеристики
                        </menuitem>
                    {% endif %}

                    {% if product_options %}
                        <menuitem rel="options" class="menu_item_options product_menu_icons-options"
                                  ng-class="{active:global.current_product_menu=='options'}"
                                  ng-click="menu_click('options');">Опции
                        </menuitem>
                    {% endif %}

                    {% if same_category_products %}
                        <menuitem rel="same_category"
                                  class="menu_item_same_category product_menu_icons-same_category_products"
                                  ng-class="{active:global.current_product_menu=='same_category_products'}"
                                  ng-click="menu_click('same_category_products');">Похожие
                        </menuitem>
                    {% endif %}

                    {% if same_size_products %}
                        <menuitem rel="same_size_products" class="menu_item_same_size product_menu_icons-same_size"
                                  ng-class="{active:global.current_product_menu=='same_size_products'}"
                                  ng-click="menu_click('same_size_products');">Тот же размер
                        </menuitem>
                    {% endif %}

                    <menuitem rel="comments" class="menu_item_comments product_menu_icons-comments"
                              ng-class="{active:global.current_product_menu=='comments'}"
                              ng-click="menu_click('comments');">Отзывы
                    </menuitem>

                    <menuitem rel="history" class="menu_item_history product_menu_icons-history"
                              ng-class="{active:global.current_product_menu=='history'}"
                              ng-click="menu_click('history');">Последние
                    </menuitem>


                    <menuitem rel="share" class="menu_item_share product_menu_icons-share"
                              ng-mouseover="global.show_share = 1;"
                              ng-mouseleave="global.show_share = 0;"
                    >Поделиться
                        <span>{% include "triton_ua/blocks/social/likes.html" %}</span>
                    </menuitem>

                </menu>


            </div>

        </div>

        {#        {% if cart %}#}
        {#            {% include "triton_ua/blocks/products_block/baths_cart.html" with products=cart %}#}
        {#        {% endif %}#}

    </product>
    {#    {% include "products/cart_pane.html" %}#}






{% endblock %}


{% block extra_body %}
    {{ block.super }}
{% endblock extra_body %}

