{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load hramik_tags %}



{% block head %}

    {{ block.super }}

    <script>


        $(document).ready(function () {
            {#            $('#pay_form').submit();#}
            {#            order_sum#}

            var myVar = setInterval(
                    function () {
                        if (parseInt($('#order_sum').val()) > 0) {
                            {#                            console.log($('#order_sum').val());#}
                            $('#pay_form').submit();
                        }
                    }, 1000);

            $('.to_pay').click(function () {
                $('#pay_form').submit();
            });
        });

    </script>

    <style>
        body {
        {#            display: none;#}
        }
    </style>
{% endblock %}


{% block body_classes %}no-front pay{% endblock %}

{% block in_body %}
    {#    <div class="show" style="display: inline-block !important;">Через несколько секунд вы будете пераправлены на сайт Yandex.money</div>#}
{% endblock %}

{% block controller %}
    ng-controller="productsCtrl"
    ng-init="global.order_form_show=1; global.is_hydromassage={{ is_hydromassage }}; "
{% endblock %}

{% block content %}
    {% include "triton_ua/forms/pay_form.html" with form=pay_form block_title="Оплатить заказ"  modal_name="pay_form" name_form="pay_form" submit_text="Оплатить заказ" cart_order=True controller="orderCtr" button_class="huge" action="https://money.yandex.ru/eshop.xml" %}


{% endblock %}


