{% extends "base/base.html" %}


{% load humanize %}
{% load hramik_tags %}


{% block body_classes %}printorder {% endblock %}

{% block body_tag %}
    onload="javascript:window.print();"
{% endblock %}


{% block content %}

    <div class="ui container">
        <h1 class="ui header">Расходная накладная № {{ order.im_id }} от {{ order.pub_date|str_ftime }}</h1>
    <h3 class="ui header">Дата отрузки (в случае если дата отгрузки отличается от даты оформления накладной) _________ 20____г.</h3>
    </div>

    <div class="ui container two column grid basic segment ">
        <div class="column">
            <div class="header">Поставщик:</div>
            <b>ООО «Студия Тритон»</b> ИНН:&nbsp;5050125935
            <div class="address">141100, г. Щелково, 1-ый Советский переулок, д.25, офис 210</div>
        </div>

        <div class="column">
            <div class="header">Покупатель:</div>
            <b>{{ order.name }}</b>
            <div class="address">{{ order.address }}</div>
        </div>

    </div>

    <div class="ui container grid basic segment ">
        <div class="column">
            Заказ № {{ order.im_id }} от {{ order.pub_date|str_ftime }}
        </div>
    </div>

    <div class="ui container grid basic segment ">
        <div class="column">
            <table class="ui celled table">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Код</th>
                    <th>Товар</th>
                    <th>Ед изм</th>
                    <th>Количество</th>
                    <th>Цена ({{ current_site.currency }})</th>
                    <th>Сумма ({{ current_site.currency }})</th>
                </tr>
                </thead>
                <tbody>
                {% for item in order.get_invoice_items %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.sku }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.ed }}</td>
                        <td>{{ item.count }}</td>
                        <td>{{ item.price|price_with_dime }}</td>
                        <td>{{ item.sum|price_with_dime }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="ui container grid basic segment ">
        <div class="column">
            <div class="ui header">Итого: <b>{{ order.price|price_with_dime }} {{ current_site.currency }}</b></div>
            <br>
            <p>В связи с применением упрощенной системы налогообложения НДС не облагается</p>

            <p>Всего наименований <b>{{ order.get_invoice_items|length }}</b>, на сумму <b>{{ order.price|price_with_dime }} {{ current_site.currency }}</b>
                ({{ order.price|int_in_word }} рублей 00 копеек)</p>

            <div class="ui header">Доставка: <b>{{ order.delivery_sum|price_with_dime }} {{ current_site.currency }}</b></div>
        </div>
    </div>


    <div class="ui container two column grid basic segment ">
        <div class="column">
            Отпустил
        </div>
        <div class="column">
            Получил
        </div>
    </div>

    <div class="ui small grid container">
        <p>В соответствии с Постановлением Правительства № 612 «Об утверждении правил дистанционной продажи товаров»
            п. 21 Правил:</p>
        <ol>
            <li>покупатель вправе отказаться от товара в течение 7 дней.</li>
            <li>Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и
                условия покупки указанного товара.
            </li>
            <li>Покупатель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный товар может быть использован
                исключительно приобретающим его потребителем.
            </li>
            <li>При отказе покупателя от товара продавец должен возвратить ему сумму, уплаченную покупателем в соответствии с договором, за исключением расходов продавца на
                доставку от покупателя возвращенного товара, не позднее чем через 10 дней с даты предъявления покупателем соответствующего требования.
            </li>
        </ol>
    </div>

{% endblock %}