{% load i18n %}
{% load thumbnail %}
{% load hramik_tags %}
{% load cache %}



{% if is_search %}
    <div class="ui basic center aligned segment">
        <div class="ui input">
            <input type="text" placeholder="Поиск..." ng-model="global.search.title" ng-init="global.search.title=''">
        </div>
    </div>
{% endif %}

<div class="view product_view ui doubling four column grid"
     ng-controller="productsCtrl"
     ng-init="
     global.filter.hydromassage=false;
     global.filter.action=false;
     global.filter.min_length='800';
     global.filter.max_length='2100';
     global.filter.min_width='300';
     global.filter.max_width='1200';
     {% if current_site.site.id == 81 %}
        global.filter.min_price='150000';
        global.filter.max_price='25000000';
     {% else %}
        global.filter.min_price='1000';
        global.filter.max_price='80000';
     {% endif %}
     "
     ng-cloak>


    {% for product in products %}




        {% if forloop.first and view_id == 1 %}
            <h2>Прямоугольные акриловые ванны</h2>
        {% endif %}

        {% if forloop.counter == 50 and view_id == 1 %}
            <h2>Угловые акриловые ванны</h2>
        {% endif %}

        {#        {% if forloop.counter|divisibleby:4 %}<div class="row">{% endif %}#}

        <product class="views_row column is_pc_{{ request.user_agent.is_pc }} action_{{ product.action }} id_{{ product.id }} {% for foo in product.tags.all %}tag_{{ foo.slug }} {% endfor %}"

                 ng-controller="productCtrl"


                 ng-init="
             id = '{{ product.id }}';
             title = '{{ product.title }}';
             hydromassage={% if product.hydromassage %}true{% else %}false{% endif %};
             action={% if product.action %}true{% else %}false{% endif %};
             {% if product.length %}length = {{ product.length }}; {% endif %}
             {% if product.price %}price = {{ product.price }}; {% endif %}
             {% if product.width %}width = {{ product.width }};{% endif %}
             {% if product in cart %}in_cart=1; {% else %} in_cart=0;{% endif %}
             "


                 ng-class="{in_favorite: in_favorite, out_cart: in_cart==0, in_cart: in_cart==1, in_comparsion: in_comparsion==1}"
                {#             ng-show="(global.style_filter=='{{ product.style_names }}' || !global.style_filter) && (global.form_filter=='{{ product.form }}' || !global.form_filter) && (global.material_filter=='{{ product.material_names }}' || !global.material_filter)"#}

                {#             ng-show=""#}

                {% if not without_filter %}
                 ng-show="
                            {% if product.category.all %}
                            (
                            {% for category in product.category.all %}
                            (
                             global.{{ category.category_type.slug }}_filter=='{{ category.title }}' ||
                              !global.{{ category.category_type.slug }}_filter
                              )
                              {% if not forloop.last %}
                              &&
                              {% endif %}
                            {% endfor %}
                            )
                            &&
                            {% endif %}
                            (global.filter.hydromassage == hydromassage || global.filter.hydromassage == false) &&
                            (global.filter.action == action || global.filter.action == false)
                            {% if entity.slug == 'mebel' %}
                            &&
                            (global.filter.min_width <= width && global.filter.max_width >= width)
                            {% elif entity.slug == 'bath' or entity.slug == 'bathcab' %}
                            &&
                            (global.filter.min_length <= length && global.filter.max_length >= length)
                            {% endif %}
                            {% if current_site.is_shop %}
                                &&
                                (global.filter.min_price <= price && global.filter.max_price >= price)
                            {% endif %}
                            {% if is_search %}
                                && (title.toLowerCase().indexOf(global.toLowerCase().search.title) != -1 || global.search.title == '')
                            {% endif %}
                            "
                {% else %}
                    {% if is_search %}
                 ng-show="title.toLowerCase().indexOf(global.search.title.toLowerCase()) !=-1 || global.search.title== ''"
                    {% endif %}
                {% endif %}
        >

            {#        {? global.filter.min_length ?}<{? length ?}<{? global.filter.max_length ?}#}
            {% if product.soon %}
                <div class="soon small_soon">Скоро в продаже</div>
            {% endif %}

            <div class="misc_icons-star" ng-show="in_favorite"></div>
            <a class="misc_icons-compare" ng-show="in_comparsion" href="/comparsion"></a>

            <div class="field_img">
                {#                                {{ product.photo }}#}
                {% thumbnail product.photo "160x160" format="PNG" as im %}
                    <a href="{% url 'nodes:node' product.dot_slug %}" target="_self">

                        <img style="margin:{{ im|margin:"160x160" }}"
                             src-o="/static/images/icons/bath_loader.gif" src="{{ product.photo.url }}"
                             class="{% if not notlazzy %}lazzy transition visible {% endif %}"
                             alt="{{ photo.alt }}"
                             title="{{ photo.title }}"
                             ng-init="img_url='{{ product.photo.url }}'"
                        />
                    </a>
                {% endthumbnail %}
            </div>

            {% if product.height %}
                {% if product.entity.slug == 'mebel' %}
                    <div class="field_parameters">{{ product.height }} x {{ product.width }} x {{ product.depth }} мм</div>
                {% else %}
                    <div class="field_parameters">{{ product.length }} x {{ product.width }} x {{ product.height }} мм</div>
                {% endif %}{% endif %}

            <div class="field_title"><a href="{% url 'nodes:node' product.dot_slug %}" target="_self">{{ product.title }}</a></div>


            {% if add_to_order %}
                <div class="field_price">{{ product.price|price }} {{ current_site.currency }}</div>
                <div class="buttons_wrap">
                    <div class="primary button ui add_to_order_button" ng-click="addToOrder('{{ order.id }}');">
                        Добавить к заказу
                    </div>
                </div>
            {% endif %}

            {% if current_site.is_shop %}

                {% if add_to_order %}

                {% elif product.action %}
                    <div class="options" style="font-size: .9rem;">
                        {% for option in product.optionprices.all %}
                            {{ option }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </div>
                    <div class="old_price"><s>{{ product.cart_all_sum_end|price }} {{ current_site.currency }}</s></div>
                    <div class="field_price">{{ product.discount_cart_sum|price }} {{ current_site.currency }}</div>
                {% else %}
                    {% if product.price != '0' %}
                        <div class="field_price">{{ product.price|price }} {{ current_site.currency }}</div>
                        {% include "products/parts/buttons.html" with onlybuy=True %}
                    {% else %}
                        {% include "products/parts/asking_price.html" %}
                    {% endif %}
                {% endif %}
            {% endif %}

            <div class="field_teaser">{{ product.teaser }}</div>

            {% include "products/parts/actions.html" %}

            <div class="chars_filter">
                {#                            <div char_id="style">{{ product.style_names }}</div>#}
                {#                            <div char_id="form">{{ product.form_names }}</div>#}
                {#                            <div char_id="material">{{ product.material_names }}</div>#}
            </div>
        </product>

        {#    {% if forloop.counter|divisibleby:4 %}</div>{% endif %}#}

    {% endfor %}


</div>

