{% load i18n %}
{% load thumbnail %}

<div class="accounts_block block">

    {% if current_user.id %}

        {% include "triton_ua/helper/avatar.html" with width='15' height='15' user_profile=current_user.get_profile %}


        <strong><a href="{% url "tri:profile" %}">
            {% if current_user.first_name %}
                {{ current_user.first_name }}&nbsp;
            {% endif %}
            {% if current_user.last_name %}
                {{ current_user.last_name }}&nbsp;
            {% endif %}
            ({{ current_user }})
        </a></strong> |
        {% if current_user.is_staff %}
            <a href="{% url 'admin:index' %}">Админчасть</a> |
            <a href="{% url 'tri:orders' %}">Бэкофис</a> |
{#            <a href="{% url 'tri:callbacks' %}">Звонки</a> |#}
            {% if current_order %}
                <a href="{% url 'tri:order' current_order.hash %}">{{ current_order.im_id }}</a> |
                <a href="{% url 'tri:clear_cart' %}">Очистить корзину</a> |
            {% endif %}
            <a href="{% url 'tri:clear_cache_page' %}" target="_blank">Кэш-пыш</a> |
        {% endif %}
        <a href="{% url 'tri:logout' %}">Выйти</a>
    {% else %}
        <a ng-click="global.login_modal_show = 1;">Войти или зарегистрироваться</a>
    {% endif %}

</div>