<div class="main_menu block">
    <ul class="menu main_menu">
        <li class="menu_item menu"><a href="/front" >О проекте</a></li>
        <li class="menu_item photos"><a href="/photos" >Расположение</a></li>
        <li class="menu_item menu"><a href="/menu" >Генплан</a></li>
        <li class="menu_item menu"><a href="/breakfast" >Инвраструктура</a></li>
        <li class="menu_item menu"><a href="/articles" >Ипотека</a></li>
        <li class="menu_item menu"><a href="/news" >Офис продаж</a></li>
        <!-- <li class="menu_item map"><a href="/reviews" >Отзывы</a></li>-->
    </ul>
</div>