<div class="contacts block">
    <div class="address">Мариуполь, пр.Адмирала Лунина, 85</div>
    <div class="phone">(0629) 40-65-77, (066) 617-40-40, (096) 84-84-999</div>
    <div class="email"><a href="mailto:info@vimarko.com.ua">info@vimarko.com.ua</a></div>
</div>