{% load i18n %}
{% load thumbnail %}

<noindex>
<div class="block map_block" ng-if="global.map_show;" ng-controller="mapCtr" ng-class="{'click': global.map_click}">

<div class="close misc_icons-close" ng-click="global.map_show = 0;"></div>

{#    {% for sp in all_sale_places %}#}
{#        {{ sp.address }} <br/>#}
{#    {% endfor %}#}


{% if current_region.site and not current_site.is_shop %}
    <div class="to_shop">
        {% if current_region.phone %}
            <div class="region_phone" ng-bind="global.region.phone"></div>
        {% endif %}

        {% if not current_site.is_shop %}<a ng-href="{? global.region.site ?}" target="_blank">Перейти в магазин</a>{% endif %}

    </div>
{% endif %}

{#{% if not current_site.is_shop %}#}

    <div class="regions_menu scroll">
        {% for region in regions %}
            <a class="region"
               ng-click="showMap('{{ region.name }}', '{{ region.map_coords }}', '{{ region.map_zoom }}'); load_saleplaces_menu('{{ region.id }}'); global.region.phone">
                {{ region.name }}
            </a>
        {% endfor %}
    </div>

    <div class="saleplaces_menu scroll" ng-show="global.saleplaces_menu_show;"
         ng-init="global.saleplaces_menu_show=0;">
        {#        <span ng-bind-html-unsafe="global.saleplaces_menu"></span>#}
        <div class="back_to_regions_menu" ng-click="global.saleplaces_menu_show=0;">← выбрать другой регион</div>
        <div class="sale_place"
             ng-repeat="place in global.saleplaces_menu"
             ng-click="showMap(place.city+', '+place.address, place.map_coords, place.map_zoom);">

            <div class="place_title" ng-bind-html="place.title"></div>

            <div class="field_address"><span ng-bind-html="place.city"></span>, <span
                    ng-bind-html="place.address"></span></div>
{#            <div class="field_phone">{? place.phone ?}</div>#}
        </div>
    </div>

{#{% endif %}#}


<div class="yandex_map_sell map" style="overflow: hidden">


    {#        <button ng-click="changeCenter()">Изменить центр</button>#}
    {#        <button ng-click="replace()">Плавно переместиться</button>#}

    {#        <ya-map#}
    {#                ya-center="{?center?}"#}
    {#                ya-type="{?type?}"#}
    {#                ya-zoom='5'#}
    {#                ya-after-init="afterMapInit($target)">#}
    {#            <ya-toolbar ya-name="zoomControl" ya-options="{right: 5, top: 75}"></ya-toolbar>#}
    {#            <ya-toolbar ya-name="zoomControl" ya-options="{right: 5, top: 75}"></ya-toolbar>#}
    {#        </ya-map>#}


    <div class="" id="sell_places_map"></div>

    {#showMap('{{ current_region.name }}', '{{ current_region.map_coords }}', '{{ current_region.map_zoom }}')#}

    <script type="text/javascript">

        {% if current_region.map_zoom %}
            var zoom = {{ current_region.map_zoom }};
        {% else %}
            var zoom = 12;
        {% endif %}


        {% if current_region.map_coords %}
            var center = fromString('{{ current_region.map_coords }}');
        {% else %}
            ymaps.geocode('{{ current_region.name }}', { results: 1, searchCoordOrder: 'latlong' }).then(function (res) {
                var center = res.geoObjects.get(0);
            });
        {% endif %}

        function init_map(ymaps) {

            window.myMap = new ymaps.Map("sell_places_map", {
                center: center,
                zoom: zoom,
                type: "yandex#map",
                behaviors: ['default', 'scrollZoom'],
                iconImageHref: '/static/images/misc/pin.png', // картинка иконки
                iconImageSize: [31, 47], // размеры картинки
                iconImageOffset: [-15, -47], // смещение картинки
                controls: []
            });


            window.myMap.controls
                    .add('geolocationControl', {
                        float: 'none',
                        position: {
                            left: 10,
                            top: 50
                        }
                    })
                    .add('zoomControl', {
                        float: 'none',
                        position: {
                            left: 10,
                            top: 90
                        }
                    })
                    .add('searchControl', {
                        float: 'none',
                        position: {
                            left: 70,
                            top: 90
                        }
                    })
                    .add('typeSelector', {
                        float: 'none',
                        position: {
                            left: 70,
                            top: 50
                        }
                    })

            var myClasterer = new ymaps.Clusterer({
                preset: 'twirl#lightblueClusterIcons',
                groupByCoordinates: false,
                gridSize: 80,
                clusterDisableClickZoom: true
            });

            var geoObjects = [];

            {% for place in all_sale_places %}


                {% if not place.map_coords  %}
                    ymaps.geocode('{{ place.city }}' + '{{ place.address }}', {
                        results: 1,
                        searchCoordOrder: 'latlong',
                    }).then(function (res) {

                        var firstGeoObject = res.geoObjects.get(0).geometry.getCoordinates();

                        {#                    console.log(firstGeoObject.geometry.getCoordinates(), fromString('{{ place.map_coords }}'));#}
                        var new_placemark = new ymaps.Placemark(firstGeoObject, {
                            balloonContentHeader: '{{ place.title }}',
                            clusterCaption: '{{ place.title }}',
                            balloonContentBody: '{{ place.city }}<br/>{{ place.address }}<br/>{{ place.phone }}<br/><br/>{% if place.body %}{{ place.body }}{% endif %} ',
                            {#                        balloonContentBody: 'ID:{{ place.id }}<br/>КООРДИНАТЫ:{{ place.map_coords }}<br/>ГОРОД:{{ place.city }}<br/>РЕГИОН:<br/>BODY:{{ place.body }}<br/>АДРЕС:{{ place.address }}<br/>ТЕЛЕФОН:{{ place.phone }}',#}
                            {#                                            balloonContentFooter: getLayersooters[index],#}
                        }, {
                            iconImageHref: '/static/images/misc/pin.png', // картинка иконки
                            iconImageSize: [31, 47],
                            iconImageOffset: [-15, -47]
                        });

                        myClasterer.add(new_placemark);
                    });
                {% else %}

                    var firstGeoObject = fromString('{{ place.map_coords }}');

                    var new_placemark = new ymaps.Placemark(firstGeoObject, {
                        balloonContentHeader: '{{ place.title }}',
                        clusterCaption: '{{ place.title }}',
                        balloonContentBody: '{{ place.city }}<br/>{{ place.address }}<br/><br/>{% if place.body %}{{ place.body|safe }}{% endif %} ',
                        {#                        balloonContentBody: 'ID:{{ place.id }}<br/>КООРДИНАТЫ:{{ place.map_coords }}<br/>ГОРОД:{{ place.city }}<br/>РЕГИОН:<br/>BODY:{{ place.body }}<br/>АДРЕС:{{ place.address }}<br/>ТЕЛЕФОН:{{ place.phone }}',#}
                        {#                                            balloonContentFooter: getLayersooters[index],#}
                    }, {
                        iconLayout: 'default#image',
                        iconImageHref: '/static/images/misc/pin.png', // картинка иконки
                        iconImageSize: [31, 47],
                        iconImageOffset: [-15, -47]
                    });

                    myClasterer.add(new_placemark);

                {% endif %}

            {% endfor %}

            //Вывод ховерного кластера наверх
            myClasterer.events
                // Можно слушать сразу несколько событий, указывая их имена в массиве.
                    .add(['mouseenter', 'mouseleave', 'click'], function (e) {
                        var target = e.get('target'), // Геообъект - источник события.
                                eType = e.get('type'), // Тип события.
                                zIndex = Number(eType === 'mouseenter') * 1000; // 1000 или 0 в зависимости от типа события.

                        target.options.set('zIndex', zIndex);
                    });

            window.myMap.geoObjects.add(myClasterer);
        }

        function fromString(val) {
            var parts = val.split(',');
            return [parseFloat(parts[1]), parseFloat(parts[0])];
        }

    </script>

</div>


<div class="block_inner">
</div>

</div>
</noindex>