{% load mptt_tags %}

<div class="main_menu" ng-controller="menuCtr">
    <ul class="menu"
        style="{% if current_site.main_ornament %}background-image: url({{ current_site.main_ornament.url }}); background-repeat:  no-repeat; background-position:  right top;{% endif %}">

        {% recursetree main_menu %}
            <li class="menu_item menu main_menu_icons-{{ node.slug }} {{ node.slug }} {% if current_menu = node %}current{% endif %}">
                <a href="{{ node.link }}" class="">{{ node.title }}</a>
                {% if not node.is_leaf_node %}
                    <ul class="submenu">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}


        {% if current_user.is_staff %}
            {#            <li>{{ current_ip }}</li>#}
        {% endif %}

    </ul>


    {#    {% if not current_site.is_shop %}#}
    {#    <div class="show_map" ng-controller="mapCtr" ng-click="movemap();showMap('{{ place.city }}'+'{{ place.address }}', '{{ place.map_coords }}', '{{ place.map_zoom }}');">#}

    <div class="reg_info" style="display: none">
        {{ current_site.is_shop }}
        {{ current_site.site.domain }}
        {{ current_region.name }}
        {{ rang_region }}
        {{ current_host }}
        {{ current_ip }}
        {{ cache_string }}
    </div>
    {% if not current_site.is_shop %}
        <div class="shop_adresses">
            <div class="hint" ng-show="show_hint" ng-animate="'fade'">
                Чтоб купить выбранный товар или получить информацию об оплате, доставке и установке, перейдите по данной ссылке или позвоните по номеру:
                {% if current_region.phone %}

                    {% if current_region.site == 'http://www.moscow3tn.ru' %}
                        <div class="region_phone phone">+7 (495) 589-54-16</div>
                    {% else %}
                        <div class="region_phone phone">{{ current_region.phone }}</div>
                    {% endif %}
                {% endif %}
            </div>

            {% if product.nid %}
                <a href="{{ current_region.site }}/?cid3tn={{ product.nid }}"
            {% else %}
                <a href="{{ current_region.site }}"
            {% endif %}
                   style="color: white;"
                   target="_blank"
                   ng-mouseover="show_hint=1;"
                   ng-mouseleave="show_hint=0;">
                Перейти в магазин


            </a>
        </div>
    {% endif %}



    {#    {% if current_region %}#}
    {#        {% if not current_site.json.online == True %}#}
    {#            <div class="shop_adresses" ng-controller="mapCtr"#}
    {#                 ng-click="init();global.map_show=1;load_saleplaces_menu('{{ current_region.id }}');global.map_click=1;  global.region.phone = '{{ current_region.phone }}';#}
    {#                 global.region.site = '{{ current_region.site }}'; mapGoal();">#}
    {#                Адреса магазинов#}
    {#            </div>#}
    {#        {% else %}#}
    {#            <div class="shop_adresses" ng-controller="mapCtr" ng-click="mapGoal();" da-modal=".ui.modal.alter_map">#}
    {#                Адреса магазинов#}
    {#            </div>#}
    {##}
    {#            <div class="ui white block small modal alter_map magazin_ornament">#}
    {#                <i class="ui close icon"></i>#}
    {##}
    {#                <div>#}
    {#                    <div class="page-title header">Магазины</div>#}
    {#                </div>#}
    {##}
    {#                <div class="content">#}
    {#                    <div class="ui center aligned basic segment" style="font-size: 1.3rem;">#}
    {#                        <p>У компании Тритон нет собственных магазинов, <br>#}
    {#                            но мы поставляем продукцию во многие <br>#}
    {#                            магазины сантехники.#}
    {#                        </p>#}
    {##}
    {#                        <p>Если вы хотите посмотреть и пощупать —<br>#}
    {#                            ищите в магазинах сантехники.#}
    {#                        </p>#}
    {##}
    {#                        <p>Если вы хотите купить – <br>#}
    {#                            обращайтесь к нам#}
    {#                            <br>#}
    {##}
    {#                        <div class="ui blue button" ng-click="hideModals(); global.callback_form_modal_show=1;#}
    {#            reachYandexGoal('OPEN_CALLBACK_FORM');#}
    {#            reachGoogleGoal('Callback', 'Open', 'Open Callback Form');">Заказать обратный звонок#}
    {#                        </div>#}
    {#                        </p>#}
    {##}
    {#                        <div>#}
    {#                            Мы – единственный интернет-магазин Тритон. <br>#}
    {#                            Мы продаем только Тритон. <br>#}
    {#                            Мы знаем все о продукции Тритон. <br>#}
    {#                            Наши продавцы-консультанты работают вместе с фирменным <br>#}
    {#                            <a href="{{ current_site.json.forum.link }}">Сервисным центром Тритон</a> <br>#}
    {#                            Выбирая нас – вы выбираете весь комплекс услуг Тритон. <br><br>#}
    {#                            Звоните <br>#}
    {##}
    {#                            <div class="ui blue button" ng-click="hideModals(); global.callback_form_modal_show=1;#}
    {#            reachYandexGoal('OPEN_CALLBACK_FORM');#}
    {#            reachGoogleGoal('Callback', 'Open', 'Open Callback Form');">Заказать обратный звонок#}
    {#                            </div>#}
    {#                            <br>#}
    {#                            и мы дадим вам скидку#}
    {##}
    {#                        </div>#}
    {#                    </div>#}
    {##}
    {#                </div>#}
    {#            </div>#}
    {##}
    {##}
    {#        {% endif %}#}
    {#    {% else %}#}
    {#        <div class="shop_adresses" ng-controller="mapCtr" ng-click="init();showMap('Москва'); global.map_click=1;">Адреса магазинов</div>#}
    {#    {% endif %}#}
    {#    {% endif %}#}


</div>