{% load mptt_tags %}

<div class="ui launch fixed icon blue basic small button" style="top:1rem; left: 1rem; z-index:850;" da-modal=".ui.mobile_main_menu.modal" ng-cloak>
    <i class="content  icon"></i>
</div>

<div class="ui white modal mobile_main_menu" ng-controller="menuCtr">

    <i class="close icon"></i>

    <div class="content">


        <ul class="ui fluid vertical menu">

            {% recursetree main_menu %}
                <div class="item {% if current_menu = node %}current{% endif %}">
                    <a href="{{ node.link }}" class="">{{ node.title }}</a>
                    {% if not node.is_leaf_node %}
                        <div class="menu">
                            {{ children }}
                        </div>
                    {% endif %}
                </div>
            {% endrecursetree %}

        </ul>

        {#    {% if current_region %}#}
        {#        {% if not current_site.json.online == True %}#}
        {#            <div class="shop_adresses" ng-controller="mapCtr"#}
        {#                 ng-click="init();global.map_show=1;load_saleplaces_menu('{{ current_region.id }}');global.map_click=1;  global.region.phone = '{{ current_region.phone }}'; global.region.site = '{{ current_region.site }}';">#}
        {#                Адреса магазинов#}
        {#            </div>#}
        {#        {% else %}#}
        {#            <div class="shop_adresses" ng-controller="mapCtr" ng-click="mapGoal();" da-modal=".ui.modal.alter_map">#}
        {#                Адреса магазинов#}
        {#            </div>#}
        {##}
        {#            <div class="ui white block small modal alter_map magazin_ornament">#}
        {#                <i class="ui close icon"></i>#}
        {##}
        {#    <div>#}
        {#        <div class="page-title header">Магазины</div>#}
        {#    </div>#}
        {##}
        {#                <div class="content">#}
        {#                    <div class="ui center aligned basic segment" style="font-size: 1.3rem;">#}
        {#                        <p>У компании Тритон нет собственных магазинов, <br>#}
        {#                            но мы поставляем продукцию во многие <br>#}
        {#                            магазины сантехники.#}
        {#                        </p>#}
        {##}
        {#                        <p>Если вы хотите посмотреть и пощупать —<br>#}
        {#                            ищите в магазинах сантехники.#}
        {#                        </p>#}
        {##}
        {#                        <p>Если вы хотите купить – <br>#}
        {#                            обращайтесь к нам#}
        {#                            <br>#}
        {##}
        {#                        <div class="ui blue button" ng-click="hideModals(); global.callback_form_modal_show=1;#}
        {#            reachYandexGoal('OPEN_CALLBACK_FORM');#}
        {#            reachGoogleGoal('Callback', 'Open', 'Open Callback Form');">Заказать обратный звонок#}
        {#                        </div>#}
        {#                        </p>#}
        {##}
        {#                        <div>#}
        {#                            Мы – единственный интернет-магазин Тритон. <br>#}
        {#                            Мы продаем только Тритон. <br>#}
        {#                            Мы знаем все о продукции Тритон. <br>#}
        {#                            Наши продавцы-консультанты работают вместе с фирменным <br>#}
        {#                            <a href="{{ current_site.json.forum.link }}">Сервисным центром Тритон</a> <br>#}
        {#                            Выбирая нас – вы выбираете весь комплекс услуг Тритон. <br><br>#}
        {#                            Звоните <br>#}
        {##}
        {#                            <div class="ui blue button" ng-click="hideModals(); global.callback_form_modal_show=1;#}
        {#            reachYandexGoal('OPEN_CALLBACK_FORM');#}
        {#            reachGoogleGoal('Callback', 'Open', 'Open Callback Form');">Заказать обратный звонок#}
        {#                            </div>#}
        {#                            <br>#}
        {#                            и мы дадим вам скидку#}
        {##}
        {#                        </div>#}
        {#                    </div>#}
        {##}
        {#                </div>#}
        {#            </div>#}
        {##}
        {##}
        {#        {% endif %}#}
        {#    {% else %}#}
        {#        <div class="shop_adresses" ng-controller="mapCtr" ng-click="init();showMap('Москва'); global.map_click=1;">Адреса магазинов</div>#}
        {#    {% endif %}#}
        {#    {% endif %}#}
    </div>


</div>