{% load thumbnail %}

<div class="block news_block">
<div class="block_title">Новости и акции</div>
    <a href="/news" class="all_link">Все новости и акции</a>

    {% include 'triton_ua/news/list.html' %}

</div>