{% for place in saleplaces %}
    <div class="sale_place"
         ng-click="showMap('{{ place.city }}'+'{{ place.address }}', '{{ place.map_coords }}', '{{ place.map_zoom }}');">
        <h4>{{ place.title }}</h4>

        <div class="field_address">{{ place.city }}, {{ place.address }}</div>
        <div class="field_phone">{{ place.phone }}</div>
    </div>
{% endfor %}