<div class="saleplaces_block block" ng-controller="mapCtr" >
    {% for place in sale_places %}
        <div class="sale_place">
            <h5>{{ place.title }}</h5>

            <div class="field_phone">{{ place.phone }}</div>
            <div class="show_on_map" ng-click="movemap();showMap('{{ place.city }}'+'{{ place.address }}', '{{ place.map_coords }}', '{{ place.map_zoom }}');">Посмотреть на карте</div>
        </div>
    {% endfor %}

</div>
