{% load mptt_tags %}
<div class="second_menu">
    <ul class="menu">
        {% for menu in second_menu %}
            <li class="menu_item menu {{ menu.slug }} second_menu_icons-{{ menu.slug }} {% if current_menu = menu %}current{% endif %}">
                <a href="{{ menu.link }}" class="">{{ menu.title }}</a>
            </li>
        {% endfor %}
        {% if second_menu_more %}
            <li class="menu_item menu more second_menu_icons-more">
                <a class="">Еще</a>
            </li>
        {% endif %}

    </ul>
    {% if second_menu_more %}
        <ul class="menu second_menu_more">
        {% for menu in second_menu_more  %}
            <li class="menu_item menu {{ menu.slug }} second_menu_icons-{{ menu.slug }} {% if current_menu = menu %}current{% endif %}">
                <a href="{{ menu.link }}" class="">{{ menu.title }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
</div>

{% if parent_menu.image %}
    <div class="submenu_image"><img src="{{ parent_menu.image.url }}" alt=""/></div>
{% endif %}

