{% load thumbnail %}

<div class="slideshow block" id="main_slideshow-o">
    <da-slideshow nextimg="/static/images/icons/slideshow_icons/next.png" previmg="/static/images/icons/slideshow_icons/prev.png" autoplay interval="5000">
        {% for slide in slides %}

            <da-slide class="slide type_{{ slide.type|lower }} {% if slide.video.all %}video_slide{% endif %}" id="slide_{{ slide.id }}"
                      {% if slide.video.all %}video-slide{% endif %}>

                <a href="{{ slide.link }}" target="_self" style="width: 100%;">
                    {#                {% thumbnail slide.img "1120x500" crop="center" as im %}#}

                    {#                {% if slide.additional_img %}#}
                    {#                    <div class="big_slide">#}
                    {#                        <img ng-src="{{ slide.additional_img.url }}" alt=""/>#}
                    {#                    </div>#}
                    {#                {% endif %}#}


                    {% if slide.video.all %}
                        {% for video in slide.video.all|slice:"1" %}


                            <video class="slide_video" id="slide_video_{{ slide.id }}" muted autoplay ng-controller="videoCtrl"
                                    {#                               poster="{{ slide.img.url }}"#}

                                    {% if config.VIDEO_BACKEND == 'youtube' %}
                                   data-setup='{ "techOrder": ["youtube"], "src": "http://www.youtube.com/watch?v={{ video.video_url }}" }'
                                    {% endif %}

                            >

                                {% if config.VIDEO_BACKEND == 'self' %}
                                    {% for video_file in slide.video.all|slice:"0:2" %}
                                        <source src="/media/nodevideos/{{ video_file.video_url }}" type='video/{{ video_file.video_type }}'/>
                                    {% endfor %}
                                {% endif %}

                                {# <source src="http://video-js.zencoder.com/oceans-clip.mp4" type='video/mp4' />#}
                                {# <source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />#}
                                {# <source src="http://video-js.zencoder.com/oceans-clip.ogv" type='video/ogg' />#}

                                {#                    {% if product.additionalvideos_set.all %}#}
                                {#                        {% for first_video in product.additionalvideos_set.all|slice:":1" %}#}
                                {#                            <img src="{{ first_video.video_poster.url }}" alt=""/>#}
                                {#                        {% endfor %}#}
                                {#                    {% endif %}#}
                            </video>



                        {% endfor %}
                    {% endif %}

                    {% if slide.additional_img and not request.user_agent.is_mobile  %}
                        <img src="{{ slide.img.url }}" alt="" class="ui fluid image" style="position: absolute; top: 0;"/>
                        <img src="{{ slide.additional_img.url }}" class="ui centered image" alt="" style="min-width: 1500px !important;"/>
                    {% else %}
                        <img src="{{ slide.img.url }}" alt="" class="ui fluid image"/>
                        <div class="name">{{ slide.product.title }}</div>
                    {% endif %}

                    {#                {% endthumbnail %}#}

                    {% if slide.message or slide.link_text %}
                        <div class="slide_text">
                            {% if slide.link_text %}
                                <div class="link_text">{{ slide.link_text }}</div>
                            {% endif %}

                            {% if slide.message %}
                                <div class="message">{{ slide.message }}</div>
                            {% endif %}
                        </div>
                    {% endif %}
                    {% if slide.product %}
                        <div class="price_wrapper slide_wrapper">
                            <div class="price" style="{{ slide.product_style }}">{{ slide.product.price }} <span>{{ current_site.currency }}</span></div>
                        </div>
                    {% endif %}
                </a>
            </da-slide>

        {% endfor %}
    </da-slideshow>
    {#    <div class="prev slidesjs-navigation">Предудущий</div>#}
    {#    <div class="next slidesjs-navigation">Следующий</div>#}
</div>

