{% load i18n %}
{% load thumbnail %}


<script>
    window.onload = function () {

    }
</script>

{% for video in product.additionalvideos_set.all|slice:"1" %}



    <video id="product_video" class="video-js vjs-default-skin" ng-controller="videoCtrl"
           controls preload="none" width="1120" height="630"
           poster="{% if video.video_poster %}{% thumbnail video.video_poster "1120x630" upscale="true" crop="center" as im %}{{ im.url }}{% endthumbnail %}{% endif %}"

            {% if config.VIDEO_BACKEND == 'youtube' %}
           data-setup='{ "techOrder": ["youtube"], "src": "http://www.youtube.com/watch?v={{ video.video_url }}" }'
            {% endif %}

    >

        {% if config.VIDEO_BACKEND == 'self' %}
            {% for video_file in product.additionalvideos_set.all|slice:"1:3" %}
                <source src="/media/nodevideos/{{ video_file.video_url }}" type='video/{{ video_file.video_type }}'/>
            {% endfor %}
        {% endif %}

        {#                    {% if product.additionalvideos_set.all %}#}
        {#                        {% for first_video in product.additionalvideos_set.all|slice:":1" %}#}
        {#                            <img src="{{ first_video.video_poster.url }}" alt=""/>#}
        {#                        {% endfor %}#}
        {#                    {% endif %}#}
    </video>

{% endfor %}

