{% load i18n %}
{% load thumbnail %}



    <video id="product_video" class="video-js vjs-default-skin" ng-controller="videoCtrl"
           controls preload="auto" width="1120" height="630"
           poster="/media/optionvideos/{{ name }}.jpg"

            <source src="/media/optionvideos/{{ name }}.mp4" type='video/mp4'/>
            <source src="/media/optionvideos/{{ name }}.webm" type='video/webm'/>

    </video>



