{% if not noscript %}
    <script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/static/js/pisi-Reel-0415396/jquery.reel.js"></script>
{% endif %}

<div class="visor">

    <img src="/media/visor/{{ visor_url }}/01.jpg" width="{{ width }}" height="{{ height }}"
         class="reel"
         data-inversed=true
         data-images="/media/visor/{{ visor_url }}/##.jpg"
         data-image="/demo/green-reel.jpg"
         data-frames="{% if frames %}{{ frames }}{% else %}32{% endif %}"
         data-footage="4"
         data-revolution="{{ width }}"
            >
</div>

