<script type="text/javascript" src="/static/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/js/pisi-Reel-0415396/jquery.reel.js"></script>

{% if product.visor_set.all %}
    {% for visor in product.visor_set.all %}
        {% include "triton_ua/blocks/visor.html" with visor_url=visor width='{{ width }}' height='{{ height }}' %}
    {% endfor %}
{% endif %}