{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}



{% block body_classes %}not-front accounts_part profile two-col{% endblock %}

{% block title %}{% trans "Triton" %} | {% trans "продажа ванн" %}{% endblock %}

{% block pagetitle %}Профиль <strong>{{ a_user_profile.user.username }}</strong>{% endblock %}

{% block controller %}ng-controller='profileCtrl'{% endblock %}

{% block content %}


    <div class="user_info block">
        <div class="avatar_wrap">
            {% thumbnail a_user_profile.avatar "200x200" crop="center" as im %}
                <img ng-src="{? global.avatar ?}" alt="" class="avatar" ng-init="global.avatar ='{{ im.url }}'"/>

            {% endthumbnail %}
        </div>

        <h3 class="user_name">{{ a_user_profile.user.first_name }} {{ a_user_profile.user.last_name }}</h3>

        <div class="user_city">{{ a_user_profile.city }}</div>

        <div class="user_points">{{ a_user_profile.points }}</div>
    </div>

    <div class="date_joined block">
        <h3>История</h3>
        C нами: {{ a_user_profile.user.date_joined|timesince }}
    </div>
    
    {% if freelancer %}
        <h3>Реквизиты:</h3>
        {{ freelancer.payment }}
    {% endif %} 


    <da-tabs>

        {% if projects %}
            <da-tab name="Проекты">
                <div class="projects items">
                    {% include "constructors/helpers/projects.html" %}
                </div>
            </da-tab>

        {% endif %}

    </da-tabs>

{% endblock %}


{% block sidebar %}

    {% if user.is_authenticated %}


    {% endif %}


{% endblock %}

