{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}



{% block body_classes %}not-front accounts_part login two-col{% endblock %}
{% block title %}{% trans "Triton" %} | {% trans "продажа ванн" %}{% endblock %}
{% block pagetitle %}
    {% if current_user.id %}
        Привет, {{ current_user.username }}
    {% else %}
        Вход
    {% endif %}
{% endblock %}




{% block content %}

    {% if current_user.id %}
    {% else %}
        {% include "triton_ua/forms/form_base.html" with form=login_form name_form="login_form" submit_text="Войти" action="/login" %}

        <div class="h2">Восстановить пароль</div>
        {% include "triton_ua/forms/form_base.html" with form=recovery_form name_form=" recovery_form" submit_text="Восстановить" action="/recovery_password" %}

        <div class="block social_auth_block">
            <div class="block_title">Войти через:</div>
            <a href="{% url 'socialauth_begin' 'facebook' %}" class="socials-facebook">Взойти через ФБ</a>
            <a href="{% url 'socialauth_begin' 'google-oauth2' %}" class="socials-gplus">Взойти через Гугл</a>
            <a href="{% url 'socialauth_begin' 'twitter' %}" class="socials-twitter">Взойти через Твитер</a>
            <a href="{% url 'socialauth_begin' 'vk-oauth' %}" class="socials-vk">Взойти через Вконтактик</a>
{#            <a href="{% url 'socialauth_begin' 'mailru-oauth' %}" class="socials-mailru">Взойти через Маилру(Яндекс, Рамблер)</a>#}
{#            <a href="{% url 'socialauth_begin' 'livejournal' %}" class="socials-facebook">Взойти через Ливжорнал</a>#}
        </div>

    {% endif %}

{% endblock %}


{% block sidebar %}

    {% if current_user.id %}

    {% else %}

        <div class="block registration_block">
            <div class="block_title">Зарегистрироваться</div>
            {% include "triton_ua/forms/form_base.html" with form=register_form name_form="register" submit_text="Зарегистрироваться" action="/register" %}
        </div>

    {% endif %}


{% endblock %}