{% extends "base/modal.html" %}

{% load i18n %}
{% load thumbnail %}

{% block modal_addition %}
    {#    ng-show="global.show_login"#}
{% endblock %}

{% block modal_class %}login{% endblock %}

{% block modal_title %}
    Вход и регистрация
{% endblock %}

{% block modal_content %}

    <div class="desc">{? global.login_modal_desc?}</div>

    {% if current_user.id %}
    {% else %}

        <div class="login_part" ng-show="login_part_show" ng-init="login_part_show=1;">
            <div class="block login_block">
                <div class="block_title">
                    Войти
                    <div class="in_h  dashed_link" ng-click="register_part_show=1;login_part_show=0;
                    ">Зарегистрироваться
                    </div>
                </div>


                {% include "triton_ua/forms/form_base.html" with form=login_form name_form="tri_login" submit_text="Войти" action="/login" %}</div>

            <div class="h2">Восстановить пароль</div>
            {% include "triton_ua/forms/form_base.html" with form=recovery_form name_form=" recovery_form" submit_text="Восстановить" action="/recovery_password" %}


            <div class="block social_auth_block">
                <div class="block_title">Войти через:</div>
                <a href="{% url 'socialauth_begin' 'facebook' %}" class="socials-facebook">Войти через ФБ</a>
                <a href="{% url 'socialauth_begin' 'google-oauth2' %}" class="socials-gplus">Войти через Гугл</a>
                <a href="{% url 'socialauth_begin' 'twitter' %}" class="socials-twitter">Войти через Твитер</a>
                <a href="{% url 'socialauth_begin' 'vk-oauth' %}" class="socials-vk">Войти через Вконтактик</a>
                {#                <a href="{% url 'socialauth_begin' 'yaru' %}" class="socials-ya">Войти через Яндекс</a>#}
                {#            <a href="{% url 'socialauth_begin' 'mailru-oauth' %}" class="socials-mailru">Войти через Маилру(Яндекс, Рамблер)</a>#}
                {#            <a href="{% url 'socialauth_begin' 'livejournal' %}" class="socials-facebook">Войти через Ливжорнал</a>#}
            </div>
        </div>

        <div class="register_part" ng-show="register_part_show">
            <div class="block registration_block">
                <div class="block_title ">
                    Зарегистрироваться
                    <div class="in_h  dashed_link" ng-click="register_part_show=0;login_part_show=1;">Войти</div>
                </div>
                {% include "triton_ua/forms/form_base.html" with form=register_form name_form="tri_register" submit_text="Зарегистрироваться" action="/register" %}
            </div>
        </div>

    {% endif %}

{% endblock %}

