{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}


{% block body_classes %}not-front accounts_part profile {% endblock %}

{% block title %}{% trans "Triton" %} | {% trans "продажа ванн" %}{% endblock %}

{% block pagetitle %}Личный кабинет <strong>{{ user_profile }} </strong>{% endblock %}

{% block controller %}ng-controller='profileCtrl'{% endblock %}

{% block content %}



    <div class="user_groups" style="margin-bottom: 10px;">
        {% for group in current_user.groups.all %}
            <div class="user_group tag active">{{ group.name }}</div>
        {% endfor %}

    </div>


    <div class="user_info block">
        <div class="avatar_wrap">
            {% include "triton_ua/helper/avatar.html" with width='200' height='200' user_profile=user_profile %}
            <div class="hint">Изменить автар</div>
            <input id="photo_load" name="photo_load-original" type="file" class="photo_load" accept="image/*" ng-file-select="change_avatar($files)">
        </div>

        <h3 class="user_name">{{ user.first_name }} {{ user.last_name }}</h3>

        <div class="user_city">{{ user_profile.city }}</div>

        <div class="user_points">{{ user_profile.points }}</div>

        {% for group in current_user.groups.all %}
            {% if group.name  == 'seller' %}
                {#                <div class="user_points">{{ user_profile.points }}</div>#}
            {% endif %}
        {% endfor %}
    </div>

    <div class="date_joined block">
        <h3>История</h3>
        C нами: {{ user.date_joined|timesince }}
    </div>

    {% if perms.constructors.view_project %}
        Перейти в раздел <a href="{% url "constructors:projects" %}" class="ui blue button" style="">Проекты</a>
        <br/>
        <br/>
    {% endif %}

    {#    Dealers buttons#}
    {% if qr == dealer_code %}
        {% if dealer_form %}
            <div class="ui blue button" ng-click="dealer_form_show=1; repres_form_show=0; seller_form_show=0; report_form_show=0;"
                 {% if request.path == '/dr' %}ng-init="dealer_form_show=1;" {% endif %}>Я дилер
            </div>
        {% endif %}

        {% if repres_form %}
            <div class="ui blue button" ng-click="repres_form_show=1; dealer_form_show=0; seller_form_show=0; report_form_show=0;"
                 {% if request.path == '/rr' %}ng-init="repres_form_show=1;" {% endif %}>Я торгпред
            </div>
        {% endif %}

        {% if seller_form %}
            <div class="ui blue button" ng-click="seller_form_show=1;  dealer_form_show=0; repres_form_show=0; report_form_show=0;"
                 {% if request.path == '/sr' %}ng-init="seller_form_show=1;" {% endif %}>Я продавец
            </div>
        {% endif %}
    {% endif %}

    {#    Freelancers buttons#}
    {% if qr == freelancer_code %}
        {% if freelancer_form %}
            <div class="ui blue button" ng-click="freelancer_form_show=1;">Я фрилансер</div>{% endif %}
    {% endif %}

    {% if perms.triusers.add_sellerreport %}
        <div class="ui blue button" ng-click="report_form_show=1;  seller_form_show=0;  dealer_form_show=0; repres_form_show=0;"
             {% if request.path == '/sale' %}ng-init="report_form_show=1;" {% endif %}>Добавить продажу
        </div>
    {% endif %}




    {% if qr == freelancer_code %}
        <div class="freelancer_form" ng-show="freelancer_form_show">
            {% include "triton_ua/forms/form_base.html" with form=freelancer_form submit_text="Отправить заявку" action="/constructors/freelancer/request" name_form='freelancer_form' %}
        </div>
    {% endif %}


    {% if qr == dealer_code %}
        <div class="dealer_form" ng-show="dealer_form_show">
            {% include "triton_ua/forms/form_base.html" with form=dealer_form title="Стать диллером" submit_text="Отправить заявку" action="/dealer_request" name_form='dealer_form' %}
        </div>

        <div class="repres_form" ng-show="repres_form_show">
            {% include "triton_ua/forms/form_base.html" with form=repres_form title="Стать торговым представителем" submit_text="Отправить заявку" action="/repres_request" name_form='repres_form' %}
        </div>

        <div class="seller_form" ng-show="seller_form_show">
            {% include "triton_ua/forms/form_base.html" with form=seller_form title="Стать продавцом" submit_text="Отправить заявку" action="/seller_request" name_form='seller_form' %}
        </div>

    {% endif %}


    {% if perms.triusers.add_sellerreport %}
        <div class="report_form" ng-show="report_form_show">
            {% include "triton_ua/forms/form_base.html" with form=report_form title="Зарегистрировать продажу" submit_text="Отправить продажу" action="/report_request" name_form='report_form' %}
        </div>
    {% endif %}



    <da-tabs default="{{ request.GET.tab }}">

        {% if freelancers %}
            <da-tab name="Фрилансеры">
                <div class="freelancers users">
                    {% include "triton_ua/accounts/helpers/adv_user_list.html" with users=freelancers advuser_type='freelancer' %}
                </div>
            </da-tab>

        {% endif %}

        {% if projects %}
            <da-tab name="Проекты">
                <div class="projects items">
                    {% include "constructors/helpers/projects.html" %}
                </div>
            </da-tab>

        {% endif %}

        {% if dealers %}
            <da-tab name="Дилеры">
                <div class="dealers users">
                    {% include "triton_ua/accounts/helpers/adv_user_list.html" with users=dealers advuser_type='dealer' %}
                </div>
            </da-tab>
        {% endif %}

        {% if repress %}
            <da-tab name="Торг.представители">
                <div class="repress users">
                    {% include "triton_ua/accounts/helpers/adv_user_list.html" with users=repress advuser_type='repres' %}
                </div>
            </da-tab>
        {% endif %}

        {% if reports %}
            <da-tab name="Продажи">
                <div class="reports items">
                    {% include "triton_ua/accounts/helpers/reports_list.html" with items=reports %}
                </div>
            </da-tab>
        {% endif %}

        {% if sellers %}
            <da-tab name="Продавцы">
                <div class="sellers users">
                    {% include "triton_ua/accounts/helpers/adv_user_list.html" with users=sellers advuser_type='seller' %}
                </div>
            </da-tab>
        {% endif %}


        <da-tab name="Мои вопросы" class="user_questions block">
            <h3 class="block_title">Мои вопросы</h3>
            {% include "questions/forms/question_form.html" with form=question_form name_form="question_form" submit_text="Задать вопрос" submit_click=True controller="questionCtrl" %}

            <div class="questions_view" ng-controller="questionCtrl">
                {% include "questions/parts/questions_view.html" with questions=user_questions %}
            </div>
        </da-tab>

        <da-tab name="Мои планировки" class="user_saves block">

            <h3 class="block_title">Мои планировки</h3>

            <div class="saves_view" ng-controller="trideCtrl">
                {% for user_save in user_saves %}
                    <div class="views_row tride_{{ user_save.id }}">
                        <a ng-click="global.tride_show=1;">
                            <img src="{{ user_save.photo.url }}" alt=""/>
                        </a>


                        <div class="save_info">
                            {% if user_save.title %}
                                <h4>{{ user_save.title|capfirst }}</h4>
                            {% endif %}

                            <div class="pub_date">{{ user_save.pub_date|timesince }} назад</div>
                            {% if user_save.products %}
                                <div class="products">
                                    {% for product in user_save.products.all %}
                                        {#                                    <a class="product" href="{% url 'nodes.node' product.dot_slug %}">{{ product.title }}</a>#}
                                        <a class="product" href="/{{ product.dot_slug }}">{{ product.title }}</a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>

                        <div class="links">
                            <a class="red" ng-click="delete_tride({{ user_save.id }})">удалить</a>
                        </div>

                    </div>
                {% endfor %}

                {#            {% include "questions/partials/questions_view.html" with questions=user_questions %}#}
            </div>
        </da-tab>

        <da-tab name="Избранные">
            {% if favorite %}
                {% include "products/blocks/custom_list.html" with products=favorite without_filter=True  title="Избранные" class="favorite_view" %}
            {% endif %}
        </da-tab>

        <da-tab name="Последние">
            {% if product_history %}
                {% include "products/blocks/custom_list.html" with products=product_history without_filter=True  title="Последние просмотренные товары" class="last_view" %}
            {% endif %}
        </da-tab>

        <da-tab name="Редактировать профиль">
            <div class="block registration_block">
                <h2 class="block_title">Редактировать профиль</h2>
                {% include "triton_ua/forms/form_base.html" with form=change_user_form submit_text="Изменить" action="/edit_profile" name_form='profile_form' %}
            </div>

        </da-tab>

        {% if user.is_authenticated %}
            <da-tab name="Подписки" slug="subscribe">

{#                <div class="block node_subscribe_block">#}
{#                    <h2 class="block_title">Подписаться на рассылки</h2>#}
{#                    {% include "oblaka/forms/form_base.html" with form=node_subscribe_form submit_text="Изменить" action="/node_subscribe" name_form='subscribe_form' %}#}
{#                </div>#}
{#                #}

                <div class="block node_subscribe_block">
                    <h2 class="block_title">Подписаться на рассылки</h2>
                    {% include "triton_ua/forms/form_base.html" with form=subscribe_form submit_text="Изменить" action="/subscribe" name_form='subscribe_form' %}
                </div>

            </da-tab>
        {% endif %}


        {#        <da-tab name="Мои баллы" class="user_points block">#}
        {#            <h3 class="block_title">Мои баллы</h3>#}
        {#            #}
        {#        </da-tab>#}

    </da-tabs>

    {% include 'tride/flash_3d.html' %}


{% endblock %}


{#{% block sidebar %}#}
{##}
{#    {% if user.is_authenticated %}#}
{##}
{##}
{##}
{#        <div class="block node_subscribe_block">#}
{#            <h2 class="block_title">Подписаться на рассылки</h2>#}
{#            {% include "oblaka/forms/form_base.html" with form=node_subscribe_form submit_text="Изменить" action="/node_subscribe" name_form='subscribe_form' %}#}
{#        </div>#}
{##}
{##}
{##}
{#    {% endif %}#}
{##}
{##}
{#{% endblock %}#}
{##}
