<div class="filter_group"
     ng-controller="filterItemsCtrl"
     ng-init="
        id = '{{ cat_type.id }}';
        name = '{{ cat_type.title }}';
        slug = '{{ cat_type.slug }}';
        "
        >


    <div class="filter_group_title">{{ cat_type.title }}</div>

    <div class="filter_item"
         ng-class="{'active':  !global.{{ cat_type.slug }}_filter}"
         ng-click="global.{{ cat_type.slug }}_filter=''; filterProducts();">
        <span class="filter_item_name">Все</span>
    </div>

    {% for filter_item in filter_items %}
        <div class="filter_item"
             ng-controller='filterItemCtrl'
             ng-init="
                     id = '{{ filter_item.id }}';
                     name = '{{ filter_item.title }}';
                     slug = '{{ filter_item.slug }}';
                     {% if filter_item.slug in cats %}global.{{ cat_type.slug }}_filter='{{ filter_item.title }}'; {% endif %}
                     "
             ng-class="{'active':  global.{{ cat_type.slug }}_filter=='{{ filter_item.title }}'}"
             ng-click="global.{{ cat_type.slug }}_filter='{{ filter_item.title }}'; filterProducts();">


            <span class="filter_item_name">{{ filter_item.title }}</span>

            <div class="action_icons">
                <span class="filter_item_about misc_icons-hint">?</span>
                <span class="filter_item_video misc_icons-video">></span>
            </div>
        </div>
    {% endfor %}

</div>