<div class="filter_group">
    <div class="filter_group_title">{{ cat_type.title  }}</div>

    <div class="filter_item"
         ng-class="{'active':  !global.{{ cat_type.slug }}_filter}"
         ng-click="global.{{ cat_type.slug }}_filter=''; filter('{{ cat_type.slug }}', '');">
        <span class="filter_item_name">Все</span>
    </div>

    {% for filter_item in filter_items %}
        <div class="filter_item"
             ng-class="{'active':  global.{{ cat_type.slug }}_filter=='{{ filter_item.title }}'}"
             ng-click="global.{{ cat_type.slug }}_filter='{{ filter_item.title }}'; filter('{{ cat_type.slug }}', '{{ filter_item.title }}');">
            <span class="filter_item_name">{{ filter_item.title }}</span>

            <div class="action_icons">
                <span class="filter_item_about misc_icons-hint">?</span>
                <span class="filter_item_video misc_icons-video">></span>
            </div>
        </div>
    {% endfor %}

</div>