{% load thumbnail %}
{% load hramik_tags %}


<div class="comment">
    <h4 class="field_title">{{ comment.title }}</h4>

    <div class="publish">
        <span class="field_author">{{ comment.user }}</span> /
        <span class="field_pub_date">{{ comment.pub_date }}</span>
    </div>

    <div class="field_rate stars-rate_{{ comment.rate }} ">{{ comment.get_rate_display }}</div>

    <div class="field_body">{{ comment.body|linebreaksbr }}</div>

    {% if comment.plus_comment %}
        <div class="field_plus_comment">
            <h5>Плюсы</h5>
            {{ comment.plus_comment|linebreaksbr }}
        </div>
    {% endif %}

    {% if comment.minus_comment %}
        <div class="field_minus_comment">
            <h5>Минусы</h5>
            {{ comment.minus_comment|linebreaksbr }}
        </div>
    {% endif %}
</div>