<div class="ui order basic modal">
    <i class="ui blue close icon"></i>

    <div class="ui blue header">Заказать</div>

    <div class="content">

        <form class="ui order form">
            <div class="field">
                <label>Имя</label>
                <input type="text" name="first-name" placeholder="Имя">
            </div>
            <div class="field">
                <label>Телефон</label>
                <input type="text" name="last-name" placeholder="Телефон">
            </div>

        </form>

        <div class="buy ui center aligned basic segment">
                <div class="ui header blue">50000 руб</div>
                <div class="ui basic blue button" da-modal=".ui.order.modal">Заказать</div>
            </div>

    </div>

</div>