{#{% load flatblocks %}#}
{% load cache %}
{% load thumbnail %}


{% cache 36000 'belgorod' 'map' %}
    {% include "triton_ua/blocks/map.html" %}
{% endcache %}


{% block first_footer %}
    {% if sale_places %}
        <div id="first_footer">
            {% include "triton_ua/blocks/saleplaces.html" %}
        </div>
    {% endif %}


{% endblock first_footer %}

{% block second_footer %}
    <div id="second_footer">
        {#            {% include "triton_ua/blocks/menu.html" %}#}
        {% include "triton_ua/blocks/social/socials.html" %}

        <div>
            <a href="/map-1.html">Карта сайта</a> | <a href="/skidki-belgorod">Скидки</a>
        </div>

        {% include "triton_ua/blocks/footer/www.belgorod3tn.ru/counters.html" %}
    </div>

    <div class="copyright">
        <img src="/static/images/small_logo.png" alt=""/><br/>
        <a href="/">Акриловые ванны</a> в Белгороде<br/>
        © 2011-2016. Все права защищены <br/>
    </div>
{% endblock second_footer %}


{#<a href="/adresa-i-contacty">Адреса и контакты</a> | #}


