{% load cache %}
{% load i18n %}
{% load thumbnail %}

{% for item in items %}

    <div class="views_row">


        <div class="field_img" style="width: 160px; height: 160px;">
            {% thumbnail item.photo "160x160" crop='center'  format="PNG" as im %}
                <a href="{% url 'nodes:node' item.dot_slug %}">
                    <img src="{{ im.url }}" alt="{{ photo.alt }}"
                         title="{{ photo.title }}"
                            />
                </a>
            {% endthumbnail %}
        </div>

        <div class="pub_date">{{ item.pub_date|timesince }} назад</div>

        <h4 class="field_title"><a href="{% url 'nodes:node' item.dot_slug %}">{{ item.title }}</a></h4>

        <div class="field_teaser">
            {% if item.teaser %}
                {{ item.teaser|safe|removetags:"img"|urlize }}
            {% else %}
                {{ item.body|safe|removetags:"img"|truncatewords_html:100|urlize }}
            {% endif %}

        </div>

        <div class="status status_{{ item.node_type.slug }}">{{ item.node_type.name }}</div>

    </div>
{% endfor %}