

<!-- Enable Browser History by replacing useBrowserHistory tokens with two hyphens -->
<!-- BEGIN Browser History required section -->
<link rel="stylesheet" type="text/css" href="/media/3dpr/history/history.css">
<script type="text/javascript" src="/media/3dpr/history/history.js"></script>
<!-- END Browser History required section -->

<script type="text/javascript" src="/media/3dpr/swfobject.js"></script>

<script type="text/javascript">

var BASE_PATH = window.location + "/media/3dpr/";
var LOCATION = window.location;

{# Something requriments #}
var required = {major: 11, minor: 2, release: 202};

{# Logger... for what?#}
function log(a) {
    if (window.console != null && window.console.log != null) {
        console.log(a);
        return;
    }
    if (window.debug != null && window.debug.log != null) {
        debug.log(a);
        return;
    }
}

function getTargetPlugin() {
    var PATH = BASE_PATH + 'resources/flash/';
    var plugins = [
        {os: 'win64', target: 'ie', file: PATH + 'install_flashplayer11x32ax_mssd_aih.exe'},
        {os: 'win64', target: 'all', file: PATH + 'install_flashplayer11x32_mssd_aih.exe'},
        {os: 'win32', target: 'ie', file: PATH + 'install_flashplayer11x32ax_mssd_aih.exe'},
        {os: 'win32', target: 'all', file: PATH + 'install_flashplayer11x32_mssd_aih.exe'},

        {os: 'mac6-7', target: 'all', file: PATH + 'install_flash_player_osx.dmg'},
        {os: 'mac4-5', target: 'all', file: PATH + 'install_flash_player_10_osx.dmg'},

        {os: 'nix64', target: 'all', file: PATH + 'flash-plugin-11.2.202.251-release.x86_64.rpm'},
        {os: 'nix32', target: 'all', file: PATH + 'flash-plugin-11.2.202.251-release.i386.rpm'},
        {os: 'ubuntu', target: 'all', file: 'apt:adobe-flashplugin?channel=$distro-partner'}
    ];

    var platform = "";
    var platforms = [
        {key: 'win64', values: [
            ['win64'],
            ['win32', 'wow64'],
            ['windows nt', 'wow64']
        ]},
        {key: 'win32', values: [
            ['win32'],
            ['windows nt']
        ]},
        {key: 'mac6-7', values: [
            ['intel mac os x 10.6'],
            ['intel mac os x 10_6'],
            ['intel mac os x 10.7'],
            ['intel mac os x 10_7'],
            ['intel mac os x 10.8'],
            ['intel mac os x 10_8']
        ]},
        {key: 'mac4-5', values: [
            ['mac os x mach-o'],
            ['intel mac os x 10.4'],
            ['intel mac os x 10_4'],
            ['intel mac os x 10.5'],
            ['intel mac os x 10_5']
        ]},
        {key: 'ubuntu', values: [
            ['linux x86_x64', 'ubuntu'],
            ['linux amd64', 'ubuntu'],
            ['linux i686', 'ubuntu']
        ]},
        {key: 'nix64', values: [
            ['linux x86_x64'],
            ['linux amd64']
        ]},
        {key: 'nix32', values: [
            ['linux i686']
        ]}
    ];

    var userAgent = navigator['userAgent'].toLowerCase();
    var application = navigator['appName'].toLowerCase();

    var targetPlatform = null;
    var targetNavigator = null;
    var targetPlugin = null;

    for (var i = 0; i < platforms.length; i++) {
        var p = platforms[i];
        for (var j = 0; j < p.values.length; j++) {
            var set = p.values[j];
            var failed = false;
            for (var k = 0; k < set.length; k++) {
                if (userAgent.indexOf(set[k]) == -1) {
                    failed = true;
                    break;
                }
            }
            if (!failed) {
                //platform detected
                targetPlatform = p.key;
                break;
            }
        }
        if (targetPlatform != null) {
            break;
        }
    }

    var ie = ['msie', 'microsoft internet explorer'];
    targetNavigator = 'all';
    for (var i = 0; i < ie.length; i++) {
        if (userAgent.indexOf(ie[i]) != -1) {
            targetNavigator = 'ie';
            break;
        }
        if (application.indexOf(ie[i]) != -1) {
            targetNavigator = 'ie';
            break;
        }
    }
    if (targetNavigator != null && targetPlatform != null) {
        for (var i = 0; i < plugins.length; i++) {
            var p = plugins[i];
            if (p.os == targetPlatform && p.target == targetNavigator) {
                targetPlugin = p;
                log('Target plugin selected! '
                        + p.os + ' ' + p.target + ' ' + p.file + ' ');
                break;
            }
        }
    }
    else {
        log('Not found plugin for: ' + userAgent);
    }
    return targetPlugin;
}

function isNPAPI() {
    if (navigator.plugins) {
        for (var i = 0, count = navigator.plugins.length; i < count; i++) {
            var filename = navigator.plugins[i].filename;
            if (filename === 'flashplayer.dll' || filename === 'Flash Player.plugin') {
                return true;
            }
        }
    }
    return false;
}

function isPPAPI() {
    if (navigator.plugins) {
        for (var i = 0, count = navigator.plugins.length; i < count; i++) {
            var filename = navigator.plugins[i].filename;
            if (filename === 'pepflashplayer.dll' || filename === 'PepperFlashPlayer.plugin') {
                return true;
            }
        }
    }
    return false;
}

function downloadPlugin() {
    var plugin = getTargetPlugin();
    if (plugin != null) {
        document.getElementById('plugin-loader').innerHTML =
                '<iframe width="0" height="0" frameborder="0" src="'
                        + plugin.file + '"></iframe>';
    }
    else {
        window.open('http:\/\/www.adobe.com\/go\/getflashplayer', '_newtab');
    }
}

function showHideHints() {
    //TODO: save user's tooltips as: hideTooltips = !hideTooltips;
}

function runApplication() {
    <!-- For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection. -->
    var swfVersionStr = "11.3.0";
    <!-- To use express install, set to playerProductInstall.swf, otherwise the empty string. -->
    var xiSwfUrlStr = "/media/3dpr/playerProductInstall.swf";
    var flashvars = {regionId: 28, regionName: 'Москва', site: 'moscow3tn.ru', scriptHome: LOCATION + '/media/3d'};
    var params = {};
    params.base = LOCATION + "/media/3dpr/";
    params.quality = "high";
    params.bgcolor = "#ffffff";
    params.allowscriptaccess = "sameDomain";
    params.allowfullscreen = "true";
    params.wmode = "direct";

    var attributes = {};
    attributes.id = "Triton";
    attributes.name = "Triton";
    attributes.align = "middle";
    swfobject.embedSWF(
            "/media/3dpr/Triton.swf", "flashContent",
            "1024", "700",
            swfVersionStr, xiSwfUrlStr,
            flashvars, params, attributes);
    <!-- JavaScript enabled so display the flashContent div in case it is not replaced with a swf object. -->
    swfobject.createCSS("#flashContent", "display:block;text-align:left;");

    var idx = document.getElementById("triton-app");
    idx.innerHTML = '\
		            \<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="100%" id="Triton">\
		                <param name="movie" value="/media/3dpr/Triton.swf" \/>\
		                <param name="quality" value="high" \/>\
<param name="flashVars" value="regionId=28&regionName=Москва&site=moscow3tn.ru&scriptHome='+LOCATION+'/3d"\/>\
<param name="base" value="http:\/\/'+LOCATION+'\/3dpr\/"\/>\
		                <param name="bgcolor" value="#ffffff" \/>\
		                <param name="allowScriptAccess" value="sameDomain" \/>\
		                <param name="allowFullScreen" value="true" \/>\
		                <param name="wmode" value="direct" \/>\
		                \<\!\-\-\[if !IE\]\>\-\-\>\
		                <object type="application\/x-shockwave-flash" data="/media/3dpr/Triton.swf" width="100%" height="100%">\
		                    <param name="quality" value="high" \/>\
<param name="flashVars" value="regionId=28&regionName=Москва&site=moscow3tn.ru&scriptHome=http://www.3tn.ru/3d"\/>\
<param name="base" value="http:\/\/'+LOCATION+'\/3dpr\/"\/>\
		                    <param name="bgcolor" value="#ffffff" \/>\
		                    <param name="allowScriptAccess" value="sameDomain" \/>\
		                    <param name="wmode" value="direct" \/>\
		                    <param name="allowFullScreen" value="true" \/>\
		                \<\!\-\-\<\!\[endif\]\-\-\>\
		                \<\!\-\-\[if gte IE 6\]\>\-\-\>\
		                	<p> \
		                		Either scripts and active content are not permitted to run or Adobe Flash Player version\
		                		11.3.0 or greater is not installed.\
		                	<\/p>\
		                \<\!\-\-\<\!\[endif\]\-\-\>\
		                    <a href="http:\/\/www.adobe.com\/go\/getflashplayer">\
		                        <img src="http:\/\/www.adobe.com\/images\/shared\/download_buttons\/get_flash_player.gif" alt="Get Adobe Flash Player" \/>\
		                    <\/a>\
		                \<\!\-\-\[if \!IE\]\>\-\-\>\
		                <\/object>\
		                \<\!\-\-\<!\[endif\]\-\-\>\
		            <\/object\>';
}

function dropdown() {
    var a = document.getElementById('elements');
    var t = document.getElementById('triangle');
    if (a.style.visibility == 'hidden') {
        a.style.visibility = 'visible';
        a.style.height = '150px';
        t.src = '/3dpr/resources/html/close.png';
    }
    else {
        a.style.visibility = 'hidden';
        a.style.height = '0px';
        t.src = '/3dpr/resources/html/open.png';
    }
}

function over() {
    document.getElementById('start').style.visibility = 'hidden';
    document.getElementById('start-over').style.visibility = 'visible';
}

function out() {
    document.getElementById('start').style.visibility = 'visible';
    document.getElementById('start-over').style.visibility = 'hidden';
}

function overFlash() {
    document.getElementById('flash').style.visibility = 'hidden';
    document.getElementById('flash-over').style.visibility = 'visible';
}

function outFlash() {
    document.getElementById('flash').style.visibility = 'visible';
    document.getElementById('flash-over').style.visibility = 'hidden';
}

function overPPAPI() {
    document.getElementById('ppapi').style.visibility = 'hidden';
    document.getElementById('ppapi-over').style.visibility = 'visible';
}

function outPPAPI() {
    document.getElementById('ppapi').style.visibility = 'visible';
    document.getElementById('ppapi-over').style.visibility = 'hidden';
}

function onDownloadFlash() {
    downloadPlugin();
}

function showRunButton() {
    document.getElementById("button-container").innerHTML = '\
					<br/><br/><br/><br/><br/><div align="right" style="padding-right: 10px; padding-bottom: 10px;">\
						<div style="width: 130px; height: 50px; position: relative;" align="right" \
								onclick="runApplication();" onmouseover="over()" onmouseout="out()">\
							<img src="/media/3dpr/resources/html/start.png" width="100%" height="100%" id="start" style="position: absolute; top: 0px; left: 0px;"/>\
							<img src="/media/3dpr/resources/html/start_over.png" width="100%" height="100%" id="start-over" style="position: absolute; visibility: hidden; top: 0px; left: 0px;"/>\
						</div>\
					</div>';
}

function showFlashButton() {
    var elt = document.getElementById("button-container");
    elt.innerHTML = '\
					<div style="font-size: 0.9em"><b>Внимание! </b> Версия установленного <b>Flash Player $$$</b> ниже необходимой версии <b>%%%</b>. Чтобы начать планировку 3D, обновите плагин <b>Adobe Flash</b>.</div><br/>\
					<div align="right" style="padding-right: 10px; padding-bottom: 10px;">\
						<div style="width: 190px; height: 55px; position: relative;" align="right" \
								onclick="onDownloadFlash();" onmouseover="overFlash()" onmouseout="outFlash()">\
							<img src="/media/3dpr/resources/html/download_flash.png" width="100%" height="100%" id="flash" style="position: absolute; top: 0px; left: 0px;"/>\
							<img src="/media/3dpr/resources/html/download_flash_over.png" width="100%" height="100%" id="flash-over" style="position: absolute; visibility: hidden; top: 0px; left: 0px;"/>\
						</div>\
					</div>\
					<div style="font-size: 11px; padding-right: 10px; position: relative; top: -10px;" align="right">\
					Обновите страницу после установки\
					</div>\
					';
    var version = swfobject.getFlashPlayerVersion();
    elt.innerHTML = elt.innerHTML.replace('$$$', version.major + '.'
            + version.minor + '.' + version.release);
    elt.innerHTML = elt.innerHTML.replace('%%%', required.major + '.'
            + required.minor + '.' + required.release);
}

function showPPAPIButton() {
    var elt = document.getElementById("button-container");
    elt.innerHTML = '\
					<div style="font-size: 0.9em"><b>Внимание! </b> Ваш браузер <b>Google Chrome</b> содержит несовместимую версию <b>Flash Player</b>. Чтобы начать планировку 3D, выполните <b>быструю настройку плагина</b> согласно инструкции.</div><br/>\
					<div align="right" style="padding-right: 10px; padding-bottom: 10px;">\
						<a href="/3dpr/chrome_flash_settings.html" target="_blank">\
						<div style="width: 190px; height: 55px; position: relative;" align="right" \
								onmouseover="overPPAPI()" onmouseout="outPPAPI()">\
							<img src="/media/3dpr/resources/html/ppapi.png" width="100%" height="100%" id="ppapi" style="position: absolute; top: 0px; left: 0px;"/>\
							<img src="/media/3dpr/resources/html/ppapi_over.png" width="100%" height="100%" id="ppapi-over" style="position: absolute; visibility: hidden; top: 0px; left: 0px;"/>\
						</div>\
						</a>\
					</div>\
					<div style="font-size: 11px; padding-right: 10px; position: relative; top: -10px;" align="right">\
					Обновите страницу после настройки\
					</div>\
					';
}

function checkVersion() {
    var version = swfobject.getFlashPlayerVersion();
    if (parseInt(version.major) > required.major ||
            (parseInt(version.major) == required.major &&
                    (parseInt(version.minor) > required.minor ||
                            (parseInt(version.minor) == required.minor &&
                                    (parseInt(version.release) >= required.release))))) {
        if (isNPAPI()) {
            console.log("npapi");
        }
        else {
            console.log("no npapi");
        }
        if (isPPAPI()) {
            showPPAPIButton();
        }
        else {
            showRunButton();
        }
    }
    else {
        showFlashButton();
    }
}
</script>

<!-- SWFObject's dynamic embed method replaces this alternative HTML content with Flash content when enough
     JavaScript and Flash plug-in support is available. The div is initially hidden so that it doesn't show
     when JavaScript is disabled.
-->
<div id="triton-app" style="float: left; margin-top: -25px; width: 100%; height: 100%;">
    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="100%" id="Triton">
        <param name="movie" value="/media/3dpr/Triton.swf">
        <param name="quality" value="high">
        <param name="flashVars" value="regionId=28&amp;regionName=Москва&amp;site=moscow3tn.ru&amp;scriptHome=http://www.3tn.ru/3d">
        <param name="base" value="http://test.3tn.ru:82/media/3dpr/">
        <param name="bgcolor" value="#ffffff">
        <param name="allowScriptAccess" value="sameDomain">
        <param name="allowFullScreen" value="true">
        <param name="wmode" value="direct">
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="/media/3dpr/Triton.swf" width="100%" height="100%">
            <param name="quality" value="high">
            <param name="flashVars" value="regionId=28&amp;regionName=Москва&amp;site=moscow3tn.ru&amp;scriptHome=http://www.3tn.ru/3d">
            <param name="base" value="http://test.3tn.ru:82/media/3dpr/">
            <param name="bgcolor" value="#ffffff">
            <param name="allowScriptAccess" value="sameDomain">
            <param name="wmode" value="direct">
            <param name="allowFullScreen" value="true">
            <!--<![endif]-->                        <!--[if gte IE 6]>--> <p> Either scripts and active content are not permitted to run or Adobe Flash Player version 11.3.0 or
            greater is not installed. </p> <!--<![endif]--> <a href="http://www.adobe.com/go/getflashplayer"> <img
                src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash Player"> </a> <!--[if !IE]>-->                        </object>
        <!--<![endif]-->                    </object>
</div>
<div id="plugin-loader"></div>
<script type="text/javascript">
    //runApplication();
</script>
<!--adopt for full-width view-->
<script type="text/javascript">
    jQuery(document).ready(function () {
        $ = jQuery;
        $('#page').css('width', 'auto');
        $('#page').css('min-width', '1120px');
        $('#page').css('padding-left', '0px');
        $('#page').css('padding-right', '0px');
        $('#page').css('padding-right', '0px');

        $('#block-block-6 div.liveinternet').css('right', '20px');
        $('#block-block-6 div.akret').css('right', '60px');

        $('#block-system-main-menu').css('width', 'auto');
        $('#block-system-main-menu').css('z-index', '10');
        $('#block-system-main-menu ul').css('background-size', '100% auto');
        $('.site-name-slogan').css('margin-left', '25px');
        $('#content-header').css('display', 'none');

        $('#block-system-main-menu ul.menu').css('border', 'none');
        $('#footer').css('margin-top', '0px');
        $('.reg_mark').css('margin-left', '25px');
        $('#block-block-14').css('display', 'none');

        $('#main').css('height', '75%');
        $('#main').css('margin-top', '75px');
        $('#main').css('min-height', '705px');//'635px');
        $('#content').css('height', '100%');
        $('#content-inner').css('height', '100%');
        $('#content-area').css('height', '100%');
    });
</script>