// MIXINS

@mixin link_over($start_color: $tri_blue, $hover_color: adjust-lightness($tri_blue, 10), $active_color: adjust-lightness($tri_blue, -20)) {
  @include transition-property(color);
  @include transition-duration(0.5s);
  color: $start_color;
  &:hover {
    color: $hover_color;
  }
  &:active {
    color: $active_color;
  }
}

@mixin tag {
  @include border-radius(2px);
  color: $tri_blue;
  white-space: nowrap;
  margin-left: 5px;
  font-size: .9em;
  padding: 0 5px;
  text-decoration: none;
  display: inline-block;
}

@mixin blue_tag {
  @include tag();
  color: white;
  background: $tri_blue;
}

@mixin black_tag {
  @include tag();
  color: white;
  background: black;
}

@mixin futured_tag {
  @include tag();
  color: $tri_blue;
  background: none;
  border: 1px solid $tri_blue;
}

@mixin archive_tag {
  @include tag();
  color: $tri_gray;
  background: none;
  border: 1px solid $tri_gray;
}

@mixin all_tag {
  @include tag();
  color: white;
  background: $tri_orange;
}

@mixin green_tag {
  @include tag();
  color: white;
  background: #6bb01b;
}

@mixin button {
  background-color: $tri_blue;
  font-size: 1em;
  color: white;
  //  padding: 5px 10px;
  border: none;
  cursor: pointer;
  @include inline-block();
  @include transition-property(background-color);
  @include transition-duration(0.3s);
  &:hover {
    background-color: adjust-lightness($tri_blue, 15);
  }
  &:active {
    background-color: adjust-lightness($tri_blue, -25);
  }
}
