<h2>Внимание!</h2>

<strong>{{ form.author }}</strong> задал вопрос. <br/>
<a href="http://triton.webfactional.com/admin_tri_ua/questions/question/{{ question.id }}/">http://triton.webfactional.com/admin_tri_ua/questions/question/{{ question.id }}/</a>


<h4>Вопрос</h4>
<p>
    {{ form.body }}
</p>
