.span-1 {
  @include span(1 of 24);

}

.span-12 {
  @include span(12 of 24);
}

.span-24 {
  @include span(24 of 24);
}

.span-5 {
  @include span(5 of 24);
}

.span-6 {
  @include span(6 of 24);
}

.last {
  @include last;
}