@import "partials/imports";

.product-node {
  #header {
    //    position: fixed;
    background-color: white;
  }

  footer {
    //    position: fixed;
    //    bottom: 0;
    //    display: none;
    //    display: block;
  }
  #top-content {
    position: relative;
    //    top: 130px;
    left: 20px;
    height: 200px;
  }

  #content {
    position: relative;
    height: 600px;
    margin-top: -80px;
    overflow: hidden;
    @include transition-property(all);
    @include transition-duration(0.5s);
  }

  .likes {
    position: absolute;
    left: 10px;
    bottom: 0px;
    background-color: $tri_gray;
    padding: 0px;
    text-align: left;
    white-space: nowrap;
    width: auto;
    height: 40px;
    min-width: 200px;
    @include transition-property(all);
    @include transition-duration(0.5s);
    @include opacity(0);
    &.show {
      @include opacity(1);
    }
  }
  .price {
    z-index: 99;
    position: absolute;
    right: 0;
    top: 20px;
    width: 290px;
  }
  #sidebar {
    position: absolute;
    padding-left: 10px;

    .add_to_comparsion,
    .delete_from_comparsion,
    .to_comparsion,
    .buttons,
    .in_cart_buttons {
      //      margin-left: 20px;
    }
  }

  .product_parts_wrap {
    width: 1120px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0px;
    overflow: hidden;
    .scroll {
      width: 100%;
      height: 100%;
      display: inline-block;
      overflow: auto;
    }
    .top_grad {
      display: inline-block;
      width: 1120px;
      height: 100px;
      background: url(../images/bgs/top_grad.png) repeat-x 0 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 19;
      @include opacity(.8);
    }
  }

  .product_part {
    z-index: 0;
    padding: 0 20px;
    height: auto;
    //    overflow: hidden;
    .block_title {
      margin-bottom: 10px;
    }
    &.product_part-photo {
      //margin-top: -20px;
      padding: 0;
    }
    &.product_part-video {
      //      margin-top: -120px;
      margin-left: -20px;
      margin-bottom: -30px;
      height: 600px;
    }
    &.product_part-options {
      //      margin-top: -130px;
    }
    &.product_part-body {
      padding-top: 120px;
      padding-bottom: 80px;
      font-size: 1.2em;
      .field_body {
      }
    }
    &.product_part-options {
      //      padding-top: 100px;
      //      height: 600px;
    }
    &.product_part-chars {
      //      padding-top: 100px;
      img {
        margin-bottom: -60px;
      }
    }
    &.product_part-same_category_products {
      padding-top: 100px;
    }
    &.product_part-same_size_products {
      padding-top: 100px;
    }
    &.product_part-comments {
      padding-top: 100px;
      padding-bottom: 50px;
      padding-left: 10px;
      .comments {
        z-index: 15;
        position: relative;
      }
      form {
        z-index: 15;
        position: relative;
        textarea {
          height: 30px;
        }
      }
    }
    &.product_part-history {
      padding-top: 100px;
    }

  }

  .field_chars_img {
    height: 600px;
  }

  .big_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 1120px;
    height: 600px;
    background-color: white;
    &.relative {
      position: relative;
    }
  }

  .field_price {
    position: relative;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times;
    //    margin-bottom: -5px;
    .currency {
      font-size: .5em;
    }
    .price_sum {
      font-size: .3em;
    }

  }

  #page-title,
  .page-title {
    //background-color: white;
    //text-align: center;
    margin-bottom: 10px;
  }

  .product_thumbs {
    margin: 0;
    overflow: hidden;
    position: absolute;
    z-index: 25;
    width: 290px;
    height: 160px;
    right: 0;
    top: 120px;
    overflow: hidden;
    @include transition-property(all);
    @include transition-duration(0.5s);
  }
  #content[video_status~="vjs-playing"],
  #content.vjs-playing {
    .product_thumbs {
      right: -300px;
    }
    .product_chars {
      left: 1130px;
    }
  }
  .field_main_img {
    //z-index: 1;
    position: relative;
    //    margin-top: -80px;
    //    margin-bottom: 40px;
    img {
      //      width: 1120px;
      //      height: auto;
      max-height: 600px;
      width: auto;
    }
  }
  .product_desc {
    padding-right: 300px;
  }
  .product_download_models {
    //position: relative;
    //left: 830px;
    //top: 300px;
    //z-index: 20;
    //font-size: .9rem;
  }
  .product_chars {
    position: relative;
    left: 830px;
    top: 340px;
    z-index: 20;
    background-color: white;
    padding: 10px;
    width: 235px;
    border: 1px solid $tri_blue;
    @include transition-property(all);
    @include transition-duration(0.5s);
    div {
      //      @include inline-block();
      margin-right: 20px;
    }
    .field_value {
      font-weight: bold;
    }
  }
  .field_thumb {
    position: relative;
    @include inline-block();
    margin-right: 10px;
    margin-bottom: 5px;
    //    margin-left: 5px;
    //margin-top: -10px;
    //cursor: pointer;
    border: 1px solid;
    border-color: white;
    border-color: adjust-lightness($tri_blue, 30);
    @include transition-property(border-color);
    @include transition-duration(0.5s);
    cursor: pointer;
    &:hover {
      border-color: $tri_blue;
    }
    .play_thumb {
      position: absolute;
      top: 0;
      left: 0;
      @include inline-block();
      width: 100%;
      height: 100%;
      background: url(../images/icons/play.png) no-repeat center center;
    }
  }

  .product_video {
    height: 100px;
    width: 100%;
    @include inline-block();
    border-bottom: 1px solid;
  }
  .block.product_list {
    border-bottom: none;
  }
}

.product-node .product_thumbs[tab='photo'] {
  height: 360px;
}

.product_3d {
  @include inline-block();
  position: absolute;
  top: 100px;
  left: 20px;
  z-index: 26;
}

.cart_sidebar_block,
.price_block {
  .total_price {
    font-size: 1em;
    .value {
      text-decoration: line-through;
    }
  }
  .discounts_block {
    position: absolute;
    right: 300px;
    width: 300px;
    top: 10px;
    text-align: right;
  }
  .your_discount {
  }
  .your_price {
    font-size: 4rem;
    color: $tri_blue;
    //margin-bottom: 20px;
    clear: left;
  }
  .agree_make_review,
  .take_discount {
    margin-bottom: 20px;
  }
  .buttons_wrap {
    position: absolute;
    height: 30px;
    margin-bottom: 0;
    right: 0;
    display: inline-block;
    //    width: 105px;
    top: 17px;
    text-align: right;
    .buttons {
      margin-right: 0;
    }
  }
}

.price_block {
  .agree_make_review {
    font-size: .7em;
  }
  //  .agree_make_review {
  //    display: none;
  //  }
  //  &:hover {
  //
  //    background: white;
  //    border: 1px solid $tri_blue;
  //    padding: 0 20px;
  //    .agree_make_review{
  //      display: inline-block;
  //    }
  //  }

}

.block_options {
  left: 420px;
  z-index: 15;
  position: relative;
  top: 100px;
  @include columns(200px 2);
  width: 680px;
  .group {
    margin-left: 10px;
  }
  .product_option {
    font-size: 1em;
    margin-bottom: 3px;
    position: relative;
    input {
      width: 10px;
      height: 10px;
      margin-right: 5px;
    }

    .option_desc {
      //      color: white;
      //      background-color: $tri_blue;
      width: 250px;
      padding: 10px;
      overflow: hidden;
      //      left: -290px;
      z-index: 100;
      @include transition-property(all);
      @include transition-duration(0.5s);
      //      display: none;
      position: absolute;
      background: none repeat scroll 0% 0% white;
      top: 0px;
      left: 0px;
      border: 1px solid;
    }
    &:hover .option_desc {
      //width: 150px;
      @include inline-block();
    }
    .group_name {
      font-weight: bold;
      margin-bottom: 3px;
    }
    .option_name {
      //      @include inline-block();
      width: 200px;
      //      margin-right: 20px;
      cursor: pointer;
    }
    .option_value {
      //      @include inline-block();
      cursor: pointer;
      overflow: hidden;
      //      width: 340px;
      padding-left: 10px;
      margin-left: -10px;
      &:hover {
        color: $tri_blue;
      }
      &.active_true {
        color: $tri_blue;
        background: url(../images/icons/select_icons/active_small.png) no-repeat left center;

      }
      &.load_true {
        background: url(../images/misc/small_loader.gif) no-repeat left center;
      }
      &.available_false {
        @include opacity(.5);
        cursor: default;
        display: block;
        &:hover {
          color: black;
          .div {
            color: black !important;
          }
        }
      }
    }
    .option_price {
      //      @include inline-block();
      text-align: right;
      cursor: pointer;
      font-weight: bold;
      float: right;
      &:hover {
        color: adjust-lightness($tri_blue, 10);
      }
    }
    &.active_true {
      font-weight: bold;

      .option_value {
      }
      .option_value, .option_price {
        font-weight: bold;
        color: $tri_blue;
      }

    }
  }
}

.product_menu {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 100;
  @include span(100% last);
  //  @include box-shadow(rgba(black, 0.2) 0px 0px 5px);
  background: $tri_gray;
  ul.menu {
    padding: 0 0px;
    //background: $tri_gray;
    @include span(100% last);
    margin: 0;
    left: 0px;
    position: relative;
    white-space: nowrap;
    @include inline-block();
    li.menu_item {
      margin: 0;
      float: left;
      list-style-type: none;
      position: relative;
      @include inline-block();
      @include transition-property(all);
      @include transition-duration(0.5s);
      a {
        padding: 3px;
        border-left: 1px solid white;
        line-height: 50px;
        padding-right: 15px;
        padding-left: 15px;

        font-size: 1.1em;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        @include inline-block();
        width: 100%;
        height: 100%;
        &:hover {
          color: adjust-lightness(black, 35);
        }

      }
      &:first-child a {
        border-left: none;
      }
      &.active {
        background-color: adjust-lightness($tri_blue, 20);
      }
    }
  }
}


.block_option_desc .video-js {
  margin-top: -80px;
  z-index: 1 !important;
}

#product_video,
.block_option_desc .video-js {
  z-index: 15;
  div, div:before {
    text-shadow: none !important;
    color: $tri_orange;
  }
  .vjs-poster {

  }
  .vjs-text-track-display {

  }
  .vjs-loading-spinner {

  }
  div.vjs-big-play-button {
    //    background: url(../images/buttons/play_video.png) no-repeat center top;
    background-color: $tri_orange !important;
    @include border-radius(0);
    border: none;
    width: 25px;
    height: 25px;
    line-height: 25px;
    top: 505px;
    left: 15px;
    margin: 0;
    cursor: pointer;
    text-align: center;
    border-radius: 50px;
    &:before {
      color: white;
      font-size: 0.5em;
      line-height: 25px;
      text-shadow: none !important;
      left: 2px;
    }
    &:hover {
      background-color: adjust-lightness($tri_orange, 40);
    }
    &:focus {
      border: none;
      background-color: adjust-lightness($tri_orange, 40);
    }
  }
  .vjs-control-bar {
    position: absolute;
    top: 504px;
    padding-bottom: 10px;
    background-color: transparent;
    display: block;
    .vjs-play-control {

    }
    .vjs-current-time {

    }
    .vjs-time-divider {

    }
    .vjs-duration {

    }
    .vjs-remaining-time {

    }
    .vjs-progress-control {
      top: 31px;
    }
    .vjs-fullscreen-control {

    }
    .vjs-volume-control {
      .vjs-volume-bar {
        height: 0.5em;
      }
    }
    .vjs-mute-control {

    }
    .vjs-subtitles-button {

    }
    .vjs-quality-button {

    }
  }
  &.vjs-fullscreen {
    .vjs-control-bar {
      top: 100%;
      margin-top: -100px;
    }
  }
}

#node_video {
  z-index: 15;
  div, div:before {
    text-shadow: none !important;
    color: $tri_orange;
  }
  .vjs-poster {

  }
  .vjs-text-track-display {

  }
  .vjs-loading-spinner {

  }
  div.vjs-big-play-button {
    //    background: url(../images/buttons/play_video.png) no-repeat center top;
    background-color: $tri_orange !important;
    @include border-radius(0);
    border: none;
    width: 25px;
    height: 25px;
    line-height: 25px;
    bottom: 505px;
    left: 15px;
    margin: 0;
    cursor: pointer;
    text-align: center;
    border-radius: 50px;
    &:before {
      color: white;
      font-size: 0.5em;
      line-height: 25px;
      text-shadow: none !important;
      left: 2px;
    }
    &:hover {
      background-color: adjust-lightness($tri_orange, 40);
    }
    &:focus {
      border: none;
      background-color: adjust-lightness($tri_orange, 40);
    }
  }
  .vjs-control-bar {
    position: absolute;
    //    top: 504px;
    padding-bottom: 10px;
    background-color: transparent;
    display: block;
    .vjs-play-control {

    }
    .vjs-current-time {

    }
    .vjs-time-divider {

    }
    .vjs-duration {

    }
    .vjs-remaining-time {

    }
    .vjs-progress-control {
      top: 31px;
    }
    .vjs-fullscreen-control {

    }
    .vjs-volume-control {
      .vjs-volume-bar {
        height: 0.5em;
      }
    }
    .vjs-mute-control {

    }
    .vjs-subtitles-button {

    }
    .vjs-quality-button {

    }
  }
  &.vjs-fullscreen {
    .vjs-control-bar {
      top: 100%;
      margin-top: -100px;
    }
  }
}


.product_parts_wrap {
  .mCSB_scrollTools {
    height: 520px;
  }
}


.product_edit {
  display: inline-block;
  text-align: right;
  width: 100%;
  margin-top: 1rem;
}


.product-node {
  h1#page-title, h2#page-second-title {
    display: none;
  }
  .page-title {
    padding-right: 250px;
  }
  .to_cart_button {
    background-color: $tri_orange !important;
  }
}


.visor {
  position: relative;
  top: 10px;
  margin-bottom: -20px;
}