@import "compass/reset-legacy";
@import "partials/base";
@import "susy";
@import "compass/css3";

//SUSY

$susy: (
        flow: ltr,
        math: fluid,
        output: float,
        gutter-position: after,
        container: 1120px,
        container-position: center,
        columns: 24,
        gutters: .25,
        column-width: false,
        global-box-sizing: content-box,
        last-flow: to,
        debug: (
                image: hide,
                color: rgba(#66f, .25),
                output: background,
                toggle: top right,
        ),
        use-custom: (
                background-image: true,
                background-options: false,
                box-sizing: true,
                clearfix: false,
                rem: true,
        )
);

body.bp {
  overflow-x: hidden;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #000000;
  font-size: 80%;
  &.front {
    margin-top: -20px;
  }
  #container {
    @include container();
    overflow: visible;
    position: relative;
  }
  *{
//    border: 1px solid black;
  }
}

#header{
  height: 50px;
}

body.bp ol {
  list-style: decimal
}

body.bp .logo {
  height: 45px;
  width: 300px;
  margin-bottom: 5em;
  display: inline-block;
  top: 2em;
  position: relative;
}

body.bp .h3 {
  font-size: 1.5em;
  font-family: Georgia, 'Times New Roman', Times;
  margin-bottom: 1em;
}

body.bp .block {
  margin: 2em 0;
}

body.bp p {
  margin: 0 0 1em 0;
}

#page-title,
.page-title {
  font-size: 2em;
  margin: 10px 0 10px 0;
  font-family: Georgia, 'Times New Roman', Times;
  position: relative;
  z-index: 1;
  line-height: 1em;
  @include inline-block();
  .search_query {
    font-weight: normal;
  }
  .small {
    font-size: .3em;
  }
}

.to_top,
.accounts_block,
.main_menu,
#page-title a.small,
.overdue_projects,
.filter,
.orders,
.project_buttons,
.show_more,
footer,
.admin_panel,
.breadcrumbs,
.print,
.site-slogan,
#header,
project.views_row .requirements{
  display: none;
}

.constructors-part {
  .main_phone {
    display: none;
  }
}

.site-title {
  text-indent: -10000px;
  height: 50px;
}

project.views_row {
  padding-bottom: 1em;
  border-bottom: 1px solid;
  width: 100%;
  display: inline-block;
  margin-bottom: 1em;
  a.title {
    color: black;
    text-decoration: none;
    font-size: 1.4em;
    clear: both;
    display: inline-block;
    @include span(100% last)
  }
  .project_more,
  .teaser {
    display: inline-block !important;
    margin: 0 0;
    .requirement {
      display: list-item;
      .title {
        font-size: 1em;
      }
    }
  }
}

div.status.futured,
.project_content .dates{
  float: left;
  margin-right: 10px;
}


