@import "partials/imports";

.product-node {
  #header {
    background-color: white;
  }

  footer {
  }
  #top-content {
    position: relative;
    left: 0px;
    height: 200px;
    @media only screen and (max-width: 991px) {
      height: 160px;
    }
  }

  #content {
    position: relative;
    margin-top: -80px;
    @include transition-property(all);
    @include transition-duration(0.5s);
    @media only screen and (max-width: 991px) {
      margin-top: 150px;
    }
  }

  .likes {
    position: absolute;
    left: 10px;
    bottom: 0px;
    background-color: $tri_gray;
    padding: 0px;
    text-align: left;
    white-space: nowrap;
    width: auto;
    height: 40px;
    min-width: 200px;
    @include transition-property(all);
    @include transition-duration(0.5s);
    @include opacity(0);
    &.show {
      @include opacity(1);
    }
  }
  .price {
    z-index: 20;
    position: absolute;
    right: 0;
    top: 20px;
    width: 290px;
    @media only screen and (max-width: 991px) {
      position: relative;
      top: 0;
      width: auto;
    }
  }
  #sidebar {
    position: absolute;
    padding-left: 10px;

    .add_to_comparsion,
    .delete_from_comparsion,
    .to_comparsion,
    .buttons,
    .in_cart_buttons {
      //      margin-left: 20px;
    }
  }

  .product_parts_wrap {
    width: 1120px;
    //position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    .top_grad {
      display: inline-block;
      width: 1120px;
      height: 100px;
      background: url(../images/bgs/top_grad.png) repeat-x 0 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 19;
      @include opacity(.8);
    }
  }

  .product_part.product_part-slideshow {
    height: 650px;
    @media only screen and (max-width: 991px) {
      height: auto;
      #product_video {
        width: 200vw !important;
        position: absolute;
        left: 50%;
        margin-left: -100vw;
        height: auto !important;
        min-height: 250px;
        max-height: initial;
        max-width: initial;
      }
    }
    .img {
      //position: absolute;
      //width: 100vw;
    }
  }

  .product_part {
    z-index: 0;
    padding: 0 20px;
    height: auto;
    //    overflow: hidden;
    @media only screen and (max-width: 991px) {
      //padding: 3rem 5rem;
    }
    .block_title {
      margin-bottom: 10px;
    }

    &.product_part-photo {
      //margin-top: -20px;
      padding: 0;
    }
    &.product_part-video {
      //      margin-top: -120px;
      margin-left: -20px;
      margin-bottom: -30px;
      height: 600px;
    }
    &.product_part-action_products {
      .block_title {
        font-family: Georgia, 'Times New Roman', Times;
        color: #e90a47 !important;
        font-size: 3rem !important;
      }
    }
    &.product_part-options {
      //      margin-top: -130px;
      .options_top {
        .title_part {
          @media only screen and (max-width: 991px) {
            width: 100% !important;
          }
        }
        .complectations {
          @media only screen and (max-width: 991px) {
            width: 100% !important;
            text-align: center;
            margin-bottom: 5rem;
            .ui.compact.menu {
              //font-size: 2rem;
              @media only screen and (max-width: 991px) {
                width: 100%;
              }
            }
          }
        }
      }
    }
    &.product_part-solutions {
      padding: 2rem 0rem;
      .block {
        display: inline-block;
        width: 100%;
      }
      @media only screen and (max-width: 991px) {
        padding: 1rem;
      }
    }
    &.product_part-body {
      @media only screen and (max-width: 991px) {
        padding: 1rem;
        //font-size: 2.5rem;
      }
      .field_body {
      }
    }
    &.product_part-options {
      //      padding-top: 100px;
      //      height: 600px;
    }
    &.product_part-chars {
      //      padding-top: 100px;
      img {
        margin-bottom: -60px;
      }
    }
    &.product_part-same_category_products {
      padding-top: 1rem;
    }
    &.product_part-same_size_products {
      padding-top: 1rem;
    }
    &.product_part-comments {
      padding-top: 100px;
      padding-bottom: 50px;
      padding-left: 10px;
      @media only screen and (max-width: 991px) {
        //padding: 2rem;
        .register_or_enter {
          text-align: center;
        }
      }
      .comments {
        z-index: 15;
        position: relative;
      }
      form {
        z-index: 15;
        position: relative;
        textarea {
          height: 30px;
        }
      }
    }
    &.product_part-history {
      padding-top: 100px;
      @media only screen and (max-width: 991px) {
        padding: 1rem;
      }
    }

  }

  .field_chars_img {
    height: 600px;
  }

  .big_block {
    position: absolute;
    top: 0;
    left: 0;
    width: 1120px;
    height: 600px;
    background-color: white;
    &.relative {
      position: relative;
    }
  }

  .field_price {
    position: relative;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times;
    @media only screen and (max-width: 991px) {
      position: relative;
      padding: 0 1rem;
      //left: 2rem;
      //font-size: 6em;
      //float: left;
      //margin-right: 5rem;
    }
    .currency {
      font-size: .5em;
    }
    .price_sum {
      font-size: .3em;
    }

  }

  #page-title,
  .page-title {
    //background-color: white;
    //text-align: center;
    margin-bottom: 10px;
  }

  .product_slide {
    display: inline-block;
    width: 100%;
    text-align: center;
    @media only screen and (max-width: 991px) {
      height: 250px;
    }
    &.index_1 {
      //margin-left: -750px;
      //left: 50%;
      //position: absolute;
    }
    &.index_0 {
      position: relative;
      @media only screen and (max-width: 991px) {
        //height: 50vw;
      }
      img {
        width: 100vw;
        position: absolute;
        left: 50%;
        margin-left: -50vw;
        height: auto;
        @media only screen and (max-width: 991px) {
          width: 200vw;
          position: absolute;
          left: 50%;
          margin-left: -100vw;
          height: auto;
          min-height: 250px;
          max-height: initial;
          max-width: initial;
        }
      }
      .grad {
        position: absolute;
        height: 100px;
        width: 100%;
        bottom: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
      }
    }
    .reel {
      position: absolute;
      left: 50%;
      margin-left: -400px;
      @media only screen and (max-width: 991px) {
        left: auto;
        margin-left: 0;
        width: 100% !important;
        height: 250px !important;
        img {
          width: 100%;
          height: auto;
          left: 0;
          margin-left: 0;
        }
      }
    }
    img {
      @media only screen and (max-width: 991px) {
        width: auto;
        max-height: 250px;
        max-width: 100%;
      }
    }
    //height: 630px;
    //@include transition-property(all);
    //@include transition-duration(0.5s);
    //margin-top: -3px;
  }

  .product_thumbs {
    margin: 0;
    overflow: hidden;
    //position: absolute;
    z-index: 20;
    text-align: center;
    width: 100%;
    bottom: 0px;
    overflow: hidden;
    @include transition-property(all);
    @include transition-duration(0.5s);
  }
  #content[video_status~="vjs-playing"],
  #content.vjs-playing {
    .product_thumbs,
    .product_chars {
      @include opacity(0);
      //right: -300px;
    }
    .product_thumbs,
    .product_chars {
      //left: 1130px;
    }
  }
  .field_main_img {
    //z-index: 1;
    position: relative;
    //    margin-top: -80px;
    //    margin-bottom: 40px;
    img {
      //      width: 1120px;
      //      height: auto;
      max-height: 600px;
      width: auto;
    }
  }
  .product_desc {
    padding-right: 300px;
  }
  .product_download_models {
    //position: relative;
    //left: 830px;
    //top: 300px;
    //z-index: 20;
    //font-size: .9rem;
    @media only screen and (max-width: 991px) {
      display: none;
    }
  }
  .product_chars {
    z-index: 20;
    font-size: 1.2rem;
    padding: 10px;
    @include transition-property(all);
    @include transition-duration(0.5s);
    @media only screen and (max-width: 991px) {
      font-size: .8rem;
      padding: 0;
      margin: 0;
      .field_label {
        display: block;
      }
    }
    div {
      //      @include inline-block();
      //margin-right: 20px;
    }
    .field_value {
      font-weight: bold;
    }
  }
  .field_thumb {
    position: relative;
    @include inline-block();
    margin-right: 10px;
    margin-bottom: 5px;
    //    margin-left: 5px;
    //margin-top: -10px;
    //cursor: pointer;
    border: 1px solid;
    border-color: white;
    border-color: adjust-lightness($tri_blue, 30);
    @include transition-property(border-color);
    @include transition-duration(0.5s);
    cursor: pointer;
    img {
      @media only screen and (max-width: 991px) {
        width: 20vw;
      }
    }
    &:hover {
      border-color: $tri_blue;
    }
    .play_thumb {
      position: absolute;
      top: 0;
      left: 0;
      @include inline-block();
      width: 100%;
      height: 100%;
      background: url(../images/icons/play.png) no-repeat center center;
    }
  }

  .product_video {
    height: 100px;
    width: 100%;
    @include inline-block();
    border-bottom: 1px solid;
  }
  .block.product_list {
    border-bottom: none;
  }
}

.ui.grid.short_advantages {
  color: $tri_blue;
  margin: 0 !important;
  font-size: .8rem;
  @media only screen and (max-width: 991px) {
    display: none;
  }
  i {
    float: left;
  }
  .column {
    padding: 0 !important;
  }
  span,
  div {
  }
}

.ui.segment.product_part-top {
  margin-top: -13px;
  @media only screen and (max-width: 991px) {
    margin-top: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 100%);
    //height: 200px;
    z-index: 800;
    padding-top: 2rem;
  }
}

.bottom_scroll.product-node {
  @media only screen and (min-width: 991px) {
    .price_block {
      position: fixed;
      top: 30px;
      padding: 0px 0px 20px 20px;
      //background: linear-gradient(45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 46%,rgba(255,255,255,1) 100%);;
      //background: url(../images/bgs/price_gradient.png) no-repeat;
      z-index: 989;
      width: 330px;
      right: 10px;
    }
  }
}

.product-node .product_thumbs[tab='photo'] {
  height: 360px;
}

.product_3d {
  @include inline-block();
}

.clear_all_options {
  @media only screen and (max-width: 991px) {
    display: block;
    font-size: 1rem;
    //margin: 1rem 0 3rem 0;
    color: $tri_red !important;
  }
}

body.cart
.cart_sidebar_block {
  @media only screen and (max-width: 991px) {
    width: 100%;
    padding: 1rem;
    text-align: center;
  }
}

.cart_sidebar_block,
.price_block {
  @media only screen and (max-width: 991px) {
    width: 100%;
  }
  .price_bg {
    position: absolute;
    left: -50px;
    top: 0px;
    @media only screen and (max-width: 991px) {
      display: none;
    }
  }
  .total_price {
    font-size: 1em;
    .value {
      text-decoration: line-through;
    }
  }
  .discounts_block {
    width: 300px;
    top: 10px;
    font-size: 1rem;
    @media only screen and (max-width: 991px) {
      font-size: 1.75rem;
      top: 0;
      width: auto;
      overflow: hidden;
      top: 30px;
      position: relative;
      display: none;
    }
  }
  .your_discount {
  }
  .your_price {
    font-size: 4rem;
    color: $tri_blue;
    //margin-bottom: 20px;
    clear: left;
  }
  .agree_make_review {
    margin-bottom: 20px;
    margin-top: 1rem;
    @media only screen and (max-width: 991px) {
      display: none;
    }
  }
  .take_discount {
    top: 72px;
    right: 0;
    position: absolute;
    font-size: .8rem;
    @media only screen and (max-width: 991px) {
      display: none;
    }
  }
  .buttons_wrap {
    position: absolute;
    height: 30px;
    margin-bottom: 0;
    right: 0;
    display: inline-block;
    //    width: 105px;
    top: 17px;
    text-align: right;
    @media only screen and (max-width: 991px) {
      right: 2rem;
      //top: 30px;
      .button {
        //font-size: 2rem;
      }
    }
    .buttons {
      margin-right: 0;
    }
  }
}

.price_block {
  .agree_make_review {
    font-size: .7em;
  }
  //  .agree_make_review {
  //    display: none;
  //  }
  //  &:hover {
  //
  //    background: white;
  //    border: 1px solid $tri_blue;
  //    padding: 0 20px;
  //    .agree_make_review{
  //      display: inline-block;
  //    }
  //  }

}

.block_options {
  z-index: 15;
  @include columns(200px 2);
  @media only screen and (max-width: 991px) {
    @include columns(3);
    //padding: 0 5rem;
  }
  .group {
    margin-left: 10px;
    @media only screen and (max-width: 991px) {
      margin-left: 0px;
    }
  }
  .product_option {
    font-size: 1rem;
    margin-bottom: 3px;
    position: relative;
    @media only screen and (max-width: 991px) {
      font-size: .8rem;
      position: relative;
      width: 28vw;
      height: 28vw;
      padding: 1rem;
      text-align: center;
      border: 5px solid $tri_blue;
      margin-bottom: 1rem;
      display: inline-block;
    }
    input {
      width: 10px;
      height: 10px;
      margin-right: 5px;
    }

    .option_desc {
      //      color: white;
      //      background-color: $tri_blue;
      width: 250px;
      padding: 10px;
      overflow: hidden;
      //      left: -290px;
      z-index: 100;
      @include transition-property(all);
      @include transition-duration(0.5s);
      //      display: none;
      position: absolute;
      background: none repeat scroll 0% 0% white;
      top: 0px;
      left: 0px;
      border: 1px solid;
    }
    &:hover .option_desc {
      //width: 150px;
      @include inline-block();
    }
    .group_name {
      font-weight: bold;
      margin-bottom: 3px;
    }
    .option_name {
      //      @include inline-block();
      width: 200px;
      //      margin-right: 20px;
      cursor: pointer;
    }

    .show_help {
      @media only screen and (max-width: 991px) {
        border: none;
        display: inline-block;
        position: absolute;
        left: 0;
        top: 0;
        text-align: center;
        z-index: 20;
        width: 100%;
        height: 100%;
        @include opacity(0);
      }
    }
    .option_value {
      //      @include inline-block();
      cursor: pointer;
      overflow: hidden;
      //      width: 340px;
      padding-left: 10px;
      margin-left: -10px;
      @media only screen and (max-width: 991px) {
        cursor: pointer;
        overflow: hidden;
        position: absolute;
        left: -5px;
        top: -5px;
        width: 28vw;
        height: 28vw;
        margin: 0;
        padding: 1rem;
        line-height: 1rem;
      }
      //&:hover {
      //  color: $tri_blue;
      //}
      &.active_true {
        color: $tri_blue;
        background: url(../images/icons/select_icons/active_small.png) no-repeat left center;
        @media only screen and (max-width: 991px) {
          color: white;
          background: $tri_blue none;
        }
      }
      &.load_true {
        background: url(../images/misc/small_loader.gif) no-repeat left center;
      }
      &.available_false {
        @include opacity(.5);
        cursor: default;
        display: block;
        //&:hover {
        //  color: black;
        //  .div {
        //    color: black !important;
        //  }
        //}
      }
    }
    .option_price {
      //      @include inline-block();
      text-align: right;
      cursor: pointer;
      font-weight: bold;
      float: right;
      @media only screen and (max-width: 991px) {
        text-align: center;
        cursor: pointer;
        font-weight: bold;
        float: right;
        position: absolute;
        bottom: 1rem;
        width: 28vw;
        left: 0;
      }
      &:hover {
        color: adjust-lightness($tri_blue, 10);
      }
    }
    &.active_true {
      font-weight: bold;

      .option_value {
      }
      .option_value, .option_price {
        font-weight: bold;
        color: $tri_blue;
      }

    }
  }
}

.product_menu {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 100;
  @include span(100% last);
  //  @include box-shadow(rgba(black, 0.2) 0px 0px 5px);
  background: $tri_gray;
  ul.menu {
    padding: 0 0px;
    //background: $tri_gray;
    @include span(100% last);
    margin: 0;
    left: 0px;
    position: relative;
    white-space: nowrap;
    @include inline-block();
    li.menu_item {
      margin: 0;
      float: left;
      list-style-type: none;
      position: relative;
      @include inline-block();
      @include transition-property(all);
      @include transition-duration(0.5s);
      a {
        padding: 3px;
        border-left: 1px solid white;
        line-height: 50px;
        padding-right: 15px;
        padding-left: 15px;

        font-size: 1.1em;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        @include inline-block();
        width: 100%;
        height: 100%;
        &:hover {
          color: adjust-lightness(black, 35);
        }

      }
      &:first-child a {
        border-left: none;
      }
      &.active {
        background-color: adjust-lightness($tri_blue, 20);
      }
    }
  }
}

.block_option_desc {
  //width: 1120px;
  //margin: 0 0 0 -560px;
  .page-title {
    padding: 1rem;
  }
  .desc {
    padding: 1rem;
  }
  .desc {

  }
  .video-js {
    width: 100% !important;
    height: auto !important;
    div.vjs-big-play-button {
      top: 450px !important;
    }
    .vjs-control-bar {
      top: 455px !important;
    }
  }
}

.video-js .vjs-tech {
  position: relative;
  height: auto;
  width: 100%;
}

#product_video,
.block_option_desc .video-js {
  z-index: 15;
  overflow: hidden;
  div, div:before {
    text-shadow: none !important;
    color: $tri_orange;
  }
  .vjs-poster {
    position: absolute;
    top: 0;
  }
  .vjs-text-track-display {

  }
  .vjs-loading-spinner {

  }
  div.vjs-big-play-button {
    //    background: url(../images/buttons/play_video.png) no-repeat center top;
    background-color: $tri_orange !important;
    @include border-radius(0);
    border: none;
    width: 25px;
    height: 25px;
    line-height: 25px;
    top: 575px;
    left: 15px;
    margin: 0;
    cursor: pointer;
    text-align: center;
    border-radius: 50px;
    &:before {
      color: white;
      font-size: 0.5em;
      line-height: 25px;
      text-shadow: none !important;
      left: 2px;
    }
    &:hover {
      background-color: adjust-lightness($tri_orange, 40);
    }
    &:focus {
      border: none;
      background-color: adjust-lightness($tri_orange, 40);
    }
  }
  .vjs-control-bar {
    position: absolute;
    top: 574px;
    padding-bottom: 10px;
    background-color: transparent;
    display: block;
    .vjs-play-control {

    }
    .vjs-current-time {

    }
    .vjs-time-divider {

    }
    .vjs-duration {

    }
    .vjs-remaining-time {

    }
    .vjs-progress-control {
      top: 31px;
    }
    .vjs-fullscreen-control {

    }
    .vjs-volume-control {
      .vjs-volume-bar {
        height: 0.5em;
      }
    }
    .vjs-mute-control {

    }
    .vjs-subtitles-button {

    }
    .vjs-quality-button {

    }
  }
  &.vjs-fullscreen {
    .vjs-control-bar {
      top: 100%;
      margin-top: -100px;
    }
  }
}

#node_video {
  z-index: 15;
  div, div:before {
    text-shadow: none !important;
    color: $tri_orange;
  }
  .vjs-poster {
    //position: absolute;
    //top: 0;
  }
  .vjs-text-track-display {

  }
  .vjs-loading-spinner {

  }
  div.vjs-big-play-button {
    //    background: url(../images/buttons/play_video.png) no-repeat center top;
    background-color: $tri_orange !important;
    @include border-radius(0);
    border: none;
    width: 25px;
    height: 25px;
    line-height: 25px;
    bottom: 505px;
    left: 15px;
    margin: 0;
    cursor: pointer;
    text-align: center;
    border-radius: 50px;
    &:before {
      color: white;
      font-size: 0.5em;
      line-height: 25px;
      text-shadow: none !important;
      left: 2px;
    }
    &:hover {
      background-color: adjust-lightness($tri_orange, 40);
    }
    &:focus {
      border: none;
      background-color: adjust-lightness($tri_orange, 40);
    }
  }
  .vjs-control-bar {
    position: absolute;
    //    top: 504px;
    padding-bottom: 10px;
    background-color: transparent;
    display: block;
    .vjs-play-control {

    }
    .vjs-current-time {

    }
    .vjs-time-divider {

    }
    .vjs-duration {

    }
    .vjs-remaining-time {

    }
    .vjs-progress-control {
      top: 31px;
    }
    .vjs-fullscreen-control {

    }
    .vjs-volume-control {
      .vjs-volume-bar {
        height: 0.5em;
      }
    }
    .vjs-mute-control {

    }
    .vjs-subtitles-button {

    }
    .vjs-quality-button {

    }
  }
  &.vjs-fullscreen {
    .vjs-control-bar {
      top: 100%;
      margin-top: -100px;
    }
  }
}

.product_parts_wrap {
  .mCSB_scrollTools {
    height: 520px;
  }
}

.product_edit {
  display: inline-block;
  text-align: right;
  width: 100%;
  margin-top: 1rem;
}

.product-node {
  h1#page-title, h2#page-second-title {
    display: none;
  }
  .page-title {
    padding-right: 250px;
    @media only screen and (max-width: 991px) {
      padding-right: 0;
    }
  }
  .to_cart_button {
    //background-color: $tri_orange !important;
  }
}

.visor {
  //position: absolute;
  //top: 0;
}
