@import "compass/css3";

table {
  thead {
    th {
      width: 60px;
      white-space: normal;
    }
  }
  tbody {
    tr {
      td {
        @include transition-property(background-color);
        @include transition-duration(0.5s);
        &.changed {
          background-color: #e0ffd8;
        }
        input[type="text"] {
          width: 60px;
        }
        .option_sku {
          margin-top: 5px;
          font-size: .8em;
        }
      }
    }
  }
}

