@import "partials/imports";

body.zavatarro {

  .pusher {
    background-color: transparent;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
    color: #CED3CF;
  }

  p {

  }

  .ui.header {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
  }

  .ui.inverted.segment,
  .ui.primary.inverted.segment {
    background-color: black;
    color: rgba(206, 211, 207, 0.70);
  }
  .ui.form {
    .field {
      input {
        border-radius: 0;
        background-color: transparent;
        border: 1px solid;
        color: $tri_blue;
      }
    }
  }
  .ui.button {
    border-radius: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }

  h2.ui.header {
    font-weight: 100;
    font-size: 4rem;
    margin-bottom: 3rem;
    font-family: 'Roboto', sans-serif;
  }

  .segment.top {
    height: 960px;
    overflow: hidden;
  }

  img.city {
    position: relative;
    top: -410px;
    margin-bottom: -410px;
  }

  img.bottom_city {
    position: relative;
    top: -600px;
    margin-bottom: -600px;
  }

  .logo {
    margin-top: 5rem;
    margin-bottom: 10rem;
  }

  footer {
    border-top: none;

  }

  .to_top {
    position: absolute;
  }

  .segment {
    overflow: hidden;
    padding: 5rem 0;
    .header {
      position: relative;
      z-index: 1;
    }
    .teaser {
      position: relative;
      z-index: 1;
    }
    .buy {
      position: relative;
      z-index: 1;
    }
    .image {
      &.bottom {
        position: relative;
        z-index: 0;
      }
      &.big_image {
        //margin-top: -150px;
        //margin-bottom: -150px;
      }
    }
  }

  .segment.top {
    .buy {
      position: fixed;
      right: 2rem;
      top: 2rem;
    }
    .spectrum {
      position: fixed;
      left: 2rem;
      top: 2rem;
      z-index: 100;
    }
  }

  .spectrum {
    .sp-replacer {
      border: none;
      width: 50px;
      height: 50px;
      padding: 0;
      background: none;
    }
    .sp-preview {
      background: none;
      border: none;
    }
    .sp-preview-inner {
      background-color: #000;
      width: 50px;
      height: 50px;
      //border: 1px $tri_blue solid;
      border-radius: 50px;
    }
    .sp-dd {
      display: none;
    }
  }

  .sp-container {
    border: none;
    background: transparent;
    .sp-picker-container {
      border: none;
      .sp-button-container {
        display: none;
      }
    }
    .sp-color {
      border-radius: 20px;
      border: none;
    }
    .sp-sat {
      border-radius: 20px;
      border: none;
    }
    .sp-val {
      border-radius: 20px;
      border: none;
    }
    .sp-dragger {
      width: 15px;
      height: 15px;
      border-radius: 15px;
      border: none;
      background-color: white;
      box-shadow: 0px 0px 10px;
    }
    .sp-hue {
      border: none;
      border-radius: 10px;
    }
    .sp-slider {
      box-shadow: 0px 0px 10px;
      height: 8px;
      border: none;
      border-radius: 5px;
    }
  }

  .bottom_poetry {
    position: absolute;
    text-align: left;
    font-style: italic;
    font-family: Times;
    font-size: 1.5rem;
    line-height: 2rem;
    top: 20rem;
    left: 10rem;
    color: $tri_blue;
  }

}