{% extends "admin/base.html" %}
{#{% load i18n grp_tags %}#}
{% load i18n  %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="/static/stylesheets/my_admin.css"/>
    {{ block.super }}
{% endblock %}
