<div class="buildings_type_block block pie">
    <div class="block_inner">
    <ul class="buildings_type">
        <li class="flats" layer=".flats_2q, .flats_1q" onclick="Dajaxice.mi.flat_table(Dajax.process, {'page':1});">Квартиры</li>
        <li class="cottages" layer=".cottege_1q, .cottege_2q" onclick="Dajaxice.mi.cottages(Dajax.process);">Коттеджи</li>
        <li class="townhouses" layer=".townhouse_all" onclick="Dajaxice.mi.townhouses(Dajax.process);">Таунхаусы</li>
        <li class="infrastructure" layer=".tc, .school, .pond">Инфраструктура</li>
    </ul>
    </div>
</div>