<table>
    <thead>
    <tr>
        <th>Номер дома</th>
        <th>Этаж</th>
        <th>Номер квартиры</th>
        <th>Комнат</th>
        <th>Общая площадь (м<sup>2</sup>)</th>
        <!--<th>Сумма сделки</th>-->
        <th>Статус</th>
        <th>Стадия готовности</th>
        <th></th>
    </tr>
    </thead>
    {% for flat in flats %}
        <tr class="{{ flat.get_status_display }} {% cycle 'mi_odd' 'mi_even' %}">
            <td>2</td>
            <td>{{ flat.floor }}</td>
            <td>{{ flat.flat_number }}</td>
            <td>{{ flat.room_number }}</td>
            <td>{{ flat.common_square }}</td>
            <!--<td>{{ flat.common_price }}</td>-->
            <td class="status {{ flat.get_status_display }}"></td>
            <td>{{ flat.stage_ready }}</td>
            <td><a href="{{ flat.plan_image }}" class="cbox">Планировка</a></td>
        </tr>


    {% endfor %}
</table>

{% include "triton_ua/lib/paginator.html" with items=flats %}