<div class="genplan_table span-24 last">

    <div class="content_inner">

        <div class="flat_filter">
        <form action="javascript:Dajaxice.mi.flat_filter(Dajax.process,{'form':$('#flat_filter_form').serialize(true)});" method="post" class="flat_filter_form" id="flat_filter_form">{% csrf_token %}
            <h3>Выбор квартиры ></h3>
            {% comment %}{{ form_callbacks }}{% endcomment %}
            {% for field in flat_filter_form %}
                <div class="field_wrapper field_{{ field.name }} {% if field.errors %}error{% endif %} {% cycle 'even' 'odd' %}">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}

                </div>
            {% endfor %}

            <button type="submit" class="button positive form-submit">Искать</button>
        </form>
        </div>

        <div class="table_wrap">
            {% include 'triton_ua/blocks/for_genplan/flat_table.html' with flats=flats  %}
        </div>

    </div>
</div>