<img src="/static/images/maps/genpalan.jpg" alt="" class="genplan_image" />





    <map name="genaplan_imagemap__Map" class="genaplan_imagemap__Map">
        <area shape="poly" alt="" coords="990,232, 1012,216, 926,181, 840,147, 797,181, 874,213, 950,244, 970,224, 990,232"  layer=".townhouse_all" href="javascript:Dajaxice.mi.townhouses(Dajax.process);">
        <area shape="poly" alt="" coords="824,161, 797,152, 724,209, 614,161, 534,252, 615,257, 631,255, 666,209, 699,222, 727,223, 753,216, 797,183, 824,161" layer=".townhouse_all" href="javascript:Dajaxice.mi.townhouses(Dajax.process);">
        <area shape="poly" alt="" coords="753,214, 727,223, 699,222, 666,209, 631,255, 615,257, 599,379, 690,388, 753,377, 753,296, 753,214" layer=".cottege_1q, .cottege_2q" href="javascript:Dajaxice.mi.cottages(Dajax.process);">
        <area shape="poly" alt="" coords="1101,316, 1006,330, 911,345, 851,266, 753,216, 797,183, 874,214, 951,245, 970,225, 1058,264, 1101,316" layer=".cottege_1q, .cottege_2q" href="javascript:Dajaxice.mi.cottages(Dajax.process);">
        <area shape="poly" alt="" coords="943,340, 961,373, 872,389, 784,405, 753,372, 753,296, 753,219, 847,267, 911,348, 943,340" layer=".pond, .school, .tc">
        <area shape="poly" alt="" coords="1231,491, 1260,562, 1161,544, 1063,527, 965,509, 946,484, 1089,488, 1231,491" layer=".pond, .school, .tc">
        <area shape="poly" alt="" coords="684,422, 688,388, 614,380, 540,373, 451,427, 428,410, 354,454, 303,417, 204,478, 178,455, 101,492, 24,529, 0,575, 74,565, 148,555, 230,535, 312,516, 436,485, 560,453, 684,422" layer=".flats_1q, .flats_2q" href="javascript:Dajaxice.mi.flat_table(Dajax.process, {'page':1});">
        <area shape="poly" alt="" coords="792,419, 904,398, 1016,376, 1128,355, 1192,423, 1256,492, 1147,489, 1038,487, 929,484, 811,449, 792,419" layer=".flats_1q, .flats_2q" href="javascript:Dajaxice.mi.flat_table(Dajax.process, {'page':1});">
        <area shape="poly" alt="" coords="305,417, 381,360, 461,366, 542,373, 452,426, 430,410, 356,454, 305,417" layer=".pond, .school, .tc">
        <!--<area shape="rect" alt="" coords="0,0,1275,700" href="all">-->

    </map>

<div class="gen_plan_layers" >
    <img src="/static/images/genplan/townhouse_1q.png" alt="" class="genplan_layer townhouse_1q">
    <img src="/static/images/genplan/townhouse_2q.png" alt="" class="genplan_layer townhouse_2q">
    <img src="/static/images/genplan/townhouse_all.png" alt="" class="genplan_layer townhouse_all">
    <img src="/static/images/genplan/cottege_1q.png" alt="" class="genplan_layer cottege_1q">
    <img src="/static/images/genplan/cottege_2q.png" alt="" class="genplan_layer cottege_2q">
    <img src="/static/images/genplan/pond.png" alt="" class="genplan_layer pond">
    <img src="/static/images/genplan/school.png" alt="" class="genplan_layer school">
    <img src="/static/images/genplan/flats_2q.png" alt="" class="genplan_layer flats_2q">
    <img src="/static/images/genplan/flats_1q.png" alt="" class="genplan_layer flats_1q">
    <img src="/static/images/genplan/tc.png" alt="" class="genplan_layer tc">

    <div class="box_shadow_inset"></div>

</div>


<img src="/static/images/misc/empty.png" height="700px" width="1275px" class="genplan_layer_top" usemap="#genaplan_imagemap__Map">

