<div class="queues_block block pie">
    <div class="block_inner">
        <ul class="queues">
            <li class="first_queue" layer=".flats_1q, .townhouse_1q, .cottege_1q, .tc, .pond">1 очередь</li>
            <li class="second_queue" layer=".flats_2q, .townhouse_2q, .cottege_2q, .school">2 очередь</li>
        </ul>
    </div>
</div>