{% extends "admin/base_site.html" %}

{#{% load i18n admin_static admin_modify grp_tags hramik_tags %}#}
{% load i18n admin_static admin_modify hramik_tags %}

{% block extrahead %}{% endblock %}

{% block pretitle %}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link href="/static/stylesheets/triton_admin.css" media="screen, projection" rel="stylesheet" type="text/css"/>

{% endblock %}


{% block javascripts %}
    {{ block.super }}


    <script type="text/javascript" src="/static/js/angular-libs/angular.min.js"></script>
    <script type="text/javascript" src="/static/js/angular-libs/angular-resource.min.js"></script>
    <script type="text/javascript" src="/static/js/angular-libs/angular-animate.min.js"></script>
    <script type="text/javascript" src="/static/js/angular-libs/angular-touch.min.js"></script>
    <script type="text/javascript" src="/static/js/angular-libs/angular-resource.min.js"></script>
    <script type="text/javascript" src="/static/js/angular-libs/angular-route.min.js"></script>
    <script type="text/javascript" src="/static/js/angular-libs/angular-sanitize.min.js"></script>

    <script type="text/javascript" src="/static/js/ngInfiniteScroll-1.0.0/build/ng-infinite-scroll.js"></script>
    <script type="text/javascript" src="/static/js/angular-file-upload-master/angular-file-upload.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-custom/ui-bootstrap-custom-tpls-0.5.0.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-custom/ui-bootstrap-custom-0.5.0.min.js"></script>
    <script type="text/javascript" src="/static/js/angular-yandex-map-master/ya-map.min.js"></script>
    <script type="text/javascript" src="/static/js/ng-iScroll-master/src/ng-iscroll.min.js"></script>
    <script type="text/javascript" src="/static/js/angular-elastic-master/elastic.js"></script>
    <script type="text/javascript" src="/static/js/angular-slider/slider.js"></script>
    <script type="text/javascript" src="/static/js/ngInfiniteScroll-1.0.0/build/ng-infinite-scroll.js"></script>

    <script type="text/javascript" src="/static/js/angular/app.js"></script>
    <script type="text/javascript" src="/static/js/angular/services.js"></script>
    <script type="text/javascript" src="/static/js/angular/controllers.js"></script>
    <script type="text/javascript" src="/static/js/angular/directives.js"></script>
    <script type="text/javascript" src="/static/js/angular/filters.js"></script>

    <script type="text/javascript" src="/static/js/angular/product_directives.js"></script>
    <script type="text/javascript" src="/static/js/angular/magazine_directives.js"></script>
    <script type="text/javascript" src="/static/js/angular/magazine_controllers.js"></script>
 
    <script type="text/javascript" src="/static/js/angular/da-tabor.js"></script>


    {#    <script type="text/javascript">#}
    {#        $('table.float_thead').fixedHeaderTable();#}
    {#    </script>#}

{% endblock %}



{#{% block page-tools %}#}
{#    <ul>#}
{#        <li><a href="link goes in here">Do something with the current page or its elements</a></li>#}
{#    </ul>#}
{#{% endblock %}#}

