{% extends "custom_admin/pages/base.html" %}

{#{% load i18n admin_static admin_modify grp_tags hramik_tags %}#}
{% load i18n admin_static admin_modify  hramik_tags %}


{% block content %}

    {% include 'custom_admin/partials/module.html' %}

    <div ng-app="daApp" style="clear: both">
        {#        <form {% if has_file_field %}enctype="multipart/form-data" {% endif %} action="" method="post" id="price_table_form">{% csrf_token %}#}


        {#    {% block object-tools %}#}
        {#        <ul class="grp-object-tools">#}
        {#            {% block object-tools-items %}#}
        {#                <li><a href="url">Action</a></li>#}
        {#                <li><a href="url" class="grp-state-focus">Action</a></li>#}
        {#                <li><a href="url" class="grp-add-link">Add something</a></li>#}
        {#                <li><a href="url" target="_blank">View something externally</a></li>#}
        {#            {% endblock %}#}
        {#        </ul>#}
        {#    {% endblock %}#}


        <table id="result_list" cellspacing="0" class="grp-full-width float_thead">
            <thead>
            <tr>

                <th class="column-product_names">
                    <div><span>Product names</span></div>
                </th>

                {#            {% for site in filter_sites %}#}
                {#                <th class="column-product_name">#}
                {#                    <div><span>{{ site.name }}</span></div>#}
                {#                </th>#}
                {#            {% endfor %}#}

                <th class="column-product_scu">
                    <div><span>SKU</span></div>
                </th>

                <th class="column-product_price">
                    <div style="color: #004c99"><strong>Цена</strong></div>
                </th>

                {% for option in options %}
                    <th class="column-option option_{{ option.slug }}">
                        <div>
                            {% if option.group.name != 'None' %}
                                <span>{{ option.group.name }}</span><br/>
                            {% endif %}
                            <span>{{ option.name }}</span></div>
                    </th>
                {% endfor %}

            </tr>
            </thead>

            <tbody>
            {% for product in products %}

                <tr class="{% cycle 'grp-row-odd' 'grp-row-even' %}"
                    product
                    ng-controller="productCtrl"
                    ng-init="
                            id = '{{ product.id }}';
                            slug = '{{ product.slug }}';
                        ">

                    <td class="product" rel="product_{{ product.pk }}">
                        <a href="{% url 'admin:products_product_change' product.pk %}">{{ product.title }}</a>
                    </td>
                    <td class="column-product_sku" productinput ng-controller="productinputCtrl">
                        {#                        <input class="vTextField" id="id_sku" name="sku" type="text"#}
                        {#                               ng-blur="changeSKU({{ product.nid }}, sku_{{ product.id }}, {{ filter_sites_plain }});"#}
                        {#                               ng-model="sku_{{ product.id }}"#}
                        {#                               ng-init="sku_{{ product.id }}='{{ product.sku }}'">#}
                    </td>

                    <td class="column-product_price" productinput ng-controller="productinputCtrl">
                        <input class="vTextField" id="id_price" name="price" type="text"
                               ng-blur="changePrice({{ product.nid }}, price_{{ product.id }}, {{ filter_sites_plain }});"
                               ng-model="price_{{ product.id }}"
                               ng-init="price_{{ product.id }}='{{ product.price }}'">
                    </td>
                    {#                {% for site in filter_sites %}#}
                    {#                    <td>#}
                    {#                        {% with site.products|by_index:forloop.parentloop.counter0  as site_product %}#}
                    {#                            {{ site_product.price }}#}
                    {#                        {% endwith %}#}
                    {#                    </td>#}
                    {#                {% endfor %}#}


                    {% for option in options %}


                        {% with product.optionprices.all|by_option_slug:option.slug as option_price %}
                            <td class="column-option option_{{ option.slug }}" productinput ng-controller="productinputCtrl">
                                {% if option_price %}
                                    <input class="vTextField" id="id_price" maxlength="10" name="price" type="text"
                                           ng-blur="changeOptionPrice({{ option_price.id }}, option_price_{{ option_price.id }}, {{ filter_sites_plain }});"
                                           ng-model="option_price_{{ option_price.id }}"
                                           ng-init="option_price_{{ option_price.id }}='{{ option_price.price }}'">
                                    <div class="option_sku">{{ option_price.sku }}</div>
                                {% endif %}
                            </td>
                        {% endwith %}
                    {% endfor %}
                </tr>

                {#            {% for optionprice in product.optionprice_set.all %}#}
                {#                <tr class="option {% cycle 'grp-row-odd' 'grp-row-even' %}" rel="product_{{ product.pk }}">#}
                {#                    <td>{{ optionprice.option.name }}</td>#}
                {#                    {% for site in filter_sites %}#}
                {#                        <td>#}
                {#                            {% with site.products|by_index:forloop.parentloop.parentloop.counter0  as site_product %}#}
                {#                                {% for site_product_option in site_product.optionprice_set.all %}#}
                {#                                {{ site_product_option }}#}
                {#                                {% endfor %}#}
                {#{{ forloop.parentloop.counter0 }}#}
                {#                                {% with site_product.optionprice_set.all|by_index:forloop.parentloop.counter0  as site_product_option %}#}
                {#                                    {{ site_product_option }}#}
                {#                                {% endwith %}#}
                {#                            {% endwith %}#}
                {#                        </td>#}
                {#                    {% endfor %}#}
                {##}
                {#                </tr>#}
                {##}
                {#            {% endfor %}#}

            {% endfor %}

            </tbody>
        </table>

        {#        <footer class="grp-module grp-submit-row grp-fixed-footer">#}
        {#            <ul>#}
        {#                <li><input type="submit" value="Сохранить" class="grp-button grp-default" name="_save"></li>#}
        {#            </ul>#}
        {#        </footer>#}

        {#        </form>#}


    </div>


{% endblock %}
