{% extends "custom_admin/pages/base.html" %}

{#{% load i18n admin_static admin_modify grp_tags hramik_tags %}#}
{% load i18n admin_static admin_modify  hramik_tags %}


{% block content %}

    <div class="grp-module">

        <div class="grp-row">


            <form action="" method="POST" enctype="multipart/form-data">
                {{ filter_form }}

                <input type="submit" value="Загрузить" class="grp-button" name="upload_filter" />
            </form>

        </div>

    </div>

    <div ng-app="daApp" style="clear: both">

    </div>


{% endblock %}
