


<div class="ui center aligned basic segment">
    <div class="ui statistic">
        <div class="value">
            <i class="shipping icon"></i>
            1-3
        </div>
        <div class="label">
            дня
        </div>
    </div>
</div>


<p>Сроки доставки оговариваются с менеджером и зависят от товара, который вы заказали и наличия его на складе. Обычно, мы можем отгрузить ванну (без врезанных гидромассажных
    систем) и весь остальной товар на следующий день.</p>

<p>Ванну, требующую врезки гидромассажных систем – на третий день.</p>

<p>Отгрузка и врезка гидромассажных систем осуществляется со складов региональных дистрибьюторов Тритон. Доставка – курьерской службой, например DPD или транспортом регионального
    дистрибьютора.</p>

<div class="ui divider"></div>

<div class="ui centered h4 header">Стоимость доставки зависит от типа товара и адреса доставки.<br/>
    При заказе нескольких единиц товара стоимость доставки суммируется.
</div>

<br/><br/>

<div class="ui three statistics">
    <div class="statistic">
        <div class="text value">
            {? site_json.delivery_capital ?}
        </div>
    </div>
    <div class="statistic">
        <div class="text value">
        </div>
    </div>
    <div class="statistic">
        <div class="text value">
            {? site_json.delivery_region ?}
        </div>
    </div>
</div>

<div class="ui divider"></div>


<div ng-repeat="delivery in deliveries">
    <div class="ui three statistics">
        <div class="statistic">
            <div class="value">
                300
            </div>
            <div class="label">
                руб
            </div>
        </div>
        <div class="statistic">
            <div class="text value">
                Ванна, душевой поддон
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                500
            </div>
            <div class="label">
                руб
            </div>
        </div>
    </div>

    <div class="ui divider"></div>
</div>


<div class="ui three statistics">
    <div class="statistic">
        <div class="value">
            500
        </div>
        <div class="label">
            руб
        </div>
    </div>
    <div class="statistic">
        <div class="text value">
            Ванна с гидромассажем
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            1000
        </div>
        <div class="label">
            руб
        </div>
    </div>
</div>

<div class="ui divider"></div>


<div class="ui three statistics">
    <div class="statistic">
        <div class="value">
            500
        </div>
        <div class="label">
            руб
        </div>
    </div>
    <div class="statistic">
        <div class="text value">
            Душевая кабина
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            1000
        </div>
        <div class="label">
            руб
        </div>
    </div>
</div>

<div class="ui divider"></div>


<div class="ui three statistics">
    <div class="statistic">
        <div class="value">
            300
        </div>
        <div class="label">
            руб
        </div>
    </div>
    <div class="statistic">
        <div class="text value">
            Мебель
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            500
        </div>
        <div class="label">
            руб
        </div>
    </div>
</div>

<div class="ui divider"></div>


<div class="ui three statistics">
    <div class="statistic">
        <div class="value">
            200
        </div>
        <div class="label">
            руб
        </div>
    </div>
    <div class="statistic">
        <div class="text value">
            Смеситель
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            400
        </div>
        <div class="label">
            руб
        </div>
    </div>
</div>

<div class="ui divider"></div>

{% endblock %}
