
<div class="ui four fluid doubling cards">

    <div class="card">
        <div class="image">
            <img src="/media/nodephotos/eyes.png">
        </div>
        <div class="content">
            <div class="header centered centeredcentered">Если Вы не определились с тем, какой товар выбрать<br><br><br></div>
            <div class="ui divider"></div>

            <div class="description">
                Мы с удовольствием проконсультируем вас. Для этого вы можете:
                <ul>
                    <li>Позвонить нам по телефону
                        <nobr><a href="tel:current_site.phone">{{ current_site.phone }}</a></nobr>
                        .
                    </li>
                    <li>Заказать <a ng-click="global.callback_form_modal_show=1;">обратный звонок</a>. <br/><p>Форму для заполнения заявки на обратный звонок можно вызвать кликнув на
                        текст «Заявка на обратный звонок» над телефоном в шапке сайта.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--  -->

    <div class="card">
        <div class="image">
            <img src="/media/nodephotos/questions.png">
        </div>
        <div class="content">
            <div class="header centered">Если Вы определились с товаром, но у вас остались вопросы, например по комплектации</div>
            <div class="ui divider"></div>

            <div class="description">
                воспользуйтесь кнопкой
                <div class="yu basic center aligned segment" style="padding: 1rem 0;">
                    <div class="ui blue centered button">Консультация</div>
                </div>
                которая
                доступна при
                наведении курсора
                на кнопку «В корзину».
                <p>Заполнив
                    форму с
                    обязательным
                    указанием: имени и номера телефона,
                    Вы передадите нам информацию о товаре, который Вас интересует и о опциях, которые вы уже начали выбирать.</p>

                <p>Мы перезвоним вам и ответим на все ваши вопросы.</p>
            </div>
        </div>
    </div>
    <!--  -->

    <div class="card">
        <div class="image">
            <img src="/media/nodephotos/one.png">
        </div>
        <div class="content">
            <div class="header centered">Если Вы определились с товаром и он всего один <br><br><br></div>
            <div class="ui divider"></div>

            <div class="description">
                воспользуйтесь кнопкой
                <div class="yu basic center aligned segment" style="padding: 1rem 0;">
                    <div class="ui blue centered button">Купить быстро</div>
                </div>
                которая также доступная при наведении курсора на кнопку «В корзину». <p>Заполнив форму с обязательным указанием: имени, номера
                телефона и e-mail, Вы передадите нам информацию о товаре и комплектации которую вы выбрали.</p>

                <p>Мы свяжемся с вами, подтвердим заказ и уточним условия и сроки доставки.</p>
            </div>
        </div>
    </div>
    <!--  -->


    <div class="card">
        <div class="image">
            <img src="/media/nodephotos/many.png">
        </div>
        <div class="content">
            <div class="header centered">Если Вы выбрали несколько единиц товара<br><br><br></div>
            <div class="ui divider"></div>

            <div class="description">
                вы можете положить их
                <div class="yu basic center aligned segment" style="padding: 1rem 0;">
                    <div class="ui blue centered button">В корзину</div>
                </div>
                <p>Перейдите в корзину и заполните обязательные контактные данные, которые необходимы для оформления отгрузочных документов.</p>
            </div>
        </div>
    </div>
    <!--  -->


</div>