<div class="ui yellow message">
    <i class="star icon"></i>
    При заказе ванны с дополнительными опциями (гидромассаж, аэромассаж и т.д.) необходимо внести аванс в размере <b>30%</b>
</div>
<div class="ui items">
    <div class="item">
        <a class="ui small image">
            <img src="/media/nodephotos/cassa.png">
        </a>

        <div class="content">
            <a class="header">Варианты оплаты</a>

            <div class="description">
                <p>Оплатить заказ можно у нас на сайте или курьеру при получении.</p>
            </div>
        </div>
    </div>

    <div class="item">
        <a class="ui small image">
            <img src="/media/nodephotos/prepay.png">
        </a>

        <div class="content">
            <a class="header">Предоплата</a>

            <div class="description">
                <p>При заказе ванны с дополнительными опциями (гидромассаж, аэромассаж и т.д.) необходимо внести аванс в размере <b>30%</b>  от стоимости, так как гидромассажные ванны собираются индивидуально. В случае отказа от заказа – аванс не возвращается.</p>
            </div>
        </div>
    </div>

    <div class="item">
        <a class="ui small image">
            <img src="/media/nodephotos/methods.png">
        </a>

        <div class="content">
            <a class="header">Способы оплаты</a>

            <div class="description">
                <p>Если заказ требует обязательной предоплаты или Вы хотите сразу оплатить его полностью, наш менеджер отправит Вам на электронную почту ссылку, по которой Вы перейдете на форму Вашего заказа в раздел оплат, где с помощью сервиса компании Яндекс по защищенному каналу сможете произвести оплату удобными для вас средствами: кредитными или дебетовыми картами, Яндекс.Деньгами, АльфаКлик и тд.</p>
            </div>
        </div>
    </div>
</div>



