{#ng-keyup="global.callback_form_show=0;"#}
<div class="block form_block span-12 last" ng-controller="callbackCtr" ng-show="global.callback_form_show" >

    <div class="close" ng-click="global.callback_form_show=0;">Закрыть</div>

    <div class="block_inner">

        <div class="block_title">Обратный звонок</div>

        <div class="recall form_teaser" ng-hide="gracie">Не смогли дозвониться? Мы вам перезвоним.</div>

        <div class="gracie" ng-show="gracie">
            <div class="wrap">
                Спасибо, {{ username }}! <br>Наш менеджер перезвонит вам в ближайшее время.
            </div>
            <div class="wrap_100 center">
                <div ng-click="global.callback_form_show=0; gracie=0;" class="button">OK</div>
            </div>

        </div>

        {#    <form action="javascript:Dajaxice.mi.callback(Dajax.process,{'form':$('#call_back_form').serialize(true)});" method="post" id ="call_back_form">{% csrf_token %}#}
        <form method="post" id="call_back_form" name="call_back_form" ng-hide="gracie">{% csrf_token %}
            {% comment %}{{ form_callbacks }}{% endcomment %}
            {% for field in form %}
                <div class="field_wrapper field_{{ field.name }} {% if field.errors %}error{% endif %} {% cycle 'even' 'odd' %}">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}

                    <div ng-show="call_back_form.{{ field.name }}.$dirty && call_back_form.{{ field.name }}.$invalid"
                         class="form_error">
                        <span ng-show="call_back_form.{{ field.name }}.$error.required ">Заполните поле.</span>
                        <span ng-show="call_back_form.{{ field.name }}.$error.email">Это поле должно быть адресом электронной почты.</span>
                    </div>

                </div>
            {% endfor %}
            <div class="wrap_100 right">
                <div ng-click="loader=1; send_form();" ng-disabled="call_back_form.$invalid" class="button positive form-submit">Позвоните мне</div>
                <div class="loader" ng-show="loader"></div>

            </div>
        </form>

    </div>

</div>