<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript">
    ymaps.ready(function () {

        ymaps.geocode('Донецк, пр. Васнецова, 7', { results: 1 }).then(function (res) {
            var firstGeoObject = res.geoObjects.get(0);

            var myMap = new ymaps.Map('yamap', {
                center: firstGeoObject.geometry.getCoordinates(),
                zoom: 14,
                {#                  behaviors: ['default', 'scrollZoom'],#}
                {#                iconImageHref: 'http://www.3tn.ru/sites/all/themes/basic/images/icons/middle_map_pointer.png', // картинка иконки#}
                {#                iconImageSize: [31, 47], // размеры картинки#}
                {#                iconImageOffset: [-15, -47] // смещение картинки#}
            });
        });
    });
</script>

<div class="block check_conectivity_form_block black_block"  ng-controller="checkAddressCtrl" ng-init="" ng-mouseover="map_width='full_width'" ng-mouseleave="map_width='half_width'">
    <div class="yamap" id="yamap" ng-class="map_width" ng-init="map_width='half_width'" style="width: 220px"> </div>

    <div class="wrapper" ng-class="check_status">
        <h3 class="block_title">Проверь возможность подключения</h3>

        <div class="desc">Просто введите свою улицу и дом</div>

        <label for="street">Улица: </label><input type="text"  name="street" id="street" ng-model="check_street"
                                                  ng-change="check_address()">
        <label for="house">Дом: </label><input type="text" name="house" id="house" ng-model="check_house"
                                               ng-change="check_address()">

        <div class="check_result" ng-show="check_result">
            <div class="check_answer">{? check_answer ?}</div>
{#            <div class="button">Оставить заявку на подключение</div>#}
        </div>
    </div>


</div>
