<div class="block form_block span-12 last" ng-controller="productCommentCtrl" ng-show="global.comment_form_show"
     ng-init="global.comment_form_show=0;">

    <div class="close" ng-click="global.comment_form_show=0;">Закрыть</div>

    <div class="block_inner">

        <h2 class="block_title">Оставить комментарий</h2>

        <div class="recall form_teaser"></div>

        <div class="gracie" ng-show="gracie">
            <div class="wrap">
                Спасибо, {{ username }} за ваш комментарий! Он появится на нашем сайте, после проверки администратором.
                <span>Нажмите на это сообщение, чтобы оно исчезло.</span>
            </div>
            <div class="wrap_100 center">
                <div ng-click="global.comment_form_show=0; gracie=0;" class="button">OK</div>
            </div>

        </div>

        {#    <form action="javascript:Dajaxice.mi.callback(Dajax.process,{'form':$('#call_back_form').serialize(true)});" method="post" id ="call_back_form">{% csrf_token %}#}
        <form method="post" id="comment_form" name="comment_form" ng-hide="gracie" ng-init="comment.node={{ product.id }}">
                        {% csrf_token %}
            {% comment %}{{ form_callbacks }}{% endcomment %}
            {% for field in form %}
                <div class="field_wrapper field_{{ field.name }} {% if field.errors %}error{% endif %} {% cycle 'even' 'odd' %}">
                    {{ field.errors }}
                    {{ field.label }} {{ field }}

                    <div ng-show="comment_form.{{ field.name }}.$dirty && comment_form.{{ field.name }}.$invalid"
                         class="form_error">
                        <span ng-show="comment_form.{{ field.name }}.$error.required ">Заполните поле.</span>
                        <span ng-show="comment_form.{{ field.name }}.$error.email">Это поле должно быть адресом электронной почты.</span>
                    </div>

                </div>
            {% endfor %}
            <div class="wrap_100 right">
                <div ng-click="loader=1; send_form();" ng-disabled="comment_form.$invalid" class="button positive form-submit">Отправить</div>
                                <div class="loader" ng-show="loader"></div>

            </div>
        </form>

    </div>

</div>