<!--<div class="block form_block span-12 last" ng-show="global.{{ name_form }}_show" ng-keyup="$event.keyCode == 27 ? global.{{ name_form }}_show=0 : ''">-->
<div class="block form_block span-12 last" ng-show="global.{{ name_form }}_show">

    <div class="close" ng-click="global.{{ name_form }}_show=0;">Закрыть</div>

    <div class="block_inner">

        <div class="block_title">{{ block_title }}</div>

        <div class="recall form_teaser" ng-hide="gracie">{{ teaser }}</div>

        {% include "triton_ua/forms/form_base.html" with gracie_close=True %}

    </div>

</div>