{% comment %}
Использующиеся переменные

name_form :  Name of the form fot angular
form: Form object
inline_form: Inline Form object
controller: angular controller
submit_text: Text for submit button
gracie_close: close form after OK gracie
submit_click: submit throw angular controller

{% endcomment %}


<div class="form_wrapper {% block form_classes %}{% endblock %}" {% if controller %}ng-controller="{{ controller }}"{% endif %} ng-cloak>

    {% block gracie %}

        {#Text what appear after submit form#}
        <div class="gracie" ng-show="gracie">
            <div class="wrap">
                {% block gracie_wrap %}
                    Спасибо{% if user.is_authenticated %}, {{ user }}{% endif %}!
                    {% if gracie %}
                        {{ gracie }}
                    {% endif %}
                {% endblock %}

            </div>
            <div class="wrap_100 center">

                <div ng-click="gracie=0; {% if gracie_close %}global.{{ name_form }}_show=0; global.{{ modal_name }}_modal_show=0; {% endif %}" class="button ui primary">OK</div>
            </div>
        </div>

    {% endblock %}


    {#Form#}
    <form
            class="ui form {% if inverted %}inverted{% endif %} {{ form_class }}"
            {% if method %}
            method="{{ method }}"
            {% else %}
            method="post"
            {% endif %}
            enctype="multipart/form-data"
            id="{{ name_form }}"
            name="{{ name_form }}"
            ng-hide="gracie"
            ng-init="gracie=0; {{ init }}"
            {% if action %}action="{{ action }}"{% endif %}
            class="{{ form_classes }}"
    >{% csrf_token %}

        {% if title %}
            <div class="form-title">{{ title }}</div>
        {% endif %}

        {% block fields %}
            <div class="fileds {{ fields_class }}">
                {% for field in form %}
                    <div class="field_wrapper field {% if field.field.required %}required{% endif %} field_{{ field.name }} field_type_{{ field.type }} {% if field.errors %}error{% endif %} {% cycle 'even' 'odd' %}">
                        {{ field.errors }}
                        <label>{{ field.label|safe }}</label>
                        {{ field }}


                        <div ng-show="{{ name_form }}.{{ field.name }}.$dirty && {{ name_form }}.{{ field.name }}.$invalid"
                             class="form_error">
                            <span ng-show="{{ name_form }}.{{ field.name }}.$error.required ">Заполните поле.</span>
                            <span ng-show="{{ name_form }}.{{ field.name }}.$error.email">Это поле должно быть адресом электронной почты.</span>
                        </div>

                        <div class="field_help_text">{{ field.help_text|safe }}</div>

                    </div>
                {% endfor %}
            </div>
        {% endblock %}






        {% if submit_images %}
            <div class="upload_images" ng-controller="uploadimagesCtrl">
                <div class=" upload_images_view" ng-show="upload_images.length">
                    <div class="upload_image_row view_row" ng-repeat="img in upload_images">

                        <img
                                ng-src="{?img?}"
                                ng-init="upload_image_show=0;upload_image='/static/images/misc/loader.gif'"/>

                        <div class="close" ng-click="delete_image(img, $index);"></div>
                    </div>
                </div>

                <div class="submit_tools">
                    <div class="upload_file misc_icons-add_file" ng-show="upload_images.length < 5">Приложить файлы</div>
                    <div class="upload_five" ng-hide="upload_images.length < 5">Вы можете загрузить не более пяти изображений</div>
                    <input id="photo_load" name="photo_load-original" type="file" class="photo_load" accept="image/*"
                           ng-file-select="change_image($files)">
                </div>
            </div>
        {% endif %}

        {% if inline_form %}
            <inlines ng-controller="inlinesCtrl" ng-init="global.total_forms=1">
                <div class="inlines_wrapper">
                    {#                    {{ inline_form }}#}
                    <input id="id_form-TOTAL_FORMS" name="form-TOTAL_FORMS" type="hidden" ng-value="global.total_forms">
                    <input id="id_form-INITIAL_FORMS" name="form-INITIAL_FORMS" type="hidden" value="0">
                    <input id="id_form-MAX_NUM_FORMS" name="form-MAX_NUM_FORMS" type="hidden" value="1000">
                    {% for form in inline_form %}
                        <inline class="inline inline_form" ng-controller="inlineCtrl">
                        {% for field in form %}
                            <div class="field_wrapper field_{{ field.name }} field_type_{{ field.type }} {% if field.errors %}error{% endif %} {% cycle 'even' 'odd' %}">
                                {{ field.errors }}
                                {{ field.label }}
                                {% if field.field.required %}<span class="red">*</span>{% endif %}
                                {{ field }}

                                <div ng-show="{{ name_form }}.{{ field.name }}.$dirty && {{ name_form }}.{{ field.name }}.$invalid"
                                     class="form_error">
                                    <span ng-show="{{ name_form }}.{{ field.name }}.$error.required ">Заполните поле.</span>
                                    <span ng-show="{{ name_form }}.{{ field.name }}.$error.email">Это поле должно быть адресом электронной почты.</span>
                                </div>

                            </div>
                        {% endfor %}
                        <div ng-click="remove();" class="link">Удалить</div>
                        <div ng-click="clone();" class="link">Добавить еще</div>
                        {##}
                    {% endfor %}
                </div>
            </inlines>
        {% endif %}

        <div class="ui divider"></div>

        <div class="wrap_100 right submit_part">
            {% if not notsubmit %}
                {% block submit %}


                    <input type="submit" ng-disabled="{{ name_form }}.$invalid || loader" class="{{ button_class }} ui primary button  form-submit"
                           value="{{ submit_text }}"
                           {% if submit_click %}ng-click="loader=1; send_form();"{% endif %}/>

                    <div class="loader" ng-show="loader"></div>
                {% endblock %}
            {% endif %}

        </div>
    </form>
</div>