{% extends "base/modal.html" %}

{% load i18n %}
{% load thumbnail %}

{% block modal_addition %}
    {#    ng-show="global.show_login"#}
{% endblock %}

{% block modal_class %}form {{ modal_class }}{% endblock %}


{% block modal_title %}
    {{ block_title }}
{% endblock %}


{% block modal_content %}

    <div class="order_item ui two column grid " ng-show="!gracie && global.quick_product" >
        <div class="column">
                <div class="field_img">
                    <img ng-src="{? global.quick_product.im_url ?}" width="120px" height="auto"/>
                </div>
        </div>

        <div class="column">
                <h4 class="field_title">{? global.quick_product.title ?}</h4>

                <div class="field_parameters">{? global.quick_product.parameters ?}</div>
                <div class="field_price" ng-show="global.current_price.discount_cart_sum">{? global.current_price.discount_cart_sum ?}  <span class="currency">{{ current_site.currency }}</span></div>
                <div class="field_price" ng-hide="global.current_price.discount_cart_sum">{? global.quick_product.price ?}  <span class="currency">{{ current_site.currency }}</span></div>
        </div>
    </div>

    <div class="ui divider" ng-show="!gracie && global.quick_product"></div>

    {% include "triton_ua/forms/form_base.html" with gracie_close=True %}

{% endblock %}

