{#{% for id, label in order_statuses %}#}
{#    {{ id }} {{ label }}#}
{#{% endfor %}#}


<div class="ui blue icon message" style="z-index:20;">
    <i class="shop icon"></i>


    {% if current_user.is_staff %}
        <a class="ui right teal corner huge label dropdown" style="font-size: 2rem">
            {% if order.status  == "NO" %}
                <i class="circle icon"></i>
            {% elif order.status  == "CA" %}
                <i class="remove icon"></i>
            {% elif order.status  == "SA" %}
                <i class="bookmark icon"></i>
            {% elif order.status  == "PR" %}
                <i class="credit visa icon"></i>
            {% elif order.status  == "PA" %}
                <i class="money icon"></i>
            {% elif order.status  == "EX" %}
                <i class="archive icon"></i>
            {% elif order.status  == "SH" %}
                <i class="truck icon"></i>
            {% elif order.status  == "DE" %}
                <i class="smile icon"></i>
            {% elif order.status  == "CO" %}
                <i class="check icon"></i>
            {% endif %}
            {% include "triton_ua/forms/status_order.html" %}
        </a>
    {% endif %}


    <div class="content">
        Заказ <b>{{ order.im_id }}</b> от <b>{{ order.pub_date }}</b><br/>
        На имя: <b>{? quick_order.name ?}</b> <br/>
        {% if current_user.is_staff and order.ip%}
            <div class="small">{{ order.ip }} </div><br/>
        {% endif %}

        <div class="ui divider"></div>

        <div class="ui two column top aligned very relaxed stackable grid">

            <div class="column">
                {% if current_user.is_staff %}
                    <div class="ui header">Получатель</div><br/>
                {% endif %}
                Телефон: <b>{? quick_order.phone ?}</b> <br/>
                E-mail: <b>{? quick_order.email ?}</b> <br/>
                {% if order.address %}Адрес: <b>{{ order.address }}</b> <br/>{% endif %}
                Страна: <b>{? quick_order.country ?}</b> <br/>
                Индекс: <b>{? quick_order.index ?}</b> <br/>
                Регион: <b>{? quick_order.region ?}</b> <br/>
                Город: <b>{? quick_order.city ?}</b> <br/>
                Улица: <b>{? quick_order.street_abbr ?} {? quick_order.street ?}</b> <br/>
                Дом: <b>{? quick_order.house ?}</b> <br/>
                Км: <b>{? quick_order.destination ?}</b> <br/>
            </div>
            {#            <div class="ui vertical divider">Or</div>#}
            <div class="ui column">
                {% if current_user.is_staff %}
                    <div class="ui header">Отправитель</div><br/>
                    Телефон: <b>{{ order.distributor.phone }}</b> <br/>
                    E-mail: <b>{{ order.distributor.email }}</b> <br/>
                    Страна: <b>{{ order.distributor.country }}</b> <br/>
                    Индекс: <b>{{ order.distributor.index }}</b> <br/>
                    Регион: <b>{{ order.distributor.region }}</b> <br/>
                    Город: <b>{{ order.distributor.city }}</b> <br/>
                    Улица: <b>{{ order.distributor.street_abbr }} {{ order.distributor.street }}</b> <br/>
                    Дом: <b>{{ order.distributor.house }}</b> <br/>
                    Контактное лицо: <b>{{ order.distributor.contact }}</b> <br/>
                {% endif %}
            </div>
        </div>

        <div class="order_comment" ng-if="quick_order.comment">
            <div class="ui divider"></div>
            <div class="ui teal tag label">комментарий</div>
            <br/>
            <br/>
            {? quick_order.comment ?}
        </div>


        {#        <div class="" style="font-size: 1rem;">Общая сумма заказа со скидкой: {{ order.price }} {{ current_site.currency }}</div>#}
        {#        <div class="" style="font-size: 1rem;">Сумма предоплаты без доставки: {? global.cart_prepay_sum_wo_delivery ?}  {{ current_site.currency }}</div>#}
        {#        {% for delivery in order.available_delivery_prices %}#}
        <!--<div class="delivery_price" ng-show="'{{ delivery.slug }}'==global.cart_delivery_slug">{{ delivery.title }}: {{ delivery.price }} {{ current_site.currency }}</div>-->
        {#        {% endfor %}#}
        {#        <div class="" style="font-size: 2rem;">Предоплата ({? global.cart_prepay * 100 ?}% + доставка): {? global.cart_prepay_sum ?} {{ current_site.currency }}</div>#}
        {#        <div class="" style="font-size: 2rem;">Предоплата: {? global.cart_prepay_sum ?} {{ current_site.currency }}</div>#}
    </div>
</div>


{#    {% include "triton_ua/forms/pay_form.html" with form=pay_form block_title="Оплатить заказ"  modal_name="pay_form" name_form="pay_form" submit_text="Оплатить заказ" cart_order=True controller="orderCtr" button_class="huge" action="https://money.yandex.ru/eshop.xml" %}#}


{#    {% if current_user.is_staff %}#}
<div class="ui modal order_data">
    <i class="close icon"></i>

    <div class="header ui grid">
        Заказ {{ order.im_id }}
    </div>

    <div class="content ui form">
        {{ order_form }}
    </div>
</div>
{#    {% endif %}#}
