{% extends 'triton_ua/forms/form_base.html' %}

{% load hramik_tags %}

{% block form_classes %}show_submit{% endblock %}

{#{% block gracie_wrap %}#}
{#    Спасибо{% if user.is_authenticated %}, {{ user }}{% endif %}! <br> Наш менеджер ответит на ваш вопрос в ближайшее время. <br/>#}
{#    Когда это произойдет, вы получите уведомление и ответ на указанный вами емейл.#}
{#    {% if not user.is_authenticated %}#}
{#        <br/><br/>#}
{#        Ваш вопрос появится на сайте после проверки модератором.#}
{#        <a href="#">Зарегистрируйтесь или войдите для более удобной работы с сайтом</a>#}
{#    {% endif %}#}
{#{% endblock %}#}

{% block fields %}


    {#        <i class="shop icon"></i>#}

    {% include "triton_ua/forms/order_info.html" %}

    {#    <div date-picker="pay_form.delivery_date_pick" view="date" max-view="date" min-view="date" option="{format:'dd.mm.yyyy'}"></div>#}
    {#    {? pay_form.delivery_date_pick|date:'dd.MM.yyyy' ?}#}

    <div class="ui attached white message"
         style="background-color: white;"
         ng-init="global.cart_delivery_sum='{{ order.delivery_sum }}';">

        <div id="icon-data">
            {% for icon in deliveries %}
                <div class="icon" slug="{{ icon.slug }}" icon="{{ icon.icon }}" price="{{ order|get_delivery_price:icon }}">
                </div>
            {% endfor %}

            {% for icon in payments %}
                <div class="icon" slug="{{ icon.slug }}" icon="{{ icon.icon }}" price="{{ icon.price }}">
                </div>
            {% endfor %}

            {% for icon in prepays %}
                <div class="icon" slug="{{ icon.slug }}" icon="{{ icon.icon }}" price="{{ icon.price }}">
                </div>
            {% endfor %}

        </div>

        {{ block.super }}

        <input name="shopId" value="{{ YANDEX_MONEY_SHOP_ID }}" type="hidden"/>
        <input name="scid" value="{{ YANDEX_MONEY_SCID }}" type="hidden"/>
        {% if not order.order_sum_amount %}
            <input name="sum" id="order_sum" value="{? global.cart_prepay_sum ?}" ng-init="global.pay_price='{{ order.price }}';" type="hidden"><br/>
            <input name="customerNumber" value="{{ order.user.id }}/{{ order.id }}" id="customer_number" type="hidden"/>
            <input name="orderNumber" id="order_number" type="hidden" ng-init="order_id='{{ order.id }}'" value="{{ order.id }}"/>
        {% else %}
            <input name="sum" id="order_sum" value="{? global.all_sum - global.cart_prepay_sum ?}" ng-init="global.pay_price='{{ order.price }}';" type="hidden"><br/>
            <input name="customerNumber" value="{{ order.user.id }}/{{ order.id }}" id="customer_number" type="hidden"/>
            <input name="orderNumber" id="order_number" type="hidden" ng-init="order_id='{{ order.id }}'" value="{{ order.id }}-add"/>
        {% endif %}
        <input name="paymentType" id="payment_type" type="hidden" value="{? pay_form.pay_type ?}"/>
        <input name="cps_phone" id="cps_phone" type="hidden" value="{{ order.phone }}"/>
        <input name="cps_email" id="cps_email" type="hidden" value="{{ order.email }}"/>


        {#    <select name="paymentType" style="">#}
        {#        <option value="PC">Оплата из кошелька в Яндекс.Деньгах.</option>#}
        {#        <option value="AC" selected="selected">Оплата с произвольной банковской карты.</option>#}
        {#        <option value="MC">Платеж со счета мобильного телефона.</option>#}
        {#        <option value="GP">Оплата наличными через кассы и терминалы.</option>#}
        {#        <option value="WM">Оплата из кошелька в системе WebMoney.</option>#}
        {#        <option value="SB">Оплата через Сбербанк: оплата по SMS или Сбербанк Онлайн.</option>#}
        {#        <option value="MP">Оплата через мобильный терминал (mPOS).</option>#}
        {#        <option value="AB">Оплата через Альфа-Клик.</option>#}
        {#        <option value="МА">Оплата через MasterPass.</option>#}
        {#        <option value="PB">Оплата через Промсвязьбанк.</option>#}
        {#    </select>#}
    </div>

    {% if current_user.is_staff %}

        <div class="ui header h2">Товар</div>

        {% for orderitem in order.order_items.all %}

            <table class="ui table">
                <tr>
                    <td colspan="3">
                        <div class="ui header">{{ orderitem.product }} </div>
                    </td>
                </tr>
                {% for sku in orderitem.product.skus.all %}
                    <tr>
                        <td></td>
                        <td>{{ sku.sku }} </td>
                        <td class="right aligned">{{ sku.price }} </td>
                    </tr>
                {% endfor %}

                <tr>
                    <td colspan="3">
                        <div class="ui header">Опции</div>
                    </td>
                </tr>
                {% for option in orderitem.options.all %}
                    <tr>

                        <td>{{ option }} </td>
                        <td>{{ option.sku_names }}</td>
                        <td class="right aligned">{{ option.price }}</td>
                    </tr>
                {% endfor %}
            </table>

        {% endfor %}
    {% endif %}



{% endblock %}

{% block submit %}

    Оплачено <b>{{ order.pay_date }}</b> через: <b>{{ order.pay_agent }}</b><br>
    Инвойс <b>{{ order.invoice_id }}</b> на сумму: <b>{{ order.order_sum_amount }} {{ current_site.currency }}</b>

    <div class="ui divider"></div>

    {% if not order.status == 'CO' %}
        {? global.cart.prepay_sum ?} | {? global.cart.additional_sum ?} | {? global.cart.discount_cart_sum ?} |
        {% if not order.order_sum_amount %}
            <span class="" style="font-size: 2rem;" ng-if="global.cart.prepay_factor != '0,0'">Предоплата: {? global.cart.prepay_sum ?} {{ current_site.currency }}</span>&nbsp;<br>
            <span class="" style="font-size: 2rem;"
                  ng-if="global.cart.prepay_factor == '0,0'">Оплата: {? global.cart.discount_cart_sum_with_delivery ?} {{ current_site.currency }}</span>&nbsp;<br>
            {#        <span class="" style="font-size: 2rem;">Доплата: {? global.all_sum - global.cart_prepay_sum ?} {{ current_site.currency }}</span>&nbsp;#}
        {% else %}
            <span class="" style="font-size: 2rem;">Доплата: {? global.cart.additional_sum ?} {{ current_site.currency }}</span>&nbsp;
        {% endif %}
    {% else %}
        <span class="" style="font-size: 2rem;">Заказ оплачен</span>&nbsp;<br>
    {% endif %}

    {#    <span class="" style="font-size: 2rem; margin-right: 2rem;">Сумма к оплате: {? global.cart_prepay_sum ?} {{ current_site.currency }}</span>#}
    {% if current_user.is_staff or order.status == 'CO' %}
        {#        <input type="button" ng-disabled="{{ name_form }}.$invalid || loader" class="{{ button_class }} ui primary button  form-submit" value="Сохранить заказ"#}
        {#               ng-click="loader=1; save(); "/>#}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock %}


