{% extends 'triton_ua/forms/form_base.html' %}

{% block form_classes %}show_submit{% endblock %}

{% block gracie_wrap %}
    Спасибо{% if user.is_authenticated %}, {{ user }}{% endif %}! <br> Наш менеджер ответит на ваш вопрос в ближайшее время. <br/>
    Когда это произойдет, вы получите уведомление и ответ на указанный вами емейл.
    {% if not user.is_authenticated %}
        <br/><br/>
        Ваш вопрос появится на сайте после проверки модератором.
        <a href="#">Зарегистрируйтесь или войдите для более удобной работы с сайтом</a>
    {% endif %}
{% endblock %}

{% block fields %}

    {{ block.super }}

{% endblock %}


{% block submit %}
    <div class="upload_images upload_images_view" ng-show="upload_images.length">
        <div class="upload_image_row view_row" ng-repeat="img in upload_images">

            <img
                    ng-src="{?img?}"
                    ng-init="upload_image_show=0;upload_image='/static/images/misc/loader.gif'"/>

            <div class="close" ng-click="delete_image(img, $index);"></div>
        </div>
    </div>

    <div class="submit_tools">
        <div class="upload_file misc_icons-add_file" ng-show="upload_images.length < 5">Добавить файл для загрузки</div>
        <div class="upload_five" ng-hide="upload_images.length < 5">Вы можете загрузить не более пяти изображений</div>
        <input id="photo_load" name="photo_load-original" type="file" class="photo_load" accept="image/*"
               ng-file-select="change_image($files)">
    </div>

    {{ block.super }}
{% endblock %}