<div class=" top right pointing  menu">
    <div class="header">Статус</div>
    {% for id, label in order_statuses %}
        <div class="item" val="{{ id }}" ng-click="change_status('{{ id }}');">{{ label }}</div>
    {% endfor %}
</div>