<!-- FILTERS -->


<div id="grp-filters" class="g-d-6 g-d-l">
    <div class="grp-filter">
        <div class="grp-pulldown-container">
            <a href="javascript://" class="grp-button grp-pulldown-handler">Фильтр</a>

            <div class="grp-pulldown-content" style="display: none;">

                <div class="grp-module">
                    <div class="grp-row">
                        <label>Active</label>
                        <select class="grp-filter-choice">
                            <option value="?" selected="selected">Все</option>
                            <option value="?active__exact=1">Да</option>
                            <option value="?active__exact=0">Нет</option>
                        </select>
                    </div>
                </div>
                <div class="grp-module">
                    <div class="grp-row">
                        <label>Type</label>
                        <select class="grp-filter-choice">
                            <option value="?" selected="selected">Все</option>
                            <option value="?type__exact=M">on main</option>
                            <option value="?type__exact=T">on top</option>
                            <option value="?type__exact=B">big on top</option>
                        </select>
                    </div>
                </div>
                <div class="grp-module">
                    <div class="grp-row">
                        <label>Sites</label>
                        <select class="grp-filter-choice">
                            <option value="?" selected="selected">Все</option>
                            <option value="?sites__id__exact=1">3tn.ru</option>
                            <option value="?sites__id__exact=14">http://www.arhangelsk3tn.ru
                            </option>
                            <option value="?sites__id__exact=40">http://www.barnaul3tn.ru</option>
                            <option value="?sites__id__exact=26">http://www.belgorod3tn.ru</option>
                            <option value="?sites__id__exact=28">http://www.bryansk3tn.ru/</option>
                            <option value="?sites__id__exact=16">http://www.chelyabinsk3tn.ru
                            </option>
                            <option value="?sites__id__exact=22">http://www.eburg3tn.ru</option>
                            <option value="?sites__id__exact=18">http://www.izhevsk3tn.ru</option>
                            <option value="?sites__id__exact=30">http://www.kavkaz3tn.ru/</option>
                            <option value="?sites__id__exact=54">http://www.kazan3tn.ru</option>
                            <option value="?sites__id__exact=32">http://www.kemerovo3tn.ru</option>
                            <option value="?sites__id__exact=60">http://www.kirov3tn.ru</option>
                            <option value="?sites__id__exact=64">http://www.krasnodar3tn.ru</option>
                            <option value="?sites__id__exact=56">http://www.krasnoyarsk3tn.ru
                            </option>
                            <option value="?sites__id__exact=58">http://www.moscow3tn.ru</option>
                            <option value="?sites__id__exact=10">http://www.nnovgorod3tn.ru/
                            </option>
                            <option value="?sites__id__exact=20">http://www.novosib3tn.ru</option>
                            <option value="?sites__id__exact=76">http://www.omsk3tn.ru</option>
                            <option value="?sites__id__exact=12">http://www.orenburg3tn.ru/</option>
                            <option value="?sites__id__exact=74">http://www.penza3tn.ru/</option>
                            <option value="?sites__id__exact=34">http://www.perm3tn.ru/</option>
                            <option value="?sites__id__exact=70">http://www.piter3tn.ru</option>
                            <option value="?sites__id__exact=38">http://www.rostov3tn.ru</option>
                            <option value="?sites__id__exact=50">http://www.ryazan3tn.ru</option>
                            <option value="?sites__id__exact=46">http://www.samara3tn.ru</option>
                            <option value="?sites__id__exact=78">http://www.saratov3tn.ru</option>
                            <option value="?sites__id__exact=72">http://www.stavropol3tn.ru/
                            </option>
                            <option value="?sites__id__exact=44">http://www.tula3tn.ru</option>
                            <option value="?sites__id__exact=4">http://www.tver3tn.ru</option>
                            <option value="?sites__id__exact=68">http://www.tyumen3tn.ru/</option>
                            <option value="?sites__id__exact=8">http://www.ufa3tn.ru</option>
                            <option value="?sites__id__exact=42">http://www.vladimir3tn.ru</option>
                            <option value="?sites__id__exact=62">http://www.volgograd3tn.ru</option>
                            <option value="?sites__id__exact=24">http://www.voronezh3tn.ru</option>
                            <option value="?sites__id__exact=6">http://www.yaroslavl3tn.ru</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>