<div class="grp-module">
    <div class="grp-row">
        <div class="l-2cr-fluid l-d-12">


            <aside class="c-1">
                {% include 'custom_admin/partials/search.html' %}
                {#                {% include 'custom_admin/partials/filters.html' %}#}


            </aside>


            <div class="c-2">
                {% include 'custom_admin/partials/pagination_top.html' %}
            </div>


        </div>
    </div>

    <div class="grp-row">


        <form action="" method="POST">
            {{ filter_form }}

            <input type="button" value="Сбросить" class="grp-button grp-cancel-link" name="_reset">
            <input type="submit" value="Фильтровать" class="grp-button" name="_filter">
        </form>

    </div>

</div>