<!-- PAGINATION TOP -->

<nav class="grp-pagination">
    <header style="display:none"><h1>Pagination</h1></header>
    <ul>
        <li class="grp-results"><span>10 всего</span></li>
    </ul>
</nav>