<html>
<head>
    <style type="text/css">
        table {
            border-collapse: collapse
        }
        td, th {
            border: 1px solid grey;
            padding: 5px; margin: 0px; text-align: center;}
        a {
            color: black
        }
        .top-table {
            width: 100%;
        }
        .top-table, .top-table td {
            border: 0;
        }
    </style>
</head>

{% load table_tags %}

{% get_analogs_table data_array %}


</body>
</html>