<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/static/js/datepicker-ru.js"></script>
</head>
<body>
<script>
  $(function() {
    $.datepicker.setDefaults($.datepicker.regional['ru']);
    $( ".datePicker" ).datepicker({ dateFormat: "yy-mm-dd"});
  });
</script>
<h2>Регион: {{ regions_rus }}</h2>
<p>Выберите временной интервал и сайт</p>
<form method="POST" class="post-form" action="/parse">
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Начать анализ</button>
</form>
</body>
</html>