{% load cache %}
{% load thumbnail %}
{% load hramik_tags %}


{#{% if with_body %}#}
{#    {% include "triton_ua/blocks/social/likes.html" %}#}
{#{% endif %}#}


<article ng-controller="articleCtrl"
         ng-init="
         id='{{ item.id }}';
         slug='{{ item.dot_slug }}';
         "
        {% if not with_body %}
         style="cursor: pointer;"
        {% endif %}
         class="{% if item.show_photo %}show_photo{% endif %}"
>
    {% if not with_body %}
        {% if item.dot_slug %}
            <a href="{% if not item.node_type.slug == 'news' %}http://www.triton3tn.ru{% endif %}/{{ item.dot_slug }}" class="no_decoration" target="_blank">
        {% endif %}
    {% endif %}


    {% for tag in item.tags.all %}
        {% if tag.slug == 'video' %}
            <i class="ui icon video camera"
               style="position: absolute; top: 1rem; right: 1rem; background-color: transparent; height: auto; padding: 0; font-size: 2rem; z-index: 10; color: white; text-shadow: 0px 0px 2px rgb(0, 173, 239);"></i>
        {% endif %}
    {% endfor %}

    {% if editable %}
        {#        <div class="editor" ng-controller="editorCtrl">#}
        {#            <a ng-click="button_click();" ng-init="command='bold'" href='javascript:void(0)' ng-controller="editorButtonCtrl">Жир</a>#}
        {#            <a ng-click="button_click();" ng-init="command='italic'" href='javascript:void(0)' ng-controller="editorButtonCtrl">Наклон</a>#}
        {#            <a ng-click="button_click();" ng-init="command='paste'" href='javascript:void(0)' ng-controller="editorButtonCtrl">Вставить</a>#}
        {#            <a ng-click="button_click();" ng-init="command='image'" href='javascript:void(0)' ng-controller="editorButtonCtrl">Вставить картинку</a>#}
        {#            <a ng-click="button_click();" ng-init="command='save'" href='javascript:void(0)' ng-controller="editorButtonCtrl">Сохранить</a>#}
        {#        </div>#}
    {% endif %}


    <div class="article_top">

        <h4 class="field_title" style="color: {{ item.color }};" {% if editable %}contenteditable="true"{% endif %}>
            {{ item.title }}
            {#        <a href="{% url 'nodes:node' item.dot_slug %}">{{ item.title }}</a>#}
        </h4>

        <div class="field_teaser" {% if editable %}contenteditable="true"{% endif %}>
            {% if item.teaser %}
                {{ item.teaser|safe|removetags:"img a"|urlize }}
            {% else %}
                {{ item.body|safe|removetags:"img"|truncatewords_html:20|urlize }}
            {% endif %}
        </div>
    </div>


    {% if item.show_photo or not with_body %}

        <div class="field_img" style="width: {{ width }}px; height: {{ height }}px;">
            {#        {% if item.related_nodes.all %}#}
            {#            {% for related in item.related_nodes.all %}#}
            {#                {% if forloop.first %}#}
            {#                    {% if with_body %}#}
            {#                        <div class="related_body">#}
            {#                            <div class="wrap">{{ solution_order.body|safe|removetags:"img" }}</div>#}
            {#                        </div>#}
            {#                    {% else %}#}
            {#                        <div class="related_body">#}
            {#                            <div class="wrap">{{ solution_order.body|safe|removetags:"img"|truncatewords_html:40 }}</div>#}
            {#                        </div>#}
            {#                    {% endif %}#}
            {#                    <div class="related">#}
            {#                        {% thumbnail solution_order.photo "50x50" crop='center' format="PNG" as im %}#}
            {#                            <img src="{{ im.url }}" alt="{{ solution_order.photo.alt }}" title="{{ solution_order.photo.title }}" class=""/>#}
            {#                        {% endthumbnail %}#}
            {#                        <div class="field_title">{{ solution_order.title }}</div>#}
            {#                    </div>#}
            {#                {% endif %}#}
            {#            {% endfor %}#}
            {##}
            {#        {% endif %}#}

            {% thumbnail item.photo geometry crop='center' format="PNG" as im %}
                <img src="{{ im.url }}"
                     class="lazzy-o transition-o visible-o"
                     alt="{{ photo.alt }}"
                     title="{{ photo.title }}"
                />
            {% endthumbnail %}
        </div>
    {% endif %}


    {#{{ item }}#}
    {% if item.node_type.slug == 'solution_order' and with_body %}
        <div class="ui segment">
            {% include "triton_ua/magazine/solution_order.html" with solution_order=item %}
        </div>

    {% endif %}

    {#    {% if item.node_type.slug == 'solution_order' and not with_body %}#}
    {#        <a class="item">#}
    {#            <i class="icon mail"></i> Messages#}
    {#            <div class="floating ui red label">22</div>#}
    {#        </a>#}
    {#        {{ order_solutions }}#}
    {#    {% endif %}#}


    {% if with_body %}

        {% if solution_order %}

            <div class="solution_order">
                <div class="wrap">
                    <div class="desc">
                        <div class="field_title">{{ solution_order.title }}</div>
                        <div class="related_body">
                            {{ solution_order.body|safe|linebreaks|urlize|removetags:"img" }}
                        </div>


                    </div>

                    {% include "triton_ua/magazine/solution_order.html" %}

                </div>
            </div>

        {% endif %}


        <div class="field_body" {% if editable %}contenteditable="true"{% endif %}>


            {% if item.body_clear %}
                {{ item.body|images_insert:item.additionalphoto_set.all|safe }}
            {% else %}
                {{ item.body|removetags:""|images_insert:item.additionalphoto_set.all|safe|linebreaks|urlize }}
            {% endif %}
        </div>


        {% if related_products %}

            <div class="solution_products block">
                <div class="ui divider"></div>
                <div class="h3 block_title centerd">Используемые в решении товары</div>

                {% include "products/blocks/custom_list.html" with products=related_products without_filter=True class="related_products" nocache=True %}

            </div>
        {% endif %}

        {% if solution_order %}
            {% if item.additionalphoto_set.all %}
                <div class="h3">Все изображения проекта</div>
                <div style="margin-bottom: 10px; font-size: .8em;">Нажмите на картинку, чтобы рассмотреть лучше:</div>
                <div class="photos">
                    {% for photo in item.additionalphoto_set.all %}

                        <a href="{% thumbnail photo.photo "800" crop='center' as im %}{{ im.url }}{% endthumbnail %}" class="cbox" rel="all_{{ solution_order.id }}">
                            {% thumbnail photo.photo "50x50" crop='center' as im %}
                                <img src="{{ im.url }}" alt="{{ photo.alt }}" title="{{ photo.title }}" class=""/>
                            {% endthumbnail %}
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}

        {% if with_body %}
            {% if solution_order %}
                <br/><br/>
                <p> Не забудьте порадовать своих друзей возможностью получить профессиональный проект санузла! <br/>
                    Для этого достаточно нажать на одну или несколько этих кнопок: </p>
            {% endif %}

            {% include "triton_ua/blocks/social/likes.html" %}
        {% endif %}




        {% if not editable %}
            <div class="block">
                <div class="h3">Комментарии</div>
                {% include "questions/parts/product_comments.html" with node=item form_first=True %}
            </div>
        {% else %}
            <div class="save" ng-controller="editorCtrl">
                <div class="button" ng-click="button_click();" ng-init="command='save'" href='javascript:void(0)' ng-controller="editorButtonCtrl">Сохранить</a>
            </div>
        {% endif %}
    {% endif %}

    {% if "solutions" in item.tag_slugs or 'people_design' in item.tag_slugs %}
        <div class="author">
            {% include "triton_ua/helper/avatar.html" with width='50' height='50' user_profile=item.user.get_profile border_color=item.color %}
            <div class="username">{{ item.user }}</div>
        </div>
    {% endif %}

    {% if not editable %}
        <div class="pub_date" style="color: {{ item.color }};">{{ item.pub_date|timesince }} назад</div>
    {% endif %}

    {% if not with_body %}</a>{% endif %}

    {% if with_body %}
        {% include "triton_ua/forms/modal_form_base.html" with form=solution_order_form block_title="Подать заявку"  modal_name="solution_order_form" name_form="solution_order_form" submit_text="Послать" controller="solutionCtr" submit_click=True  modal_class="double" form_classes="two_column" submit_images=True %}
    {% endif %}


</article>