{% extends "base/base.html" %}
{#{% load flatblocks %}#}
{% load cache %}
{% load thumbnail %}


{% block js %}
{% endblock %}


{% block css %}
{% endblock %}



{% block head %}

    {{ block.super }}

    <script type="text/javascript" src="/static/js/swfobject.js"></script>
    <script type="text/javascript" src="/static/js/triton_ua.js"></script>


    <link href="/static/stylesheets/triton_magazine.min.css" media="screen, projection" rel="stylesheet" type="text/css"/>




    {% include "triton_ua/blocks/header/3tn.ru/counters.html" %}
{% endblock %}

{% block in_body %}
    {% include 'triton_ua/blocks/header/'|add:current_site.site.name|add:"/counters.html" %}
{% endblock %}


{% block body_classes %}not-front magazine{% endblock %}

{% block controller %}
    ng-controller="magazineCtrl"
{% endblock %}

{% block header %}

    <div class="logo">
        <a href="/">
            {% if front %}
                <h1 class="site-title" style="background: url() no-repeat 0 0;">
                    {{ current_site.title }}
                    <img src="{{ current_site.logo.url }}" alt="">
                </h1>
                {#                    {% elif product.entity.slug == 'bath' %}#}
                {#                        <h1 class="site-title" style="background: url({{ current_site.logo.url }}) no-repeat 0 0;">#}
                {#                            {{ product.second_title }} {{ product.title }}</h1>#}
            {% else %}
                <div class="site-title" style="background: url({{ current_site.logo.url }}) no-repeat 0 0;">
                    {{ current_site.title }}</div>
            {% endif %}

            <div class="site-slogan">{{ current_site.slogan }}</div>

        </a>
    </div>
    {#        <div class="address">проспект Театральный, 24, Донецк, Украина, 83050 | <a href="#">схема проезда</a></div>#}
    <div class="main_phone" ng-controller="callbackCtr">
        {{ current_site.phone }}
        {#        <a class="to_callback" ng-click="global.callback_form_show=1;">Заявка на обратный звонок</a>#}

        {% if current_site.operation_time %}
            <div class="operation_time"><strong>время работы:</strong> {{ current_site.operation_time }}</div>
        {% endif %}
    </div>

    {% include "triton_ua/blocks/accounts.html" %}

    {% include "triton_ua/blocks/menu.html" with main_menu=rewrite_main_menu %}



{% endblock %}


{% block footer %}

    {% block second_footer %}
        <div id="second_footer">
            {% include "triton_ua/blocks/social/socials.html" %}
            {% include "triton_ua/blocks/footer/3tn.ru/counters.html" %}


        </div>

        <div class="copyright">
            <img src="/static/images/small_logo.png" alt=""/><br/>
            «ТРИТОН», зарегистрированная торговая марка.<br/>
            © 2003-2015. Все права защищены
        </div>
    {% endblock second_footer %}


    {#    {% flatblock "counters" %}#}

{% endblock %}


{% block content %}

{% endblock %}


{% block extra_body %}
    <div class="footer_bg"></div>
    {##}
    {#    {% if current_article %}#}
    {#        <article ng-controller="articleCtrl" ng-init="id='{{ current_article.id }}'; slug='{{ current_article.dot_slug }}'; open();"></article>#}
    {#    {% endif %}#}

    {#    <div class="fixed all_window top_all overflow_scroll" ng-controller="articleCtrl" ng-show="global.article_details_show">#}


{% endblock extra_body %}