{% extends 'triton_ua/magazine/base.html' %}

{% load i18n %}
{% load thumbnail %}

{% block body_classes %}{{ block.super }} main{% endblock %}

{% block tophead %}
    {% if current_article.photo %}
        <meta property="og:image" content="http://{{ current_site }}{{ current_article.photo.url }}"/>
    {% endif %}

    <meta property="og:title" content="{{ current_article.title }}"/>

    {% if current_article.teaser %}
        <meta property="og:description" content="{{ current_article.teaser }}"/>
    {% else %}
        <meta property="og:description" content="{{ current_article.body|truncatewords_html:100 }}"/>
    {% endif %}
{% endblock %}


{% block content %}


    {# Main Magazine Page#}
    {% if not current_article %}

        <div class="last_article block">
            {% include "triton_ua/magazine/article.html" with item=last_article width=600 height=300 geometry="600x300" %}
        </div>


        {% if advices %}{% include "triton_ua/magazine/three.html" with title="Советы по благоустройству ванн" items=advices part_slug='advices' intro="" %}{% endif %}

        {% if home %}{% include "triton_ua/magazine/three.html" with title="Дом, милый дом" items=home part_slug='home_sweet_home' %}{% endif %}

        {% if solutions %}
            {% include "triton_ua/magazine/three.html" with title="Готовые решения" items=solutions part_slug='solutions' add_solution_order=True %}{% endif %}

        {% if people_design %}
            {% include "triton_ua/magazine/three.html" with title="Народный дизайн" items=people_design part_slug='people_design' add_people_design=True %}{% endif %}

        {% if news %}{% include "triton_ua/magazine/three.html" with title="Новости" items=news part_slug='news' %}{% endif %}

        {% if news %}{% include "triton_ua/magazine/three.html" with title="Акции" items=actions part_slug='action' class="actions" %}{% endif %}

        {% if not current_user.is_anonimous %}

        {% include "triton_ua/forms/modal_form_base.html" with form=solution_order_form block_title="Подать заявку"  modal_name="solution_order_form" name_form="solution_order_form" submit_text="Послать" controller="solutionCtr" submit_click=True modal_class="double" form_classes="two_column"  submit_images=True  %}
        {% endif %}

        {# Article Page #}
    {% else %}
        <div class="" ng-controller="articleCtrl">
            <div class="article_details magazin_ornament repeat_x">
                {#            <div class="close" ng-click="close();"></div>#}
                <div class="wrap">
                    {% include "triton_ua/magazine/article.html" with item=current_article width=1120 height=500 geometry="1120x500" with_body=True open=True %}
                </div>
            </div>
        </div>
    {% endif %}



{% endblock %}