{% extends 'triton_ua/magazine/base.html' %}

{% load i18n %}
{% load thumbnail %}

{% block body_classes %}{{ block.super }} main{% endblock %}



{% block content %}

    <div class="last_article block">
        {% include "triton_ua/magazine/article.html" with item=last_item width=600 height=350 geometry="600x300" %}
    </div>

    {% if part.slug == 'solutions' or part.slug == 'solution_order' %}
        <div style="display: inline-block; width: 100%; text-align: center;">
            <div class="ui primary button" ng-click="global.solution_order_form_modal_show=1;">Добавить заявку</div>
        </div>
    {% endif %}

    <div class="items block three_block {{ part.slug }}">
        <div class="wrap">
            <div class="block_title">{{ part.name }}</div>
            {% if part.desc %}
                <div class="block_desc">{{ part.desc|safe|linebreaks }}</div>
            {% endif %}

            {% if not part.slug == 'home_sweet_home' %}
                {% include "triton_ua/blocks/social/likes.html" %}
            {% endif %}


            <div class="items_view view ui three column stackable grid" hr-scroll-load=".items_view">
                {#            <div class="items_view view">#}
{#                {% include "oblaka/magazine/list.html" %}#}
            </div>

        </div>
    </div>


    {% include "triton_ua/forms/modal_form_base.html" with form=solution_order_form block_title="Подать заявку"  modal_name="solution_order_form" name_form="solution_order_form" submit_text="Послать" controller="solutionCtr" submit_click=True  modal_class="double" form_classes="two_column" submit_images=True %}

{% endblock %}