{% load cache %}
{% load thumbnail %}
{% load hramik_tags %}


{#{% if with_body %}#}
{#    {% include "triton_ua/blocks/social/likes.html" %}#}
{#{% endif %}#}


<article ng-controller="articleCtrl"
         ng-init="
         id='{{ item.id }}';
         slug='{{ item.dot_slug }}';
         "
        {% if not with_body %}
         style="cursor: pointer;"
        {% endif %}
         class="{% if item.show_photo %}show_photo{% endif %}"
>
    {% if not with_body %}
        {{ item.node_type }}
        {% if item.dot_slug %}
            <a href="{% if not item.node_type.slug == 'news' %}http://www.triton3tn.ru{% endif %}/{{ item.dot_slug }}" class="no_decoration" target="_blank">
        {% endif %}
    {% endif %}


    {% for tag in item.tags.all %}
        {% if tag.slug == 'video' %}
            <i class="ui icon video camera"
               style="position: absolute; top: 1rem; right: 1rem; background-color: transparent; height: auto; padding: 0; font-size: 2rem; z-index: 10; color: white; text-shadow: 0px 0px 2px rgb(0, 173, 239);"></i>
        {% endif %}
    {% endfor %}

    {% if editable %}
        {#        <div class="editor" ng-controller="editorCtrl">#}
        {#            <a ng-click="button_click();" ng-init="command='bold'" href='javascript:void(0)' ng-controller="editorButtonCtrl">Жир</a>#}
        {#            <a ng-click="button_click();" ng-init="command='italic'" href='javascript:void(0)' ng-controller="editorButtonCtrl">Наклон</a>#}
        {#            <a ng-click="button_click();" ng-init="command='paste'" href='javascript:void(0)' ng-controller="editorButtonCtrl">Вставить</a>#}
        {#            <a ng-click="button_click();" ng-init="command='image'" href='javascript:void(0)' ng-controller="editorButtonCtrl">Вставить картинку</a>#}
        {#            <a ng-click="button_click();" ng-init="command='save'" href='javascript:void(0)' ng-controller="editorButtonCtrl">Сохранить</a>#}
        {#        </div>#}
    {% endif %}



    {% if item.show_photo or not with_body %}

        <div class="field_img" style="width: {{ width }}px; height: {{ height }}px;">
            {#        {% if item.related_nodes.all %}#}
            {#            {% for related in item.related_nodes.all %}#}
            {#                {% if forloop.first %}#}
            {#                    {% if with_body %}#}
            {#                        <div class="related_body">#}
            {#                            <div class="wrap">{{ solution_order.body|safe|removetags:"img" }}</div>#}
            {#                        </div>#}
            {#                    {% else %}#}
            {#                        <div class="related_body">#}
            {#                            <div class="wrap">{{ solution_order.body|safe|removetags:"img"|truncatewords_html:40 }}</div>#}
            {#                        </div>#}
            {#                    {% endif %}#}
            {#                    <div class="related">#}
            {#                        {% thumbnail solution_order.photo "50x50" crop='center' format="PNG" as im %}#}
            {#                            <img src="{{ im.url }}" alt="{{ solution_order.photo.alt }}" title="{{ solution_order.photo.title }}" class=""/>#}
            {#                        {% endthumbnail %}#}
            {#                        <div class="field_title">{{ solution_order.title }}</div>#}
            {#                    </div>#}
            {#                {% endif %}#}
            {#            {% endfor %}#}
            {##}
            {#        {% endif %}#}

            {% thumbnail item.photo geometry crop='center' format="PNG" as im %}
                <img src="{{ im.url }}"
                     class="lazzy-o transition-o visible-o"
                     alt="{{ photo.alt }}"
                     title="{{ photo.title }}"
                />
            {% endthumbnail %}
        </div>
    {% endif %}

    <div class="article_top">

        <h4 class="field_title" style="color: {{ item.color }};" {% if editable %}contenteditable="true"{% endif %}>
            {{ item.title }}
            {#        <a href="{% url 'nodes:node' item.dot_slug %}">{{ item.title }}</a>#}
        </h4>

        <div class="field_teaser" {% if editable %}contenteditable="true"{% endif %}>
            {% if item.teaser %}
                {{ item.teaser|safe|removetags:"img a"|urlize }}
            {% else %}
                {{ item.body|safe|removetags:"img"|truncatewords_html:20|urlize }}
            {% endif %}
        </div>
    </div>




    {% if not editable %}
        <div class="pub_date" style="color: {{ item.color }};">{{ item.pub_date|timesince }} назад</div>
    {% endif %}

    {% if not with_body %}</a>{% endif %}


</article>