{% load cache %}
{% load thumbnail %}
{% load hramik_tags %}

<div class="details magazin_ornament">

    {% if solution_order.additionalphoto_set.all %}
        <div style="margin-bottom: 10px; font-size: .8em;">Нажмите на картинку, чтобы рассмотреть лучше:</div>
        <div class="photos">
            {% for photo in solution_order.additionalphoto_set.all %}

                <a href="{% thumbnail photo.photo "800" crop='center' as im %}{{ im.url }}{% endthumbnail %}" class="cbox" rel="so_{{ solution_order.id }}">
                    {% thumbnail photo.photo "50x50" crop='center' as im %}
                        <img src="{{ im.url }}" alt="{{ photo.alt }}" title="{{ photo.title }}" class=""/>
                    {% endthumbnail %}
                </a>
            {% endfor %}
        </div>
    {% endif %}


    <div class="char"><b>Расположение:</b> {{ solution_order.location }}</div>

    <div class="char"><b>Тип постройки:</b> {{ solution_order.get_house_type_display }}</div>

    <div class="char"><b>Серия:</b> {{ solution_order.series }}</div>

    <div class="char"><b>Высота потолков:</b> {{ solution_order.height }} мм</div>

    <div class="char"><b>Количество проживающих:</b> {{ solution_order.living_people }} чел.</div>

    {% if solution_order.old_man_interests %}
        <div class="char">Учитывать интересы пожилых людей</div>
    {% endif %}

    {% if solution_order.children_interests %}
        <div class="char">Учитывать интересы детей</div>
    {% endif %}

    {% if solution_order.bath_need %}
        <div class="char">Нужна ванна</div>
    {% endif %}

    {% if solution_order.hydromassage_need %}
        <div class="char">Нужен гидромассаж</div>
    {% endif %}

    <div class="char"><b>Дополнительное оборудование:</b> {{ solution_order.get_extra_equipment_display }} </div>

    {% if solution_order.second_washbasin %}
        <div class="char">Вторая ванна</div>
    {% endif %}

    <div class="char">{{ solution_order.storage_places }}</div>

    <div class="char"><b>Цветовые предпочтения:</b> {{ solution_order.color_preferences }}</div>


</div>

{% if order_solutions %}

    <div class="other_solutions">
        <div class="ui divider"></div>
        <h3 class="h3"><b>Посмотрите другие дизайн-решения</b></h3>

        <div class="ui four column grid">
            {% for solution in order_solutions %}
                <a href="{% url "nodes:node" solution.slug %}" class="column">
                    {% thumbnail solution.photo "240x120" crop='center' as im %}
                        <img src="{{ im.url }}" alt="{{ solution.photo.alt }}" title="{{ solution.photo.title }}" class=""/>
                    {% endthumbnail %}
                    <div>{{ solution.title }}</div>
                </a>
            {% endfor %}
        </div>

    </div>
{% endif %}



