<div class="items block three_block gray_{{ gray }} {% if gray %}magazin_ornament{% endif %} {{ class }}">
    <div class="wrap">
        <div class="block_title">
            {% if part_slug %}<a href="{% url 'tri:magazine_part' part_slug=part_slug %}">{% endif %}

            {% if href %}<a href="{{ href }}">{% endif %}
            {{ title }}
            {% if part_slug %}</a>{% endif %}
            {% if href %}</a>{% endif %}
        </div>

        {#        {% if add_people_design %}#}
        {#            <div class="button" ng-click="global.current_article_id=0; global.article_details_show=1;">Добавить «народный дизайн»</div>#}
        {#        {% endif %}#}

        {% if add_solution_order and current_user.is_authenticated %}
            <div class="button ui primary" ng-click="global.solution_order_form_modal_show=1;">Оставить заявку</div>
        {% elif add_solution_order and not current_user.is_anonimous  %}
            <a style="display: inline-block; width: 100%; text-align: right;" ng-click="global.login_modal_show = 1;">Войдите или зарегистрируйтесь, чтоб оставить заявку</a>
        {% endif %}

        <div class="intro">{{ intro }}</div>


        <div class="items_view view ui three column stackable grid">
            {% for item in items %}
                <div class="view_row {% if not gray %}magazin_ornament{% endif %} column is_pc_{{  request.user_agent.is_pc }}">
                    {% include "triton_ua/magazine/article.html" with item=item width=357 height=204 geometry="357x204" %}
                </div>
            {% endfor %}
        </div>

        {% if part_slug %}<a href="{% url 'tri:magazine_part' part_slug=part_slug %}" class="more bottom">Еще</a>{% endif %}
        {% if href %}<a href="{{ href }}" class="more bottom">Еще</a>{% endif %}

    </div>
</div>