{% load thumbnail %}

<div class="gallery cbox">

{% for photo in gallery.all  %}
    {% thumbnail photo.photo thumb_size  crop="center" as im %}
        <a href="{{ photo.photo.url }}" class="photo" rel="{{ gallery_id }}" title="{{ photo.name }}" alt="{{ photo.desc }}">
            <img class="small" src="{{ im.url }}" />
        </a>
    {% endthumbnail %}

{% endfor %}

</div>