{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}


{% block title %}{% trans "Photographs" %} | {% trans "Vimarko" %} | {% trans "Restaurant distant voyages" %}{% endblock %}
{% block body_classes %}photogalleries not-front two-col{% endblock %}


{% block pagetitle %}{% trans "Галерея" %}{% endblock %}


{% block intro %}
    {% trans "<p>Из похода на берег боцман принес сущую чудесенку — стеклянную бутыль с черным коробом, зовется «фотокамера». Предназначена эта игрулька для снятия снимков, французы сами ее придумали, вместо художников. Теперь мы сами себе Куинджи. Сами себя светопишем.</p>" %}

{% endblock %}


{% block sidebar %}

    <div class="sidebar_gallery block sub_menu">
        {% for gallery in galleries %}
            <div class="sidebar_gallery menu_item" rel="{{ gallery.id }}">{{ gallery.title }}</div>
        {% endfor %}
    </div>
{% endblock %}




{% block content %}

    {% for gallery in galleries %}
        <div class="gallery sub_menu_target" rel="{{ gallery.id }}">

            <h3>{{ gallery.title}}</h3>

            <desc>{{ gallery.body }}</desc>

            {% for photo in gallery.photo_set.all  %}
                {% thumbnail photo.photo "150x100" crop="center" as im %}
                     <a href="{{ photo.photo.url }}" class="photo" rel="{{ gallery.id }}" title="{{ photo.name }}" alt="{{ photo.desc }}">
                         <img class="small" src="{{ im.url }}" />
                     </a>
                {% endthumbnail %}

            {% endfor %}

        </div>

    {% endfor %}



{% endblock %}
