{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}


{% block title %}{% trans "Photographs" %} | {% trans "Vimarko" %} | {% trans "Restaurant distant voyages" %}{% endblock %}
{% block body_classes %}photogalleries not-front two-col{% endblock %}



{% block pagetitle %}{% trans "Галерея" %} {{ gallery.title }}{% endblock %}


{% block intro %}

    {{ gallery.desc }}
{% endblock %}


{% block sidebar %}
    <a href="/photos">Все галлереи</a>


    <!-- <div class="sidebar_gallery block sub_menu">
         {% for gallery in galleries %}
             <div class="sidebar_gallery menu_item" rel="{{ gallery.id }}">{{ gallery.title }}</div>
         {% endfor %}
     </div>
     -->
{% endblock %}




{% block content %}

    {{ gallery.body }}


    <div class="gallery sub_menu_target" rel="{{ gallery.id }}">


            <desc>{{ gallery.body }}</desc>

            {% for photo in gallery.photo_set.all  %}
                {% thumbnail photo.photo "150x100" crop="center" as im %}
                    <a href="{{ photo.photo.url }}" class="photo" rel="{{ gallery.id }}" title="{{ photo.name }}" alt="{{ photo.desc }}">
                        <img class="small" src="{{ im.url }}" />
                    </a>
                {% endthumbnail %}

            {% endfor %}

        </div>




{% endblock %}
