<div class="modal-header">
    <h3>{? title ?}</h3>
</div>
<div class="modal-body">
    <p>{? message ?}</p>
</div>
<div class="modal-footer">
    <button class="blue" ng-repeat="btn in buttons" ng-click="close(btn.result)" class="btn" ng-class="btn.cssClass">{? btn.label ?}</button>
</div>

<div class="popup_bg" ng-show="global.alert_show" ng-click="global.alert_show=0;"></div>
