
<div class="likes" ng-class="{'show': global.show_share==1}">
    <script type="text/javascript" src="//yandex.st/share/share.js"
            charset="utf-8"></script>
    <div class="yashare-auto-init" data-yashareL10n="ru"
         data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,twitter,odnoklassniki,moimir,gplus"
        data-yashareTheme="counter" data-yashareType="small"
            ></div>
</div>