<div class="socials">
    <div class="blue">Triton в социальных сетях</div>
    <a href="http://www.youtube.com/channel/UCDVvVsO624REtQqsj-clHvA?feature=mhee" class="socials-youtube" target="_blank">Youtube</a>
    <a href="https://www.facebook.com/vannyTriton/timeline" class="socials-facebook" target="_blank">Facebook</a>
    <a href="http://vk.com/tritonclub" class="socials-vk" target="_blank">ВКонтакте</a>
{#    <a href="https://plus.google.com/u/0/+3tnRu/posts" class="socials-gplus" target="_blank">G+</a>#}
    <a href="https://plus.google.com/113057583398938870549" class="socials-gplus" target="_blank" rel="publisher">Google+</a>
    <a href="https://twitter.com/Triton_brand" class="socials-twitter" target="_blank">Twitter</a>
    <a href="http://www.odnoklassniki.ru/tritonclu" class="socials-ok" target="_blank">Однокласники</a>
</div>
