{% load hramik_tags %}


{% if current_user.is_authenticated %}
    {% include "questions/forms/comment_form.html" with form=comment_form name_form=node.id|format:"comment_form_%s" submit_text="Прокоментировать" action="" submit_click=True controller="commentCtrl" init=node.id|format:"comment.node=%s" %}
{% else %}
{#    {% include "partials/register_or_enter.html" with text=", чтоб оставить комментарий" %}#}
    <div class="register_or_enter">
        Мы рады узнать ваше мнение. <br/>
        <a ng-click="global.login_modal_show = 1;">Нажмите сюда</a> и напишите нам несколько слов!
    </div>

{% endif %}