{% load thumbnail %}
{% load hramik_tags %}


<div class="{{ class }} comment_{{ comment.id }} publish_{{ comment.publish }}" ng-controller="commentCtrl"
     {% if ngshow %}ng-show="show_all_comments_{{ comment.node.id }}"{% endif %}
        {% if current_user.is_staff %}
     ng-class="{'selected': {{ comment.id }}==global.selected_comment_id}"
        {% endif %}
        >

    {% if current_user.is_staff %}
        <div class="id">{{ comment.id }}</div>
    {% endif %}
    {##}
    {#    {% thumbnail comment.user.get_profile.avatar "50x50" crop="center" as im %}#}
    {#        <img src="{{ im.url }}" alt="" class="avatar"/>#}
    {#    {% endthumbnail %}#}

    {% include "triton_ua/helper/avatar.html" with width='50' height='50' user_profile=comment.user.get_profile %}


    <div class="submitted">
    <span class="author">
                        {% if comment.user %}
                            {{ comment.user }}
                        {% elif comment.author %}
                            {{ comment.author }}
                        {% else %}
                            клиент
                        {% endif %}
                        </span>
        <span class="pub_date">{{ comment.pub_date|timesince }} назад</span>

        {% if user.is_staff %}
            <span class="permalink"><a href="{% url 'admin:node_comment_change'  comment.pk %}">редактировать</a></span>
            <span class="permalink red"><a href="{% url 'admin:node_comment_delete'  comment.pk %}">удалить</a></span>
            <span class="permalink" ng-click="to_question({{ comment.pk }});">Это вопрос</span>
            <span class="permalink" ng-click="global.selected_comment_id={{ comment.id }}; global.action='comment_transfer'">Перенести в</span>
        {% endif %}
    </div>
    <div class="body">
        {% if current_user.is_staff %}
            <strong>{{ label }}</strong>{{ comment.body|safe|urlize }}
        {% else %}
            <strong>{{ label }}</strong>{{ comment.body|safe|urlize }}
        {% endif %}
    </div>

    {% if comment.commentadditionalphoto_set.all|length %}
        <div class="additional_photos">
            {% for photo in comment.commentadditionalphoto_set.all|slice:":3" %}
                {% thumbnail photo.photo "200x100" crop="center" as im %}
                    <a href="{{ photo.photo.url }}" colorbox="{transition:'fade'}" rel="c_{{ comment.id }}"><img src="{{ im.url }}" alt="{{ photo.alt }}"
                                                                                                                 title="{{ photo.title }}"/></a>
                {% endthumbnail %}
            {% endfor %}
        </div>
    {% endif %}

    {% if current_user.is_authenticated %}
        <div class="comment_like"
             ng-init="{% if comment.id in comment_likes %}comment_like=1;{% else %}comment_like=0;{% endif %} comment_like_count={{ comment.commentlike_set.all|length }};">
            <span class="like" ng-hide="comment_like" ng-click="like({{ comment.id }}); ">Нравится</span>
            <span class="dislike" ng-show="comment_like" ng-click="like({{ comment.id }}); ">Не нравится</span> ·
            <span class="misc_icons-like_hand"></span>
            <span class="comment_like_count">{?comment_like_count?}</span>
        </div>
    {% endif %}

</div>