{% load hramik_tags %}


<div class="comments comments_for_node_{{ node.id }} comments_block">
    {#    {% if user.is_staff %}#}
    {#        {% for comment in node.get_all_comments %}#}
    {#            {% if forloop.first %}#}
    {#                {% include 'questions/partials/comment_base.html' with class="comment" label="Ответ: " %}#}
    {#            {% else %}#}
    {#                {% include 'questions/partials/comment_base.html' with class="comment" label="" %}#}
    {#            {% endif %}#}
    {#        {% endfor %}#}
    {#    {% else %}#}

    {% for comment in node.get_publish_comments_part %}

        {% if question %}
            {% if forloop.first %}
                {% include 'questions/parts/comment_base.html' with class="comment answer" label="Ответ: " %}

                {% if node.get_publish_comments.count > 1 and type != "details" %}
                    <div class="button show_all_comments" ng-hide="show_all_comments_{{ node.id }}" ng-init="show_all_comments_{{ node.id }}=0;"
                         ng-click="show_all_comments_{{ node.id }}=1;">Показать все комментарии [{{ node.get_publish_comments.count|minus }}]
                    </div>
                    <div class="button show_all_comments" ng-show="show_all_comments_{{ node.id }}" ng-click="show_all_comments_{{ node.id }}=0;">
                        Скрыть комментарии
                    </div>
                {% endif %}
            {% else %}
                {% if type != "details" %}
                    {% include 'questions/parts/comment_base.html' with class="comment" label="" ngshow=True %}
                {% else %}
                    {% include 'questions/parts/comment_base.html' with class="comment" label="" ngshow=False %}
                {% endif %}
            {% endif %}
        {% endif %}

        {% if not question %}
            {% if forloop.last %}
                {% include 'questions/parts/comment_base.html' with class="comment" label="" %}
            {% elif forloop.first %}

                {% if node.get_publish_comments.count > 1 %}
                    <div class="button show_all_comments" ng-hide="show_all_comments_{{ node.id }}" ng-init="show_all_comments_{{ node.id }}=0;"
                         ng-click="show_all_comments_{{ node.id }}=1;">Показать все комментарии [{{ node.get_publish_comments.count|minus }}]
                    </div>
                    <div class="button show_all_comments" ng-show="show_all_comments_{{ node.id }}" ng-click="show_all_comments_{{ node.id }}=0;">
                        Скрыть комментарии
                    </div>
                {% endif %}
                {% include 'questions/parts/comment_base.html' with class="comment" label="" ngshow=True %}
            {% else %}
                {% include 'questions/parts/comment_base.html' with class="comment" label="" ngshow=True %}
            {% endif %}
        {% endif %}



    {% endfor %}
    {#    {% endif %}#}
    <div class="button show_all_comments" ng-show="show_all_comments_{{ node.id }}" ng-click="show_all_comments_{{ node.id }}=0;" style="margin-top: 10px">
        Скрыть комментарии
    </div>
</div>

{% if node.comment_set.all or current_user.is_staff %}
    {% if current_user.is_authenticated %}
        {% include "questions/forms/comment_form.html" with form=comment_form name_form=node.id|format:"comment_form_%s" submit_text="Прокоментировать" action="" submit_click=True controller="commentCtrl" init=node.id|format:"comment.node=%s" submit_images=True %}
    {% else %}
        {% include "partials/register_or_enter.html" with text=", чтоб оставить комментарий" %}
    {% endif %}

{% endif %}

