{% load thumbnail %}
{% load hramik_tags %}
{% load admin_urls %}


<div class="question">


    {% thumbnail question.photo "100x100" format="PNG" crop="center" as im %}
        <img src="{{ im.url }}" alt="" class="avatar"/>
    {% endthumbnail %}

    <div class="submitted">

        {#        <span class="pub_date">{{ question.pub_date|timesince }} назад</span>#}

        {% if type != 'details' %}
            <span class="site">Материал сайта {{ question.first_site }}</span>

            {#            <span class="permalink">@ <a href="/question/{{ question.id }}">постоянная ссылка на вопрос</a></span>#}
            {#                        <span class="permalink">@ <a href="{% url "tri.views.question" question.id %}">постоянная ссылка на вопрос</a></span>#}
            {% if question.id %}
                <span class="permalink">@ <a href="http://{{ question.first_site }}/{{ question.dot_slug  }}">постоянная ссылка на материал</a></span>
            {% endif %}
            {% if user.is_staff %}
                <span class="permalink"><a href="{% url 'admin:products_product_change'  question.pk %}">редактировать</a></span>
            {% endif %}
        {% endif %}
    </div>

    {% if question.tags %}
        {% include "questions/parts/tags.html" with tags=question.tags.all %}
    {% endif %}

    <h3>{{ question.title }}</h3>
    {{ question.teaser }}

    {% if question.additionalphoto_set.all|length %}
        <div class="additional_photos">
            {% for photo in question.additionalphoto_set.all|slice:":3" %}
                {% thumbnail photo.photo "1120" crop="center" as im %}
                    <a href="{{ im.url }}" colorbox="{transition:'fade'}" rel="q_{{ question.id }}">
                {% endthumbnail %}
            {% thumbnail photo.photo "200x100" crop="center" as im %}
                <img src="{{ im.url }}" alt="{{ photo.alt }}" title="{{ photo.title }}"/>
            {% endthumbnail %}
            </a>
            {% endfor %}
        </div>
    {% endif %}

</div>


{% include "questions/parts/comments.html" with node=question question=False %}

