{% load i18n %}
{% load thumbnail %}
{% load hramik_tags %}

<div class="view_row" ng-repeat="question in questions.results">
    <div class="question">


        <div class="submitted">
        <span class="pub_date">
                {{ question.pub_date|date:"j.n.o H:i" }}
        </span>
        <span class="author">
            {?question.user?}
            {?question.author?}
        </span>

            {% if type != 'details' %}
                {#            <span class="permalink">@ <a href="/question/{{ question.id }}">постоянная ссылка на вопрос</a></span>#}
                {#                        <span class="permalink">@ <a href="{% url "tri.views.question" question.id %}">постоянная ссылка на вопрос</a></span>#}
                {% if question.id %}
                    <span class="permalink">@ <a href="{% url 'tri:question_details' id=question.id %}">постоянная
                        ссылка на вопрос</a></span>
                {% endif %}
            {% endif %}
        </div>

        <div class="tags">
            <a class="tag my" href="/questions/my">мои вопросы</a>
            <a class="tag" href="/questions">все</a>
            <a class="tag" href="/questions/{?tag.slug?}" ng-repeat="tag in question.tags">{? tag.name ?}</a>
        </div>

        <h4><strong>Вопрос:</strong>
            {? question.body ?}
        </h4>

        <div class="additional_photos" ng-if="questions.additionalphoto_set">
            {% thumbnail photo.photo "75x75" crop="center" as im %}
                <a href="{{ photo.photo.url }}" colorbox="{transition:'fade'}" rel="q_{{ question.id }}"><img
                        src="{{ im.url }}" alt=""/></a>
            {% endthumbnail %}
        </div>

    </div>


    {% for comment in question.get_publish_comments|slice:":1" %}
        {% include 'questions/parts/comment_base.html' with class="answer" label="Ответ: " %}
    {% endfor %}

    {% for comment in question.get_publish_comments|slice:"1:" %}
        {% include 'questions/parts/comment_base.html' with class="comment" label="" %}
    {% endfor %}


    {% if question.comment_set.all or current_user.is_staff %}
        {% include "triton_ua/forms/form_base.html" with form=comment_form name_form=question.id|format:"comment_form_%s" submit_text="Прокоментировать" action="" submit_click=True controller="commentCtrl" init=question.id|format:"comment.node=%s" %}

    {% endif %}
</div>