{% load i18n %}
{% load thumbnail %}
{% load hramik_tags %}

{% for question in questions %}

    {% if not question.node_type.slug == 'question' %}

        {% if question.last_comment_date != question.pub_date %}
            <div class="view_row publish_{{ question.publish }}">
                {% include "questions/parts/product_question_base.html" %}
            </div>
        {% endif %}
    {% else %}
        <div class="view_row view_row_{{ question.id }} publish_{{ question.publish }}">
            {% include "questions/parts/question_base.html" %}
        </div>
    {% endif %}
{% endfor %}