{% load thumbnail %}
{% load hramik_tags %}
{% load admin_urls %}


<div class="question">


    {% include "triton_ua/helper/avatar.html" with width='50' height='50' user_profile=question.user.get_profile %}


    <div class="submitted">

        <span class="author">
                        {% if question.user %}
                            {{ question.user }}
                        {% elif question.author %}
                            {{ question.author }} (Незарегистрированный пользователь)
                            {#                        {% elif current_user.is_authenticated %}#}
                            {#                            {{ current_user.username }}#}
                        {% else %}
                            Незарегистрированный пользователь
                        {% endif %}
        </span>

        {#        {{ question.last_comment_date }}#}

        <span class="pub_date">{{ question.pub_date|timesince }} назад</span>
        <span class="site">на {{ question.first_site }}</span>

        {#        <span class="pub_date">{{ question.pub_date|timesince }} назад</span>#}

        {% if type != 'details' %}
            {#            <span class="permalink">@ <a href="/question/{{ question.id }}">постоянная ссылка на вопрос</a></span>#}
            {#                        <span class="permalink">@ <a href="{% url "tri.views.question" question.id %}">постоянная ссылка на вопрос</a></span>#}

            {% if question.id %}
                <span class="permalink">@ <a href="http://{{ question.first_site }}/question-{{ question.id }}">постоянная ссылка на
                    вопрос</a></span>
            {% endif %}
            {% if user.is_staff %}
                <span class="permalink"><a href="{% url 'admin:questions_question_change'  question.pk %}">редактировать</a></span>
                <span class="permalink red"><a href="{% url 'admin:questions_question_delete'  question.pk %}">удалить</a></span>

            {% endif %}
        {% endif %}
    </div>


    {% if question.tags %}
        {% include "questions/parts/tags.html" with tags=question.tags.all %}
    {% endif %}

    <strong>Вопрос:</strong>
    {% if current_user.is_staff %}
        {{ question.body|safe|urlize }}
    {% else %}
        {{ question.body|hide|safe|urlize }}
    {% endif %}

    {% if question.additionalphoto_set.all|length %}
        <div class="additional_photos">
            {% for photo in question.additionalphoto_set.all|slice:":3" %}
                {% thumbnail photo.photo "1120" crop="center" as im %}
                    <a href="{{ im.url }}" colorbox="{transition:'fade'}" rel="q_{{ question.id }}">
                {% endthumbnail %}
            {% thumbnail photo.photo "200x100" crop="center" as im %}
                <img src="{{ im.url }}" alt="{{ photo.alt }}" title="{{ photo.title }}"/>
            {% endthumbnail %}
            </a>
            {% endfor %}
        </div>
    {% endif %}

</div>


{% include "questions/parts/comments.html" with node=question question=True %}

