{% load thumbnail %}
{% load hramik_tags %}
{% load admin_urls %}

<div class="view_row publish_{{ question.publish }}" ng-click="action({{ question.id }})">

    <div class="question simple_question simple_question_{{ question.id }}">


        {% thumbnail question.user.get_profile.avatar "50x50" crop="center" as im %}
            <img src="{{ im.url }}" alt="" class="avatar"/>
        {% endthumbnail %}

        <div class="submitted">

            <span class="author">{{ question.user }}</span>
            <span class="pub_date">{{ question.pub_date|timesince }} назад</span><br/>
            <span class="permalink">@ <a href="{% url 'tri:question_details' id=question.id %}">постоянная ссылка на вопрос</a></span><br/>
            комментариев: <span class="comment_count comment_count_{{ question.id }}">{{ question.get_publish_comments_part.count }}</span>

        </div>

        {% if question.tags %}
            {% include "questions/parts/tags.html" with tags=question.tags.all %}
        {% endif %}

        <strong>Вопрос:</strong>
        {{ question.body|safe|urlize }}


    </div>
</div>


{#{% include "questions/partials/comments.html" with node=question question=True %}#}

