<div class="tags" ng-controller="tagsCtrl">

    {% if filter %}
        <input type="text" placeholder="Введите имя тега" ng-model="tag_search"/>
    {% endif %}

    {% if sidebar %}
        {% if user.is_authenticated %}
            <a class="tag my" s
               ng-controller="tagCtrl"
               ng-click="load_tag();"
               ng-init="slug='my'; name='Мои вопросы';"
            >мои вопросы</a>
        {% endif %}
        <a class="tag"
           ng-controller="tagCtrl"
           ng-click="load_tag();"
           ng-init="slug=''; name='';"
        >все</a>

        {% if current_site.is_shop %}
            {% for tag in site_tags %}
                {#        <a class="tag" href="{% url 'tri:questions_tag' tag=tag.slug %}"#}
                <a class="tag"
                   ng-controller="tagCtrl"
                   ng-click="load_tag();"
                   {% if single_page %}href="{{ questions_path }}?tag={{ tag.slug }}"{% endif %}
                   ng-class="{active: global.current_tag=='{{ tag.name }}'}"
                   ng-init="slug='{{ tag.slug }}'; name='{{ tag.name }}';"
                   {% if filter %}ng-show="([{name: '{{ tag.name }}'}] | filter:tag_search).length"{% endif %}
                >
                    #{{ tag.name }}</a>
            {% endfor %}
        {% endif %}

    {% endif %}


    <span {% if filter %}ng-show="tag_search"{% endif %}>
    {% for tag in tags %}
        {#        <a class="tag" href="{% url 'tri:questions_tag' tag=tag.slug %}"#}
        <a class="tag"
           ng-controller="tagCtrl"
           ng-click="load_tag();"
           {% if single_page %}href="{{ questions_path }}?tag={{ tag.slug }}"{% endif %}
           ng-class="{active: global.current_tag=='{{ tag.name }}'}"
           ng-init="slug='{{ tag.slug }}'; name='{{ tag.name }}';"
           {% if filter %}ng-show="([{name: '{{ tag.name }}'}] | filter:tag_search).length"{% endif %}
        >
            #{{ tag.name }}</a>
    {% endfor %}
</span>

</div>