{% extends 'triton_ua/forms/form_base.html' %}

{% block form_classes %}show_submit{% endblock %}

{% block gracie_wrap %}
    Спасибо{% if user.is_authenticated %}, {{ user }}{% endif %}! <br> Наш менеджер ответит на ваш вопрос в ближайшее время. <br/>
    Когда это произойдет, вы получите уведомление и ответ на указанный вами емейл.
    {% if not user.is_authenticated %}
        <br/><br/>
        Ваш вопрос появится на сайте после проверки модератором.
        <a href="#">Зарегистрируйтесь или войдите для более удобной работы с сайтом</a>
    {% endif %}
{% endblock %}

{% block fields %}

    {{ block.super }}

{% endblock %}

