<div class="ui white modal fake_warning">

    <i class="ui close icon"></i>

    <div class="header">
        Опасайтесь подделок
    </div>

    <div class="content">
        <p>Уважаемые покупатели, компания ТРИТОН хотела бы обратить Ваше внимание и предостеречь от опрометчивой покупки не качественной продукции на сайтах:

        <ul>
            <li>santex-snab.ru</li>
            <li>aquavil.ru</li>
            <li>aquasanremo.ru</li>
            <li>showersmarket.ru</li>
            <li>eurosantehgarant.ru</li>
            <li>santehslon.ru</li>
            <li>spa.com.ru</li>
            <li>santut.ru</li>
            <li>santehslon.ru</li>
            <li>sogo-shop.ru</li>
            <li>aquaking.ru</li>
            <li>Sant-style.ru</li>
        </ul>

        </p>

        <p>В ассортименте этих сайтов представлена продукция Тритон, а именно акриловые ванны.
            Будьте внимательны - завод Тритон напрямую не отгружает в указанные интернет магазины ни акриловые ванны, ни гидромассажное оборудование. Последнее покупается
            недобросовестным магазином на стороне и представляет собой системы сомнительного качества, производительности и долговечности. Врезка оборудования происходит вне
            заводских и санитарных условий, без ОТК и обязательного теста. </p>

        <div class="ui red message">
            <i class="warning icon"></i>
            Гарантия на эти системы, так же как и на акриловую ванну, заводом-изготовителем не распространяется и не может быть осуществлена.
        </div>

        <p>Компания Тритон зарекомендовала себя как стабильный, надежный производитель и поставщик изделий собственного производства, гарантирующий качество своей продукции. </p>

        <div class="ui divider"></div>

        <h3 class="ui red header" style="padding: 0;">Будьте бдительны - не дайте себя обмануть!</h3>

    </div>
</div>