{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load cache %}


{% block body_classes %}not-front not_found{% endblock %}

{% block title %}{% trans "Triton" %} | {% trans "продажа ванн" %} | Страница не найдена{% endblock %}

{% block pagetitle %}
    <div class="red">404</div>
    <div>Страница не найдена</div>{% endblock %}


{% block content %}
    {% if current_user.is_staff %}
        {{ request }}
    {% endif %}
    <div class="ui basic centered segment">
        <p>Произошла ошибка </p>

        <p><a href="/" class="ui primary button">Вы можете перейти на главную страницу</a></p>
        <p>&nbsp;</p>

        <p>Если вам нужна консультация специалиста Тритон <br> или вы хотите узнать цены на нашу продукцию <br> или вам нужна помощь в навигации по сайту </p>


        <p>
            <a ng-click="global.callback_form_modal_show=1; reachYandexGoal('OPEN_CALLBACK_FORM'); reachGoogleGoal('Callback', 'Open', 'Open Callback Form');"
               target="_self" class="ui primary button">Закажите обратный звонок</a>
        </p>

        <p>Спасибо</p></div>

{% endblock %}
