{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load hramik_tags %}


{% block title %}{% trans "Triton" %} | Заказы{% endblock %}
{% block meta %}

{% endblock %}


{% block body_classes %}no-front two-col orderlist fluid{% endblock %}
{% block pagetitle %}
    {% if is_order %}Заказы{% endif %}
{% endblock %}

{% block intro %}
{% endblock %}

{% block controller %}
    ng-controller="ordersCtrl"
{% endblock %}

{% block content %}

    {% include "triton_ua/forms/form_base.html" with form=filter_form name_form='orders' submit_text="Фильтр" action='/orders' fields_class="inline fields" method='get' %}
    <a href="/orders">
        <i class="icon remove"></i>
        Сбросить фильры
    </a>

    <div class="ui top attached tabular menu" ng-init="active_tab='{{ active_tab }}';">
        <a class="item" ng-click="active_tab='orders'; changeURL('orders');" ng-class="{active: active_tab=='orders'}">
            Заказы
        </a>
        <a class="item" ng-click="active_tab='callbacks'; changeURL('callbacks');" ng-class="{active: active_tab=='callbacks'}">
            Звонки
        </a>
    </div>

    <div class="ui bottom attached segment">
        <div ng-show="active_tab=='orders'">
            {% include "products/backoffice/orders.html" %}
        </div>
        <div ng-show="active_tab=='callbacks'">
            {% include "products/backoffice/callbacks.html" %}
        </div>
    </div>

{% endblock %}


{% block sidebar %}


{% endblock %}

{% block extra_body %}
{% endblock %}
