{% load hramik_tags %}
{% for callback in callbacks %}
    <tr class="status_{? status ?}"
        ng-controller="callbackCtr"
        ng-click="set_current();"
        ng-init="id='{{ callback.id }}'; status='{{ callback.status }}'; phone='{{ callback.phone }}'; name='{{ callback.name }}'; comment='{{ callback.comment }}'; manager_comment=
    '{{ callback.manager_comment }}';">
        <td da-modal=".ui.modal.callback" class="nobr">
            <div class="ui header" ng-if="status=='W'">{{ callback.phone }}</div>
            <span ng-if="status!='W'">{{ callback.phone }}</span>
        </td>
        <td da-modal=".ui.modal.callback">{{ callback.name }}</td>
        <td da-modal=".ui.modal.callback">{{ callback.call_time }}</td>
        <td da-modal=".ui.modal.callback">{{ callback.email }}</td>
        <td da-modal=".ui.modal.callback">{{ callback.pub_date }}</td>
        <td da-modal=".ui.modal.callback">
            {% if callback.call_date %}
                {{ callback.call_date }} <span class="ui label">{{ callback.pub_date|timesince:callback.call_date }}</span>
            {% endif %}
        </td>
        <td da-modal=".ui.modal.callback">
            <div ng-bind-html="comment|newlines"></div>
            <div class="ui divider" ng-if="manager_comment"></div>
            <div ng-if="manager_comment" ng-bind-html="manager_comment|newlines"></div>
        </td>
        <td da-modal=".ui.modal.callback">{{ callback.site }}</td>

        <td>
            {{ callback.get_status_display }}
        </td>
        {#    <td class="center aligned">#}
        {#            <i class="ui check square icon" ng-click="global.callback.id = '{{ callback.id }}'; done('D');" style="cursor: pointer;" ng-if="status=='W'"></i>#}
        {#            <i class="ui minus outline square icon" ng-click="global.callback.id = '{{ callback.id }}'; done('W');" style="cursor: pointer;" ng-if="status=='D'"></i>#}
        {#    </td>#}
        {% if current_user.is_superuser %}
            <td><a href="{% url 'admin:callback_callback_change' callback.id %}" target="_blank">админка</a></td>{% endif %}
    </tr>
{% endfor %}