<table class="ui celled structured  tablet stackable  table order_table">
    <thead>
    <tr>
        <th>Телефон</th>
        <th>Имя</th>
        <th>Время звонка</th>
        <th>Емейл</th>
        <th>Дата заявки</th>
        <th>Дата связи</th>
        <th>Комментарий</th>
        <th>Сайт</th>
        <th>Статус</th>
        {#                <th></th>#}
        {% if current_user.is_superuser %}
            <th>Вадминка</th>{% endif %}
    </tr>
    </thead>

    <tbody class="callbacks_table_tbody" hr-table-scroll-load=".callbacks_table_tbody" path="/callbacks">
    {% include "products/backoffice/callbacks_list.html" %}
    </tbody>

</table>

<div class="ui white modal callback" ng-controller="callbackCtr">
    <div class="center aligned content" style="text-align: center;">
        <h2 class="ui header"><a href="tel:{? global.callback.phone ?}">{? global.callback.phone ?}</a></h2>
        <h3 class="ui header">{? global.callback.name ?}</h3>
        <p>
        <div class="ui form">
            <div class="field">
                <textarea rows="3" ng-model="global.callback.manager_comment" style="border: 1px solid lightgray;"></textarea>
            </div>
        </div>
        </p>
    </div>

    <div class="actions">
        <div class="ui black deny button">
            Нет
        </div>
        <div class="ui red deny button" ng-click="done('R');" ng-class="{disabled: global.callback.manager_comment}">
            Перезвонить
        </div>
        <div class="ui positive right labeled icon button" ng-click="done('D');" ng-class="{disabled: !global.callback.manager_comment}">
            Да, контакт совершен
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>

