{% load i18n %}
{% load thumbnail %}
{% load hramik_tags %}



<table class="ui celled structured table order_table">
    <thead>
    <tr>
        <th rowspan="2">№</th>
        <th rowspan="2">Статус</th>
        <th colspan="10">Данные заказа</th>
        <th colspan="4">Предоплата</th>
        <th colspan="7">Доставка</th>
        <th rowspan="2">Доплата</th>
        <th rowspan="2">Бонус</th>

    </tr>
    <tr>
        <th>Дата</th>
        <th>Сайт</th>
        <th>Фио</th>
        <th>Телефон</th>
        <th>Емайл</th>
        <th>Товар</th>
        <th>Примечания</th>
        <th>Стоимость товара</th>
        <th>Стоимость доставки</th>
        <th>Сумма заказа</th>
        <th>Предоплата</th>
        <th>Сумма предоплаты</th>
        <th>Платежный агент</th>
        <th>Инвойс</th>
        <th>ID</th>
        <th>Дата отгрузки</th>
        <th>Дистрибьютор</th>
        <th>Адрес доставки</th>
        <th>Перевозчик</th>
        <th>Номер заказа</th>
        <th>Цена доставки</th>
    </tr>
    </thead>

    <tbody class="order_table_tbody" hr-table-scroll-load=".order_table_tbody"  path="/orders">
    {% include "products/backoffice/orders_sum.html" %}
    {% include "products/backoffice/orders_list.html" %}
    </tbody>

</table>
