{% load hramik_tags %}

    <tr class="sum active" style="font-weight: bold;">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="ui header" nowrap><s>{{ sum.cart_sum_end__sum | price }}</s><br/>
            {{ sum.price__sum | price}}</td>
        <td  class="ui header" nowrap>
            {{ sum.delivery_sum__sum | price }}
        </td>
        <td  class="ui header" nowrap>{{ sum.price__sum | price }}</td>
        <td></td>
        <td  class="ui header" nowrap>{{ sum.order_sum_amount__sum | price }}<br>{{ sum.additional_order_sum_amount__sum | price }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td  class="ui header" nowrap>{{ sum.additional_sum }}</td>
        <td  class="ui header" nowrap>
            {% if perms.products.can_view_bonus %}
                {{ sum.bonus__sum | price }}
            {% endif %}
        </td>
    </tr>
