{% load hramik_tags %}
{% for order in orders %}

    <tr class="status_{{ order.status }}">
        <td>
            {% if debug %}
                <a href="http://127.0.0.1:8000/order{{ order.hash }}" target="_blank">{{ order.im_id }}</a>
            {% else %}
                <a href="http://{{ order.site.domain }}/order{{ order.hash }}" target="_blank">{{ order.im_id }}</a>
            {% endif %}
        </td>
        <td style="text-align: center;"><i
                class="ui icon {% if order.status == 'CO' %}check{% elif order.status == 'NO' %}circle{% elif order.status == 'CA' %}remove{% elif order.status == 'SA' %}bookmark{% elif order.status == 'PR' %}visa{% elif order.status == 'PA' %}money{% elif order.status == 'EX' %}archive{% elif order.status == 'SH' %}truck{% elif order.status == 'DE' %}smile{% endif %}"></i>
        <div class="small">{% if order.status == 'CO' %}полностью оплачен{% elif order.status == 'NO' %}новый{% elif order.status == 'CA' %}отменен{% elif order.status == 'SA' %}оформлен{% elif order.status == 'PR' %}отправлен на предоплату{% elif order.status == 'PA' %}предоплачен{% elif order.status == 'EX' %}отправлен на исполнение{% elif order.status == 'SH' %}отгружен{% elif order.status == 'DE' %}доставлен{% endif %}</div>
        </td>
        <td>{{ order.pub_date }}</td>
        <td>{{ order.site }}</td>
        <td>{{ order.name }}</td>
        <td>{{ order.phone }}</td>
        <td>{{ order.email }}</td>
        <td>
            {% if order.products %}
                {{ order.products|safe }}
            {% else %}
                {% for orderitem in order.order_items.all %}
                    <div class="">{{ orderitem.product.title }} </div>
                {% endfor %}
            {% endif %}
        </td>
        <td style="font-size: .8rem; line-height: 1rem;">{{ order.comment }}</td>
        <td><s>{{ order.cart_sum_end }}</s><br/>{{ order.price }}</td>
        <td>{% if order.delivery_sum %}
            {{ order.delivery_sum }}
        {% else %}
            {{ order.delivery.price }}
        {% endif %}</td>
        <td>{{ order.price }}</td>
        <td>{{ order.prepay }}</td>
        <td>
            {{ order.order_sum_amount }}<br>
            {{ order.additional_order_sum_amount }}<br>
        </td>

        <td>{{ order.pay_agent }}</td>
        <td>
            {{ order.invoice_id }}<br>
            {{ order.additional_invoice_id }}
        </td>

        <td>{{ order.delivery_did }}</td>
        <td>{{ order.delivery_date }}</td>
        <td>{{ order.distributor }}</td>
        <td>{{ order.get_address }}</td>
        <td>{{ order.carrier }}</td>
        <td>
            {% for delivery in order.delivery_operations %}
                {{ delivery.carrier_number }}
            {% endfor %}
            {% if order.delivery_operations.count > 1 %}
                <div class="ui divider"></div>
                &nbsp;
            {% endif %}
        </td>
        <td>
            {% for delivery in order.delivery_operations %}
                {{ delivery.delivery_price }}
            {% endfor %}

            {% if order.delivery_operations.count > 1 %}
                <div class="ui divider"></div>
                <b>{{ order.delivery_operations | delivery_sum }}</b>
            {% endif %}

        </td>
        <td>{{ order.additional_sum }}</td>
        <td>
            {% if perms.products.can_view_bonus %}
                {% if order.bonus %}
                    {{ order.bonus }}
                {% else %}
                    {{ order.get_bonus }}
                {% endif %}
            {% endif %}
        </td>
    </tr>
{% endfor %}