<div class="ui text menu"
     ng-controller="orderCtr"
     ng-init="id='{{ order.id }}';"
>
    <div class="header item">Операции</div>
    <a class="item" target="_blank" href="{% url 'admin:products_order_change' order.id %}">
        <i class="unlock icon"></i> Заказ в админке
    </a>
    <a class="item" target="_blank" da-modal=".modal.order_data">
        <i class="pencil icon"></i> Редактировать
    </a>

    {% if not order.status == 'CO' %}
        <a class="item" ng-click="to_prepay();">
            {% if not order.order_sum_amount %}
                <i class="credit card icon"></i> Отправить на оплату
            {% else %}
                <i class="credit card icon"></i> Отправить на доплату
            {% endif %}
        </a>
    {% endif %}

    <a class="item" ng-click="to_dealer();">
        <i class="user icon"></i> Диллеру
    </a>
    <a class="item" ng-click="to_dpd();">
        <i class="shipping icon"></i>в DPD
    </a>

    <a class="item" href="/printorder/{{ order.hash }}" target="_blank">
        <i class="print icon"></i>Печать
    </a>
</div>