{% load i18n %}
{% load thumbnail %}
{% load hramik_tags %}


<div class="view cart_view" ng-controller="productsCtrl" ng-init="global.quick_order.product_id='0';">

    {% for product in cart %}

        {% with product=product|order_product order_item=product %}

            <product class="views_row"
                     ng-controller="productCtrl"

                     ng-init="
             id = '{{ product.id }}';
             title = '{{ product.title }}';
             delivery_price = '{{ order_item.get_delivery_price }}';
             {% if is_order %}order_id = '{{ order.id }}';{% else %}order_id = '0';{% endif %}
             title = '{{ product.title }}';
             {% if product in cart %}in_cart=1; {% endif %}
             {% if product in comparsion %}in_comparsion=1; {% endif %}
             {% if product in favorite %}in_favorite=1; {% endif %}
             hydromassage={% if product.hydromassage %}true{% else %}false{% endif %};
             {% if product.length %}length = '{{ product.length }}'; {% endif %}
             {% if product.price %}price = '{{ product.price|price }}'; {% endif %}
             {% if product.width %}width = '{{ product.width }}';{% endif %}
             "
            >

                <div class="field_img">
                    {% thumbnail product.photo "160x160" format="PNG" as im %}
                        {% if im %}
                            <a href="{{ product.dot_slug }}">
                                <img src="{{ im.url }}" alt="{{ photo.alt }}"
                                     title="{{ photo.title }}" width="160px"
                                     height="160px" ng-init="product_{{ product.id }}_img_url='{{ im.url }}'"/>
                            </a>
                        {% endif %}
                    {% endthumbnail %}
                </div>
                <h4 class="field_title">
                    <a href="{{ product.dot_slug }}">{{ product.title }}</a>
                    {% if order_item.count > 1 %}
                        <span class="small"> x {{ order_item.count }}</span>
                    {% endif %}
                    <br/>
                    <span>{{ product.price|price }} {{ current_site.currency }}</span><br/>

                    {#                    <span>{{ order_item.price|multiply:order_item.count|price }} {{ current_site.currency }}</span>#}
                </h4>

                <div class="field_parameters">{{ product.length }} x {{ product.width }} x {{ product.height }} мм</div>


                {% if product.options %}
                    <div class="options">
                        {% for option in product.options %}

                            <div class="option">
                                <span class="name">{{ option.option.name }}</span>
                                {% if not option.option.none_price %}
                                    <span class="blue">+{{ option.price|price }} {{ current_site.currency }}</span>
                                {% endif %}
                            </div>

                        {% endfor %}
                    </div>
                {% endif %}

                {% if order_item.order_item_options and is_order %}
                    <div class="options">
                        {#                        <h4>ОПЦИИ ПО НОВОМУ</h4>#}
                        {% for option in order_item.order_item_options.all %}
                            <div class="option" ng-controller="optionCtrl"
                                 ng-init="id='{{ option.id }}'"
                            >
                                <span class="name">{{ option.option.name }}</span>
                                {% if not option.option.none_price %}
                                    <span class="blue">+{{ option.price|price }} {{ current_site.currency }}</span>
                                    {#                                    <i class="ui trash icon" ng-init="id='{{ option.id }}'" ng-click="deleteFromOrder('{{ option.id }}', '{{ order.id }}',#}
                                    {#                                    '{{ product.id }}')"></i>#}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if order_item.options and not is_order %}
                    <div class="options">
                        {#                        <h4>ОПЦИИ ПО СТАРОМУ</h4>#}
                        {% for option in order_item.options.all %}
                            <div class="option"><span class="name">{{ option.option.name }}</span>
                                {% if not option.option.none_price %}
                                    <span class="blue">+{{ option.price|price }} {{ current_site.currency }}</span>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {#                {% if product.teaser and not is_order %}#}
                {#                    <div class="field_teaser">{{ product.teaser }}</div>#}
                {#                {% endif %}#}


                {#                <div class="field_price" ng-controller="priceCtrl"#}
                {#                     ng-init="{% if is_order %}get_current_price({{ product.id }}, {{ order.id }});{% else %}get_current_price({{ product.id }}, {{ product.id }});{% endif %}">#}
                {#                <span class="price_count" ng-bind="global.{{ product.slug }}_count"></span> <span class="price_count">x</span>#}
                {#                    <span>{? cur_price ?}</span> {{ current_site.currency }}#}
                {#                </div>#}

                {#            <div class="field_count">#}
                {#                <input type="text" class="count" ng-init="global.{{ product.slug }}_count=1" ng-model="global.{{ product.slug }}_count"/>#}
                {#            </div>#}
                {#            Buy buttons#}

                {#                {% include "products/partials/buttons.html" %}#}

                {#                {% if is_order and not order_item.get_delivery_price == 0 %}#}
                {#                    <div class="delivery_prices" style="font-size: .8rem;">#}
                {#                        {{ order_item.order.delivery.title }}: <b>{? delivery_price ?} {{ current_site.currency }}</b>#}
                {#                    </div> <br/><br/>#}
                {#                {% endif %}#}

                {#                {% else %}#}
                {#                {{ order_item.options_ids }}#}

                <div class="delivery_prices" style="font-size: .8rem;">
                    {% for delivery in product.available_delivery_prices %}
                        <div class="delivery_price" ng-show="'{{ delivery.slug }}'==global.cart_delivery_slug || !global.cart_delivery_slug">{{ delivery.title }}: <b
                        >{{ delivery.price }}
                            {{ current_site.currency }}
                            {% if delivery.km %}
                                + {{ delivery.km }} {{ current_site.currency }}/км {{ delivery.from_km }}
                            {% endif %}
                        </b></div>
                    {% endfor %}
                </div>




                {% if is_order and current_user.is_staff %}
                    {% if order.can_edit %}
                        <div class="order_item_actions">
                        <span class="edit_cart_button" da-modal=".modal.options"
                              ng-click="loadOrderOptions('{{ order.id }}', '{{ product.id }}'); global.current_product_id='{{ product.id }}';">
                           Редактировать
                        </span> |
                            <span class="delete_from_cart_button red" ng-click="deleteFromOrder('{{ order.id }}');">Убрать из корзины</span></div>
                    {% endif %}
                {% else %}
                    <div class="delete_from_cart_button" ng-click="deleteFromCart();">Убрать из корзины</div>
                {% endif %}

            </product>
        {% endwith %}
    {% endfor %}
</div>



{% if is_order and current_user.is_staff and order.order_logs.all %}
    <div class="ui header">Логи</div>
    {% for log in  order.order_logs.all %}
        <div class="log">
            <div class="ui label">{{ log.pub_date }}</div>
            <br><br>
            <span><b>{{ log.json.sender }}:</b></span>
            <span><b>{{ log.json.action }}:</b></span>
            <span>{{ log.json.value }}</span>
        </div>
        <div class="ui divider"></div>

    {% endfor %}

{% endif %}

