{% load hramik_tags %}


<script type=text/javascript>


    $(document).ready(function () {
        if ($('#option_video_{{ random }}').length > 0) {
            var option_video = videojs('option_video_{{ random }}');
        }

        $('.ui.modal')
                .modal('refresh')
        ;

    });

    {#    option_video.on("play", function () {#}
    {#        $('#content').addClass('vjs-playing');#}
    {#    });#}
    {##}
    {#    option_video.on("pause", function () {#}
    {#        $('#content').removeClass('vjs-playing');#}
    {#    });#}

</script>

<div class="page-title header">{{ option.name }}</div>

<div class="content">

    {% if option.slug|option_video_exists %}
        <video id="option_video_{{ random }}" class="video-js vjs-default-skin option_video" ng-controller="videoCtrl"
               controls preload="auto" width="1120" height="630"
               poster="/media/optionvideos/{{ option.slug }}.jpg"
        >

            <source src="/media/optionvideos/{{ option.slug }}.mp4" type='video/mp4'/>
            <source src="/media/optionvideos/{{ option.slug }}.webm" type='video/webm'/>

        </video>
    {% elif option.slug|option_image_exists %}
        <img src="/media/optionvideos/{{ option.slug }}.jpg" alt=""/>
    {% endif %}


    <div class="desc">
        {{ option.desc|safe }}


        {% if ajax %}
            <br/><br/>
            <a href="/option_{{ option.slug }}" target="_blank">Постоянная ссылка на подсказку</a>
        {% else %}
            <br/><br/>
            {% include "triton_ua/blocks/social/likes.html" %}
        {% endif %}
    </div>
</div>

{#{% not if product.action %}#}
<div class="actions">
    <div class="ui red negative button" ng-click="global.complectation='custom';  global.current_option.changeOption();" ng-if="global.current_option.active">
        Отключить
    </div>
    <div class="ui positive right labeled icon button" ng-click="global.complectation='custom';  global.current_option.changeOption();" ng-if="!global.current_option.active">
        Включить
        <i class="checkmark icon"></i>
    </div>
</div>
{#{% endif %}#}
