<script type="text/javascript">


    function invokeLater(callback, time) {
        if (time == null) {
            setTimeout(callback, 1);
        }
        else {
            setTimeout(callback, time);
        }
    }

    function loaded3d() {

{#        var scope = angular.element(document.getElementById("options")).scope();#}
{#        scope.$apply(function () {#}
{#            scope.change3dOptions();#}
{#        });#}

        $('#ModelViewerInner').each(function (e) {
            this.showHideToolbar(show);
            if (this.showHideToolbar) {
                this.showHideToolbar(show);
            }
        });
    }

    var pbase = '/media/3dpr/';
    var path = pbase + 'ModelViewer.swf';
    var models = pbase + 'Models/src/a3d/';
    {% if product.tn_alias %}
        var alias = '{{ product.tn_alias }}';
    {% else %}
        var alias = '{{ product.json.alias }}'.replace('%', '.');
    {% endif %}


    // For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection.
    var swfVersionStr = "11.3.0";
    // To use express install, set to playerProductInstall.swf, otherwise the empty string.
    var xiSwfUrlStr = "playerProductInstall.swf";
    var flashvars = {
        siteMode: true,
        alias: alias,
        modelsPath: models,
        {#        {% if current_site.site.domain == 'www.3tn.ru' %}#}
        {#        site: 'www.3tn.ru',#}
        {#        {% else %}#}
        site: '{{ current_site.site.domain }}',
        {#        {% endif %}#}
        siteBase: 'www.3tn.ru'
        {#        siteBase: '{{ current_site.site.domain }}'#}
    };
    var params = {};
    params.quality = "high";
    params.wmode = "direct";
    {#    params.wmode = "opaque"#}
    {#    params.wmode = "transparent"#}
    params.bgcolor = "FFFFFF";
    params.allowscriptaccess = "always";
    params.allowfullscreen = "true";

    var attributes = {};
    attributes.id = "ModelViewerInner";
    attributes.name = "ModelViewerInner";
    attributes.align = "middle";

    invokeLater(function () {
        swfobject.embedSWF(
                path, "flashMovie",
                "400", "400",
                swfVersionStr, xiSwfUrlStr,
                flashvars, params, attributes);
        // JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.
        {#		swfobject.createCSS("#flashMovie", "display:block;text-align:left;position:relative;");#}
    });
</script>
<div id="flashMovie" style="position: relative; width: 200px; height: 150px;"></div>