<div class=""
     id="options"
     ng-controller="optionsCtrl"
     ng-init="change3dOptions();"
>


    {% if not product.not_change %}


        <div class="ui stackable grid options_top">

            <div class="six wide column title_part">
                {% if product.type.slug == 'bathes' %}
                    <div class="block_title" style="">Выберите опции<br/>или готовую комплектацию <a ng-click="clearAllOptions(global.current_product_id);"
                                                                                                     class="small clear_all_options">Сбросить</a></div>
                {% else %}
                    <div class="block_title" style="">Выберите опции</div>
                {% endif %}
            </div>

            <div class="complectations ten wide right aligned column ">
                {% if product.type.slug == 'bathes' %}
                    <div class="ui pointing stackable compact menu">
                        {% for complectation in complectations %}
                            <a class="item {{ complectation.slug }}"
                               ng-click="loadOptionsComplectation(global.current_product_id, '{{ complectation.id }}'); global.complectation = '{{ complectation.slug }}';"
                               ng-class="{active: global.complectation == '{{ complectation.slug }}'}">
                                <i class="{{ complectation.icon }} icon"></i>
                                {{ complectation.name }}
                            </a>
                        {% endfor %}

                        <a class="item" ng-class="{active: global.complectation == 'custom'}"
                           ng-click="global.complectation = 'custom'; clearAllOptions(global.current_product_id);">
                            <i class="puzzle icon"></i>
                            Кастом
                        </a>
                    </div>
                {% endif %}

            </div>
        </div>

    {% else %}
        <div class="ui stackable grid options_top">

            <div class="six wide column title_part">
                <div class="block_title" style="">Комплектация</div>
            </div>

            <div class="complectations ten wide right aligned column ">
            </div>
        </div>

    {% endif %}

    <div class="ui stackable grid">
        {% if request.user_agent.is_mobile %}
            <div class="sixteen wide column block_options_wrapper">
                {% include "products/blocks/product_options.html" %}
            </div>
        {% else %}
            <div class="six wide column">
                <div class="product_3d">
                    {% include "products/blocks/m3d.html" %}
                </div>
            </div>

            <div class="ten wide column block_options_wrapper">
                {% include "products/blocks/product_options.html" %}
            </div>
        {% endif %}
    </div>

    <div class="block ui white modal block_option_desc" ng-controller="itemCtrl">
        {#        <div class="close" ng-click="global.blockdesc.url=''; ">Закрыть</div>#}
        <div class="close">Закрыть</div>
        <div ng-include="global.blockdesc.url" onload="refreshModal();">
            <img src="/static/images/default.png" height="650" alt="">
        </div>
    </div>

</div>