{% load hramik_tags %}

<div class="block block_options"
     ng-mouseenter="block_options_hover = true; "
     ng-mouseleave=""
>

    {# BASE COMPLECTATION#}
    <div class="group" ng-controller="optionGroupCtrl">
        <div class="product_option base"
        >
            <product_option
                    class="option_value available_true"
                    ng-controller="optionCtrl"
                    ng-class="['active_'+active, 'load_'+load]"
                    {% if current_user.is_staff %}ng-click="changeBase();"{% endif %}
                    ng-init="active=true;">

                <span class="option_name">Базовая комлектация</span>
                <span ng-init="rand=1;"
                      ng-click="global.blockdesc.url='/_base_complectation_{{ product.id }}?r={? rand ?}'; global.openoption = $event.currentTarget; global.blockdesc.show=1; initVideojs();
                      rand=rand+1;"
                      class="show_help"
                      da-modal=".ui.modal.block_option_desc">?</span>


                {% if current_site.is_shop %}
                    <span class="option_price">{{ product.price|price }} {{ current_site.currency }}</span>
                {% endif %}

            </product_option>
        </div>
    </div>

    {# PRODUCT OPTIONS LOOP #}
    {% for product_option in product_options %}

        {# GROUP WARPER ----------------------------------------------------------------------------------------------------------------------- #}

        {% if forloop.first %}
            <div class="group" ng-controller="optionGroupCtrl" ng-init="active_option=''; slug='{{ product_option.option.group.slug }}'">
        {% endif %}


    {% ifchanged product_option.option.group %}{#        NEW GROUP  #}
        </div>
        <div class="group" ng-controller="optionGroupCtrl" ng-init="active_option=''; slug='{{ product_option.option.group.slug }}'">
    {% endifchanged %}

    {# END GROUP WARPER ----------------------------------------------------------------------------------------------------------------------- #}

    <div class="product_option {{ product_option.option.slug }}">

        {# GROUP NAME  ----------------------------------------------------------------------------------------------------------------------- #}

        {% if product_option.option.group.slug != "none" %}

            {% ifchanged product_option.option.group %}{#        NEW GROUP  #}
                {% if not request.user_agent.is_mobile %}
                    <div class="option_name group_name">
                        <span>{{ product_option.option.group.name }}</span>
                        {% if product_option.option.group.desc %}
                            <span ng-init="rand=1;"
                                  ng-click="global.blockdesc.url='/_option_{{ product_option.option.group.slug }}?r={? rand ?}'; initVideojs(); rand=rand+1;"
                                  class="show_help" da-modal=".ui.modal.block_option_desc">?</span>
                        {% endif %}
                    </div>
                {% endif %}
            {% endifchanged %}
        {% endif %}

        {# / GROUP NAME ----------------------------------------------------------------------------------------------------------------------- #}


        <product_option class="option_value"
                        ng-controller="optionCtrl"
                        ng-class="['active_'+active, 'load_'+load, 'available_'+available]"
                        {% if product_option.option.group.slug != "none" %}style="margin-left: 0;"{% endif %}
                        {% if product_option.option.group.slug %}group="{{ product_option.option.group.slug }}"{% endif %}


                        ng-init="{% if product_option.id in options_session or product_option.action %}active=true; onOption();{% else %}active=false;{% endif %}
                  group_{{ product_option.option.group.slug }}_active_slug = '{{ product_option.option.slug }}';
                  price='{{ product_option.price }}';
                  none_price='{{ product_option.option.none_price }}';
                  slug='{{ product_option.option.slug }}';
                  id='{{ product_option.id }}';
                  product_id='{{ product_option.product.id }}';
                  {% for dependent_option in product_option.option.dependent.all %}addDependent('{{ dependent_option.slug }}');{% endfor %}
                  {% for dependent_group in product_option.option.dependent_group.all %}addGroupDependent('{{ dependent_group.slug }}');{% endfor %}
                  {% for exclude_option in product_option.option.exclude.all %}addExclude('{{ exclude_option.slug }}');{% endfor %}
                  initOption();"

        >

            <span {% if not product.not_change %}{% if not product_option.action %}ng-click="global.complectation='custom'; changeOption(); "{% endif %}{% endif %}>
            {% if request.user_agent.is_mobile and product_option.option.group.name != 'None' %}
                <div class=""><b>{{ product_option.option.group.name }}</b></div>
            {% endif %}
                {{ product_option.option.name }} {% if current_user.is_superuser %}{% endif %}
            </span>
            {% if product_option.option.desc %}<span ng-init="rand=1;"
                                                     ng-click="global.blockdesc.url='/_option_{{ product_option.option.slug }}?r={? rand ?}'; global.blockdesc.show=1;
                                                     setCurrent();
                                                     initVideojs(); rand=rand+1;"
                                                     class="show_help"
                                                     da-modal=".ui.modal.block_option_desc"
            >?</span>
            {% endif %}
        
        {% if current_user.is_superuser %}
            <a href="{% url 'admin:products_optionprice_change' product_option.pk %}" target="_blank"><i class="ui pencil icon"></i></a>
        {% endif %}

            {#        {% else %}#}
            {##}
            {# OPTION DESC #}
            {#            {% if product_option.option.desc %}#}
            {#                <div class="option_desc">{{ product_option.option.desc }}</div>#}
            {#            {% endif %}#}
            {##}
            {# OPTION NAME #}
            {##}
            {#            <product_option class="option_value"#}
            {#                            ng-controller="optionCtrl"#}
            {#                            ng-class="['active_'+active, 'load_'+load, 'available_'+available]"#}
            {##}
            {#                            ng-init="{% if product_option.id in options_session %}active=true; {% else %}active=false; {% endif %}#}
            {#                  price='{{ product_option.price }}';#}
            {#                  slug='{{ product_option.option.slug }}';#}
            {#                  id='{{ product_option.id }}';#}
            {#                  product_id='{{ product_option.product.id }}';#}
            {#                  {% for dependent_option in product_option.option.dependent.all %}addDependent('{{ dependent_option.slug }}');{% endfor %}#}
            {#                  {% for dependent_group in product_option.option.dependent_group.all %}addGroupDependent('{{ dependent_group.slug }}');{% endfor %}#}
            {#                  {% for exclude_option in product_option.option.exclude.all %}addExclude('{{ exclude_option.slug }}');{% endfor %}#}
            {#                  initOption();"#}
            {##}
            {#                            ng-click="changeOption();"#}
            {##}
            {#                    >#}
            {##}
            {#            {{ product_option.option.name }}#}


            <span class="option_slug" style="display: none;">{{ product_option.option.slug }}</span>

            {% if current_site.is_shop and not product_option.option.none_price %}
                <span class="option_price"
                      {% if not product.not_change %}ng-click="global.complectation='custom'; changeOption();"{% endif %}
                >{{ product_option.price|price }}
                    {{ current_site.currency }}</span>
            {% endif %}


        </product_option>
    </div>

    {# LAST GROUP WARPER ----------------------------------------------------------------------------------------------------------------------- #}

    {% if forloop.last %}
        <span ng-init="checkDependent(); change3dOptions();"></span>
        </div> <!--class="group"-->
    {% endif %}

        {# LAST GROUP WARPER ----------------------------------------------------------------------------------------------------------------------- #}



    {% endfor %}


</div>



