{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}



{% block body_classes %}not-front about{% endblock %}

{% block title %}{% trans "About" %} | {% trans "Vimarko" %} | {% trans "Restaurant distant voyages" %}{% endblock %}
{% block pagetitle %}{% trans "О" %}{% endblock %}



{% block intro %}
    {% trans "<p>Качаясь в волнах, как в дитя в люльке, я узнал несколько букв О. Кирилицку О, полную, как Луна. Латинянскую О, острую, словно брюхо вспороли. Познал я и Омикрон, что у греков, недоомегу, серединную букву. Узнал и Малаялам и Валоун. Что я могу сказать про букву эту. А то, что это не нуль. Далеко не нуль. </p>" %}

{% endblock %}

{% block content %}


{% endblock %}


{% block sidebar %}

    <div class="sidebar_breakfast block ">

        <p>Уважаемые гости, из каждой группы блюд Вы можете выбрать  по одной позиции.
            Каждый завтрак подается с хлебом и маслом.</p>

    </div>

    <div>Стоимость завтрака <h3>50 грн.</h3></div>
{% endblock %}