{% extends "triton_ua/tri_base.html" %}
{% load cache %}
{% load i18n %}
{% load thumbnail %}


{% block body_classes %}no-front action product-part action-page {% endblock %}

{% block controller %}
    ng-controller="productsCtrl"
{% endblock %}



{% block tophead %}
    {% if entity.slug == 'bath' %}
    {% if current_site.site.id == 1 or current_site.site.id == 86 %}
        <link rel="canonical" href="http://{{ current_site.site.domain }}/"/>
    {% endif %}
    {% endif %}
{% endblock %}


{% block intro %}
{% endblock %}



{% block content %}

    <div class="ui stackable grid">

        <div class="sixteen wide column">
            {#    {% cache 3600 entity.slug cache_cats current_site "products_list" %}#}
            {% include "products/list.html" with notlazzy=True %}
            {#    {% endcache %}#}
        </div>

    </div>


{% endblock %}



