{% extends "triton_ua/tri_base.html" %}
{% load cache %}
{% load i18n %}
{% load thumbnail %}


{% block title %}{% trans "Triton" %} | Комплектующие {% endblock %}
{% block meta %}
    <meta name="Keywords" content="Ванны"/>

{% endblock %}

{#{% block meta_desc %}{% endblock %}#}

{% block body_classes %}no-front components product-part components-page{% endblock %}
{% block pagetitle %}Комплектующие{% endblock %}


{% block content %}

    {% cache 3600 components_view %}
        <div class="view components_view">

            {% for product in components %}

                <div class="views_row">


                    <div class="field_img">
                        {#                    {% thumbnail product.photo "160x160" format="PNG" as im %}#}
                        <a href="{% url 'tri:component' product.slug %}">
                            <img style="margin:{{ im|margin:"160x160" }}" src="{{ product.photo.url }}"
                                 alt="{{ photo.alt }}"
                                 title="{{ photo.title }}"
                                 ng-init="{{ product.dot_slug }}_img_url='{{ product.photo.url }}'"/>
                        </a>
                        {#                    {% endthumbnail %}#}
                    </div>
                    <h4 class="field_title"><a href="{% url 'tri:component' product.slug %}">{{ product.title }}</a>
                    </h4>

                    <div class="field_teaser">{{ product.body|safe }}</div>


                </div>
            {% endfor %}
        </div>
    {% endcache %}


{% endblock %}

