{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block title %} Заявка на подключение | {% trans "Don Apex" %} | {% trans "оператор связи" %}{% endblock %}
{% block meta_desc %} {{ page.meta_desc }} {% endblock %}
{% block body_classes %} page page-tv_channels not-front{% endblock %}
{% block pagetitle %}Заявка на подключение  {% endblock %}


{% block top_content %}
    {{ block.super }}
    {% if second_menu %}
        {% include "triton_ua/blocks/second_menu.html" %}
    {% endif %}
    {#    <ul class="pagepart_menu">#}
    {#    {% for pagepart in page.pagepart_set.all %}#}
    {#        <li class="pagepart_name" row="row_{{ forloop.counter }}">{{ pagepart.title }}</li>#}
    {#    {% endfor %}#}
    {#    </ul>#}
{% endblock %}

{% block content %}
    {% if request_data %}
          {{ request_data }}<br><br>
    {% endif %}

    <div class="teaser">Для отправки заявки на подключения к Интернет заполните все поля формы и нажмите кнопку
        «Отправить». Наши специалисты свяжутся с Вами в кратчайшие сроки.
    </div>

    <form action="/connect/" name='connect' id='connect' method="post">
    {% csrf_token %}

        {#        ФАМИЛИО ИМЯ ОТЧЕСТВО#}
        <div class="fio_form_group form_group">
            <div class="form_item">
                <label for="Name">Имя</label>
                <input type="text" name="Name" class="Name"/>
            </div>
            <div class="form_item">
                <label for="Patronymic">Отчество</label>
                <input type="text" name="Patronymic" class="Patronymic"/>
            </div>

            <div class="form_item">
                <label for="Surname">Фамилия</label>
                <input type="text" name="Surname" class="Surname"/>
            </div>

            <div class="form_hint">введите свою фамилию, имя и отчество</div>
        </div>

        {#        ГОРОД#}
        <div class="city_form_group form_group">
            <div class="form_item">
                <label for="City">Город</label>
                <select id="City" name="City">
                    {% for city in cities %}
                        <option value="{{ city.name }}">{{ city.name }}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="form_hint">выберите город</div>
        </div>

        {#        АДРЕС#}
        <div class="address_form_group form_group">
            <div class="form_item">
                <label for="Street">Улица</label>
                <input type="text" name="Street" class="Street"/>
            </div>
            <div class="form_item">
                <label for="House">Дом</label>
                <input type="text" name="House" class="House"/>
            </div>

            <div class="form_item">
                <label for="Flat">Квартира</label>
                <input type="text" name="Flat" class="Flat"/>
            </div>

            <div class="form_hint">введите название улицы, номер дома, номер квартиры/офиса</div>
        </div>

        {#        НАЗВАНИЕ ФИРМЫ#}
        <div class="firm_form_group form_group">
            <div class="form_item">
                <label for="Title">Название фирмы</label>
                <input type="text" name="Title" class="Title"/>
            </div>

            <div class="form_hint">введите название фирмы <br>(для юридических лиц)</div>
        </div>

        {#        НАЗВАНИЕ ФИРМЫ#}
        <div class="phone_form_group form_group">
            <div class="form_item">
                <label for="Phone">Телефон</label>
                <input type="text" name="Phone" class="Phone"/>
            </div>

            <div class="form_hint">введите телефоны (домашний/мобильный), рабочий (для юр. лиц)</div>
        </div>

        {#        ТАРИФ#}
        <div class="tarif_form_group form_group">
            <div class="form_item">
                <label for="Tariff">Тариф</label>
                <select id="Tariff" name="Tariff">
                    {% for tarif in tarifs %}
                        <option value="{{ tarif.name }}">{{ tarif.name }} ({{ tarif.price }} {{ tarif.price_value }})
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form_hint">выберите тариф доступа в Интернет</div>

        </div>

        {#        ОТКУДА#}
        <div class="known_form_group form_group">
            <div class="form_item">
                <label for="Known">Опрос</label>
                <select id="Known" name="Known">
                    {% for known in knowns  %}
                        <option value="{{ known.name }}">{{ known.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form_hint">откуда Вы узнали о нас?</div>

        </div>


        <input class="form_submit button" type="submit" value="Отправить">


    </form>



{% endblock %}

{% block sidebar %}
    {% if page.form %}
        {% include page.form %}
    {% endif %}
{% endblock %}

