{% extends "triton_ua/tri_base.html" %}
{% load cache %}
{% load i18n %}
{% load thumbnail %}


{% block title %}{% trans "Triton" %} | Дилеры {% endblock %}
{% block meta %}
    <meta name="Keywords" content="Ванны"/>

{% endblock %}

{#{% block meta_desc %}{% endblock %}#}

{% block body_classes %}no-front view-page{% endblock %}
{% block pagetitle %}Дилеры{% endblock %}


{% block content %}

    {#    {% cache 500 products_list %}#}

    <table>

    {% for dealer in dealers %}
    <tr>
        <td style="padding-right: 10px;">{{ dealer.city }}</td>
        <td style="padding-right: 10px;">{{ dealer.title }}</td>
        <td>{{ dealer.phone }}</td>
    </tr>
    {% endfor %}

    </table>


    {#    {% endcache %}#}


{% endblock %}
