{% extends "triton_ua/tri_base.html" %}
{% load cache %}
{% load i18n %}
{% load thumbnail %}


{% block content %}


    <div class="ui center aligned basic segment">
        <div class="ui statistic">
            <div class="value">
                <i class="shipping icon"></i>
                1-3
            </div>
            <div class="label">
                дня
            </div>
        </div>
    </div>


    <p>Сроки доставки оговариваются с менеджером и зависят от товара, который вы заказали и наличия его на складе. Обычно, мы можем отгрузить ванну (без врезанных гидромассажных
        систем) и весь остальной товар на следующий день.</p>

    <p>Ванну, требующую врезки гидромассажных систем – на третий день.</p>

    <p>Отгрузка и врезка гидромассажных систем осуществляется со складов региональных дистрибьюторов Тритон. Доставка – курьерской службой, например DPD или транспортом
        регионального
        дистрибьютора.</p>

    <div class="ui divider"></div>

    <div class="ui centered h4 header">Стоимость доставки зависит от типа товара и адреса доставки.<br/>
        При заказе нескольких единиц товара стоимость доставки суммируется.
    </div>

    <br/><br/>

    <div class="ui three statistics">
        <div class="statistic">
            <div class="text value">
                {? site_json.delivery_capital ?}
            </div>
        </div>
        <div class="statistic">
            <div class="text value">
            </div>
        </div>
        <div class="statistic">
            <div class="text value">
                {? site_json.delivery_region ?}
            </div>
        </div>
    </div>

    <div class="ui divider"></div>

    {% for city, region in deliveries %}
        <div class="ui three statistics">
            <div class="statistic">
                <div class="value">
                    {{ city.json.bath }}
                </div>
                <div class="label">
                    {{ current_site.currency }}
                </div>
            </div>
            <div class="statistic">
                <div class="text value">
                    Ванна, душевой поддон
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    {{ region.json.bath }}
                </div>
                <div class="label">
                    {{ current_site.currency }}
                    {% if region.json.km %}
                        + {{ region.json.km }} {{ current_site.currency }}/км {{ region.json.from }}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="ui divider"></div>

        <div class="ui three statistics">
            <div class="statistic">
                <div class="value">
                    {{ city.json.bath_hydro }}
                </div>
                <div class="label">
                    {{ current_site.currency }}
                </div>
            </div>
            <div class="statistic">
                <div class="text value">
                    Ванна с гидромассажем
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    {{ region.json.bath_hydro }}
                </div>
                <div class="label">
                    {{ current_site.currency }}
                    {% if region.json.km %}
                        + {{ region.json.km }} {{ current_site.currency }}/км {{ region.json.from }}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="ui divider"></div>


        <div class="ui three statistics">
            <div class="statistic">
                <div class="value">
                    {{ city.json.bathcab }}
                </div>
                <div class="label">
                    {{ current_site.currency }}
                </div>
            </div>
            <div class="statistic">
                <div class="text value">
                    Душевая кабина
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    {{ region.json.bathcab }}
                </div>
                <div class="label">
                    {{ current_site.currency }}
                    {% if region.json.km %}
                        + {{ region.json.km }} {{ current_site.currency }}/км {{ region.json.from }}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="ui divider"></div>


        <div class="ui three statistics">
            <div class="statistic">
                <div class="value">
                    {{ city.json.mebel }}
                </div>
                <div class="label">
                    {{ current_site.currency }}
                </div>
            </div>
            <div class="statistic">
                <div class="text value">
                    Мебель
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    {{ region.json.mebel }}
                </div>
                <div class="label">
                    {{ current_site.currency }}
                    {% if region.json.km %}
                        + {{ region.json.km }} {{ current_site.currency }}/км {{ region.json.from }}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="ui divider"></div>


        <div class="ui three statistics">
            <div class="statistic">
                <div class="value">
                    {{ city.json.mixer }}
                </div>
                <div class="label">
                    {{ current_site.currency }}
                </div>
            </div>
            <div class="statistic">
                <div class="text value">
                    Смеситель
                </div>
            </div>
            <div class="statistic">
                <div class="value">
                    {{ region.json.mixer }}
                </div>
                <div class="label">
                    {{ current_site.currency }}
                    {% if region.json.km %}
                        + {{ region.json.km }} {{ current_site.currency }}/км {{ region.json.from }}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="ui divider"></div>

    {% endfor %}


{% endblock %}