{% extends "triton_ua/tri_base.html" %}



{% block tophead %}
    {% if page.photo %}
        <meta property="og:image" content="http://{{ current_site }}{{ page.photo.url }}"/>
    {% endif %}

    <meta property="og:title" content="{{ page.title }}"/>

    {% if page.teaser %}
        <meta property="og:description" content="{{ page.teaser }}"/>
    {% else %}
        <meta property="og:description" content="{{ page.body|truncatewords_html:100 }}"/>
    {% endif %}
{% endblock %}


{% load i18n %}
{% load thumbnail %}
{% load hramik_tags %}

{% block title %}{{ page.title }} | {% trans "Triton" %} | {% trans "продажа ванн" %} {% endblock %}
{% block meta_desc %} {{ page.meta_desc }} {% endblock %}
{% block body_classes %} page page-{{ page.slug }} page-{{ page.id }} not-front{% endblock %}

{% block pagetitle %}
    <span class="{% if not page.publish %}red{% endif %}">{{ page.h1 }}</span>
    {% if current_user.is_staff %}
        <a class="small" href="{% url 'admin:node_seonode_change' page.pk %}">редактировать страницу</a>
    {% endif %}
{% endblock %}


{% block top_content %}
    {{ block.super }}
    {% if second_menu %}
        {% include "triton_ua/blocks/second_menu.html" %}
    {% endif %}
    {#    <ul class="pagepart_menu">#}
    {#    {% for pagepart in page.pagepart_set.all %}#}
    {#        <li class="pagepart_name" row="row_{{ forloop.counter }}">{{ pagepart.title }}</li>#}
    {#    {% endfor %}#}
    {#    </ul>#}
{% endblock %}

{% block content %}

{#    <iframe src="http://www.3tn.ru/check_login" frameborder="0"></iframe>#}
    
    {% if page.photo and page.show_photo %}
        <div class="page_image" style="width: 200px; height: 200px;">
            {% thumbnail page.photo "200x200" crop='center' as im %}
                {% if colorbox %}
                    <a href="{{ page.photo.url }}" colorbox><img src="{{ im.url }}" alt=""/></a>
                {% else %}
                    <img src="{{ im.url }}" alt=""/>
                {% endif %}
            {% endthumbnail %}
        </div>
    {% endif %}

    {#    {% if page.teaser %}#}
    {#        <div class="teaser">{{ page.teaser|safe|urlize }}</div>#}
    {#    {% endif %}#}
    <div id="node">
        {% if page.body_clear %}
            {% render page.body|safe %}
        {% else %}
            {% render page.body|safe|linebreaks  %}
        {% endif %}
    </div>

    {#    <tarifpackage tarifslug="home_work"></tarifpackage>#}

    {% if page.products %}
        <div class="products">
            {% for product in page.products.all %}
                {#                                    <a class="product" href="{% url 'nodes.node' product.dot_slug %}">{{ product.title }}</a>#}
                <a class="product" href="/{{ product.dot_slug }}">{{ product.title }}</a>
            {% endfor %}
        </div>
    {% endif %}

    <div class="pageparts">
        {% for pagepart in pageparts %}

            <div class="pagepart row_{{ forloop.counter }}" row="row_{{ forloop.counter }}"
                 name="row_{{ forloop.counter }}">
                <h3 class="pagepart_title">{{ pagepart.title }}
                    <div class="to_top">Вверх</div>
                    {% if pagepart.city.id > 1 %}<span class="current_city">{{ pagepart.city }}</span>{% endif %}</h3>
                <div class="pagepart_body">

                    {{ pagepart.body|safe|linebreaks|urlize }}
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}

{% block sidebar %}
    {% if page.form %}
        {% include page.form %}
    {% endif %}
{% endblock %}

