{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block title %} "Планировщик ванной комнаты" | {% trans "Triton" %} | {% trans "продажа ванн" %} {% endblock %}
{% block meta_desc %} {{ page.meta_desc }} {% endblock %}
{% block body_classes %} page page-3d  not-front{% endblock %}
{% block pagetitle %}Планировщик ванной комнаты{% endblock %}

{% block controller %}ng-controller="trideCtrl"{% endblock %}

{% block content %}


    <div class="desc">
        <p>Создайте уникальный интерьер своей ванной комнаты с помощью программы планировки. Благодаря нашей программе, Вы с легкостью сможете выбрать подходящую форму и размер
            комнаты, наполнить ее ваннами и мебелью из коллекции Тритон.</p>


        <h3>Системные требования </h3>

        <ul class="requirements">
            <li>2.33ГГц и выше x86 процессор, или Intel® Atom™ 1.6ГГц и выше для нетбуков</li>

            <li>Microsoft® Windows® XP, Windows Vista®, Windows 7 x86 и x64, Mac OS X v10.6 или v10.7, Red Hat® Enterprise Linux 5.6 и выше, openSUSE® 11.3 и выше, Ubuntu 10.04 и
                выше x86 и x64
            </li>

            <li>Internet Explorer 7.0 и выше, Mozilla Firefox 4.0 и выше, Google Chrome, Safari 5.0 и выше, Opera 11
            </li>
            <li>1Гб ОЗУ, 128MB графической памяти
            </li>
        </ul>

        <p>
            Убедитесь, что в Вашем браузере включен плагин <b>Adobe Flash</b>, а также что ваш <b>Firewall</b> разрешает загрузку swf файлов. Если у Вас медленное соединение с
            интернетом, загрузка приложения может занять более минуты.
        </p>

        <img src="/media/images/misc/3d_steps.png" alt=""/>

        <p>

        <div class="ui primary huge button" ng-click="global.tride_show=1;" ng-init="global.tride_show=0;">Начать</div>
        </p>

    </div>

    {% include 'tride/flash_3d.html' %}

{% endblock %}


