{% extends "triton_ua/tri_base.html" %}
{% load cache %}
{% load i18n %}
{% load thumbnail %}


{% block body_classes %}no-front baths product-part entity-page {% endblock %}

{% block controller %}
    ng-controller="productsCtrl"
{% endblock %}


{% block tophead %}
    {% if entity.slug == 'bath' %}
    {% if current_site.site.id == 1 or current_site.site.id == 86 %}
        <link rel="canonical" href="http://{{ current_site.site.domain }}/"/>
    {% endif %}
    {% endif %}
{% endblock %}

{% block intro %}
{% endblock %}


{% block header %}
    {{ block.super }}

    {% if request.user_agent.is_mobile %}
        <div class="ui filter fixed icon blue basic small button" style="top:4rem; left: 1rem; z-index:850;" da-modal=".ui.mobile_filters.modal" ng-cloak>
            <i class="filter icon"></i>
        </div>
    {% endif %}

{% endblock %}


{% block content %}

    <div class="ui stackable grid">


        <div class="thirteen wide column">
            {#    {% cache 3600 entity.slug cache_cats current_site "products_list" %}#}
            {% include "products/list.html" with notlazzy=True %}
            {#    {% endcache %}#}
        </div>

        <div class="three wide column">
            <noindex>
                {% if request.user_agent.is_mobile %}

                    <div class="ui white modal mobile_filters">
                        <i class="close icon"></i>

                        {% include "triton_ua/blocks/products_block/products_filter.html" %}
                    </div>

                {% else %}
                    {% include "triton_ua/blocks/products_block/products_filter.html" %}
                {% endif %}
            </noindex>
        </div>
    </div>


{% endblock %}



