{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}


{% block title %}{% trans "Triton" %} | {% trans "продажа ванн" %}{% endblock %}

{#{% block meta_desc %}{% endblock %}#}

{% block body_classes %}no-front search {% endblock %}
{% block pagetitle %}Поиск: <span class="search_query">{{ query }}</span>{% endblock %}

{% block controller %}
    ng-controller="searchCtrl"
{% endblock %}


{% block intro %}
{% endblock %}


{% block content %}



    <div id="ya-site-results" onclick="return {'tld': 'ru', 'language': 'ru', 'encoding': ''}"></div>
    <script type="text/javascript">(function (w, d, c) {
        var s = d.createElement('script'), h = d.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.charset = 'utf-8';
        s.src = (d.location.protocol === 'https:' ? 'https:' : 'http:') + '//site.yandex.net/v2.0/js/all.js';
        h.parentNode.insertBefore(s, h);
        (w[c] || (w[c] = [])).push(function () {
            Ya.Site.Results.init()
        })
    })(window, document, 'yandex_site_callbacks'
    )
    ;</script>


    {#    <div class="view search_view">#}
    {#        {% for product in search_baths %}#}
    {#            <div class="views_row">#}
    {##}
    {#                     {% if product in cart %}CART{% endif %}#}
    {##}
    {#                {% for photo in product.additionalphoto_set.all|slice:":1" %}#}
    {#                    <div class="field_img">#}
    {#                        {% thumbnail photo.photo "160x160" format="PNG" as im %}#}
    {#                            <a href="/baths/{{ product.slug }}">#}
    {#                                <img style="margin:{{ im|margin:"160x160" }}" src="{{ im.url }}" alt="{{ photo.alt }}"#}
    {#                                     title="{{ photo.title }}"#}
    {#                                     ng-init="{{ product.slug }}_img_url='{{ im.url }}'"/>#}
    {#                            </a>#}
    {#                        {% endthumbnail %}#}
    {#                    </div>#}
    {#                {% endfor %}#}
    {#                <h4 class="field_title"><a href="/baths/{{ product.slug }}">{{ product.title }}</a></h4>#}
    {##}
    {#                <div class="field_parameters">{{ product.length }} x {{ product.width }} x {{ product.height }} мм</div>#}
    {##}
    {#                <div class="field_teaser">{{ product.teaser }}</div>#}
    {#                {% if current_site.is_shop %}#}
    {#                    <div class="field_price">{{ product.price }} ₴</div>#}
    {#                {% endif %}#}
    {#            </div>#}
    {#        {% endfor %}#}
    {##}
    {#    </div>#}


{% endblock %}

{#{% block sidebar %}#}
{#    {% include "triton_ua/blocks/products_block/products_filter.html" %}#}
{#{% endblock %}#}
