{% extends "triton_ua/tri_base.html" %}
{% load cache %}
{% load i18n %}
{% load thumbnail %}


{% block title %}{% trans "Triton" %} | {{ title }} {% endblock %}
{% block meta %}
{% endblock %}

{#{% block meta_desc %}{% endblock %}#}

{% block body_classes %}no-front view-page{% endblock %}
{% block pagetitle %}{{ title }}{% endblock %}


{% block content %}

{#    {% cache 500 products_list %}#}
<ul class="site_structure">

    {#        {% for product in products %}#}
    {#            {{ product.title }} {{ product.pk }} <br/>#}
    {#        {% endfor %}#}


    <h3><a href="/group-produkt">Продукция</a></h3>


    {#    BATHS#}
    <h4><a href="baths">Ванны</a></h4>
    {% regroup baths by get_form as baths_list %}
    {% for product in baths_list %}
        <h5>{{ product.grouper.title }}</h5>
        <ul>

            {% for item in product.list %}
                <li><a href="{% url 'nodes:node' item.dot_slug %}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}



    {#    MEBEL#}
    <h4><a href="mebel">Мебель для ванной</a></h4>
    {% regroup mebel by get_type as mebel_list %}
    {% for product in mebel_list %}
        <h5>{{ product.grouper.title }}</h5>
        <ul>

            {% for item in product.list %}
                <li><a href="{% url 'nodes:node' item.dot_slug %}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    {% endfor %}

    {#    BATHCABS#}
    <h4><a href="bathcabs">Душевые кабины</a></h4>
    <ul>
        {% for item in bathcabs %}
            <li><a href="{% url 'nodes:node' item.dot_slug %}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>


    {% regroup pages by node_type as pages_list %}

    {% for page in pages_list %}
        <h4>{{ page.grouper }}</h4>
        <ul>
            {% for item in page.list %}
                <li>
                    {% if item.dot_slug %}
                        <a href="{% url 'nodes:node' item.dot_slug %}">
                    {% endif %}
                    {{ item.title }}

                    {% if item.dot_slug %}
                        </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endfor %}

    <h3>Форум</h3>
    <ul>
        {% for question in questions %}
            <li>
                <a href="{% url 'tri:question_details' id=question.id %}">{{ question.body|striptags|truncatewords:10 }}</a>
            </li>
        {% endfor %}
    </ul>

</ul>
{#    {% endcache %}#}


{% endblock %}

