{% extends "triton_ua/tri_base.html" %}

{#{% load i18n %}#}
{#{% load thumbnail %}#}
{#{% load cache %}#}
{##}
{#{% block meta_desc %}{% endblock %}#}
{##}
{#{% block body_classes %}front{% endblock %}#}
{#{% block pagetitle %}{% endblock %}#}
{##}
{##}
{##}
{#{% block intro %}#}
    {#    {{ current_site.logo.url }}#}
{#{% endblock %}#}
{##}
{#{% block controller %}#}
{#    ng-controller="mainCtrl"#}
{#{% endblock %}#}
{##}
{##}
{#{% block in_body %}#}
{#    {{ block.super }}#}
{#    {% cache 3600 slides current_site %}#}
{#        {% include "triton_ua/blocks/slideshow.html" %}#}
{#    {% endcache %}#}
{#{% endblock %}#}
{##}
{##}
{##}
{% block content %}
{##}
{##}
{#    {% if main_links %}#}
{#        {% include "triton_ua/blocks/for_main/main_links.html" %}#}
{#    {% endif %}#}
{##}
    {#    {% if baths and not current_site.is_shop %}#}
    {#        {% cache 3600 baths_friday %}#}
    {#            {% include "triton_ua/blocks/for_main/main_view.html" with products=baths view_id=1 entity_slug='bath' categories_types=baths_types cache_cats='front' %}#}
    {#        {% endcache %}#}
    {#    {% endif %}#}
{##}
    {##}
    {#    {% if furnitures %}#}
    {#        {% cache 3600 furnitures_friday %}#}
    {#            {% include "triton_ua/blocks/for_main/main_view.html" with products=furnitures view_id=2 entity_slug='furniture'  categories_types=mebel_types %}#}
    {#        {% endcache %}#}
    {#    {% endif %}#}
{##}
    {#    {% if bathscabs %}#}
    {#        {% cache 3600 bathscabs_friday %}#}
    {#            {% include "triton_ua/blocks/for_main/main_view.html" with products=bathscabs view_id=3 entity_slug='bathscab' %}#}
    {#        {% endcache %}#}
    {#    {% endif %}#}
{##}
{##}
    {#    {% include "triton_ua/blocks/second_menu.html" %}#}
{##}
{##}
    {#    {% include "triton_ua/blocks/for_main/main_view.html" with products=baths view_id=1 entity_slug='bath' categories_types=baths_types cache_cats='front' %}#}
{##}
{#    {% if popular_baths %}#}
{#        {% include "products/blocks/custom_list.html" with products=popular_baths title="" class="popular" cache_cats='popular' %}#}
{#    {% endif %}#}
{##}
{##}
    {#    {% if current_user.is_staff %}#}
{#    <div class="" ng-controller="magazineCtrl">#}
{#        {% if last_news_list %}#}
{#            {% include "triton_ua/magazine/three.html" with title=current_site.json.front.news.title items=last_news_list href=current_site.json.front.news.link %}#}
{#        {% endif %}#}
{##}
{#        <div class="fixed all_window top_all overflow_scroll" ng-controller="articleCtrl" ng-show="global.article_details_show">#}
{#            <div class="article_details magazin_ornament repeat_x">#}
{#                <div class="close" ng-click="close();"></div>#}
{#                <div class="wrap">#}
                    {#            {% include "triton_ua/magazine/article.html" with item=last_article width=1120 height=500 geometry="1120x500" with_body=True %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    {% if baths and not current_site.is_shop %}#}
{#        {% cache 3600 baths_friday %}#}
{#            {% include "products/list.html" with products=baths %}#}
{#        {% endcache %}#}
{#    {% endif %}#}
{##}
    {#    {% endif %}#}
{##}
    {#    {% if last_news_list %}#}
    {#        {% cache 3600 news %}#}
    {#            {% include "triton_ua/blocks/news.html" with news_list=last_news_list %}#}
    {#        {% endcache %}#}
    {#    {% endif %}#}
{##}
{#    {% if current_site.json.front.text %}#}
{#        <div class="block front_desc_block">{{ current_site.json.front.text|safe }}</div>#}
{#    {% endif %}#}
{##}
{##}
{#    {% if product_history %}#}
{#        {% include "products/blocks/custom_list.html" with products=product_history without_filter=True title="Последние просмотренные товары" class="last_view" nocache=True %}#}
{#    {% endif %}#}
{##}
{#    {% if favorite %}#}
{#        {% include "products/blocks/custom_list.html" with products=favorite without_filter=True title="Избранные" class="favorite_view" nocache=True %}#}
{#    {% endif %}#}
{#    {% if cart %}#}
        {#        {% include "triton_ua/blocks/products_block/baths_cart.html" with products=cart %}#}
{#    {% endif %}#}
{##}
{##}
{% endblock %}