{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block body_classes %}{{ block.super }} main{% endblock %}
{% block title %}{% trans "Triton" %} | {{ title }} {% endblock %}
{% block pagetitle %}{{ seo_meta.title }}{% endblock %}
{% block content %}

{#    <div class="last_article block">#}
{#        {% include "triton_ua/magazine/article.html" with item=last_item width=600 height=350 geometry="600x300" %}#}
{#    </div>#}


    <div class="items block three_block ">
        <div class="wrap">

            <div class="items_view view " hr-scroll-load=".items_view" ng-init="global.next_page=2;">
                {% include "triton_ua/magazine/list.html" %}
            </div>

        </div>
    </div>

{% endblock %}