

<h2>Внимание!</h2>

<strong>{{ form.author }}</strong> оставил комментарий к {{ product.title }}. <br/>
<a href="http://triton.webfactional.com/admin/products/productcomment/{{ comment.id }}/">http://triton.webfactional.com/admin/products/productcomment/{{ comment.id }}/</a>


<h4>Комментарий</h4>
<p>
    {{ form.body }}
</p>

<h4>Плюсы</h4>
<p>{{ form.plus_comment }}</p>

<h4>Минусы</h4>
<p>{{ form.minus_comment }}</p>

Email автора: {{ form.email }}