<h2>Внимание!</h2>


Поступил новый заказ на готовое решение.<br/>
{#<a href="http://3tn.ru/admin_tri_ua/solutionorder/{{ data.id }}/">admin/solutionorder/{{ data.id }}/</a>#}
<a href="http://3tn.ru{% url "admin:tri_solutionorder_change" data.id %}">просмотреть</a>
