{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load hramik_tags %}

{% block title %}{{ page_title }} | {% trans "Vimarko" %} | {% trans "Restaurant distant voyages" %}{% endblock %}

{% block body_classes %}news not-front two-col {% endblock %}

{% block sidebar %}

{% endblock %}

{% block content %}
    {% for node in nodes %}
        <div class="node rel="{{ node.id }}">

            <h3 class="node_title"><a href="/{{ verbose_name }}/{{ node.slug }}"><span class="title">{{ node.title }}</span></a> <span class="date">{{ node.pub_date }}</span> </h3>
            <div class="body">

                {{ node.teaser }}

                {% if node.body  %}
                    <a href="/{{ verbose_name }}/{{ node.slug }}" class="more">Подробнее</a>
                {% endif %}

            </div>

        </div>
    {% endfor %}

    {% include "triton_ua/lib/paginator.html" with items=nodes %}




{% endblock %}