{% extends "triton_ua/tri_base.html" %}

{% load i18n %}
{% load thumbnail %}

{% block title %}{{ page_title }} | {% trans "Vimarko" %} | {% trans "Restaurant distant voyages" %}{% endblock %}

{% block body_classes %}news not-front two-col {% endblock %}

{% block pagetitle %}{{ page_title }}{% endblock %}


{% block content %}

    <h2 id="page-title">{{ node.title }} <span class="date">{{ node.pub_date }}</span></h2>


    <div id="node">
        {{ node.body}}
    </div>

   {% endblock %}
