{% extends "zavatarro/zavatarro_base.html" %}

{% load i18n %}
{% load thumbnail %}
{% load cache %}

{% block body_style %}background{% endblock %}


{% block content %}

    <style>
        body.zavatarro .ui.form .field input,
        .ui.blue.header{
        color: {? global.bathcolor ?} !important;
    }

    .ui.basic.blue.button,
    .ui.basic.blue.buttons .button{
        box-shadow: 0 0 0 1px {? global.bathcolor ?} inset !important;
        color: {? global.bathcolor ?} !important;
    }


    </style>

    <script>
        $(document).ready(function () {

            $('.animation_sender')
                    .visibility({
                        once: false,
                        continuous: true,
                        onPassing: function (calculations) {
                            console.log(calculations);
                            var newLeft = calculations.percentagePassed;
                            var rel = $(this).attr('rel');
                            $('.animation_target[rel=' + rel + ']').each(function (index) {
                                $(this).css($(this).attr('css'), newLeft * $(this).attr('factor'));
                            });
                        }
                    });
        });
    </script>


    {#    -------------------------------------------------------------------------------------- #}

    <div class="ui vertical center aligned inverted segment basic passed top animation_sender" rel="top"
         style="background: url(/static/images/zavatarro/bgs/guitar.jpg) no-repeat; background-size: cover;">

        <div class="ui grid page">

            <div class="column">


                <img src="/static/images/zavatarro/logo.png" class="ui centered image logo" alt="">
                {#                <h1 class="ui center aligned header">#}
                {#                </h1>#}


                <img src="/static/images/zavatarro/arno-logo.png" class="ui centered image model-logo" alt="">

                <h3 class="ui center aligned inverted  header">
                    <div class="sub header">Шорох подола, атласная лента, стук каблучков по мостовой. Тонкие шпили, изящные шеи, тонкий аромат духов.
                        Шлейфы, бабочки, высокое сапрано. И вся жизнь — подиум с нескончаемыми овациями.
                    </div>
                </h3>

                <img src="/static/images/zavatarro/baths/grand.png" class="ui centered image bath animation_target" alt="" style="margin-top: 5rem; margin-bottom: 2rem;">


                {% include "zavatarro/parts/buy.html" %}
                {% include "zavatarro/parts/color.html" %}

            </div>
        </div>

    </div>

    <div style="position: relative;">
        <img src="/static/images/zavatarro/bgs/florence/florence_0.png" class="animation_target centered image city" rel="top" css="left" alt="" factor="-100">
        <img src="/static/images/zavatarro/bgs/florence/florence_1.png" class="animation_target centered image city" rel="top" css="left" alt="" style="position: absolute;"
             factor="-200">
        <img src="/static/images/zavatarro/bgs/florence/florence_2.png" class="animation_target centered image city" rel="top" css="left" alt="" style="position: absolute;"
             factor="140">
        <img src="/static/images/zavatarro/bgs/florence/florence_2.png" class="animation_target centered image city" rel="top" css="left" alt="" style="position: absolute;"
             factor="-400">
        <img src="/static/images/zavatarro/bgs/florence/florence_3.png" class="animation_target centered image city" rel="top" css="left" alt="" style="position: absolute;"
             factor="-20">
    </div>

    {#    -------------------------------------------------------------------------------------- #}


    <div class="ui vertical segment center aligned basic inverted handmaid">


        <div class="ui grid ">

            <div class="column">

                <h2 class="ui center aligned blue header">
                    <div class="content">Ванна ручной работы</div>
                </h2>

                <div class="teaser ui container">
                    <p>ARNO — гелькоут ванна выполненная по технологии MFM. Manual Forming Method (метод ручного формования) специально разработан специалистами Triton. Метод
                        позволяет
                        получить максимально прочный компонент при минимальной массе изделия. По методу MFM производят яхты класса люкс, пропеллеры ветровых генераторов, крылья
                        современных гражданских авиалайнеров и военное оборудование различного назначения.</p>
                </div>



                <div class="big_image_wrapper" style="position: relative; margin: -15vw 0 -10vw 0;">

                    <img src="/static/images/zavatarro/baths/grand/topfront.jpg" class="ui fluid centered image bath topfront big_image" alt="">

                    <svg version="1.1" id="Layer_1" style="position: absolute; top: 0; left: 0; mix-blend-mode: multiply;"  viewBox="0 0 1754 1355" enable-background="new 0 0 1754 1355"
     xml:space="preserve">
                        
                        <polygon fill="{? global.bathcolor ?}" points="143.9,895.6 1605.2,895.6 1595.9,912.2 154.5,912.9 "/>
                        <polygon fill="{? global.bathcolor ?}" points="199.2,988.2 1550.5,987.6 1542.5,1001.6 206.5,1001.6 "/>
                        <path fill="#F389B8" d="M1478.8,381l-1217.6,1L64.1,793.6l16.5,25.3h1579.3l16.6-25.3L1478.8,381z M846.5,730.9
                            c-15.3,0-27.7-9.2-27.7-20.5c0-11.3,12.4-20.5,27.7-20.5c15.3,0,27.7,9.2,27.7,20.5C874.2,721.7,861.8,730.9,846.5,730.9z
                             M885.2,489.9l-1.7,2h-84l-1.7-3.7l-0.7-8l0.3-16l2-3h83.3l3,3.3L885.2,489.9z"/>
                        <rect x="818.5" y="474.6" fill="{? global.bathcolor ?}" width="46.7" height="4.7"/>
l.bathcolor ?}" points="199.2,988.2 1550.5,987.6 1542.5,1001.6 206.5,1001.6 "/>
                        <path fill="{? global.bathcolor ?}" d="M1478.8,381l-1217.6,1L64.1,793.6l16.5,25.3h1579.3l16.6-25.3L1478.8,381z M846.5,730.9
                            c-15.3,0-27.7-9.2-27.7-20.5c0-11.3,12.4-20.5,27.7-20.5c15.3,0,27.7,9.2,27.7,20.5C874.2,721.7,861.8,730.9,846.5,730.9z
                             M885.2,489.9l-1.7,2h-84l-1.7-3.7l-0.7-8l0.3-16l2-3h83.3l3,3.3L885.2,489.9z"/>
                        <rect x="818.5" y="474.6" fill="{? global.bathcolor ?}" width="46.7" height="4.7"/>


                    </svg>
                </div>


{#                {% include "zavatarro/parts/buy.html" %}#}


            </div>
        </div>

    </div>


    {#    -------------------------------------------------------------------------------------- #}


    <div class="ui vertical segment center aligned basic inverted size">

        <div class="ui grid ">

            <div class="column">

                <h2 class="ui center aligned inverted header">
                    <div class="content">1800мм х 800мм х 605мм</div>
                </h2>


                <div class="teaser ui container">
                    <p>Ванна будет удобна людям большого роста – длина купели 180 сантиметров. Монтируется ванна на небольшие ножки. Благодаря прочному каркасу из металла, она
                        устойчива и может выдержать вес двух людей.</p>
                </div>

                <div class="big_image_wrapper" style="position: relative; margin: -7vw 0 -10vw 0;">

                    <img src="/static/images/zavatarro/baths/grand/top.jpg" class="ui fluid centered image bath bottom big_image" alt="">

                    <svg style="position: absolute; top: 0; left: 0; mix-blend-mode: multiply;" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 1498 974"
                         enable-background="new 0 0 1498 974" xml:space="preserve">
                        <path fill="{? global.bathcolor ?}" d="M133.5,201.7v556h1250.7v-556H133.5z M735.9,421.6c-11.9,0-21.5-9.6-21.5-21.5
	s9.6-21.5,21.5-21.5c11.9,0,21.5,9.6,21.5,21.5S747.8,421.6,735.9,421.6z M773,301.2l-1.2,9.2l-82.3-0.3l-1.7-8.8v-4.5H773V301.2z"
	/>
                    </svg>
                </div>


{#                {% include "zavatarro/parts/buy.html" %}#}


            </div>
        </div>

    </div>

    {#    -------------------------------------------------------------------------------------- #}


    <div class="ui vertical segment center aligned basic inverted screens animation_sender" rel="bottom">

        <div class="ui grid ">

            <div class="column">


                <h2 class="ui center aligned blue header">
                    <div class="content">Cотни варинатов.</div>
                </h2>

                <div class="teaser ui page basic segmemnt">
                    <p>Изюминка модели – лицевые и торцевые экраны, точно воссоздающие рисунок натурального светлого дуба.</p>
                </div>

                <div class="teaser ui page spectrum basic segmemnt" style="padding-top: 2rem;">
                    <div class="white">Выберите цвет</div>
                    <br>
                    <spectrum-colorpicker ng-model="global.bathcolor" format="'rgb'"></spectrum-colorpicker>
                </div>

                <div class="big_image_wrapper" style="position: relative; margin: -23vw 0 -10vw 0;">

                    <img id="scream" src="/static/images/zavatarro/baths/grand/front.jpg" class="ui fluid centered image bath front big_image" alt="">

                    <svg class="" style="position: absolute; top: 0; left: 0; mix-blend-mode: multiply;" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 1754 1355"
                         enable-background="new 0 0 1754
                    1355"
                         xml:space="preserve">

                        <rect x="144.5" y="666.2" fill="{? global.bathcolor ?}" width="1465.9" height="40"/>
                        <rect x="144.5" y="829.2" fill="{? global.bathcolor ?}" width="1465.9" height="40"/>
                        <rect x="131.5" y="505.1" fill="{? global.bathcolor ?}" width="1483.4" height="36.8"/>
                    </svg>
                </div>
                {#                <canvas id="myCanvas" style="display: block; width: 100%; margin: -20vw 0 -15vw 0;"></canvas>#}

                {#                <script>#}
                {##}
                {#                    var draw = function (fill_color) {#}
                {#                        var canvas = document.getElementById("myCanvas");#}
                {#                        var context = canvas.getContext("2d");#}
                {#                        context.globalCompositeOperation = 'soft-light';#}
                {##}
                {#                        context.beginPath();#}
                {##}
                {#                        context.rect(132, 504, 1482, 37);#}
                {#                        context.fillStyle = fill_color;#}
                {#                        context.fill();#}
                {##}
                {#                        context.rect(146, 665, 1464, 40);#}
                {#                        context.fill();#}
                {##}
                {#                        context.rect(145, 830, 1465, 40);#}
                {#                        context.fill();#}
                {#                    };#}
                {##}
                {#                    window.onload = function () {#}
                {#                        var canvas = document.getElementById("myCanvas");#}
                {#                        var context = canvas.getContext("2d");#}
                {#                        var img = document.getElementById("scream");#}
                {##}
                {#                        var callback = function (image) {#}
                {#                            if (!image) image = this;#}
                {#                            canvas.width = img.width;#}
                {#                            canvas.height = img.height;#}
                {#                            context.drawImage(image, 0, 0);#}
                {#                        };#}
                {##}
                {##}
                {#                        if (img.complete) { //check if image was already loaded by the browser#}
                {#                            callback(img);#}
                {#                            draw('black');#}
                {#                        } else {#}
                {#                            img.onload = callback;#}
                {#                        }#}
                {#                    }#}
                {#                </script>#}


                {% include "zavatarro/parts/buy.html" %}


            </div>
        </div>

    </div>

    {#    -------------------------------------------------------------------------------------- #}


    <div class="ui vertical segment center aligned basic inverted handmaid">

        <div class="ui grid ">

            <div class="column">

                <h2 class="ui center aligned  blue header">
                    <div class="content">Сосредоточься на деталях</div>
                </h2>


                <div class="teaser ui grid page">
                    <p>Ванна будет удобна людям большого роста – длина купели 180 сантиметров. Монтируется ванна на небольшие ножки. Благодаря прочному каркасу из металла, она
                        устойчива и может выдержать вес двух людей.</p>
                </div>


                <div class="ui center aligned four column page doubling grid" style="margin: 6rem 0;">

                    <div class="column">
                        <img src="/static/images/zavatarro/icons/hydromassage.png" class="ui tiny centered image" alt="" style="">

                        <div class="ui inverted header">Гидромассаж</div>
                    </div>

                    <div class="column">
                        <img src="/static/images/zavatarro/icons/headrest.png" class="ui tiny centered image" alt="" style="">

                        <div class="ui inverted header">Подголовник</div>
                    </div>

                    <div class="column">
                        <img src="/static/images/zavatarro/icons/mixer.png" class="ui tiny centered image" alt="" style="">

                        <div class="ui inverted header">Смеситель</div>
                    </div>

                    <div class="column">
                        <img src="/static/images/zavatarro/icons/grips.png" class="ui tiny centered image" alt="" style="">

                        <div class="ui inverted header">Ручки</div>
                    </div>

                </div>


{#                {% include "zavatarro/parts/buy.html" %}#}


            </div>
        </div>

    </div>

    {#    -------------------------------------------------------------------------------------- #}

    <div class="ui vertical center aligned inverted segment basic footer " style="background: url(/static/images/zavatarro/bgs/florence_bottom.jpg)
    no-repeat; background-size: cover; height: 1000px;">

        <div class="ui grid page">

            <div class="column">

                <div style="" class="bottom_poetry">
                    «…мы на холм идем,<br/>
                    Где церковь смотрит на юдоль порядка<br/>
                    Над самым Рубаконтовым мостом,<br/>
                    И в склоне над площадкою площадка<br/>
                    Устроены еще с тех давних лет,<br/>
                    Когда блюлась тетрадь и чтилась кадка…»<br/>
                    <br/>
                    <small>Данте, «Божественная комедия»</small>
                </div>

                {#                <img src="/static/images/zavatarro/logo.png" class="ui centered image logo" alt="">#}
                {#                <h1 class="ui center aligned header">#}
                {#                </h1>#}

                {#                <img src="/static/images/zavatarro/arno-logo.png" class="ui centered image model-logo" alt="">#}

            </div>
        </div>

    </div>
    <img src="/static/images/zavatarro/bgs/florence_clear.png" class="animation_target centered image bottom_city" rel="bottom" css="left" alt="" factor="-1000" alt="">
{% endblock %}