{% load cache %}


{#{% cache 500 main_views %}#}

<div class="main_view_wrapper scroll" ng-show="global.main_view_{{ view_id }}" ng-cloak>

    {% include "triton_ua/blocks/products_block/products_filter.html"  %}

    <div class="close" ng-click="global.main_view_{{ view_id }}=0;">Закрыть
    </div>

    <div class="main_view " id="main_view_{{ view_id }}">
        {#        {% include "oblaka/blocks/products_block/products_filter.html" %}#}
        {% include "products/list.html" %}
    </div>

</div>
{#{% endcache %}#}
