{% load thumbnail %}


<div class="main_links block" id="main_links">
    <div class="links_container">
        {% for link in main_links %}


            {#            <div class="main_link main_link_{{ link.id }}" ng-click="global.main_view_{{ link.id }}=1;" style="background-image: url({{ link.img.url }})">#}
            <a class="main_link main_link_{{ link.id }} is_pc_{{  request.user_agent.is_pc }}"
                    {% if  link.id > 0 %} href="{{ link.url }}" {% else %} da-modal=".ui.baths.modal" {% endif %}>
                <img src="{{ link.img.url }}" >

                {#                <a class="main_link_a" href="{{ link.url }}">#}
{#                <a class="main_link_a" {% if  link.id > 1 %} href="{{ link.url }}" {% endif %}>#}
                    <div class="main_link_title">{{ link.title }}</div>

                    <div class="desc">{{ link.desc }}</div>
{#                </a>#}

                {#                <div class="openhere"#}
                {#                     ng-click="global.main_view_{{ link.id }}=1; ">#}
                {#                    открыть тут#}
                {#                </div>#}
            </a>

        {% endfor %}
    </div>
</div>


