<div class="paginator">
    <span class="step-links">
        {% if items.has_previous %}
           <!-- <a href="{{ core_url }}{% if items.previous_page_number > 1 %}?page={{ items.previous_page_number }}{% endif %}" class="prev_page">предыдущая</a>-->
            <a {% if items.previous_page_number > 1 %}onclick="javascript:Dajaxice.mi.flat_table(Dajax.process,{'page':{{ items.previous_page_number }}});"{% endif %} class="prev_page">предыдущая</a>

        {% endif %}

        {% comment %}  <span class="current">
            Страница {{ items.number }} из {{ items.paginator.num_pages }}.
        </span>{% endcomment %}

        <span class="pages">

            {% for page in items.paginator.page_range %}
                {% ifequal page items.number %}
                    <span class="current_page page">{{ page }}</span>
                {% else %}
                    <!--<a href="{{ core_url }}{% if page > 1 %}?page={{ page }}{% endif %}" class="page">{{ page }}</a>-->
                    <a  class="page" onclick="javascript:Dajaxice.mi.flat_table(Dajax.process,{'page':{{ page }}});">{{ page }}</a>
                    <!--javascript:Dajaxice.mi.flat_filter(Dajax.process,{'form':$('#flat_filter_form').serialize(true)});-->
                {% endifequal %}
            {% endfor %}


        </span>

        {% if items.has_next %}
            <a {% if items.next_page_number > 1 %}onclick="javascript:Dajaxice.mi.flat_table(Dajax.process,{'page':{{ items.next_page_number  }}});"{% endif %} class="next_page">следующая</a>
        {% endif %}
    </span>
</div>