{% extends "base/base.html" %}
{#{% load flatblocks %}#}
{% load cache %}
{% load thumbnail %}


{% block js %}
{% endblock %}


{% block css %}
{% endblock %}



{% block head %}

    {{ block.super }}

    {#    <script type="text/javascript" src="/static/js/OptionsBuilder.js"></script>#}


    {#    <link rel="shortcut icon" type="image/ico" href="/static/images/favicon.ico"/>#}


    {% include 'triton_ua/blocks/header/'|add:current_site.site.name|add:"/meta.html" %}
    {% include 'triton_ua/blocks/header/'|add:current_site.site.name|add:"/counters.html" %}
    {% include 'triton_ua/blocks/header/'|add:current_site.site.name|add:"/scripts.html" %}



{% endblock %}

{% block tag_manager %}
{% endblock %}

{% block in_body %}
    {% include 'triton_ua/blocks/header/'|add:current_site.site.name|add:"/after_body.html" %}
{% endblock %}




{#{% block site_logo %}<img src="{{ current_site.logo.url }}" alt=""/>  {% endblock %}#}


{% block header %}

    <div class="logo">
        <a href="/">
            {% if front %}
                <h1 class="site-title" style="background: url({{ current_site.logo.url }}) no-repeat 0 0;">
                    {{ current_site.title }}
{#                    <img src="{{ current_site.logo.url }}" alt="">#}
                </h1>
                {#                    {% elif product.entity.slug == 'bath' %}#}
                {#                        <h1 class="site-title" style="background: url({{ current_site.logo.url }}) no-repeat 0 0;">#}
                {#                            {{ product.second_title }} {{ product.title }}</h1>#}
            {% else %}
                <div class="site-title" style="background: url({{ current_site.logo.url }}) no-repeat 0 0;">
                    {{ current_site.title }}</div>
            {% endif %}

            <div class="site-slogan">{{ current_site.slogan }}</div>

        </a>
    </div>

    {#        <div class="address">проспект Театральный, 24, Донецк, Украина, 83050 | <a href="#">схема проезда</a></div>#}
    {% if not current_user.is_staff %}
        <div class="main_phone" ng-controller="callbackCtr">
            {{ current_site.phone }}

            {% if not current_site.is_shop %}
                <div class="service_phone">Сервисный центр. Звонок по России бесплатный.</div>
            {% else %}
                <a class="to_callback"
                   ng-click="global.callback_form_modal_show=1; reachYandexGoal('OPEN_CALLBACK_FORM'); reachGoogleGoal('Callback', 'Open', 'Open Callback Form');">Заявка на
                    обратный звонок</a>
            {% endif %}

            {% if current_site.operation_time %}
                <div class="operation_time"><strong>время работы:</strong> {{ current_site.operation_time }}</div>
            {% endif %}
        </div>{% endif %}

    {#    <div class="cities">#}
    {#        {% for city in cities %}#}
    {#            <div class="city {% if city = current_city %}current{% endif %} " rel="{{ city.slug }}">{{ city.name }}</div>#}
    {#        {% endfor %}#}
    {#    </div>#}
    {% include 'triton_ua/blocks/header/'|add:current_site.site.name|add:"/search_block.html" %}

    {% if current_site.is_shop and not path == '/cart' %}
        {% include "triton_ua/blocks/products_block/small_cart.html" with products=cart %}
    {% endif %}

    {% include "triton_ua/blocks/accounts.html" %}

    {% if not request.user_agent.is_mobile %}
        {% include "triton_ua/blocks/menu.html" %}
    {% else %}
        {% include "triton_ua/blocks/mobile_menu.html" %}
    {% endif %}




{% endblock %}


{% block top_content %}

    {{ block.super }}
    <div class="breadcrumbs">
        {% for breadcrumb in request.breadcrumbs %}
            <a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>{% if not forloop.last %} &rarr; {% endif %}
        {% endfor %}
    </div>




    {% if not front %}
        {% block pagetitle_wrap %}<h1 id="page-title" class="">{% block pagetitle %}{{ seo_meta.h1 }}{% endblock %}</h1>{% endblock %}
    {% endif %}

    {% if seo_meta.h2 %}
        <h2 id="page-second-title">{% block page_second_title %}{{ seo_meta.h2 }}{% endblock %}</h2>
    {% endif %}

    {% block name %}{% endblock %}
{% endblock %}


{% block footer %}

    <div class="copyright">
        {% block copyright %}{% endblock %}
    </div>

    {% include 'triton_ua/blocks/footer/'|add:current_site.site.name|add:"/footer.html" %}
{% endblock %}


{% block extra_body %}
    {% include "products/parts/forms.html" %}
    {% include 'products/parts/discounts.html' with modal_name="discount_desc" block_title="Получить скидку" %}
    <div class="footer_bg"></div>
{% endblock extra_body %}