{% load thumbnail %}
{% load hramik_tags %}

{% for user in users %}
    <user class="user active_{?active?}"
          ng-class="{nonactive: !active}"
          ng-controller="userCtrl"
          ng-init="
                                    id='{{ user.id }}';
                                    active='{{ user.active }}';
                                    type='{{ advuser_type }}';
                                ">


        <div class="ui five columns grid">
            <div class="column">
                <div class="ui horizontal segment">
                    {% include "triton_ua/helper/avatar.html" with width='50' height='50' user_profile=user.user_profile %}

                    {% if user.stars %}
                        <div class="stars">★{{ user.stars }}</div>
                    {% endif %}

                    {% if user.company %}
                        <div class="title">{{ user.company }}</div>
                    {% endif %}

                </div>
            </div>
            <div class="column">
                <div class="ui horizontal segment">
                    {% url 'tri:another_profile' username=user.user_profile.user.username as user_url %}
                    <a class="title" href="{{ user_url }}">
                        {% if user.user_profile.user.first_name %}{{ user.user_profile.user.first_name }}<br/>{% endif %}
                        {% if user.user_profile.user.last_name %}{{ user.user_profile.user.last_name }}</a> <br/>{% endif %}
                    <a class="username" href="{{ user_url }}">{{ user.user_profile.user.username }}</a>

                </div>
            </div>
            <div class="column">
                <div class="ui horizontal segment">
                    <br/><br/>
                    {% if user.education %}
                        <div class="education"><b>Образование:</b> {{ user.education }}</div>
                    {% endif %}

                    {% if user.profession %}
                        <div class="profession"><b>Профессия:</b> {{ user.profession }}</div>
                    {% endif %}

                    {% if user.employment %}
                        <div class="employment"><b>Трудоустройство:</b> {{ user.employment }}</div>
                    {% endif %}

                    {% if user.come_enable %}
                        <div class="come_enable"><b>Приехать:</b> {% if user.come_enable == True %}<i class="icon green circle check"></i>{% else %}
                            <i class="icon red times circle"></i>{% endif %}</div>
                    {% endif %}

                    <div class="ui top attached label">Дополнительная информация</div>

                </div>
            </div>
            <div class="column">
                <div class="ui horizontal segment">
                    <br/><br/>
                    <a class="phone" href="tel:{{ user.user_profile.phone }}">{{ user.user_profile.phone }} </a>

                    {% if user.dealer_point_address %}
                        <div class="dealer_point_address">{{ user.dealer_point_address }}</div>
                    {% endif %}

                    {% if user.dealerprofilepointphone_set %}
                        <div class="dealer_phones">
                            {% for phone in user.dealerprofilepointphone_set.all %}
                                {{ phone.phone }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="ui top attached label">Контакты</div>


                </div>
            </div>
            <div class="column">
                <div class="ui horizontal segment">
                    {% if advuser_type == 'seller' %}
                        <i class="red" style="font-size: .8em" ng-show="fee_value==0">Укажите процентную ставку</i>
                        <i class="" style="font-size: .8em" ng-hide="fee_value==0">Процентная ставка</i>
                        <input type="number" ng-model="fee_value" ng-init="fee_value={{ user.fee_value }}"/> %
                    {% endif %}
                    {% if advuser_type == 'seller' %}
                        <i class="red" style="font-size: .8em" ng-show="fee_value==0">Укажите процентную ставку</i>
                        <i class="" style="font-size: .8em" ng-hide="fee_value==0">Процентная ставка</i>
                        <input type="number" ng-model="fee_value" ng-init="fee_value={{ user.fee_value }}"/> %
                    {% endif %}

                    {% if project and perms.constructors.approve_freelancer %}
                        {% if not performers %}
                            <i class="action deactive  icon thumbs up" title="Утвердить на проект" ng-click="approve('{{ project.id }}', '{{ user.id }}');">Утвердить на проект</i>
                        {% endif %}
                        {% if performers %}
                            <a class="action contract icon file" title="Договор" href="/constructors/project/{{ project.id }}/contract/{{ user.id }}" target="_blank">Договор</a>
                            <i class="action deactive  icon thumbs down" title="Снять с проекта" ng-click="deapprove('{{ project.id }}', '{{ user.id }}');">Снять с проекта</i>
                        {% endif %}
                    {% endif %}

                    {% if advuser_type == 'seller' %}
                        <i class="action active icon thumbs up" ng-click="activate_seller();" title="Активировать" ng-hide="fee_value==0 || active"></i>
                        <i class="action deactive icon thumbs down" ng-click="deactivate();" title="Деактивировать" ng-show="active"></i>
                    {% else %}
                        <i class="action active  icon thumbs up" ng-click="activate();" title="Активировать" ng-hide="active"></i>
                        <i class="action deactive icon thumbs down" title="Деактивировать" ng-click="deactivate();" ng-show="active"></i>
                    {% endif %}
                    <i class="action ui icon delete" title="Удалить" ng-click="delete();"></i>


                </div>
            </div>
        </div>


    </user>

{% endfor %}