{% for item in items %}
    <item class="item approve_{?approve?}"
          ng-class="{nonapprove: !approve}"
          ng-controller="itemCtrl"
          ng-init="
                                    id='{{ item.id }}';
                                    approve='{{ item.approve }}';
                                ">

        <a class="title" href="{% url 'constructors:project' item.id %}">{{ item.title }}</a>

        <div class="pub_date">{{ item.pub_date }} </div>
        {#        <div class="approve">{{ item.approve }} </div>#}

    </item>

{% endfor %}