{% load thumbnail %}

{% for item in items %}

    <item class="item approve_{?approve?}"
          ng-class="{nonapprove: !approve}"
          ng-controller="itemCtrl"
          ng-init="
                                    id='{{ item.id }}';
                                    approve='{{ item.approve }}';
                                ">


        {% if item.file %}
            {% thumbnail item.file "50x50" crop="center" as im %}
                <a class="report_image_{{ forloop.counter }}" rel="im{{ forloop.counter }}" href="{{ item.file.url }}" target="_blank">
                    <img src="{{ im.url }}" alt="" class="avatar" style="{% if border_color %}border-color: {{ border_color }}; {% endif %}"/>
                </a>
            {% endthumbnail %}
        {% endif %}

        {% if item.file1 %}
            {% thumbnail item.file1 "50x50" crop="center" as im %}
                <a class="report_image_{{ forloop.counter }}" rel="im{{ forloop.counter }}" href="{{ item.file1.url }}" target="_blank">
{#                    <img  src="{{ im.url }}" alt="" class="avatar" style="{% if border_color %}border-color: {{ border_color }}; {% endif %}"/>#}
                </a>
            {% endthumbnail %}
        {% endif %}

        {% if item.file2 %}
            {% thumbnail item.file2 "50x50" crop="center" as im %}
                <a class="report_image_{{ forloop.counter }}" rel="im{{ forloop.counter }}" href="{{ item.file2.url }}" target="_blank">
{#                    <img  src="{{ im.url }}" alt="" class="avatar" style="{% if border_color %}border-color: {{ border_color }}; {% endif %}"/>#}
                </a>
            {% endthumbnail %}
        {% endif %}

        <div class="title">{{ item.product }}</div>

        <div class="pub_date">{{ item.pub_date }} </div>
        {#        <div class="approve">{{ item.approve }} </div>#}

        {% if perms.triusers.approve_sellerreport %}
            <div class="username">{{ item.seller.user_profile.user.username }}</div>
            <a class="phone" href="tel:{{ item.seller.user_profile.phone }}">{{ item.seller.user_profile.phone }} </a>
        {% endif %}

        <div class="price">{{ item.price }} {{ current_site.currency }}</div>


        <div class="actions">
            {% if perms.triusers.approve_sellerreport %}
                <div class="action approve" ng-click="approve_report();" ng-hide="approve">Поддтвердить</div>
            {% endif %}

            {% if perms.triusers.delete_sellerreport %}
                <div class="action delete" ng-click="delete();" ng-hide="approve">Удалить</div>
            {% endif %}
        </div>
    </item>

{% endfor %}