<div class="da-slideshow">
    <div class="slideshow_wrapper" ng-transclude ng-swipe-left="next();" ng-swipe-right="prev();" ng-style=""></div>

    <div class="pager">
        <a href="" class="page" ng-click="select(slide, $index);" ng-repeat="slide in slides" ng-class="{active:slide.active}">{{ $index+1 }}</a>
    </div>

    <a class="prev misc_icons-prev" ng-click="prev();" ng-show="is_prev"><img ng-src="{{ previmg }}"/></a>
    <a class="next misc_icons-next" ng-click="next();" ng-show="is_next"><img ng-src="{{ nextimg }}"/></a>

<!--    <div class="sound_on_off off" ng-click="sound(); muted=0;" ng-show="muted">включить звук</div>
    <div class="sound_on_off off" ng-click="mute(); muted=1;" ng-hide="muted">выключить звук</div>-->
</div>