<div class="actions">
    <div class="add_to_favorite" ng-click="addFavorite({{ product.id }}); in_favorite=1;"
         ng-show="!in_favorite">Добавить к избранному
    </div>

    <div class="delete_from_favorite"
         ng-click="deleteFavorite({{ product.id }}); in_favorite=0;"
         ng-show="in_favorite">Убрать из избранного
    </div>
    <br/>
    <div class="add_to_comparsion"
         ng-click="addComparsion({{ product.id }}); in_comparsion=1;"
         ng-show="!in_comparsion">Добавить к сравнению
    </div>

    <div class="delete_from_comparsion"
         ng-click="deleteComparsion({{ product.id }}); in_comparsion=0;"
         ng-show="in_comparsion">Убрать из сравнения
    </div>
    <br/>
    <a class="to_comparsion" ng-show="in_comparsion" href="/comparsion">Перейти к
        сравнению</a>
</div>