<div class="agree_make_review">
    {#        <input type="checkbox" name="agree_make_review_check" id="agree_make_review_check" ng-checked="global.cart.agree_make_review == 'true'" ng-model="global.cart.agree_make_review" ng-change="set_agree_make_review(); reachYandexGoal('DISCOUNT'); reachGoogleGoal('Discount', 'Check', 'Check Discount Checkbox');"/>#}
    {#        #}

    <input type="checkbox"
           name="agree_make_review_check"
           id="agree_make_review_check"
           ng-checked="global.cart.agree_make_review == 'true'"
           ng-model="agree_make_review"
           ng-change="set_agree_make_review(); reachYandexGoal('DISCOUNT'); reachGoogleGoal('Discount', 'Check', 'Check Discount Checkbox');"
    />

    <label for="agree_make_review_check">Я согласен оставить отзыв после покупки и получить +1% скидки</label>
</div>

