<div class="buttons_wrap">
    {% if current_order %}
        {% include "triton_ua/modals/approve.html" %}
    {% endif %}
    <div class="ui vertical buttons" ng-show="!in_cart">

        {% if not product.action %}
            <div class="ui button orange to_cart_button " da-modal-click='.ui.modal.approve' ng-click="addCart(); in_cart=1;">
                В корзину
            </div>
        {% endif %}




        {% if product.action or not onlybuy %}
            <div class="ui button quick_buy_button {% if not product.action %}hide{% else %}red{% endif %}"
                 ng-click="global.quick_order_form_modal_show=1; global.quick_product.title='{{ product.title }}';  global.quick_order.product_id='{{ product.id }}';  global.quick_product.im_url='{{ product.photo.url }}';  global.quick_product.parameters='{{ product.length }} x {{ product.width }} x {{ product.height }} мм'; global.quick_product.price='{{ product.price }}'; reachYandexGoal('OPEN_ONE_CLICK_BUY_FORM'); reachGoogleGoal('Oneclick', 'Open', 'Open Product In One Click');">

            {% if not product.action %}Купить в 1 клик{% else %}Купить{% endif %}
            </div>
        {% endif %}
        {#        <div class="button credit_buy_button hide"#}
        {#             ng-click="global.credit_order_form_show=1; global.quick_product.title='{{ product.title }}';   global.quick_product.im_url={{ product.slug }}_img_url;  global.quick_product.parameters='{{ product.length }} x {{ product.width }} x {{ product.height }} мм'; global.quick_product.price='{{ product.price }} {{ current_site.currency }}';">#}
        {#            Купить в кредит#}
        {#        </div>#}
        {% if not onlybuy %}
            <div class="ui button credit_buy_button hide"
                 ng-click="global.callback_form_modal_show=1; global.callback.product_id='{{ product.id }}'; global.quick_product.title='{{ product.title }}'; global.quick_product.im_url='{{ product.photo.url }}';  global.quick_product.parameters='{{ product.length }} x {{ product.width }} x {{ product.height }} мм'; global.quick_product.price='{{ product.price }}'; reachYandexGoal('OPEN_ADVICE_FORM'); reachGoogleGoal('Advice', 'Open', 'Open Advice Form');">
                Консультация
            </div>
        {% endif %}
    </div>


    <div class="in_cart_buttons" ng-show="in_cart">
        <small>Этот товар в корзине</small>
        <div class="button ui red delete_from_cart_button" ng-click="deleteFromCart(); in_cart=0;">
            Удалить
        </div>
    </div>
</div>


