{% if product.length or product.width or product.height or product.depth or product.value %}
    <div class="product_chars ui basic vertical segment basic five column center aligned grid" ng-cloak>
        {% if product.length %}
            <div class="field_length char column">
                <span class="field_label">Длина:</span>
                <span class="field_value">{{ product.length }} мм</span>
            </div>
        {% endif %}

        {% if product.width %}
            <div class="field_width char column">
                <span class="field_label">Ширина:</span>
                <span class="field_value">{{ product.width }} мм</span>
            </div>
        {% endif %}

        {% if product.height %}
            <div class="field_height char column">
                <span class="field_label">Высота:</span>
                <span class="field_value">{{ product.height }} мм</span>
            </div>
        {% endif %}

        {% if product.depth %}
            <div class="field_depth char column">
                <span class="field_label">Глубина:</span>
                <span class="field_value">{{ product.depth }} мм</span>
            </div>
        {% endif %}

        {% if product.value %}
            <div class="field_value_ char column">
                <span class="field_label">Объем:</span>
                <span class="field_value">> {{ product.value }} л</span>
            </div>
        {% endif %}


    </div>

{% endif %}