{% extends "base/modal.html" %}

{% load i18n %}
{% load thumbnail %}

{% block modal_addition %}
    {#    ng-show="global.show_login"#}
{% endblock %}

{% block modal_class %}middle{% endblock %}

{% block modal_title %}
    {{ block_title }}
{% endblock %}

{% block modal_content %}

    <noindex>
        <div class="discounts">
            {% for discount in discounts %}
                <div class="discount">
                    <div class="discount_value">{{ discount.value }}%</div>

                    <div class="discount_title">{{ discount.title }}</div>
                    <div class="discount_desc">{{ discount.body }}</div>
                </div>
            {% endfor %}
        </div>
    </noindex>


{% endblock %}
