<div class="callback_form" ng-show="global.callback_form_modal_show">
    {% include "triton_ua/forms/modal_product_form.html" with form=callback_form block_title="Обратный звонок" submit_text="Позвоните мне" modal_name='callback_form' name_form='callback_form' controller="callbackCtr" gracie="Наш специалист свяжется с вами в ближайшее время." submit_click=True title=False %}
</div>

<div class="asking_price_form" ng-show="global.asking_price_form_modal_show">
    {% include "triton_ua/forms/modal_product_form.html" with form=callback_form block_title="Запрос цены" submit_text="Узнать цену" modal_name='asking_price_form' name_form='asking_price_form' controller="callbackCtr" submit_click=True title=False  %}
</div>

<div class="quick_order_form" ng-show="global.quick_order_form_modal_show">
    {% include "triton_ua/forms/modal_product_form.html" with form=quick_order_form block_title="Быстрый заказ" submit_text="Купить" modal_name='quick_order_form' name_form='quick_order_form' controller="orderCtr" submit_click=True title=False  %}
</div>

{#{% include "products/forms/quick_order_form.html" with form=quick_order_form %}#}
{#{% include "products/forms/credit_order_form.html" with form=credit_order_form title=False  %}#}