{% if is_order and current_user.is_staff %}
    {% if order.pay_date %}
        <div class="cart_sidebar_block block" ng-controller="orderCtr">
            <i class="ui money huge icon"></i> <br>
            Оплачено <b>{{ order.pay_date }}</b> через: <b>{{ order.pay_agent }}</b><br>
            {{ order }}
            Инвойс <b>{{ order.invoice_id }}</b> на сумму: <b>{{ order.order_sum_amount }} {{ current_site.currency }}</b>
        </div>

        <div class="ui divider"></div>
    {% endif %}

    {% if order.additional_pay_date %}
        <div class="cart_sidebar_block block" ng-controller="orderCtr">
            <i class="icons">
                <i class="ui money huge icon"></i>
                <i class="corner  add icon"></i>
            </i>
            <br>
            Оплачено <b>{{ order.additional_pay_date }}</b> через: <b>{{ order.pay_agent }}</b><br>
            Инвойс <b>{{ order.additional_invoice_id }}</b> на сумму: <b>{{ order.additional_order_sum_amount }} {{ current_site.currency }}</b>
        </div>

        <div class="ui divider"></div>
    {% endif %}



{% endif %}

