{% load hramik_tags %}

{% if product.price != '0' %}

    <div class="field_price">
        {? global.current_price.discount_cart_sum ?} <span class="currency">{{ current_site.currency }}</span>
        {#    <span class="price_sum">(без опций:{{ product.price }} {{ current_site.currency }})</span>#}

    </div>


    {% include "products/helpers/no_region.html" %}

    {% if not current_site.json.not_show_discount %}

        {% if not product.action %}

            <div class="discounts_block">
                <div class="total_price">Без скидки: <span class="value" ng-class="{discount: global.current_price.discount != '0'}">{? global.current_price.cart_sum ?}
                    {{ current_site.currency }}</span></div>
                <div class="your_discount">Ваша скидка: <span class="value">{? global.current_price.discount ?}% = {? global.current_price.discount_value ?}
                    {{ current_site.currency }}</span></div>
                {#    <div class="your_price">Со скидкой: <span class="value">{? current_price.discount_cart_sum ?} {{ current_site.currency }}</span></div>#}
                {% include "products/parts/take_discount.html" %}
            </div>

            <div ng-controller="orderCtr">{% include "products/parts/agree_make_review.html" %}</div>
        {% else %}
            <div class="discounts_block">
                <div class="total_price">Без скидки: <span class="value" ng-class="{discount: global.current_price.discount != '0'}">{? global.current_price.cart_sum ?}
                    {{ current_site.currency }}</span></div>
            </div>
            <div class="your_discount">Ваша скидка: <span class="value">{{ product.discount }}% = {? global.current_price.discount_value ?}
                {{ current_site.currency }}</span></div>
        {% endif %}
    {% endif %}

    {% include "products/parts/buttons.html" %}

    {#    <div class="ui labeled icon button" da-modal=".ui.options.modal" ng-click="reachYandexGoal('OPTIONS'); reachGoogleGoal('Options', 'Open', 'Open Options Modal');">#}
    {#        <i class="ui settings icon"></i>#}
    {#        Опции#}
    {#    </div>#}

    {#    <div class="block options ui white large modal">#}
    {#        <i class="ui close icon"></i>#}
    {##}
    {#        <div class="content">#}
    {#            {% include "products/blocks/options.html" %}#}
    {#            {% include "products/helpers/buy_button.html" %}#}
    {#        </div>#}
    {#    </div>#}


{% else %}
    {% include "products/parts/asking_price.html" %}

{% endif %}

<div class="ui three column grid short_advantages">
    <div class="column">
        <i class="shipping  big blue icon"></i><span>Быстрая доставка</span>
    </div>
    <div class="column">
        <i class="configure big blue icon"></i><span>Сервис</span>
    </div>
    <div class="column">
        <i class="rain  big blue icon"></i><span>Официальная гарантия</span>
    </div>
</div>