{% if not is_order %}
    <div class="cart_sidebar_block block ng-cloak" ng-controller="orderCtr">
        <div class="your_price"><span class="value">{? global.cart.discount_cart_sum ?} {{ current_site.currency }}</span></div>

        {% include "products/helpers/no_region.html" %}


        {% if not current_site.json.not_show_discount %}

            <div class="total_price">Без скидки: <span class="value" ng-class="{discount: global.cart.discount != '0'}">{? global.cart.cart_sum ?}
                {{ current_site.currency }}</span></div>
            <div class="your_discount">Ваша скидка: <span class="value">{? global.cart.discount ?}% = {? global.cart.discount_value ?}
                {{ current_site.currency }}</span></div>
            {#            <div class="your_prepay">Предоплата: <span class="value">{? global.cart.prepay_sum ?} {{ current_site.currency }}</span></div>#}
        {% endif %}

        <div ng-hide="global.order_form_show">

            {% if not current_site.json.not_show_discount %}
                {% include "products/parts/take_discount.html" %}
                {% include "products/parts/agree_make_review.html" %}
            {% endif %}

            <div class="ui primary big button buy_button hide" ng-click="global.order_form_show=1; global.quick_product.title='{{ product.title }}';">
                Оформить заказ
            </div>
        </div>
    </div>

{% else %}
    <div class="cart_sidebar_block block" ng-controller="orderCtr">
        <div class="your_price"><span class="value">{? global.cart.discount_cart_sum_with_delivery ?} {{ order.siteinfo.currency }}</span></div>
        <div class="total_price">Без скидки: <span class="value" ng-class="{discount: global.cart.discount != '0'}">{? global.cart.cart_sum ?} {{ order.siteinfo.currency }}</span>
        </div>
        <div class="your_discount">Ваша скидка: <span class="value">{? global.cart.discount ?}% = {? global.cart.discount_value ?} {{ order.siteinfo.currency }}</span></div>
        <div class="discount_price">Со скидкой: <span class="value">{? global.cart.discount_cart_sum ?} {{ order.siteinfo.currency }}</span></div>
        {#                <div class="delivery" ng-if="global.cart_delivery_sum">{{ order.delivery.title }}: <span class="value">{? global.cart_delivery_sum ?} {{ current_site.currency }}</span></div>#}

        {% for delivery in order.available_delivery_prices %}
            <div class="delivery_price" ng-show="'{{ delivery.slug }}'==global.cart_delivery_slug">{? global.cart.delivery_title ?} : {? global.cart.delivery_price ?}
                {{ current_site.currency }}</div>
        {% endfor %}

        {% if current_user.is_staff %}
            <div class="weight">Вес: {? global.cart.weight ?} кг</div>
            {% if perms.products.can_view_bonus %}
                <div class="bonus pink red">Бонус: {? global.cart.bonus ?} {{ order.siteinfo.currency }}</div>
            {% endif %}
        {% endif %}

    </div>



{% endif %}

{% if is_order and current_user.is_staff and order.can_edit %}
    <div class="cart_sidebar_block block ng-cloak">
        <div da-modal=".ui.modal.add_products" class="ui primary button">Добавить продукцию</div>
    </div>
{% endif %}


<div class="ui divider"></div>
