{% for order_item in orderitems %}
    <b>{{ order_item.duscount_price }}</b>
    <div class="product" style="">{{ order_item.product.title }}<br/>
        {% if order_item.options %}
            <div class="options small" style="font-size: .8rem">
                {% for option in order_item.options.all %}
                    <div class="option">{{ option.option.name }}</div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% if not forloop.last%}<div class="ui divider"></div>{% endif %}
{% endfor %}
