{% load i18n %}
{% load thumbnail %}

<div class="product_thumbs">
    {#Video thumb#}
    {% if product.additionalvideos_set.all %}
        <div class="field_thumb video"
                {% if part == 'video' or not product.additionalphoto_set.all %}
             ng-init="current_slide='video';"
                {% endif %}
             ng-click="current_slide='video';">
            <img src="/static/images/misc/video.png" alt=""/>
        </div>
    {% endif %}

    {# Visors thumbs #}
    {% if product.visor_set.all %}
        {% for visor in product.visor_set.all %}
            <div class="field_thumb tride"
                    {% if forloop.first and part == 'visor' or not product.additionalvideos_set.all %}
                 ng-init="current_slide='visor_{{ forloop.counter }}'; reachYandexGoal('VISOR');  reachGoogleGoal('Visor', 'Open', 'Open Visor Part');"
                    {% endif %}
                 ng-click="current_slide='visor_{{ forloop.counter }}'; reachYandexGoal('VISOR');  reachGoogleGoal('Visor', 'Open', 'Open Visor Part');">
                <img src="/static/images/misc/tride.png" alt=""/>
            </div>
        {% endfor %}
    {% endif %}

    {% if product.additionalvideos_set.all %}
        {% for video in product.additionalvideos_set.all|slice:"1" %}
            <div class="field_thumb photo"

                    {% if not part %}
                 ng-init="current_slide='photo_0'"
                    {% endif %}

                 ng-click="current_slide='photo_0'">
                {% thumbnail video.video_poster "75x75" crop="center" as im %}
                    <img src="{{ im.url }}"/>
                {% endthumbnail %}
            </div>
        {% endfor %}
    {% endif %}

    {#   Photo thumbs #}
    {% for photo in product.additionalphoto_set.all %}

        <div class="field_thumb photo"
                {% if  part == 'photo' %}
                    {% if forloop.first %}
             ng-init="current_slide='photo_{{ forloop.counter }}'"
                    {% endif %}
                {% else %}
                    {% if not product.additionalvideos_set.all %}
             ng-init="current_slide='photo_{{ forloop.counter }}'"
                    {% endif %}
                {% endif %}


             ng-click="current_slide='photo_{{ forloop.counter }}'">
            {% thumbnail photo.photo "75x75" crop="center" as im %}
                <a href_o="{{ photo.photo.url }}" rel="{{ product.slug }}"><img
                        src="{{ im.url }}" alt="{{ photo.alt }}" title="{{ photo.title }}"/></a>
            {% endthumbnail %}
        </div>
    {% endfor %}


</div>


{#colorbox="{transition:'fade'}" #}