{#{% load flatblocks %}#}
{% load cache %}
{% load thumbnail %}


{#{% cache 360000 '3tnru' 'map' %}#}
    {% include "triton_ua/blocks/map.html" %}
{#{% endcache %}#}


{% block first_footer %}
    {% if sale_places %}
        <div id="first_footer">
            {% include "triton_ua/blocks/saleplaces.html" %}
        </div>
    {% endif %}


{% endblock first_footer %}

{% block second_footer %}
    <div id="second_footer">
        {#            {% include "triton_ua/blocks/menu.html" %}#}
        {% include "triton_ua/blocks/social/socials.html" %}

        <div class="links"><a href="/site_structure">Структура сайта</a> | <a
                href="/baths">Акриловые ванны</a></div>

        {% include "triton_ua/blocks/footer/www.triton3tn.ru/counters.html" %}
    </div>

    <div class="copyright">
        <img src="/static/images/small_logo.png" alt=""/><br/>
        «ТРИТОН», зарегистрированная торговая марка.<br/>
        © 2003-2016. Все права защищены
    </div>
{% endblock second_footer %}


